<h1 class="h1-margins text-center">Keychains</h1>

<%= link_to new_keychain_path, class: 'btn btn-primary h3-margins' do %>
  Add New Keychain
<% end %>

<% @keychain_groups.each do |keychain_group| %>
  <h3 class="h3-margins"><%= keychain_group[1] %></h3>
  <% keychains = Keychain.where(keychain_group: keychain_group[0]).order(price: :asc) %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Price</th>
          <th>Shipping (Domestic/Priority/International)</th>
          <th>Weight (oz)</th>
          <th>Active?</th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% keychains.each do |keychain| %>
          <%= content_tag :tr, id: dom_id(keychain), class: dom_class(keychain) do %>

            <td><%= keychain.name %></td>
            <td><%= number_to_currency(keychain.price.to_f / 100) %> (USD) / <%= number_to_currency(keychain.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(keychain.shipping_price.to_f / 100) %> /
              <%= number_to_currency(keychain.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(keychain.intl_shipping.to_f / 100) %>
            </td>
            <td><%= keychain.weight / 10 %></td>
            <td>
              <% if keychain.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', keychain, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_keychain_path(keychain), class: 'btn btn-primary' %>
            </td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
