<div class="page-header h1-margins">
  <%= link_to keychains_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Keychains
  <% end %>
  <%= link_to edit_keychain_path(@keychain), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @keychain.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Pack Qty:</dt>
  <dd><%= @keychain.pack_qty %></dd>

  <dt>Price:</dt>
  <dd>
    <%= number_to_currency(@keychain.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@keychain.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Shipping price:</dt>
  <dd><%= number_to_currency(@keychain.shipping_price.to_f / 100) %></dd>

  <dt>Priority shipping:</dt>
  <dd><%= number_to_currency(@keychain.priority_shipping.to_f / 100) %></dd>

  <dt>Intl shipping:</dt>
  <dd><%= number_to_currency(@keychain.intl_shipping.to_f / 100) %></dd>

  <dt>Weight:</dt>
  <dd><%= @keychain.weight / 10 %> oz.</dd>

  <dt>Color:</dt>
  <dd><%= @keychain.color %></dd>

  <dt>Keychain group:</dt>
  <dd><%= @keychain.keychain_group.name %></dd>

  <dt>Active?</dt>
  <dd>
    <% if @keychain.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
