<h1 class="h1-margins text-center">Buttons</h1>

<%= link_to new_button_path, class: 'btn btn-primary h3-margins' do %>
  Add New Button
<% end %>

<% @button_groups.each do |button_group| %>
  <h3 class="h3-margins"><%= button_group[1] %></h3>
  <% buttons = Button.where(button_group: button_group[0]) %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Price</th>
          <th>Shipping (Domestic/Priority/International)</th>
          <th>Weight (oz)</th>
          <th>Active?</th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% buttons.each do |button| %>
          <%= content_tag :tr, id: dom_id(button), class: dom_class(button) do %>

            <td><%= button.name %></td>
            <td><%= number_to_currency(button.price.to_f / 100) %> (USD) / <%= number_to_currency(button.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(button.shipping_price.to_f / 100) %> /
              <%= number_to_currency(button.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(button.intl_shipping.to_f / 100) %>
            </td>
            <td><%= button.weight / 10 %></td>
            <td>
              <% if button.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', button, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_button_path(button), class: 'btn btn-primary' %>
            </td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
