<div class="page-header h1-margins">
  <%= link_to buttons_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Buttons
  <% end %>
  <%= link_to edit_button_path(@button), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @button.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Pack Qty:</dt>
  <dd><%= @button.pack_qty %></dd>

  <dt>Price:</dt>
  <dd><%= number_to_currency(@button.price.to_f / 100) %> (USD) / <%= number_to_currency(@button.cad_price.to_f / 100) %> (CAD)</dd>

  <dt>Shipping price:</dt>
  <dd><%= number_to_currency(@button.shipping_price.to_f / 100) %></dd>

  <dt>Priority shipping:</dt>
  <dd><%= number_to_currency(@button.priority_shipping.to_f / 100) %></dd>

  <dt>Intl shipping:</dt>
  <dd><%= number_to_currency(@button.intl_shipping.to_f / 100) %></dd>

  <dt>Button Group:</dt>
  <dd><%= @button.button_group.name %></dd>

  <dt>Weight (oz, x10):</dt>
  <dd><%= @button.weight %></dd>

  <dt>Active:</dt>
  <dd>
    <% if @button.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
