<div id="form-container">
  <%= form_with(model: train_the_trainer, local: true) do |form| %>
    <% if train_the_trainer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(train_the_trainer.errors.count, "error") %> prohibited this train_the_trainer from being saved:</h2>

        <ul>
        <% train_the_trainer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Title</h3>
      <div class="form-group">
        <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Talent Course ID</h3>
      <p class="h3-margins">
        <small>
          <%= link_to "Find it in the Talent catalog", "https://safetyclasses.talentlms.com/catalog/index", target: "_blank" %> <%= icon("fas", "external-link-alt") %>
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= form.number_field :talent_course_id, class: 'form-control', placeholder: 'Talent Course ID' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Product Group</h3>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= select("train_the_trainer", "product_group_id", @product_groups.collect {|p| [ p.name, p.id ] }, { include_blank: 'Selection Required', selected: train_the_trainer.product_group_id }, class: 'form-control') %>
      </div>
    </div>

    <div class="form-section">
      <h3>Kit Download</h3>
      <p class="h3-margins">
        <small>
          TTTs use the same Kits as regular courses. Which one should we use?
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= form.select("kit_id", @kits.collect {|k| [ "#{ k.title } (#{ k.market_type })", k.id ] }, {include_blank: 'Selection Required'}, class: 'form-control') %>
      </div>
    </div>

    <div class="form-section">
      <h3>Market Type</h3>
      <p class="h3-margins">
        <small>
          Automatically set when the TTT is saved. Based on the selected Kit.
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
          <% if train_the_trainer.persisted? %>
            <p><%= train_the_trainer.market_type %></p>
          <% else %>
            <p><em>Not set</em></p>
          <% end %>
        </div>
    </div>


    <div class="form-section">
      <h3>Language & Standards</h3>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :language %>
          <%= form.select :language, TrainTheTrainer.languages.keys, {}, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :standards %>
          <%= form.select :standards, TrainTheTrainer.standards.keys, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Downloads</h3>
      <p class="h3-margins"><em>Must be pdf, doc, or docx.</em></p>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label "Practical Evaluation" %>

          <% if train_the_trainer && train_the_trainer.practical_evaluation.present? %>
            <%= content_tag :p, train_the_trainer.practical_evaluation.original_filename, class: 'uploaded-file' %>
          <% end %>

          <%= form.hidden_field :practical_evaluation, value: form.object.cached_practical_evaluation_data %>
          <%= form.file_field :practical_evaluation, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label "Exam" %>

          <% if train_the_trainer && train_the_trainer.exam.present? %>
            <%= content_tag :p, train_the_trainer.exam.original_filename, class: 'uploaded-file' %>
          <% end %>

          <%= form.hidden_field :exam, value: form.object.cached_exam_data %>
          <%= form.file_field :exam, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label "Answer Key" %>

          <% if train_the_trainer && train_the_trainer.answer_key.present? %>
            <%= content_tag :p, train_the_trainer.answer_key.original_filename, class: 'uploaded-file' %>
          <% end %>

          <%= form.hidden_field :answer_key, value: form.object.cached_answer_key_data %>
          <%= form.file_field :answer_key, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Regular Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, 'USD' %>
          <%= form.number_field :price, class: 'form-control', placeholder: 'USD Regular Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_price, 'CAD' %>
          <%= form.number_field :cad_price, class: 'form-control', placeholder: 'CAD Regular Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Sale Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :sale_price, 'USD' %>
          <%= form.number_field :sale_price, class: 'form-control', placeholder: 'USD Sale Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_sale_price, 'CAD' %>
          <%= form.number_field :cad_sale_price, class: 'form-control', placeholder: 'CAD Sale Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Sale Validity Dates</h3>
      <p class="h3-margins">
        <small>
          To end a sale, simply set the end date to last year.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :sale_start, 'Sale Start Date', class: "text-center" %>
          <%= form.date_select :sale_start, start_year: 2019, order: [:month, :day, :year] %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :sale_expiry, 'Sale End Date', class: "text-center" %>
          <%= form.date_select :sale_expiry, start_year: 2019, order: [:month, :day, :year] %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if train_the_trainer.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', train_the_trainer, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if train_the_trainer.persisted? %>
        <%= link_to "Cancel", train_the_trainer, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", train_the_trainers_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
