<h1 class="h1-margins text-center">Train The Trainers</h1>

<%= link_to new_train_the_trainer_path, class: 'btn btn-primary h3-margins' do %>
  Add New Train The Trainer
<% end %>


<% @product_groups.each do |product_group| %>
  <h2 class="h1-margins"><%= product_group.name %></h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Market Type</th>
        <th>Language / Standards</th>
        <th>Active?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% product_group.train_the_trainers.sort.each do |train_the_trainer| %>
        <%= content_tag :tr, id: dom_id(train_the_trainer), class: dom_class(train_the_trainer) do %>

          <td><%= train_the_trainer.title %></td>
          <td><%= train_the_trainer.market_type %></td>
          <td><%= train_the_trainer.language.capitalize %> / <%= standards_styling(train_the_trainer.standards) %></td>
          <td>
            <% if train_the_trainer.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>

          <td>
            <%= link_to 'View', train_the_trainer, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_train_the_trainer_path(train_the_trainer), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

