<div class="page-header h1-margins">
  <%= link_to train_the_trainers_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Train The Trainers
  <% end %>
  <%= link_to edit_train_the_trainer_path(@train_the_trainer), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @train_the_trainer.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Price:</dt>
  <dd class="h3-margins">
    <%= number_to_currency(@train_the_trainer.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@train_the_trainer.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Sale Price:</dt>
  <dd class="h3-margins">
    <%= number_to_currency(@train_the_trainer.sale_price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@train_the_trainer.cad_sale_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Sale Validity Dates:</dt>
  <dd class="h3-margins">From: <%= @train_the_trainer.sale_start %><br/>
      To: <%= @train_the_trainer.sale_expiry %></dd>

  <dt>Language:</dt>
  <dd class="h3-margins"><%= @train_the_trainer.language.capitalize %></dd>

  <dt>Standards:</dt>
  <dd class="h3-margins"><%= standards_styling(@train_the_trainer.standards) %></dd>

  <dt>Product group:</dt>
  <dd class="h3-margins"><%= @train_the_trainer.product_group.name %></dd>

  <dt>Kit:</dt>
  <dd class="h3-margins"><%= @train_the_trainer.kit.title %> (<%= @train_the_trainer.kit.market_type %>)</dd>

  <dt>Talent course:</dt>
  <dd class="h3-margins"><%= @train_the_trainer.talent_course_id %></dd>

  <dt>Practical evaluation data:</dt>
  <dd class="h3-margins"><%= @practical_evaluation %>
  </dd>

  <dt>Exam data:</dt>
  <dd class="h3-margins"><%= @exam %></dd>

  <dt>Answer key data:</dt>
  <dd class="h3-margins"><%= @answer_key %></dd>

  <dt>Market type:</dt>
  <dd class="h3-margins"><%= @train_the_trainer.market_type %></dd>

  <dt>Active?</dt>
  <dd class="h3-margins">
    <% if @train_the_trainer.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
