<%= form_with(model: payment_term, local: true) do |form| %>
  <% if payment_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_term.errors.count, "error") %> prohibited this payment_term from being saved:</h2>

      <ul>
      <% payment_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-4 offset-sm-4 col-lg-2 offset-lg-5">
    <%= form.number_field :company_id, class: 'form-control', placeholder: "Company ID" %>
    <p>
      <%# Button trigger modal %>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#companyIdModal">
        Find Company ID
      </button>
    </p>
  </div>

  <div class="form-group col-sm-4 offset-sm-4 col-lg-2 offset-lg-5">
    <%= form.label :term %>
    <%= form.select :term, options_for_select([["30 Days", 30], ["45 Days", 45], ["60 Days", 60]]) %>
  </div>

  <div class="form-group">
    <% if payment_term.persisted? && current_user.superadmin? %>
      <div class="float-right">
        <%= link_to 'Destroy', payment_term, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary btn-spinner' %>

    <% if payment_term.persisted? %>
      <%= link_to "Cancel", payment_term, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", payment_terms_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>

<% unless Rails.env.test? %>
  <%# Modal %>
  <div class="modal fade" id="companyIdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Find A Company ID</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% @companies.each do |c| %>
            <h5>ID <%= c[0] %>: <%= c[1] %> (<%= c[2] + ', ' + c[3] %>)</h5>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
