<div class="row">
  <div class="col-sm-6">
    <h1>Payment Terms</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_payment_term_path, class: 'btn btn-primary' do %>
    Add New Payment Term
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Company</th>
        <th>Term</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @payment_terms.each do |payment_term| %>
        <%= content_tag :tr, id: dom_id(payment_term), class: dom_class(payment_term) do %>

          <td><%= payment_term.company.name %></td>
          <td><%= payment_term.term %> days</td>
          <td><%= link_to 'Show', payment_term %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
