<div class="page-header">
  <%= link_to payment_terms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Payment_terms
  <% end %>
  <%= link_to edit_payment_term_path(@payment_term), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show payment_term</h1>
</div>

<dl class="dl-horizontal">
  <dt>Company:</dt>
  <dd><%= @payment_term.company %></dd>

  <dt>Term:</dt>
  <dd><%= @payment_term.term %></dd>

</dl>
