<div id="poster-form" class="content-container">
  <%= form_with(model: poster, local: true) do |form| %>
    <% if poster.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

        <ul>
        <% poster.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Image</h3>
      <p class="h3-margins"><em><span>
        NOTE: Landscape images must be uploaded in portrait mode. Setting the display format to "landscape" will change how it is displayed.
      </span></em></p>
      <div class="form-group machine-tag-group-image-container">
        <% if poster.image.present? %>
          <%= image_tag poster.image_url, class: "machine-tag-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: poster.cached_image_data %><br/>

        <%= form.label "Must be 300 x 375, < 75 KB", class: "text-center" %>
        <%= form.file_field :image, class: 'form-control-file' %>
      </div>

      <hr style="display: block; border: 1px solid #ccc;" class="h3-margins">

      <div class="form-group col-sm-6 offset-sm-3">
        <h3>Display Format</h3>
        <%= form.select(:display_format, options_for_select([["Portrait", "portrait"], ["Landscape", "landscape"]], poster.display_format), {}, class: 'form-control') %>
      </div>
    </div>

    <div class="form-section">
      <h3>Identification</h3>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :poster_group_id %>
          <%= select("poster", "poster_group_id", PosterGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: poster.poster_group_id }, class: 'form-control') %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Description</h3>
      <div class="form-group text-left">
        <%#= form.label :description %>
        <%#= form.text_area :description, class: 'form-control' %>

        <%= form.label :description %>
        <%= form.hidden_field :description, id: 'poster_description' %>
        <trix-editor input="poster_description"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>Download</h3>
      <p class="h3-margins">
        <small>
          Must be PDF, < 500 KB
        </small>
      </p>
      <div class="form-group machine-tag-group-image-container">
        <% if poster.download.present? %>
          <p><%= poster.download.id %></p>
        <% end %>

        <%= form.hidden_field :download, value: poster.cached_download_data %><br/>

        <%# form.label "Download (must be PDF, < 500 KB) *Required if format is digital!", class: "text-center" %>
        <%= form.file_field :download, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Pricing</h3>
      <p class="h3-margins"><em><span>NOTE: All prices must be in cents, ie. $10.00 => 1000</span></em></p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Shipping</h3>
      <p class="h3-margins"><em><span>NOTE: All prices must be in cents, ie. $10.00 => 1000</span></em></p>
      <div class="form-row">
        <div class="form-group col-sm-4">
          <%= form.label :shipping_price, "US Domestic" %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :priority_shipping, "US Priority" %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :intl_shipping, "International" %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Weight</h3>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= form.label :weight, "Weight in ounces x 10 (ie, 3 oz. => 30)" %>
        <%= form.text_field :weight, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if poster.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', poster, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if poster.persisted? %>
        <%= link_to "Cancel", poster, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", posters_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
