<div id="poster-shared-description" class="row text-left">
  <p>
    Our posters are designed to catch the eye, increase retention and improve safety. That’s our hope anyway. So, get your unique <strong>12×18</strong> poster today!
  </p>
  <p>
    Download it, print it out at a copy & print shop for just a few dollars, or save some time: have us ship a professionally printed copy to you! <em><small><sup>*</sup>Frame not included</small></em>
  </p>
</div>
