<h1 class="h1-margins text-center">Posters</h1>

<%= link_to new_poster_path, class: 'btn btn-primary h3-margins' do %>
  Add New Poster
<% end %>

<% @poster_groups.each do |poster_group| %>
  <h3 class="h3-margins"><%= poster_group[1] %></h3>
  <% posters = Poster.where(poster_group: poster_group[0]) %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Price</th>
          <th>Shipping (Domestic/Priority/International)</th>
          <th>Display Format</th>
          <th>Active?</th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% posters.each do |poster| %>
          <%= content_tag :tr, id: dom_id(poster), class: dom_class(poster) do %>

            <td><%= poster.name %></td>
            <td><%= number_to_currency(poster.price.to_f / 100) %> (USD) / <%= number_to_currency(poster.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(poster.shipping_price.to_f / 100) %> /
              <%= number_to_currency(poster.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(poster.intl_shipping.to_f / 100) %>
            </td>
            <td><%= poster.display_format %></td>
            <td>
              <% if poster.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', poster, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_poster_path(poster), class: 'btn btn-primary' %>
            </td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
