<div id="poster-show" class="content-container">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to posters_path, class: 'btn btn-link' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Posters
      <% end %>
      <%= link_to edit_poster_path(@poster), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
      <%#= link_to "Relate to a Product Group", new_related_item_path(relatable_id: @poster.id, relatable_type: "Poster"), method: :post, class: "btn btn-primary", "data-turbolinks": false %>
    <% end %>
    <h1 class="h1-margins"><%= @poster.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <% if @poster.display_format == "portrait" %>
        <div class="col-md" id="poster-image-container">
          <%= image_tag @poster.image_url, class: "width-100 mb-20" %>
        </div>
        <div class="col-md" id="poster-text-container">
          <p><%= sanitize @poster.description %></p>
        </div>
      <% else %>
        <div class="col-md" id="landscape-poster-container">
          <%= image_tag @poster.image_url, class: "landscape-poster" %>
          <p><%= sanitize @poster.description %></p>
        </div>
      <% end %>
    </div>

    <%= render "shared_description" %>

    <% if @poster.active == true %>
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-md poster-buttons">
            <%= form_with(url: order_items_path, local: true) do |form| %>
              <%= form.hidden_field :orderable_id, value: @poster.id %>
              <%= form.hidden_field :orderable_type, value: "Poster" %>

              <%= form.submit "Buy Printed Version (#{ number_to_currency((session[:preferred_currency] == 'usd' ? @poster.price.to_f : @poster.cad_price.to_f) / 100) } #{ session[:preferred_currency].upcase })", class: 'btn btn-primary' %>
            <% end %>
          </div>
          <div class="col-md poster-buttons"v>
            <%= form_with(url: order_items_path, local: true) do |form| %>
              <%= form.hidden_field :orderable_id, value: @poster.digital_poster.id %>
              <%= form.hidden_field :orderable_type, value: "DigitalPoster" %>

              <%= form.submit "Buy Printable PDF (#{ number_to_currency((session[:preferred_currency] == 'usd' ? @poster.digital_poster.price : @poster.digital_poster.cad_price) / 100) } #{ session[:preferred_currency].upcase })", class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% else %>
          <div class="logged-out col-md h1-margins">
            <%= content_tag(:h3, "Printed Version #{ number_to_currency((session[:preferred_currency] == 'usd' ? @poster.price : @poster.cad_price) / 100) } #{ session[:preferred_currency].upcase }") %>
            <%= content_tag(:h3, "Printable PDF #{ number_to_currency((session[:preferred_currency] == 'usd' ? @poster.digital_poster.price : @poster.digital_poster.cad_price) / 100) } #{ session[:preferred_currency].upcase }") %>
            <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
          </div>
        <% end %>
      </div>
    <% else %>
      <h5 class="h1-margins">This item is currently unavailable.</h5>
    <% end %>
  </div>

  <h5 class="h1-margins"><%= link_to "See all #{ @poster.poster_group.name } posters", @poster.poster_group %></h5>

</div>
