<div id="button-group-form" class="content-container">
  <%= form_with(model: button_group, local: true) do |form| %>
    <% if button_group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(button_group.errors.count, "error") %> prohibited this button_group from being saved:</h2>

        <ul>
        <% button_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Header Image</h3>
      <p>
        <small>Must be 400 x 400, < 75 KB.</small><br/>
        <small>Please verify that the dimensions are correct!</small><br/>
        <%= link_to "Compress Or Die", "https://compress-or-die.com", target: :_blank %> | <%= link_to "Unsplash", "https://unsplash.com", target: :_blank %>
      </p>
      <div class="form-group product-group-image-container">
        <% if button_group.image.present? %>
          <%= image_tag button_group.image_url, class: "product-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: button_group.cached_image_data %>

        <%#= form.label "Header Image (must be 1198 x 530, < 75 KB)" %>
        <%= form.file_field :image, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Name</h3>
      <div class="form-group">
        <%#= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Description</h3>
      <div class="form-group text-left">
        <%#= form.label :description %>
        <%#= form.text_area :description, class: 'form-control' %>
        <%= form.hidden_field :description, id: 'button_group_description' %>
        <trix-editor input="button_group_description"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>SEO</h3>
      <div class="form-group">
        <%= form.label :keywords %>
        <%= form.text_area :keywords, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= javascript_include_tag "char_counter" %>
        <%#= form.label :meta_description, "Meta Description" %>
        <label for="meta_description">Meta Description (<span id="metaDescription">0</span> / 160)</label>
        <%= form.text_area :meta_description, class: 'form-control', onkeyup: "countChars(this);" %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if button_group.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', button_group, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if button_group.persisted? %>
        <%= link_to "Cancel", button_group, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", button_groups_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
