<%
  meta_title "#{ @button_group.name } | Hard Hat Training"
  meta_keywords "#{ @button_group.keywords }"
  meta_description "#{ @button_group.meta_description }"
%>

<div id="button-group-show">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to button_groups_path, class: 'btn btn-link' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Button Groups
      <% end %>
      <%= link_to edit_button_group_path(@button_group), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>

    <h1><%= @button_group.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="button-group-image-container">
        <%= image_tag @button_group.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-sm text-left" id="button-group-text-container">
        <p><%= sanitize @button_group.description %></p>

        <%= render 'shared/group_dropdown', group: @button_group, items: @buttons, type: "Button" %>
      </div>
    </div>
  </div>
</div>
