<div id="keychain-group-form" class="content-container">
  <%= form_with(model: keychain_group, local: true) do |form| %>
    <% if keychain_group.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(keychain_group.errors.count, "error") %> prohibited this keychain_group from being saved:</h3>

        <ul>
        <% keychain_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Header Image</h3>
      <p>
        <small>
          Must be 400 x 400, < 75 KB
        </small>
      </p>
      <div class="form-group product-group-image-container">
        <% if keychain_group.image.present? %>
          <%= image_tag keychain_group.image_url, class: "product-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: keychain_group.cached_image_data %>

        <%= form.file_field :image, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Name</h3>
      <div class="form-group">
        <%#= form.label :name %>
        <%= form.text_field :name, class: 'form-control', placeholder: "Name" %>
      </div>
    </div>

    <div class="form-section">
      <h3>Description</h3>
      <div class="form-group text-left">
        <%#= form.label :description %>
        <%#= form.text_area :description, class: 'form-control', placeholder: "Description" %>

        <%#= form.label :description %>
        <%= form.hidden_field :description, id: 'keychain_group_description' %>
        <trix-editor input="keychain_group_description"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>SEO</h3>
      <div class="form-group">
        <%= form.label :keywords %>
        <%= form.text_area :keywords, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= javascript_include_tag "char_counter" %>
        <%#= form.label :meta_description, "Meta Description" %>
        <label for="meta_description">Meta Description (<span id="metaDescription">0</span> / 160)</label>
        <%= form.text_area :meta_description, class: 'form-control', onkeyup: "countChars(this);" %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if keychain_group.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', keychain_group, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if keychain_group.persisted? %>
        <%= link_to "Cancel", keychain_group, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", keychain_groups_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
