<h1 class="h1-margins text-center">Keychain Groups</h1>

<%= link_to new_keychain_group_path, class: 'btn btn-primary h3-margins' do %>
  Add New Keychain Group
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @keychain_groups.each do |keychain_group| %>
        <%= content_tag :tr, id: dom_id(keychain_group), class: dom_class(keychain_group) do %>

          <td><%= keychain_group.name %></td>
          <td>
            <%= link_to 'View', keychain_group, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_keychain_group_path(keychain_group), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
