<%
  meta_title "#{ @keychain_group.name } | Hard Hat Training"
  meta_keywords "#{ @keychain_group.keywords }"
  meta_description "#{ @keychain_group.meta_description }"
%>

<div id="keychain-group-show">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to keychain_groups_path, class: 'btn btn-link' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Keychain Groups
      <% end %>
      <%= link_to edit_keychain_group_path(@keychain_group), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
      <%= link_to "Relate to a Product Group", new_related_item_path(relatable_id: @keychain_group.id, relatable_type: "KeychainGroup"), method: :post, class: "btn btn-primary", "data-turbolinks": false %>
    <% end %>

    <h1><%= @keychain_group.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="keychain-group-image-container">
        <%= image_tag @keychain_group.image_url(:large), class: "width-100 mb-20" %>
      </div>
      <div class="col-sm" id="keychain-group-text-container">
        <p><%= sanitize @keychain_group.description %></p>

        <%= render 'shared/group_dropdown', group: @keychain_group, items: @keychains, type: "Keychain" %>
      </div>
    </div>
  </div>
</div>
