<div id="card-group-form" class="content-container">
  <%= form_with(model: card_group, local: true) do |form| %>
    <% if card_group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(card_group.errors.count, "error") %> prohibited this card_group from being saved:</h2>

        <ul>
        <% card_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Header Image</h3>
      <p>
        <small>
          Must be 400 x 400, < 75 KB.
        </small>
      </p>
      <div class="form-group product-group-image-container">
        <% if card_group.image.present? %>
          <%= image_tag card_group.image_url, class: "product-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: card_group.cached_image_data %>

        <%#= form.label "Header Image (must be 400 x 400, < 75 KB)" %>
        <%= form.file_field :image, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Name</h3>
      <div class="form-group">
        <%#= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Description</h3>
      <div class="form-group text-left">
        <%= form.hidden_field :description, id: 'card_group_description' %>
        <trix-editor input="card_group_description"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>Keywords</h3>
      <div class="form-group">
        <%= form.text_area :keywords, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Meta Description</h3>
      <div class="form-group">
        <%= form.text_area :meta_description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if card_group.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', card_group, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if card_group.persisted? %>
        <%= link_to "Cancel", card_group, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", card_groups_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
