<% if @card_group.active == true %>
  <div class="row" id="card-group-card-container">
    <% if @cards.present? %>
      <% @cards.each do |card| %>
        <div class="card card-group-card">

          <div class="card-header">
            <h5 class="card-title"><%= card.name %></h5>
            <h6>Pack of <%= card.pack_qty %></h6>
          </div>
          <div class="card-body">
            <%= content_tag :p, "#{ number_to_currency((session[:preferred_currency] == 'usd' ? card.price : card.cad_price).to_f / 100) } #{ session[:preferred_currency].upcase }", class: "card-text" %>

            <% if user_signed_in? %>
              <div class="form-group" id="certificate-verification-form">
                <% if card.details_required == true %>
                  <%= form_with(url: order_items_path, local: true) do |form| %>
                    <%= form.hidden_field :orderable_id, value: card.id %>
                    <%= form.hidden_field :orderable_type, value: "Card" %>
                    <%= form.hidden_field :pack_qty, value: "Pack of #{ card.pack_qty }" %>

                    <%= form.label :trainee, "Trainee Name", class: "text-left" %>
                    <%= form.text_field :trainee, placeholder: "Trainee Name", class: "form-control" %>

                    <%= form.label :course_name, "Course Taken", class: "text-left", style: "margin-top: 0px;" %>
                    <%= form.select(:course_name, options_for_select(ProductGroup.all.order(name: :asc).pluck(:name)), { include_blank: true }, { class: "form-control" }) %>

                    <%= form.label :training_date, "Training Date", class: "text-left" %>
                    <%= date_field("certificate", "training_date", value: Date.today, class: "form-control") %>

                    <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
                  <% end %>
                <% elsif card.standards_required == true %>
                  <%= form_with(url: order_items_path, local: true) do |form| %>
                    <%= form.hidden_field :orderable_id, value: card.id %>
                    <%= form.hidden_field :orderable_type, value: "Card" %>
                    <%= form.hidden_field :pack_qty, value: "Pack of #{ card.pack_qty }" %>
                    <%= form.select(:standards, options_for_select([["USA (OSHA)", "USA (OSHA)"], ["Canada (CSA/ANSI)", "Canada (CSA/ANSI)"]]), {}, { class: "form-control", include_blank: true }) %>

                    <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
                  <% end %>
                <% else %>
                  <%= form_with(url: order_items_path, local: true) do |form| %>
                    <%= form.hidden_field :orderable_id, value: card.id %>
                    <%= form.hidden_field :orderable_type, value: "Card" %>
                    <%= form.hidden_field :card_type, value: "Hand Signal Card" %>

                    <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="logged-out">
                <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h5 class="text-center h1-margins">This item is currently unavailable.</h5>
<% end %>
