<h1 class="h1-margins text-center">Card Groups</h1>

<%= link_to new_card_group_path, class: "btn btn-primary h3-margins" do %>
  Add New Card Group
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Active?</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @card_groups.each do |card_group| %>
        <%= content_tag :tr, id: dom_id(card_group), class: dom_class(card_group) do %>

          <td><%= card_group.name %></td>
          <td>
            <% if card_group.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>
          <td>
            <%= link_to 'View', card_group, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_card_group_path(card_group), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
