<%
  meta_title "#{ @card_group.name } | Hard Hat Training"
  meta_keywords "#{ @card_group.keywords }"
  meta_description "#{ @card_group.meta_description }"
%>

<div id="card-group-show">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to card_groups_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Card_groups
      <% end %>
      <%= link_to edit_card_group_path(@card_group), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>
    <h1><%= @card_group.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="card-group-image-container">
        <%= image_tag @card_group.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-sm" id="card-group-text-container">
        <p><%= sanitize @card_group.description %></p>

        <% if (@card_group.active == true) && @cards.none? %>
          <h5 class="h1-margins">This item is currently unavailable.</h5>
        <% end %>

        <% if @card_group.active == true %>
          <% if @info_required == false %>
            <% @materials.each do |material| %>
              <div class="selecter-container">
                <h3 class="darkgray">Made of <%= material %></h3>
                <% @quantities.each do |qty| %>
                  <% cards = @cards.where(pack_qty: qty, material: material) %>
                  <%= render 'card_dropdown', group: @card_group, items: cards, title: "Packs of #{ qty }" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <h5 class="h1-margins">This item is currently unavailable.</h5>
        <% end %>
      </div>
    </div>

    <% if @info_required == true %>
      <%= render 'required_info_dropdown' %>
    <% end %>
  </div>
</div>
