<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order <%= @order.id %></h1>
    <p>
      Hey, EasyPost failed to generate a label for this order. You will need to create one manually.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
