Thanks for your order, <%= @user.first_name %>!

===============================================

To access this order, and all related links and downloads, please go here: <%= url_for(@order) %>.

Have a great day!
