<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order, <%= @user.first_name %>!</h1>

    <p>
      You purchased:
    </p>

    <ul>
      <% @order.order_items.each do |oi| %>
        <li><%= oi.orderable.oi_name + ' (' + oi.orderable_type + ', ' + oi.orderable.language.capitalize + ', ' + oi.orderable.standards.upcase + '), Qty: ' + oi.quantity.to_s %></li>
      <% end %>
    </ul>

    <p>
      To view your receipt and access this order, please <a href="<%= url_for(@order) %>">go here</a>.
    </p>
    <p>Have a safe day!</p>

    <p>
      Your friends at<br/><strong>Safety Provisions, Inc.</strong><br/>Creators of the Hard Hat Training Series.
    </p>

    <img src="s3://hht-email-images/hard-hat-training-logo-250x551.png" alt="Hard Hat Training Series Logo">
  </body>
</html>
