<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order #<%= @order.id %> for <%= @user.name.full %> (<%= @user.email %>)!</h1>

    <h3>This order is <%= @order.status.upcase %> as of <%= @order.updated_at %>. Click here to <a href="<%= url_for(@order) %>">view this order</a>.</h3>

    <p>
      They purchased:
    </p>

    <ul>
      <% @order.order_items.each do |oi| %>
        <li><%= oi.orderable.oi_name + ' (' + oi.orderable_type + ', ' + oi.orderable.language.capitalize + ', ' + oi.orderable.standards.upcase + '), Qty: ' + oi.quantity.to_s %></li>
      <% end %>
    </ul>

    <p>
      <em>This email was sent to you by the Hard Hat Training Series mailbot.</em>
    </p>

    <img src="s3://hht-email-images/hard-hat-training-logo-250x551.png" alt="Hard Hat Training Series Logo">
  </body>
</html>
