<%= form_with(model: group_training, local: true) do |form| %>
  <% if group_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_training.errors.count, "error") %> prohibited this group_training from being saved:</h2>

      <ul>
      <% group_training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :online_course_id %>
    <%= form.text_field :online_course_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if group_training.persisted? && Rails.env.development? %>
      <div class="float-right">
        <%= link_to 'Destroy', group_training, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary btn-spinner' %>

    <% if group_training.persisted? %>
      <%= link_to "Cancel", group_training, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", group_trainings_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
