


<div class="row">
  <div class="col-sm-6">
    <h1>Group_trainings</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_group_training_path, class: 'btn btn-primary' do %>
    Add New Group training
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Online course</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @group_trainings.each do |group_training| %>
        <%= content_tag :tr, id: dom_id(group_training), class: dom_class(group_training) do %>
          

                      <td><%= group_training.online_course %></td>
          
          
            <td><%= link_to 'Show', group_training %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
