<div class="page-header">
  <%= link_to group_trainings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Group_trainings
  <% end %>
  <%= link_to edit_group_training_path(@group_training), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show group_training</h1>
</div>

<dl class="dl-horizontal">
  <dt>Online course:</dt>
  <dd><%= @group_training.online_course %></dd>

</dl>
