


<div class="row">
  <div class="col-sm-6">
    <h1 class="h1-margins">Machine Tag Groups</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_machine_tag_group_path, class: 'btn btn-primary h1-margins' do %>
    Add New Machine Tag Group
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Active?</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @machine_tag_groups.each do |machine_tag_group| %>
        <%= content_tag :tr, id: dom_id(machine_tag_group), class: dom_class(machine_tag_group) do %>

          <td><%= machine_tag_group.name %></td>
          <td>
            <% if machine_tag_group.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>
          <td>
            <%= link_to 'View', machine_tag_group, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_machine_tag_group_path(machine_tag_group), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
