<%
  meta_title "#{ @machine_tag_group.name } | Hard Hat Training"
  meta_keywords "#{ @machine_tag_group.keywords }"
  meta_description "#{ @machine_tag_group.meta_description }"
%>

<div id="machine-tag-group-show">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to machine_tag_groups_path, class: 'btn btn-link' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Machine Tag Groups
      <% end %>
      <%= link_to edit_machine_tag_group_path(@machine_tag_group), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
      <%= link_to "Relate to a Product Group", new_related_item_path(relatable_id: @machine_tag_group.id, relatable_type: "MachineTagGroup"), method: :post, class: "btn btn-primary", "data-turbolinks": false %>
    <% end %>

    <h1><%= @machine_tag_group.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md" id="machine-tag-group-image-container">
        <%= image_tag @machine_tag_group.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-md" id="machine-tag-group-text-container">
        <p><%= sanitize @machine_tag_group.description %></p>

        <%= render 'shared/group_dropdown', group: @machine_tag_group, items: @machine_tags, type: "MachineTag" %>
      </div>
    </div>
  </div>
</div>
