<%# NOTE This IS the active User Login page %>

<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center h1-margins">User Login</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'hidden' %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', required: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'hidden' %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true, class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log Me In!", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>

    <%= link_to "Need to Sign Up, instead?", new_user_registration_path, class: "btn btn-link" %>

    <!-- <div class="text-center"> -->
      <%#= render "devise/shared/links" %>
      <%#= render "shared/login_links" %>
    <!-- </div> -->
  </div>
</div>
