<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to("View in Stripe", "https://dashboard.stripe.com/test/payments/#{ page.resource.stripe_id }", class: "button") %>
    <%= link_to("Refund", [:refund, namespace, page.resource], class: "button", method: :put, data: { confirm: "Are you sure you want to refund this order?" }
    ) if valid_action?(:refund) && show_action?(:edit, page.resource) && page.resource.refundable? %>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          >
        <% if attribute.name == "final_total" %>
          <%= number_to_currency(attribute.data / 100) %>
        <% else  %>
          <%= render_field attribute %>
        <% end %>
      </dd>
    <% end %>
  </dl>
</section>
