<div id="form-container">
  <%= form_with(model: kit, local: true) do |form| %>
    <% if kit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(kit.errors.count, "error") %> prohibited this kit from being saved:</h2>

        <ul>
        <% kit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3 class="h3-margins">Title</h3>
      <div class="form-group col-md-6 offset-md-3">
        <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Product Group</h3>
      <p class="h3-margins">
        <small>
          What Product Group does this Kit belong to?
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
        <%#= form.label :product_group_id %>
        <%= select("kit", "product_group_id", ProductGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: kit.product_group_id }, class: "form-control") %>
      </div>
    </div>

    <div class="form-section">
      <h3>Who Is This For?</h3>
      <p class="h3-margins">
        <small>
          These settings help us know who the course is marketed towards, but they also determine how and where the course shows up on the site.
        </small>
      </p>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= form.label :market_type, "Market Type" %>
          <%= form.select(:market_type, options_for_select(market_options, kit.market_type), { }, class: "form-control") %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :language %>
          <%= form.select :language, Kit.languages.keys, {}, class: "form-control" %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :standards %>
          <%= form.select :standards, Kit.standards.keys, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Downloads</h3>
      <p class="h3-margins">
        <small>
          Names must match what is in AWS S3! These are used to automatically generate the download links.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :download, "Download Name" %>
          <%= form.text_field :download, class: 'form-control', placeholder: "Download Name" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :additional_download, "Additional Download Name" %>
          <%= form.text_field :additional_download, class: 'form-control', placeholder: "Additional Download Name" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label 'PDF Sample' %>

        <% if !Rails.env.test? && kit && kit.sample.present? %>
          <%= content_tag :p, kit.sample.original_filename, class: 'uploaded-file' %>
        <% end %>

        <% if !Rails.env.test? %>
          <%= form.hidden_field :sample, value: form.object.cached_sample_data %>
        <% end %>
        <%= form.file_field :sample, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Regular Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, 'USD' %>
          <%= form.number_field :price, class: 'form-control', placeholder: 'USD Regular Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_price, 'CAD' %>
          <%= form.number_field :cad_price, class: 'form-control', placeholder: 'CAD Regular Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Sale Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :sale_price, 'USD' %>
          <%= form.number_field :sale_price, class: 'form-control', placeholder: 'USD Sale Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_sale_price, 'CAD' %>
          <%= form.number_field :cad_sale_price, class: 'form-control', placeholder: 'CAD Sale Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Sale Validity Dates</h3>
      <p class="h3-margins">
        <small>
          To end a sale, simply set the end date to last year.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :sale_start, 'Sale Start Date', class: "text-center" %>
          <%= form.date_select :sale_start, start_year: 2019, order: [:month, :day, :year] %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :sale_expiry, 'Sale End Date', class: "text-center" %>
          <%= form.date_select :sale_expiry, start_year: 2019, order: [:month, :day, :year] %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if kit.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', kit, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if kit.persisted? %>
        <%= link_to "Cancel", kit, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", kits_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
