<h1 class="h1-margins text-center">Kits</h1>

<%= link_to new_kit_path, class: 'btn btn-primary h3-margins' do %>
  Add New Kit
<% end %>

<% @product_groups.each do |product_group| %>
  <h2 class="h1-margins"><%= product_group.name %></h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Language / Standards</th>
        <th>Active?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% product_group.kits.sort.each do |kit| %>
        <%= content_tag :tr, id: dom_id(kit), class: dom_class(kit) do %>

          <td><%= kit.title %></td>
          <td><%= kit.language.capitalize %> / <%= standards_styling(kit.standards) %></td>
          <td>
            <% if kit.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>

          <td>
            <%= link_to 'View', kit, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_kit_path(kit), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
