<div class="page-header h1-margins">
  <%= link_to kits_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Kits
  <% end %>
  <%= link_to edit_kit_path(@kit), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @kit.title %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Price:</dt>
  <dd class="h3-margins">
    <%= number_to_currency(@kit.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@kit.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Sale Price:</dt>
  <dd class="h3-margins">
    <%= number_to_currency(@kit.sale_price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@kit.cad_sale_price.to_f / 100) %> (CAD)
  </dd>


  <dt>Sale Validity Dates:</dt>
  <dd class="h3-margins">From: <%= @kit.sale_start %><br/>
      To: <%= @kit.sale_expiry %></dd>

  <dt>Language/Standards</dt>
  <dd class="h3-margins"><%= @kit.language.capitalize %> / <%= standards_styling(@kit.standards) %></dd>

  <dt>Product Group:</dt>
  <dd class="h3-margins"><%= @kit.product_group.name %></dd>

  <dt>Active?</dt>
  <dd class="h3-margins">
    <% if @kit.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
