<div id="sticker-form" class="content-container">
  <%= form_with(model: sticker, local: true) do |form| %>
    <% if sticker.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(sticker.errors.count, "error") %> prohibited this sticker from being saved:</h2>

        <ul>
        <% sticker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3 class="h3-margins">Name</h3>
      <div class="form-group">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Description</h3>
      <div class="form-group text-left">
        <%= form.hidden_field :description, id: 'shirt_description' %>
        <trix-editor input="shirt_description"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Image</h3>
      <p class="h3-margins">
        <small>
          Must be 400 x 400, < 75 KB<br/>
          <%= link_to "Compress Or Die", "https://compress-or-die.com", target: :_blank %> <%= icon("fas", "external-link-alt") %>
        </small>
      </p>
      <div class="form-group machine-tag-group-image-container">
        <% if sticker.image.present? %>
          <%= image_tag sticker.image_url, class: "machine-tag-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: sticker.cached_image_data %>

        <%= form.file_field :image, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Pricing</h3>
      <p class="h3-margins"><small>In cents (ie, $35 => 3500)</small></p>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Shipping</h3>
      <p class="h3-margins"><small>In cents (ie, $10 => 1000)</small></p>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= form.label :shipping_price, "Basic" %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :priority_shipping, "Priority" %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :intl_shipping, "International" %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Weight</h3>
      <p class="h3-margins"><small>x 10 (ie, 3 oz. => 30)</small></p>
      <div class="row form-group">
        <div class="col-sm-4 offset-sm-4">
          <%= form.label :weight %>
          <%= form.number_field :weight, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Metatags</h3>
      <div class="form-group">
        <%= form.label :keywords %>
        <%= form.text_field :keywords, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :meta_description %>
        <%= form.text_area :meta_description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if sticker.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', sticker, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if sticker.persisted? %>
        <%= link_to "Cancel", sticker, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", stickers_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
