<%
  meta_title "#{ @sticker.name } | Hard Hat Training"
  meta_keywords "#{ @sticker.keywords }"
  meta_description "#{ @sticker.meta_description }"
%>

<div id="@sticker-group-show">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to stickers_path, class: 'btn btn-link' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Stickers
      <% end %>
      <%= link_to edit_sticker_path(@sticker), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>

    <h1><%= @sticker.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="@sticker-group-image-container">
        <%= image_tag @sticker.image_url, class: "width-100 mb-20 image-400x400" %>
      </div>
      <div class="col-sm text-left" id="card-group-text-container">
      <p><%= sanitize @sticker.description %></p>
      <p>
        <%= content_tag :p, "#{ number_to_currency((session[:preferred_currency] == 'usd' ? @sticker.price : @sticker.cad_price).to_f / 100) } #{ session[:preferred_currency].upcase }", class: "price-lg-gray" %>
      </p>

      <% if @sticker.active == true %>
        <div class="row" id="sticker-container">
          <% if user_signed_in? %>
            <div class="form-group" id="certificate-verification-form">
              <%= form_with(url: order_items_path, local: true) do |form| %>
                <%= form.hidden_field :orderable_id, value: @sticker.id %>
                <%= form.hidden_field :orderable_type, value: "Sticker" %>

                <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% else %>
            <div class="logged-out">
              <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
            </div>
          <% end %>
        </div>
      <% else %>
        <h5 class="h1-margins">This item is currently unavailable.</h5>
      <% end %>
    </div>
  </div>
</div>
