<div id="user-dashboard-page">
  <h1><%= icon("fas", "id-badge") %> <%= @user.name.full %></h1>
  <p><em><%= @user.email %></em></p>

  <% if !current_user.superadmin? %>
    <%= link_to 'Edit My Profile', edit_user_registration_path, class: "btn btn-link" %>
  <% end %>

  <%= button_to "Find A Course To Purchase", training_topics_path, class: 'btn btn-primary', method: :get %>

  <% unless current_user.admin? %>
    <%= link_to "Create a Company", new_company_registration_path, class: "btn btn-link" %>
  <% end %>

  <%= render 'shared/announcements' %>

  <%# NOTE: Pulling courses from Talent: %>
  <% if @parsed.nil? %>
    <div id="dashboard-courses-block-no-courses" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "laptop") %></span><br/>My Online Courses
        </div>
        <div class="card-body">
          Unable to load data from the Learning Management System at this time. Please try refreshing your page. If this persists, <%= link_to "let us know!", contact_us_path %>
        </div>
      </div>
    </div>
  <% elsif @parsed["courses"].present? %>
    <div id="dashboard-courses-block" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "laptop") %></span><br/>My Online Courses
        </div>
        <div class="card-body">
          <p><small>Don't see a course? Make sure you activated it from within your <%= link_to "order", orders_path %>.</small></p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Course Title</th>
                <th scope="col">% Completed</th>
              </tr>
            </thead>
            <% @parsed["courses"].map do |course| %>
              <tr>
                <td>
                  <%= link_to course["name"], add_to_course_path(user_id: @user_to_add, course_id: course["id"]), method: :post %>
                </td>
                <td>
                  <% if course["completion_percentage"].include?('100') %>
                    <span class="green"><%= icon("fas", "check") %></span>
                  <% else %>
                   <%= course["completion_percentage"] %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <%# NOTE: Pulling courses from Talent: %>
  <% if !@parsed.nil? && @parsed["certifications"].present? %>
    <div id="dashboard-certificates-block" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "trophy") %></span><br/>Certificates & Wallet Cards
        </div>
        <div class="card-body">
          <h5><span>NOTE: You must <%= link_to "log in to the LMS first", talent_login_path(id: params[:id]), target: "_blank", method: :post %> <%= icon("fas", "external-link-alt") %>.<br/>
            Return to this page to access the links below.<br/>
            Use the <%= icon("fas", "sign-out-alt") %> button to <%= link_to "log out of the LMS when you are done", talent_login_path(id: params[:id]), target: "_blank", method: :post %> <%= icon("fas", "external-link-alt") %>.</span></h5>
        </div>
        <ul class="list-group list-group-flush">
          <% @parsed["certifications"].map do |cert| %>
            <li class="list-group-item">
              <%= link_to cert["course_name"], get_certificate_path(cert_url: cert["download_url"]), method: :post %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if current_user.superadmin? %>
    <h2><%= icon("fas", "atom") %> Superadmin</h2>
    <div id="download-reset" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "stopwatch") %></span><br/>
          72-hr Download Reset
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Gives the user another 72 hours to access Kit downloads, including those with Train The Trainers. Applies to ALL downloads in the specified order.
          </li>
        </ul>
        <div class="card-body">
          <%= form_tag(reset_download_window_path, method: :post, format: :js) do %>
            <%= text_field_tag(:order, nil, placeholder: "Order ID", class: 'form-control') %>

            <button class="btn btn-primary">Reset</button>
          <% end %>
        </div>
      </div>
    </div>

    <div id="alt-names-block" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "user-friends") %></span><br/>Alternative Names
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Since many Product Groups are known by different names, this adds an "Alternative Name" that will be displayed and come up in searches.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', alt_names_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Alt Name", new_alt_name_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-backups" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "save") %></span><br/>Backups
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> These are the backup methods available to customers when they purchase Kits.
          </li>
          <li class="list-group-item">
            <%= link_to 'View', backups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Backup", new_backup_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-bulk-price-levels" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "coins") %></span><br/>Bulk Price Levels
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Bulk Pricing applies to Group Training and Credit Packs. There are only two tiers, with only four price levels each. Tier 1 are the higher-priced courses, and Tier 2 the lower.
          </li>
          <li class="list-group-item">
            <%= link_to 'View', bulk_price_levels_path %>
          </li>
<!--           <li class="list-group-item">
            <%#= link_to "Create New Alt Name", new_alt_name_path %>
          </li> -->
        </ul>
      </div>
    </div>

    <div id="dashboard-buttons" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "circle") %></span><br/>Buttons
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the relevant Button Group exists before creating a Button!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Button Groups', button_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Button Group", new_button_group_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Buttons', buttons_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Button", new_button_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-cards" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "id-card") %></span><br/>Cards
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the relevant Card Group exists before creating a Card!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Card Groups', card_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Card Group", new_card_group_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Cards', cards_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Card", new_card_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-categories" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "tags") %></span><br/>Categories
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Product Groups are added to one or more Categories. This determines how they are grouped on the Topics page. NOTE: Click the edit icon to edit the text of an existing category. Click the X to delete it.
          </li>
        </ul>

        <div class="card-body">
          <%= form_tag(add_tag_global_path, method: :post) do %>
            <%= text_field_tag(:tag_to_add, nil, class: 'form-control', placeholder: "New category") %>
            <button class="btn btn-primary btn">Add</button>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <% @categories.each do |category| %>
            <li class="list-group-item">
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to edit_tag_path(name: category.name, id: category.id), method: :post, class: 'btn btn-danger btn-sm' do %>
                  <%= icon("fas", "edit") %>
                <% end %>
                <button type="button" class="btn btn-secondary btn-sm"><%= category %></button>
                <%= button_to 'X', remove_tag_global_path(tag_id: category, id: current_user.id), class: 'btn btn-danger btn-sm btn-delete-tag', data: { confirm: "Are you sure you want to permanently delete this category? This is irreversible!" }, type: 'button' %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="dashboard-certificates" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "certificate") %></span><br/>Certificates
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Customers get a downloadable version of their certificate for free upon course completion. These are the physical, hard-copy, versions they can purchase.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', certificates_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Certificate", new_certificate_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-companies" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "building") %></span><br/>Companies
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Any customer can create a company, which allows them to add and manage employees and assign training.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', companies_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Company", new_company_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-coupon-codes" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "ticket-alt") %></span><br/>Coupon Codes
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Create Coupon Codes, edit them, change start/end dates, and so forth.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', coupon_codes_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Coupon Code", new_coupon_code_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-credit-packs" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "wallet") %></span><br/>Credit Packs
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Users with a company may purchase credit packs. Pricing is based on the <%= link_to "bulk price levels", "#dashboard-bulk-price-levels" %>.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', credit_packs_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Credit Pack", new_credit_pack_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-hats" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= image_tag "baseball-cap.svg", width: 50, style: "filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);" %></span><br/>Hats
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> New styles require a unique, descriptive, name.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', hats_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Hat", new_hat_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-unpaid-orders" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "file-invoice-dollar") %></span><br/>Invoices<br/>Unsent/Unpaid
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Invoices will be listed here if the order is unsent or unpaid. Click the button to change the status.
          </li>
          <% @unpaid_orders.each do |order| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6">
                  <h3><%= link_to "Order ##{ order.id }", order %></h3>
                  <p><%= remove_underscores(order.status.upcase) %></p>
                </div>
                <div class="col-6">
                  <% if order.status == "to_be_invoiced" %>
                    <%= button_to "Mark As Invoiced", invoiced_path(invoiced_order: order), method: :post, class: "btn btn-primary", remote: true %>
                  <% else %>
                    <%= button_to "Mark As Paid", order_paid_path(paid_order: order), method: :post, class: "btn btn-primary", remote: true %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
          <% if @unpaid_orders.empty? %>
            <li class="list-group-item">None at this time!</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="dashboard-keychains" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "key") %></span><br/>Keychains
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the relevant Keychain Group exists before creating a Keychain!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Keychain Groups', keychain_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Keychain Group", new_keychain_group_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Keychains', keychains_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create Keychain", new_keychain_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-kits" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "suitcase-rolling") %></span><br/>Kits
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Before adding a Kit, make sure that the <%= link_to "Product Group", "#dashboard-product-groups" %> already exists!
          </li>
          <li class="list-group-item">
            <%= link_to 'View Existing Kits', kits_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Add New', new_kit_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-lanyards" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "id-card-alt") %></span><br/>Lanyards
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the relevant Lanyard Group exists before creating a Lanyard!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Lanyard Groups', lanyard_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Lanyard Group", new_lanyard_group_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Lanyards', lanyards_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create Lanyard", new_lanyard_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-machine-tags" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "tags") %></span><br/>Machine Tags
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the relevant Machine Tag Group exists before creating a Machine Tag!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Machine Tag Groups', machine_tag_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Machine Tag Group", new_machine_tag_group_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Machine Tags', machine_tags_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create Machine Tag", new_machine_tag_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-manual-labels" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "mail-bulk") %></span><br/>Manual Labels Required
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Orders will be listed here if labels need to be printed manually.
          </li>
          <% @labels_required.each do |o| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-6">
                  <h3><%= link_to "Order ##{ o.id }", o, "data-turbolinks": false %></h3>
                </div>
                <div class="col-6">
                  <%= button_to "Mark As Labeled", labeled_path(labeled_order: o), method: :post, class: "btn btn-primary", remote: true %>
                </div>
              </div>
            </li>
          <% end %>
          <% if @labels_required.empty? %>
            <li class="list-group-item">None at this time!</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="dashboard-non-cat-courses" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "laptop-medical") %></span><br/>Non-Catalog Course Access
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Some courses are not publicly available, in particular the video versions we have created for specific clients. This will make the specified course show up for the user alongside all other listed courses. NOTE: To find a course on Talent, you must log in as Superadmin, then click Go To > Courses, and type "video" in the searchbar.
          </li>
        </ul>

        <div class="card-body">
          <%= form_tag(assign_non_catalog_course_path, method: :post, format: :js) do %>
            <div class="btn-group card-body" role="group" aria-label="Basic example">
              <%= text_field_tag(:company, nil, placeholder: "Company ID", class: 'form-control') %>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#companyIdModal">
                <%= icon("fas", "search") %>
              </button>
            </div>
            <div class="btn-group card-body" role="group" aria-label="Basic example">
              <%= text_field_tag(:course, nil, placeholder: "Talent Course ID", class: 'form-control') %>
              <%= link_to "https://safetyclasses.talentlms.com/catalog/index",  class: "btn btn-success", target: "_blank" do %>
                <%= icon("fas", "external-link-alt") %>
              <% end %>
            </div>
            <div class="card-body">
              <button class="btn btn-primary">Add Access</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="dashboard-online-courses" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "laptop") %></span><br/>Online Courses
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Before adding an Online Course, make sure that the <%= link_to "Product Group", "#dashboard-product-groups" %> already exists!
          </li>
          <li class="list-group-item">
            <%= link_to 'View Existing Online Courses', online_courses_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Add New', new_online_course_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-payment-terms" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "money-check-alt") %></span><br/>Payment Terms
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> When authorized by Arthur, a Company may be granted the ability to pay using Net 30, 45 or 60. You must know the Company's ID.
          </li>
          <li class="list-group-item">
            <%= link_to 'View Existing Payment Terms', payment_terms_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Assign New', new_payment_term_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-posters" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "image") %></span><br/>Posters
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the relevant Poster Group exists before creating a Poster!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Poster Groups', poster_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Poster Group", new_poster_group_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Posters', posters_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create Poster", new_poster_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-product-groups" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "truck-monster") %></span><br/>Product Groups
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Product Groups are basically just the types of training we offer. They group together different training methods, such as Online Courses and Kits.
          </li>
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Make sure the <%= link_to "categories", "#dashboard-categories" %> you need already exist before creating a Product Group!
          </li>
          <li class="list-group-item">
            <%= link_to 'View Existing Product Groups', product_groups_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Assign New', new_product_group_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-related-items" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "link") %></span><br/>Related Items
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Related Items show up on the Cart page, so the user can see/add them before checkout.
          </li>
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> To add something as a Related Item, visit the page for any relatable item, and use the button that says "Relate to a Product Group". These are currently <%= link_to "Keychain Groups", keychain_groups_path %>, <%= link_to "Machine Tag Groups", machine_tag_groups_path %>, and <%= link_to "Poster Groups", poster_groups_path %>.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All Related Items', related_items_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-reports" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "file-export") %></span><br/>Reports
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Reports may be generated here. Be patient, as some may take a long time. Refresh the page if you need to re-enable a button after clicking it. More reports will be added.
          </li>
          <li class="list-group-item">
            <%= form_with(url: sales_path, local: true) do |form| %>

              <div class="thin-rounded-border">
                <h3 class="h3-margins">Sales</h3>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <h5>FROM</h5>
                    <%= form.date_select :from, start_year: 2019, end_year: Date.today.year, class: 'form-control' %>
                  </div>

                  <div class="form-group col-md-6">
                    <h5>TO</h5>
                    <%= form.date_select :to, start_year: 2019, end_year: Date.today.year, class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= form.submit "Generate", class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-shirts" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "tshirt") %></span><br/>Shirts
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> New styles require a unique, descriptive, name.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', shirts_path %>
          </li>
          <li class="list-group-item">
            <%= link_to "Create New Shirt", new_shirt_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-train-the-trainers" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "graduation-cap") %></span><br/>Train The Trainers
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Before adding a Train The Trainer, make sure that the <%= link_to "Product Group", "#dashboard-product-groups" %> already exists!
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', train_the_trainers_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Add New Train The Trainer', new_train_the_trainer_path %>
          </li>
        </ul>
      </div>
    </div>

    <div id="dashboard-users" class="col-lg-6 offset-lg-3 dashboard-block">
      <div class="card">
        <div class="card-header">
          <span><%= icon("fas", "user-friends") %></span><br/>Users
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item superadmin-desc">
            <%= icon("fas", "info-circle") %> Unless <em>absolutely</em> necessary, new users should be created through the normal signup page, so that backend security features will apply.
          </li>
          <li class="list-group-item">
            <%= link_to 'View All', "/admin/users?direction=desc&order=id" %>
          </li>
        </ul>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="companyIdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Find A Company ID</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @companies.each do |c| %>
              <h5>ID <%= c[0] %>: <%= c[1] %> (<%= c[2] + ', ' + c[3] %>)</h5>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>