<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h2 class="text-center">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
        <% if @minimum_password_length %>
          <p class="text-muted"><small><%= @minimum_password_length %> characters minimum</small></p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm Password" %>
      </div>

      <div class="form-group">
        <%= f.submit "Change my password", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "shared/login_links" %>
    </div>
  </div>
</div>
