<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h2 class="text-center h1-margins">Reset your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.submit "Send password reset email", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
