<div id="form-container">
  <%= form_with(model: alt_name, local: true) do |form| %>
    <% if alt_name.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(alt_name.errors.count, "error") %> prohibited this alt_name from being saved:</h2>

        <ul>
        <% alt_name.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>The New Alternative Name Is:</h3>
      <div class="form-group col-sm-6 offset-sm-3">
        <%#= form.label :name %>
        <%= form.text_field :name, class: 'form-control', placeholder: "Alt Name" %>
      </div>
    </div>

    <div class="form-section">
      <h3>This Is An Alternative Name For:</h3>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= form.label :product_group_id %>
        <%= select("alt_name", "product_group_id", ProductGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: alt_name.product_group_id }, class: "form-control") %>
      </div>
    </div>

    <div class="form-group">
      <% if alt_name.persisted? %>
        <div class="float-right">
          <%= link_to 'Destroy', alt_name, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if alt_name.persisted? %>
        <%= link_to "Cancel", alt_name, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", alt_names_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
