<div id="form-container">

  <h1 class="h1-margins">Alternative Names</h1>

  <%= link_to new_alt_name_path, class: 'btn btn-primary h3-margins' do %>
    Add New Alt Name
  <% end %>


  <div class="form-row">
    <div class="form-group col-md-6 text-left">
      <% @product_groups.each do |product_group| %>
        <div class="card" style="width: 100%;">
          <div class="card-header">
            <h3><%= product_group.name %></h3>
          </div>
<!--           <ul class="list-group list-group-flush">
            <li class="list-group-item"><%#= product_group.alt_names.pluck(:name).sort.join(', ') %></li>
          </ul> -->
          <ul class="list-group list-group-flush">
            <% product_group.alt_names.order(name: :asc).each do |alt_name| %>
              <li class="list-group-item">
                <%= alt_name.name %>
                <%= link_to 'Edit', edit_alt_name_path(alt_name), class: 'btn btn-primary' %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
