<div class="page-header">
  <%= link_to alt_names_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Alt Names
  <% end %>
  <%= link_to edit_alt_name_path(@alt_name), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1 class="h1-margins">Show Alt Name</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @alt_name.name %></dd>

  <dt>Product group:</dt>
  <dd><%= @alt_name.product_group.name %></dd>

</dl>
