<div id="add-employees">
  <h1 class="h1-margins text-center">Add Employees</h1>

  <p class="text-left note">
    <strong>NOTE:</strong> Employees who are new to our system will be assigned this temporary password: <span id="special-word">HardHatTraining1</span>. Have them change it when they log in for the first time.
  </p>

  <p class="text-left note">
    <strong>NOTE:</strong> Please see the <%= link_to "documentation", documentation_path(anchor: "adding-employees"), target: "_blank" %> <%= icon("fas", "external-link-alt") %> for instructions and shortcuts.
  </p>

  <div class="col-md-6 offset-md-3 add-employees-section">
    <h2>Add Individual Employees</h2>
    <%= form_with(model: @user, url: new_user_path, html: { method: :post }, class: "form-group", local: true) do |form| %>
      <div class="mb-4">

        <div class="form-row">
          <div class="form-group col-md-6">
            <%= form.text_field :first_name, name: "user[first_name]", id: "user_first_name", class: "form-control", placeholder: "First name" %>
          </div>

          <div class="form-group col-md-6">
            <%= form.text_field :last_name, name: "user[last_name]", id: "user_last_name", class: "form-control", placeholder: "Last name" %>
          </div>
        </div>

        <div class="form-group">
          <%= form.text_field :email, name: "user[email]", id: "user_email", class: "form-control", placeholder: "Email Address" %>
        </div>

        <%= form.hidden_field :password, name: "user[password]", value: @password %>

        <%= form.hidden_field :password_confirmation, name: "user[password_confirmation]", value: @password %>

        <%= form.hidden_field :add_individual, name: "user[add_individual]", value: true %>

      </div>

      <%= form.submit "Submit", class: "btn btn-primary btn-spinner"%>
    <% end %>
  </div>

  <div class="col-md-6 offset-md-3 add-employees-section">
    <h2>Add Multiple Employees</h2>
    <p class="text-left note">
      <strong>NOTE:</strong> Must be a CSV file, with the following headers: Email, First Name, and Last Name. All fields are required.
    </p>
    <%= form_tag import_employees_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Upload', class: "btn-spinner" %>
    <% end %>
  </div>
</div>
