<!-- <div class="admin-menu"> -->

  <%#= link_to "Edit Profile", edit_user_registration_path, method: :get, class: "btn btn-link" %>

  <%#= link_to "Add Employee", add_employee_path, method: :get, class: "btn btn-link" %>

  <%#= link_to "Manage Employees", manage_employees_path, method: :get, class: "btn btn-link" %>

<!-- </div> -->
