<div id="announcements-block" class="col-lg-6 offset-lg-3 dashboard-block">
  <div class="card">
    <div class="card-header">
      <span><%= icon("fas", "comment") %></span><br/>Announcements
    </div>
    <ul class="list-group list-group-flush">
      <% unless @announcements.empty? %>
        <li class="list-group-item">
          <%= link_to "Mark All As Read", mark_all_as_read_path(source: (current_page?('/companies/homepage') ? 'company' : 'user')) %>
        </li>
      <% end %>
      <% @announcements.each_with_index do |announcement, index| %>
        <li class="list-group-item text-left">
          <strong><%= announcement.name %></strong>
          <%= simple_format announcement.description %>
        </li>
      <% end %>

      <% if @announcements.empty? %>
        <li class="list-group-item">No new announcements.</li>
      <% end %>
    </ul>
  </div>
</div>
