<% if items.present? %>
  <div class="modal-section">
    <h5 id="<%= kebabify(@product_group.name) %>-<%= item_type.downcase %>-all">
      <span>
        <%= icon("fas", "angle-double-left") %>
      </span>
      <%= @product_group.name %>
      <span>
        <%= icon("fas", "angle-double-right") %>
      </span>
    </h5>
    <h2>
      <%= icon("fas", icon_name ) %> <%= item_header %>
    </h2>

    <div class="whats-this">
      <%= link_to '#', 'data-toggle': "modal", 'data-target': "##{ kebabify(item_header) }" do %>
        <%= icon("fas", "info-circle") %> What's this?
      <% end %>
    </div>

    <% if (item_type == 'Kit') && @kits.any? %>
      <div class="dropdown">
        <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="homepageSampleMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= icon("far", "file-pdf") %> Preview This Training
        </button>
        <div class="dropdown-menu" aria-labelledby="homepageSampleMenuButton">
          <% @kits.each do |kit| %>
            <%= link_to kit.sample.url, class: "dropdown-item", target: "_blank" do %>
              <%= icon("fas", "download") %> <%= "#{ kit.market_type } (#{ number_to_human_size(kit.sample.size) })" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="divider"></div>

    <% items.each do |item| %>
      <div class="black-purchase-wrapper">
        <% if item.is_on_sale(session[:preferred_currency]) %>
          <div class="on-sale-md show-md">
            <span>On Sale! Regular Price: $<%= (session[:preferred_currency] == 'usd' ? item.price : item.cad_price) / 100 %></span>
          </div>
        <% end %>
      </div>

      <% @btn_id = "#{ kebabify(item.product_group.name)}-#{ item.class.to_s.downcase }-#{ item.market_type }" %>
      <div class="black-purchase-container" id="<%= @btn_id %>">
        <div class="compliance-2 outer-oval show-mobile">
          <% if item.standards == 'csa_ansi' %>
            CSA/ANSI COMPLIANT
          <% elsif item.standards == 'n_a' %>
            SAFETY TRAINING
          <% elsif item.standards == 'osha' %>
            OSHA COMPLIANT
          <% end %>

          <% if (item_type == 'OnlineCourse' && item.public == false) || (item_type == "GroupTraining" && item.online_course.public == false) %> • VIDEO<% end %>
        </div>

        <div class="compliance show-md">
          <% if item.standards == 'csa_ansi' %>
            <%= render 'shared/csa_ansi_compliant' %>
          <% elsif item.standards == 'n_a' %>
            <%= render 'shared/no_standards' %>
          <% else %>
            <%= render 'shared/osha_compliant' %>
          <% end %>
        </div>

        <% if item.is_on_sale(session[:preferred_currency]) %>
          <div class="on-sale hide-md">
            ON SALE!
          </div>

          <div class="original-price hide-md">
            Reg: $<%= (session[:preferred_currency] == 'usd' ? item.price : item.cad_price) / 100 %>
          </div>
        <% end %>

        <div class="black-purchase-button">
          <div class="market-type">
            <%= image_tag "flags/#{ item.market_type }.png", width: 50, height: 50 %>
          </div>
          <div class="language show-sm">
            <%= item.language.upcase %>
              <% if item.language == ('spanish' || 'tagalog') && (item_type == "Kit") %>
              <br/>+ ENGLISH
            <% end %>
          </div>
          <div class="price">
            <% if (item_type == 'OnlineCourse' && item.public == false) || (item_type == "GroupTraining" && item.online_course.public == false) %>
              <div class="video-version outer-oval show-md">
                VIDEO VERSION
              </div>
            <% end %>
            $<%= cad_is_set? ? (item.cad_current_price / 100) : (item.current_price / 100) %><span><%= session[:preferred_currency].upcase %></span>
          </div>
          <div class="add-to-cart">
            <% if current_company.present? || current_user.present? %>
              <%= button_to "Add To Cart", order_items_path(orderable_id: item.id, orderable_type: item_type), method: :post, class: "btn btn-primary", "data-turbolinks": false %>

              <% if item_type == 'OnlineCourse' %>
                <% if current_company.present? || (current_user.present? && current_user.admin?) %>
                  <% @company = (current_company.present? ? current_company : current_user.companies.last ) %>
                  <% @credits = ( cad_is_set? ? @company.cad_credits : @company.credits ) %>
                  <% if ( (@credits > 0) || CompanyCourse.where(online_course_id: item.id).where('quantity > 0').any? ) %>
                    <%= button_to "Assign This Course", assign_course_path(course_id: item.id, lookup_class: "OnlineCourse"), method: :post, class: "btn btn-link assign-btn" %>
                  <% end %>
                <% end %>
              <% end %>

              <% if item_type == 'TrainTheTrainer' %>
                <% if current_company.present? || (current_user.present? && current_user.admin?) %>
                  <% @company = (current_company.present? ? current_company : current_user.companies.last ) %>
                  <% @credits = ( cad_is_set? ? @company.cad_credits : @company.credits ) %>
                  <% if ( (@credits > 0) || CompanyCourse.where(train_the_trainer_id: item.id).where('quantity > 0').any? ) %>
                    <%= button_to "Assign This Course", assign_course_path(course_id: item.id, lookup_class: "TrainTheTrainer"), method: :post, class: "btn btn-link" %>
                  <% end %>
                <% end %>
              <% end %>

            <% else %>
              <div class="logged-out">
                <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url, button: @btn_id) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url, button: @btn_id) %> to purchase!
              </div>
            <% end %>
          </div>
        </div>

        <div class="outer-oval outer-language show-mobile hide-sm">
          <% if item.language == 'spanish' %>
            SPANISH + ENGLISH
          <% else %>
            ENGLISH
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>
