<div class="bulk-pricing-container">
  <div>
    Tier 1 (<%= session[:preferred_currency].upcase %>)
    <table class="table table-sm table-borderless table-striped">
      <thead>
        <tr>
          <th scope="col">Qty</th>
          <th scope="col">Each</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tier1_level1.qty %>-<%= @tier1_level2.qty - 1 %></td>
          <td><%= number_to_currency( @tier1_level1.price / 100, precision: 0 ) %></td>
        </tr>
        <tr>
          <td><%= @tier1_level2.qty %>-<%= @tier1_level3.qty - 1 %></td>
          <td><%= number_to_currency( @tier1_level2.price / 100, precision: 0 ) %></td>
        </tr>
        <tr>
          <td><%= @tier1_level3.qty %>-<%= @tier1_level4.qty - 1 %></td>
          <td><%= number_to_currency( @tier1_level3.price / 100, precision: 0 ) %></td>
        </tr>
        <tr>
          <td><%= @tier1_level4.qty %>+</td>
          <td><%= number_to_currency( @tier1_level4.price / 100, precision: 0 ) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    Tier 2 (<%= session[:preferred_currency].upcase %>)
    <table class="table table-sm table-borderless table-striped">
      <thead>
        <tr>
          <th scope="col">Qty</th>
          <th scope="col">Each</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @tier2_level1.qty %>-<%= @tier2_level2.qty - 1 %></td>
          <td><%= number_to_currency( @tier2_level1.price / 100, precision: 0 ) %></td>
        </tr>
        <tr>
          <td><%= @tier2_level2.qty %>-<%= @tier2_level3.qty - 1 %></td>
          <td><%= number_to_currency( @tier2_level2.price / 100, precision: 0 ) %></td>
        </tr>
        <tr>
          <td><%= @tier2_level3.qty %>-<%= @tier2_level4.qty - 1 %></td>
          <td><%= number_to_currency( @tier2_level3.price / 100, precision: 0 ) %></td>
        </tr>
        <tr>
          <td><%= @tier2_level4.qty %>+</td>
          <td><%= number_to_currency( @tier2_level4.price / 100, precision: 0 ) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>