<!-- <div class="company-menu"> -->

  <!-- Button trigger modal -->
<!--   <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
    Preferences
  </button> -->

  <!-- Modal -->
<!--   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Preferences
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>
            Set your preferred currency. This will be the default currency each time you log in.
          </p>

          <%#= form_with url: update_preferred_currency_path, local: true do |form| %>
           <%#= hidden_field_tag(:source, 'company') %>
           <%#= hidden_field_tag(:url, request.url) %>
            <%#= form.select(:preferred_currency, options_for_select([["USD", "usd"], ["CAD", "cad"]], current_company.preferred_currency), {}, { class: "form-control", onchange: "this.form.submit();" }) %>
          <%# end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->


<!--   <p>
    <span class="gold"><%#= icon("fas", "coins") %></span>
    Total Credits: <%#= number_to_currency @credits / 100 %> <%#= @flag %>
  </p>

  <p>
    <%# if @credits == 0 %>
      <%#= link_to "(Buy Credits)", credit_packs_path %>
    <%# else %>
      This can purchase:<br/>
      <%# if @usd == true %>
        <%#= (@credits / 100) / 79 %> $79 courses, or <%#= (@credits / 100) / 29 %> $29 courses.
      <%# else %>
        <%#= (@credits / 100) / 99 %> $99 courses, or <%#= (@credits / 100) / 39 %> $39 courses.
      <%# end %>
    <%# end %>
  </p> -->

  <%#= company_btn("Company Homepage", companies_homepage_path) %>

  <%#= company_btn("Profile", edit_company_path(@company)) %>

  <%#= link_to "Edit Profile", edit_company_path(@company), class: 'btn btn-link' %>

  <%#= company_btn("Add Employee", companies_add_employee_path) %>

  <%#= company_btn("Manage Employees", companies_manage_employees_path) %>

  <%# if current_company.branches.count > 0 %>
    <%#= company_btn("Branch View", companies_branch_view_path) %>
  <%# end %>

  <%#= link_to "Course Assignment", assign_course_path, class: 'btn btn-link' %>

<!-- </div> -->
