<div id="credit-packs-block">
  <h2 class="tier-header">Tier 1</h2>
  <% @tier1_credit_packs.each do |credit_pack| %>
    <% if @usd == true %>
      <%= render 'shared/usd_credit_packs', credit_pack: credit_pack, tier: 'one' %>
    <% else %>
      <%= render 'shared/cad_credit_packs', credit_pack: credit_pack, tier: 'one' %>
    <% end %>
  <% end %>

  <h2 class="tier-header">Tier 2</h2>
  <% @tier2_credit_packs.each do |credit_pack| %>
    <% if @usd == true %>
      <%= render 'shared/usd_credit_packs', credit_pack: credit_pack, tier: 'two' %>
    <% else %>
      <%= render 'shared/cad_credit_packs', credit_pack: credit_pack, tier: 'two' %>
    <% end %>
  <% end %>
