<% current_page?('/cart/checkout') ? (@disabled_state = true) : (@disabled_state = false) %>

<div id="temp-currency-switcher">
  <%= form_with url: update_preferred_currency_path do |form| %>
    <%= hidden_field_tag(:url, request.url) %>
    <%= form.select(:preferred_currency, options_for_select([["$ USD", "usd"], ["$ CAD", "cad"]], session[:preferred_currency]), {}, { class: "form-control", onchange: "this.form.submit();", disabled: @disabled_state, "aria-label": "Search Field" }) %>
  <% end %>
</div>
