<%= render 'shared/divider_guy' %>

<h3 class="h1-margins">Available For The Following Courses:</h3>

<% if @courses.present? %>
  <div id="topics-list">
    <p><strong>Jump to a category:</strong></p>
    <% @title.each do |t| %>
      <% if @courses.tagged_with(t).any? %>
        <%= link_to t, "##{ kebabify(t) }" %>
      <% end %>
    <% end %>
  </div>

  <div id="topics-container">
    <% @categories.each do |category| %>
      <% if @courses.tagged_with(category).any? %>

        <section id="<%= kebabify(category.name) %>">
          <% logical_file_path = "training-topic-icons/#{ kebabify(category.name) }.png" %>

          <% topic_image = (::Sprockets::Railtie.build_environment(Rails.application).find_asset(logical_file_path)).present? ?
              logical_file_path :
              "training-topic-icons/hard-hat.png" %>

          <%= image_tag topic_image, alt: "fall-protection-icon", class: "topic-icon" %>
          <h4><%= category %></h4>

          <ul>
            <% @courses.tagged_with(category).each do |course| %>
              <%= link_to product_group_path(id: course.slug, anchor: "#{ kebabify(course.name) }-#{ @course_type }-#{ @market_type }"), class: "topic-entry", "data-turbolinks": false, target: "_self" do %>
                 <li><%= course.name %></li>
              <% end %>
            <% end %>
          </ul>
        </section>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p id="no-content">None at this time.</p>
  <p>Please <%= link_to "let us know what you need", contact_us_path %>! We are creating new courses all the time, and will be happy to expedite what you need.</p>
<% end %>
