<footer>
  <div class="container-tri">
    <section class="section-blue tri-above #{ if current_page?(root_path) } white-tri-above #{ end } %>" id="blog-post-section">
      <div id="logo-circle">
        <%= image_tag "homepage-images/hard-hat-dude-43x50.png", alt: "Hard Hat Training Logo", id: "favicon" %>
      </div>
    </section>
  </div>

  <div class="container-tri">
    <section class="section-white tri-above blue-tri-above" id="footer-top-row">
      <h2>Get In Touch</h2>
      <a href="tel:1-360-930-9247">1-360-930-9247</a>
      <a href="tel:1-208-252-5331">1-208-252-5331</a>
      <p>M-F, 9-5<br/>Mountain Time</p>
    </section>

    <%= render 'shared/social_media_links' %>

    <section id="footer-btm-row">
      <%= link_to documentation_path, target: "_blank" do %>
        Documentation
        <%= icon("fas", "external-link-alt") %>
      <% end %>
      <%= link_to 'Privacy Policy', privacy_path %>
      <%= link_to 'Terms of Use', terms_path %>
      <%= link_to 'Contact', contact_us_path %>
      <%= link_to 'About', about_path %>
      <%= link_to "FAQ", faq_path %>
    </section>
  </div>
</footer>

<div class="spinner">
  <div><%= icon("fas", "yin-yang") %></div>
</div>
