<div class="solo-training-type-header-section" >
  <%= image_tag "group-training.jpg", alt: "Men doing Group Training" %>

  <div id="solo-training-type-right">
    <p id="solo-training-type-text">
      Want to take an <%= link_to "Online Course", all_online_courses_path %> as a group, using one screen (monitor/projector/etc)? Our Group Training is the most affordable option for groups of 25 or more. Simply select this option, and specify the number of attendees at checkout. Features detailed discussion of safety standards, intermittent quizzes, and progress tracking. Certificates and wallet cards available upon completion.
    </p>

    <div id="solo-training-type-list" class="group-training-header">
      <p><strong>Features:</strong></p>
      <ul>
        <li>Train multiple employees using one screen</li>
        <li>Most affordable option for groups of 25+</li>
        <li>Access to our online Learning Management System</li>
        <li>Detailed discussion of safety standards</li>
        <li>Intermittent quizzes</li>
        <li>Progress tracking</li>
        <li>Digital certificates and wallet cards upon completion</li>
        <ul>
          <li class="add-li">- Hard copies available for purchase</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

<div id="solo-training-type-bulk-pricing">
  <h3 class="h3-margins">Pricing</h3>
  <p>
     Based on the regular <%= link_to "Online Course", all_online_courses_path %> price. There are two tiers: Tier 1, which starts at $79, and Tier 2, which starts at $29. <em>Discounts automatically applied at checkout!</em>
  </p>

  <%= render 'shared/bulk_pricing' %>
</div>
