<div class="dropdown-container">
  <% if (group.active == true) && items.present? %>
    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% items.each do |item| %>
            <%= button_to "Pack of #{ item.pack_qty }: #{ number_to_currency((session[:preferred_currency] == 'usd' ? item.price : item.cad_price).to_f / 100) } #{ session[:preferred_currency].upcase }", order_items_path, class: "dropdown-item", type: "button", params: {orderable_id: item.id, orderable_type: type} %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="logged-out">
        <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
      </div>
    <% end %>
  <% else %>
    <h5 class="h1-margins">This item is currently unavailable.</h5>
  <% end %>
</div>
