<%= render 'shared/analytics' %>

<% if current_page?('/cart') %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%# Swarmify %>
<script data-cfasync="false">
    var swarmoptions = {
        swarmcdnkey: "31debe2e-2355-44bb-8ec0-514e4d72ad12",
        iframeReplacement: "iframe",
        autoreplace: {
            youtube: false
        },
        theme: {
            button: "rectangle"
        }
    };
</script>
<script data-cfasync="false" src="https://assets.swarmcdn.com/cross/swarmdetect.js"></script>

<%= render 'shared/meta_tags' %>
<%= render 'application/favicon' %>

<% if Rails.env.production? %>
  <meta name="stripe-key" content="<%= ENV['STRIPE_PUBLIC_KEY'] %>">
<% else %>
  <meta name="stripe-key" content="<%= Rails.application.credentials.stripe_public_test_key %>">
<% end %>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
