<header>

  <div class="header-top-row">
    <%= link_to root_path do %>
      <%= image_tag "homepage-images/hard-hat-training-logo.png", alt: "Hard Hat Training Logo", class: "logo" %>
    <% end %>

    <div class="header-top-row-rt">
      <% if current_user %>
        <%= link_to icon("fas", "shopping-cart"), cart_path, id: "cart-btn", class: "orange", "data-turbolinks": false %>
      <% else %>
        <%= link_to icon("fas", "shopping-cart"), '#', id: "cart-btn", class: "gray", "data-turbolinks": false %>
      <% end %>

      <%= render 'shared/currency_switcher' %>

      <div class="btn-group search-field" id="search-bar-container-1">
        <%= form_tag search_path, method: :get, id: "search-bar-1", target: "_self" do %>
          <div class="btn-group card-body" role="group" aria-label="Search form">
            <%= text_field_tag(:q1, nil, placeholder: "Search our courses", class: 'form-control') %>
            <button type="button" class="btn btn-success" onclick="document.getElementById('search-bar-1').submit();") aria-label="Search Field">
              <%= icon("fas", "search") %>
            </button>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="btn-group search-field" id="search-bar-container-2">
    <%= form_tag search_path, method: :get, id: "search-bar-2", target: "_self" do %>
      <div class="btn-group card-body" role="group" aria-label="Search form">
        <%= text_field_tag(:q2, nil, placeholder: "Search our courses", class: 'form-control') %>
        <button type="button" class="btn btn-success" onclick="document.getElementById('search-bar-2').submit();") aria-label="Mobile Search Field">
          <%= icon("fas", "search") %>
        </button>
      </div>
    <% end %>
  </div>

</header>
