<div class="note" id="login-links">
  <h5>Users</h5>
  <% if current_page?('/users/sign_in') %>
    <%= link_to "Forgot your password?", new_password_path(User) %><br />
  <% else %>
    Already have a User account? <%= link_to "Log in", new_session_path(User) %>.<br />
  <% end %>

  <% unless current_page?('/users/sign_up') %>
    Need a new User account? <%= link_to "Sign up!", new_registration_path(User) %><br />
  <% end %>

  <% if current_page?('/users/password/new') %>
    <p class="mt-4">
      Use a fake email for login? Your administrator will have to reset your password.
    </p>
  <% end %>

  <hr class="login-links-hr"/>

  <h5>Companies</h5>
  <% if current_page?('/companies/sign_in') %>
    <%= link_to "Forgot your password?", new_password_path(Company) %><br />
  <% else %>
    Already have a Company account? <%= link_to "Log in", new_session_path(Company) %>.<br />
  <% end %>

  <% unless current_page?('/companies/sign_up') %>
    Need a new Company account? <%= link_to "Sign up!", new_registration_path(Company) %><br />
  <% end %>

  <hr/>

  <p>
    What's <%= link_to "the difference between User and Company accounts", documentation_path(anchor: "what-kinds-of-accounts"), target: "_blank" %>? <%= icon("fas", "external-link-alt") %>
  </p>
</div>
