<div id="manage-employees">
  <h1 class="text-center">Manage Employees</h1>

  <div class="col-md-6 offset-md-3">
    <%== pagy_nav(@pagy) %>
    <% @employees.each do |employee| %>

      <div class="mng-emp py-1">

        <div class="card">
          <div class="card-header">
            <h3 class="text-left">
              <%= icon("fas", "user-circle") %> <%= employee.name.last %>, <%= employee.name.first %>
            </h3>
          </div>
          <div class="card-body">
            <%# if company_signed_in? || policy(employee).show? %>
              <%= link_to "View", user_path(employee), class: "btn btn-info" %>
            <%# end %>

            <% if company_signed_in? %>
              <%= render 'shared/manage_emps_company_btns', employee: employee %>
            <% else %>
              <%= render 'shared/manage_emps_admin_btns', employee: employee %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <% employee.companies.uniq.each do |company| %>
              <%= company.name %>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
