<%= button_to "Remove", remove_employee_path(emp: employee), class: "btn btn-danger emp-btn-right btn-spinner", data: { confirm: "You want to remove this employee? You can always use the 'Add Employee' feature to restore them later." } %>

<% if employee.active? %>
  <%= button_to "Active", toggle_employee_status_path(employee: employee), class: "btn btn-success emp-btn-right btn-spinner", data: { confirm: "Make this employee inactive?" } %>
<% else %>
  <%= button_to "Inactive", toggle_employee_status_path(employee: employee), class: "btn btn-light emp-btn-right btn-spinner", data: { confirm: "Make this employee active?" } %>
<% end %>

<%= button_to "Reset Password", reset_password_path(employee: employee), class: "btn btn-light emp-btn-right btn-spinner", data: { confirm: "Do you want to reset this employee's password to the default (HardHatTraining1)?" } %>