<%= button_to "Remove", companies_remove_employee_path(emp: employee), class: "btn btn-danger emp-btn-right btn-spinner", data: { confirm: "You want to remove this employee? You can always use the 'Add Employee' feature to restore them later." } %>

<% if employee.admin? %>
  <%= button_to "Admin: Yes", companies_toggle_admin_path(employee: employee), class: "btn btn-warning emp-btn-right btn-spinner", data: { confirm: "Remove Admin status from this employee?" } %>
<% else %>
  <%= button_to "Admin: No", companies_toggle_admin_path(employee: employee), class: "btn btn-light emp-btn-right btn-spinner", data: { confirm: "Make this employee an Admin? They will be able to perform all Admin functions, including adding and removing employees, and viewing employee data!" } %>
<% end %>

<% if employee.active? %>
  <%= button_to "Active", companies_toggle_employee_status_path(employee: employee), class: "btn btn-success emp-btn-right btn-spinner", data: { confirm: "Make this employee inactive?" } %>
<% else %>
  <%= button_to "Inactive", companies_toggle_employee_status_path(employee: employee), class: "btn btn-light emp-btn-right btn-spinner", data: { confirm: "Make this employee active?" } %>
<% end %>
