<div>
  <h3 class="text-left">Meet Our Team:</h3>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/myron.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Myron</h5>
      <h6>Principal Owner, Advisor</h6>

      <p>
        Myron has been working in the safety and health industry for nearly twenty years, having previously built, run, and then sold Arxcis, Inc—one of the leading crane inspection companies in the U.S.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/sue.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Susan</h5>
      <h6>Board Member, Advisor</h6>

      <p>
        Susan is a long-time nurse with a degree from the University of Washington. She currently volunteers her time helping and educating youth regarding physical and mental health.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/calista.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Calista</h5>
      <h6>Board Member, Advisor</h6>

      <p>
        With several health-related certifications, Calista spends her time advising, counseling, and educating clients regarding physical, mental, and emotional health. She is the mother of four boys.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/arthur.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Arthur</h5>
      <h6>Principal Owner, Advisor</h6>

      <p>
        Arthur earned his writing degree from BYU. Soon after graduation, he began managing and then building businesses. This led to the opportunity to buy an underutilized training division out of another company. That re-branded division has since turned into Safety Provisions, Inc, the home of the Hard Hat Training Series, which Arthur has been running for ten years.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/kerry.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Kerry</h5>
      <h6>Trainer, Advisor</h6>

      <p>
        Kerry is a long-time operator, trainer, and master rigger. For over fifteen years, he has traveled the country inspecting and certifying cranes, as well as training and certifying heavy equipment operators and riggers. He specializes in cranes, forklifts, and aerial lifts.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/karl.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Karl</h5>
      <h6>Trainer</h6>

      <p>
        Karl is a long-time general contractor, equipment operator, and trainer. For over fifteen years, he has traveled the country training and certifying heavy equipment operators on everything from forklifts to aerial lifts to earth movers.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/mary.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Mary</h5>
      <h6>Head Content Developer,  Editor</h6>

      <p>
        Mary studied at Idaho State University and Utah State University, majoring in Technical Writing with an emphasis in editing. She took her education into the newspaper industry for eight years, first as a writer and then moving to editing.
      </p>

      <p>
        Mary has been with Safety Provisions for 18 months, in which time she has pioneered our HR, Public Awareness, and Community Outreach trainings.
      </p>

      <p>
        In her spare time, Mary rescues animals and spends time with her husband and kids.
      </p>
    </div>
  </div>

  <div class="team-container clearfix">
    <div class="team-headshot">
      <%= image_tag 'team/blake.jpg' %>
    </div>
    <div class="team-bio">
      <h5>Blake</h5>
      <h6>Safety Manager,  Trainer</h6>

      <p>
        Blake began work at Safety Provisions as an intern and quickly made himself invaluable. With a background in the oil and gas industry (where he dealt with hazardous waste operations and cleanup in the oil field), as well as his work as a Fire Safety Technician, Blake brings a wealth of knowledge when building and giving training.
      </p>

      <p>
        Blake’s education and training in his field are extensive. He holds a BS in Occupational Safety and Health, and is certified in the following areas: Train the Trainer, OSHA 10 Hour – Construction, OSHA 30 Hour – General Industry, Trench & Excavation Competent Person, and AHA Instructor.
      </p>
    </div>
  </div>
</div>