<title><%= yield(:title).presence || "Hard Hat Training" %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="keywords" content="<%= yield(:meta_keywords).presence || "safety training, construction safety, construction site safety" %>" />
<%# compliance training, workplace safety training, safety training certification, safety training programs, osha compliance training, workplace safety training topics, safety compliance training, safety training courses %>
<meta name="description" content="<%= yield(:meta_description).presence || "Hard Hat Training is your source for easy, affordable, OSHA and Canada compliant training. Courses available online, onsite, or in DIY kits, in English, Spanish, and Tagalog." %>" />
<meta name="author" content="<%= yield(:meta_author).presence || "Safety Provisions, Inc." %>" />
