<nav class="navbar navbar-expand-lg" style="background-color: #00627b; color: white;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><%= icon("fas", "bars") %></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Topics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <span> <%= icon("fas", "hard-hat") %> Training Topics</span>
          <%#= link_to training_topics_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/safety-training-topics/", class: "dropdown-item" do %>
            <%= icon("fas", "angle-double-right") %>
            View All
          <% end %>

          <span> <%= icon("fas", "shopping-bag") %> Merchandise</span>


          <%# NOTE This menu item can be deleted when not in maintenance mode %>
          <%= link_to "https://www.hardhattraining.com/product/beanies-2/", class: "dropdown-item" do %>
            <%= image_tag "baseball-cap.svg", width: 16 %>
            Beanies
          <% end %>

          <%#= link_to button_groups_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/buttons/", class: "dropdown-item" do %>
            <%= icon("fas", "circle") %>
            Buttons
          <% end %>

          <%#= link_to @certificate_url, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/certifications/", class: "dropdown-item" do %>
            <%= icon("fas", "certificate") %>
            Certificates of Completion
          <% end %>

          <%#= link_to @keychain_url, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/key-chains/", class: "dropdown-item" do %>
            <%= icon("fas", "first-aid") %>
            CPR Keychains
          <% end %>

          <%#= link_to @hand_signal_cards_url, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/hand-signal-cards/", class: "dropdown-item" do %>
            <%= icon("fas", "hand-paper") %>
            Hand Signal Cards
          <% end %>

          <%#= link_to hats_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/hats-2/", class: "dropdown-item" do %>
            <%= image_tag "baseball-cap.svg", width: 16 %>
            Hats
          <% end %>

          <%#= link_to @lanyard_url, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/lanyards/", class: "dropdown-item" do %>
            <%= icon("fas", "id-card-alt") %>
            Lanyards
          <% end %>

          <%#= link_to @machine_tag_url, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/pendant-warning-tags-overhead-crane/", class: "dropdown-item" do %>
            <%= icon("fas", "tags") %>
            Pendant Warning Tags
          <% end %>

          <%#= link_to poster_groups_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/safety-training-posters/", class: "dropdown-item" do %>
            <%= icon("fas", "image") %>
            Posters
          <% end %>

          <%#= link_to stickers_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/hard-hat-training-stickers/", class: "dropdown-item" do %>
            <%= icon("far", "smile") %>
            Stickers
          <% end %>

          <%#= link_to shirts_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/job-site-safety-training-shirt/", class: "dropdown-item" do %>
            <%= icon("fas", "tshirt") %>
            T-Shirts
          <% end %>

          <%#= link_to @wallet_card_url, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/certifications/", class: "dropdown-item" do %>
            <%= icon("far", "address-card") %>
            Wallet Cards
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DIY Kits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%#= link_to diy_training_kits_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/safety-training-kits/", class: "dropdown-item" do %>
            <%= icon("fas", "angle-double-right") %>
            View All
          <% end %>

          <%#= link_to osha_training_kits_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/safety-training-kits", class: "dropdown-item" do %>
            <%= image_tag 'flags/us.gif' %>
            OSHA Standards
          <% end %>

          <%#= link_to canadian_training_kits_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/canada/safety-training-kits/", class: "dropdown-item" do %>
            <%= image_tag 'flags/ca.gif' %>
            Canadian Standards
          <% end %>

          <%#= link_to spanish_training_kits_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/spanish-safety-training-kits/", class: "dropdown-item" do %>
            <%= image_tag 'flags/mx.gif' %>
            Spanish Language
          <% end %>

          <% if @tagalog_kits_exist %>
            <%= link_to tagalog_training_kits_path, class: "dropdown-item" do %>
              <%= image_tag 'flags/ph.gif' %>
              Tagalog Language
            <% end %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Online Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <span> <%= icon("fas", "user") %> Operator Training</span>
          <%#= link_to all_online_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/online-safety-training/", class: "dropdown-item" do %>
            <%= icon("fas", "globe") %>
            All Standards/Languages
          <% end %>

          <%# link_to osha_online_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/online-safety-training/", class: "dropdown-item" do %>
            <%= image_tag 'flags/us.gif' %>
            OSHA Standards
          <% end %>

          <%#= link_to canadian_online_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/canada/canadian-online-safety-training-courses/", class: "dropdown-item" do %>
            <%= image_tag 'flags/ca.gif' %>
            Canadian Standards
          <% end %>

          <%#= link_to spanish_online_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/online-training-spanish/", class: "dropdown-item" do %>
            <%= image_tag 'flags/mx.gif' %>
            Spanish Language
          <% end %>

          <%# NOTE This only exists to point to HHT while in maintenance mode. %>
          <%= link_to "https://www.hardhattraining.com/online-safety-training/#tab-90a7238d25c2ca36b7c", class: "dropdown-item" do %>
            <%= image_tag 'flags/us.gif' %>
            CAL OSHA
          <% end %>

          <% if @tagalog_online_courses_exist %>
            <%= link_to tagalog_online_courses_path, class: "dropdown-item" do %>
              <%= image_tag 'flags/ph.gif' %>
              Tagalog Language
            <% end %>
          <% end %>

          <span> <%= icon("fas", "user-graduate") %> Train The Trainer</span>
          <%#= link_to all_train_the_trainer_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/trainer-certification/", class: "dropdown-item" do %>
            <%= icon("fas", "globe") %>
            All Standards/Languages
          <% end %>

          <%#= link_to osha_train_the_trainer_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/trainer-certification/", class: "dropdown-item" do %>
            <%= image_tag 'flags/us.gif' %>
            OSHA Standards
          <% end %>

          <%#= link_to canadian_train_the_trainer_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/trainer-certification-canada/", class: "dropdown-item" do %>
            <%= image_tag 'flags/ca.gif' %>
            Canadian Standards
          <% end %>

          <%#= link_to spanish_train_the_trainer_courses_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/trainer-certification-in-spanish/", class: "dropdown-item" do %>
            <%= image_tag 'flags/mx.gif' %>
            Spanish Language
          <% end %>

          <%#= NOTE Only added for maintenance mode. %>
          <%= link_to "https://www.hardhattraining.com/product/onsite-training-train-the-trainer/", class: "dropdown-item" do %>
            <%= image_tag 'flags/us.gif' %>
            Onsite Trainer Certification
          <% end %>

          <% if @tagalog_train_the_trainers_exist %>
            <%= link_to tagalog_train_the_trainer_courses_path, class: "dropdown-item" do %>
              <%= image_tag 'flags/ph.gif' %>
              Tagalog Language
            <% end %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Custom Training
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
          <span> <%= icon("fas", "map-marker-alt") %> Onsite Training</span>
          <%#= link_to onsite_request_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/product/onsite-training-train-the-trainer/#onsite-form", class: "dropdown-item" do %>
            <%= icon("fas", "handshake") %>
            Request Training
          <% end %>

          <span> <%= icon("fas", "users") %> Group Training</span>
          <%#= link_to all_group_trainings_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/request-group-training/", class: "dropdown-item" do %>
            <%= icon("fas", "globe") %>
            All Standards/Languages
          <% end %>

          <%#= link_to osha_group_trainings_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/request-group-training/", class: "dropdown-item" do %>
            <%= image_tag 'flags/us.gif' %>
            OSHA Standards
          <% end %>

          <%#= link_to canadian_group_trainings_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/request-group-training/", class: "dropdown-item" do %>
            <%= image_tag 'flags/ca.gif' %>
            Canadian Standards
          <% end %>

          <%#= link_to spanish_group_trainings_path, class: "dropdown-item" do %>
          <%= link_to "https://www.hardhattraining.com/request-group-training/", class: "dropdown-item" do %>
            <%= image_tag 'flags/mx.gif' %>
            Spanish Language
          <% end %>

          <% if @tagalog_online_courses_exist %>
            <%= link_to tagalog_group_trainings_path, class: "dropdown-item" do %>
              <%= image_tag 'flags/ph.gif' %>
              Tagalog Language
            <% end %>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <% if !(current_user.present? || current_company.present?) %>
            Create Account / Log In
          <% else %>
            My Account
          <% end %>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Unavailable", "#", class: "dropdown-item" %>
<!--
          <span> <%#= icon("fas", "user-circle") %> User</span>
          <%# if !user_signed_in? %>
            <%#= link_to "Create Account", new_user_registration_path, class: "dropdown-item" %>
            <%#= link_to "Login", new_user_session_path, class: "dropdown-item" %>

          <%# else %>
            <%#= link_to "Dashboard", current_user, class: "dropdown-item" %>
            <%#= link_to "My Orders", orders_path, class: "dropdown-item" %>

            <%# if current_user.superadmin? %>
              <%#= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
              <%#= link_to "Analytics", analytics_path, class: "dropdown-item" %>
            <%# end %>
          <%# end %>

          <%# if company_signed_in? %>
            <span><%#= icon("fas", "city") %> Company</span>
            <%#= link_to "Dashboard", companies_homepage_path, class: "dropdown-item" %>
            <%#= link_to "All Orders", companies_orders_path, class: "dropdown-item" %>
            <%#= link_to "Reports", companies_reports_path, class: "dropdown-item" %>
          <%# end %>

          <%# if user_signed_in? %>
            <div class="dropdown-divider"></div>

            <%#= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
                Logout
              <%#= icon("fas", "sign-out-alt") %>
            <%# end %>
          <%# end %>
           -->
        </div>
      </li>

    </ul>
  </div>
</nav>

<% if (current_company.present? || (current_user.present? && (current_user.admin?))) && !current_page?('/users/sign_in') %>
  <%# OPTIONAL COMPANY MENU %>

  <nav class="navbar navbar-expand-md company-nav" style="background-color: #3b85ab; color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><%= icon("fas", "bars") %></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="settings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Preferred Currency", "#", class: 'dropdown-item', "data-toggle": "modal", "data-target": "#preferencesModal" %>

            <% if current_user.present? && current_user.admin? %>
              <%= link_to "My Profile", edit_user_registration_path, class: 'dropdown-item' %>
            <% end %>

            <% if current_company.present? %>
              <%= link_to "Company Profile", edit_company_path(current_company.id), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employees
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.present? && current_user.admin? %>
              <%= link_to "Add Employee(s)", add_employee_path, class: "dropdown-item" %>
              <%= link_to "Manage Employees", manage_employees_path, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Add", companies_add_employee_path, class: 'dropdown-item' %>
            <%= link_to "Manage", companies_manage_employees_path, class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View All", training_topics_path, class: 'dropdown-item' %>
            <%= link_to "Course Assignment", assign_course_path, class: 'dropdown-item' %>
            <%= link_to "Direct Purchases", "#", class: 'dropdown-item', "data-toggle": "modal", "data-target": "#directPurchases" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Branches
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_company.present? %>
              <%= link_to "View Branches", companies_branch_view_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Manage Company Hierarchy", "#", class: 'dropdown-item', "data-toggle": "modal", "data-target": "#companyHierarchy" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Credits
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Current Balance", "#", class: 'dropdown-item', "data-toggle": "modal", "data-target": "#currentBalance" %>
            <%= link_to "Purchase Credits", credit_packs_path, class: "dropdown-item" %>
          </div>
        </li>

      </ul>
    </div>
  </nav>

<%# MODALS %>
<div class="modal fade" id="preferencesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Preferences
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>
          Set your preferred currency. This will be the default currency each time you log in.
        </p>

        <%= form_with url: update_preferred_currency_path do |form| %>
         <%= hidden_field_tag(:source, 'company') %>
         <%= hidden_field_tag(:url, request.url) %>
          <%= form.select(:preferred_currency, options_for_select([["USD", "usd"], ["CAD", "cad"]], session[:preferred_currency]), {}, { class: "form-control", onchange: "this.form.submit();" }) %>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="directPurchases" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Direct Purchases
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <% if @dp_online_courses.present? || @dp_train_the_trainers.present? %>
          <p>
            These are courses you have purchased directly, and which have not yet been assigned to an employee.
          </p>
          <p>
            Click to assign a course:
          </p>

          <% if @dp_online_courses.present? %>
            <h3>Online Courses</h3>
            <ul class="text-left">
              <% @dp_online_courses.each do |dp| %>
                  <% dp_type  = dp.online_course %>
                  <% dp_class = "Online Course" %>
                  <% dp_id    = dp.online_course_id %>
                <li>
                  <%= link_to "#{ dp_type.title }", assign_course_path(course_id: dp_id, lookup_class: dp_class.split(" ").join), method: :post %>
                </li>
                <li class="dp-info">
                  <%= icon("fas", "caret-right") %> <%= dp_class %>, qty <%= dp.quantity %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if @dp_train_the_trainers.present? %>
            <h3>Train The Trainers</h3>
            <ul class="text-left">
              <% @dp_train_the_trainers.each do |dp| %>
                  <% dp_type  = dp.train_the_trainer %>
                  <% dp_class = "Train The Trainer" %>
                  <% dp_id    = dp.train_the_trainer_id %>
                <li>
                  <%= link_to "#{ dp_type.title }", assign_course_path(course_id: dp_id, lookup_class: dp_class.split(" ").join), method: :post %>
                </li>
                <li class="dp-info">
                  <%= icon("fas", "caret-right") %> <%= dp_class %>, qty <%= dp.quantity %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% else %>
          <p>You have no direct purchases at this time. <%= link_to "Select a course", training_topics_path %> to make a purchase.</p>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="companyHierarchy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Manage Company Hierarchy
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <% if current_company.present? %>
        <div class="modal-body">
          <h5>Upline</h5>
          <% if !@parent_company.blank? %>
            <p class="text-center">This company is a branch of <%= @parent_company.name %>.<br>
              <%= button_to 'Remove', remove_parent_company_path, class: 'btn btn-danger btn-sm', data: { confirm: "Are you sure you want to remove your Parent Company?" }, type: 'button' %>
            </p>
          <% else %>
            <p class="text-left">
              Does this company/branch report to another company? If so, enter their Parent Company Identifier here. You must obtain this information from them.
            </p>
            <p>
              <%= form_tag(assign_parent_company_path, method: :post) do %>
                <%= text_field_tag(:identifier) %>
                <button class="btn btn-primary btn-sm">Add</button>
              <% end %>
            </p>
          <% end %>
        </div>
      <% end %>

      <div class="modal-body">
        <h5>Downline</h5>
        <p class="text-left">
          Do other companies/branches report to this one? They will need to enter your Parent Company Identifier in their company dashboard.
        </p>
        <% if current_company.present? && current_company.identifier.blank? %>
          <p>
            <%= link_to "Create Parent Company Identifier", assign_identifier_path, class: 'btn btn-success btn-sm' %>
          </p>
        <% elsif !current_company.present? && (session[:current_company].blank? || session[:current_company]["identifier"].blank?) %>
          <p>
            No Parent Company Identifier has been generated for your company.
          </p>
        <% else %>
          <p>
            Parent Company Identifier: <%= session[:current_company]["identifier"] %>
          </p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>


  <div class="modal fade" id="currentBalance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Current Credit Balance
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <span class="gold"><%= icon("fas", "coins") %></span>
            Total Credits:
          </p>

          <h2 class="mb-3">
            <%= session[:preferred_currency].upcase %> <%= number_to_currency session[:credits] / 100 %>
          </h2>
          <p class="text-center h3-margins">
            <% if session[:credits] == 0 %>
              <%= link_to "(Buy Credits)", credit_packs_path %>
            <% else %>
              This can purchase:<br/>

              <% if @tier1_level1.present? %>
                <div id="course-purchase-qty-container">
                  <div class="card course-purchase-qty">
                    <div class="card-header">
                      <%= icon("fas", "star") %>
                    </div>
                    <div class="card-body">
                      <% if (@usd == true) || (session[:preferred_currency] == 'usd') %>
                        <%= (session[:credits]) / @tier1_level1.price %>
                      <% else %>
                        <%= (session[:credits]) / @tier1_level1.cad_price %>
                      <% end %>
                    </div>
                    <div class="card-footer">
                      <%= icon("fas", "angle-double-right") %> Tier 1 <%= icon("fas", "angle-double-left") %><br/>
                      <% if (@usd == true) || (session[:preferred_currency] == 'usd') %>
                        <span>$<%= @tier1_level1.price / 100 %></span><br/>
                      <% else %>
                        <span>$<%= @tier1_level1.cad_price / 100 %></span><br/>
                      <% end %>
                      courses
                    </div>
                  </div>

              <% else %>
                No pricing tiers have been created.
              <% end %>

              <% if @tier2_level1.present? %>
                  <div class="card course-purchase-qty">
                    <div class="card-header">
                      <%= icon("fas", "star") %>
                    </div>
                    <div class="card-body">
                      <% if (@usd == true) || (session[:preferred_currency] == 'usd') %>
                        <%= (session[:credits]) / @tier2_level1.price %>
                      <% else %>
                        <%= (session[:credits]) / @tier2_level1.cad_price %>
                      <% end %>
                    </div>
                    <div class="card-footer">
                      <%= icon("fas", "angle-double-right") %> Tier 2 <%= icon("fas", "angle-double-left") %><br/>
                      <% if (@usd == true) || (session[:preferred_currency] == 'usd') %>
                        <span>$<%= @tier2_level1.price / 100 %></span><br/>
                      <% else %>
                        <span>$<%= @tier2_level1.cad_price / 100 %></span><br/>
                      <% end %>
                      courses
                    </div>
                  </div>
                </div>
              <% else %>
                No pricing tiers have been created.
              <% end %>
            <% end %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
