<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to Rails.configuration.application_name, root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item"><%= link_to "Products", products_path, class: "nav-link" %></li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <%= link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
            <%= icon("fas", "city") %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
            <% if company_signed_in? %>
                <%= link_to "Dashboard", companies_homepage_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
              <%= link_to "Settings", edit_company_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Login", new_company_session_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>

          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link" do %>
              <span><i class="fa fa-flag-o" aria-hidden="true"></i></span>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <%= link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
              <%= icon("fas", "user-circle") %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
              <% if user_signed_in? %>
                <% if current_user.superadmin? %>
                  <%= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
                <% end %>
                <%#= link_to "Profile", profile_path, class: "dropdown-item" %>
                <%= link_to "Profile", current_user, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
              <% end %>
            </div>
            <% if !(user_signed_in? || company_signed_in?) %>
              <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item"><%= link_to icon("fas", "shopping-cart"), cart_path, class: "nav-link" %></li>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</nav>
