<div class="solo-training-type-header-section" >
  <%= image_tag "man-training.jpg", alt: "Man doing Online Training" %>

  <div id="solo-training-type-right">
    <p id="solo-training-type-text">
      <strong>Includes:</strong> <br/>Our Online Training gives you access to a special website, where our instructors will walk you and/or your employees step-by-step through your topic of choice utilizing the most current safety standards available. Intermittent quizzes reinforce the information presented, progress is tracked, and a digital certificate and wallet card are available upon successful course completion! Hard copies are also available for purchase.
    </p>

    <div id="solo-training-type-list" class="online-course-header">
      <p><strong>Includes:</strong></p>
      <ul>
        <li>Access to our Learning Management System</li>
        <li>Detailed discussion of safety standards</li>
        <li>Intermittent quizzes</li>
        <li>Progress tracking</li>
        <li>Digital certificate and wallet card upon completion</li>
        <ul>
          <li class="add-li">- Hard copies available for purchase</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

<h5 class="h5-margins">Training 25 Or More? Check Out Our <%= link_to "Group Training", all_group_trainings_path %> Option!</h5>