<% if items.present? %>
  <div class="modal-section">
    <h5>
      <span>
        <%= icon("fas", "angle-double-left") %>
      </span>
      <%= @product_group.name %>
      <span>
        <%= icon("fas", "angle-double-right") %>
      </span>
    </h5>
    <h2><%= icon("fas", icon_name ) %> <%= item_header %><br/>
      <span>
        <%= link_to '#', 'data-toggle': "modal", 'data-target': "##{ kebabify(item_header) }" do %>
          <%= icon("fas", "info-circle") %> What's this?
        <% end %>
      </span>
    </h2>

    <% items.each do |item| %>
      <div class="course-card">
        <div class="course-price">
          <h4>$<%= cad_is_set? ? (item.cad_price / 100) : (item.price / 100) %></h4>

          <div><%= session[:preferred_currency].upcase %></div>
        </div>
        <div class="course-info">
          <h4>
            <% if item_type == 'OnlineCourse' && item.non_public? %>
              <span> Video Version</span><br/>
            <% end %>
            <%= item.language.capitalize %> • <%= item.standards.upcase %>
          </h4>
          <% if current_company.present? || current_user.present? %>
            <%= button_to "Add to Cart", order_items_path(orderable_id: item.id, orderable_type: item_type), method: :post, class: "btn btn-primary", "data-turbolinks": false %>

            <% if item_type == 'OnlineCourse' %>
              <% if current_company.present? || (current_user.present? && current_user.admin?) %>
                <% @company = (current_company.present? ? current_company : current_user.companies.last ) %>
                <% @credits = ( cad_is_set? ? @company.cad_credits : @company.credits ) %>
                <% if ( (@credits > 0) || CompanyCourse.where(online_course_id: item.id).where('quantity > 0').any? ) %>
                  <%= button_to "Assign This Course", assign_course_path(course_id: item.id, lookup_class: "OnlineCourse"), method: :post, class: "btn btn-link" %>
                <% end %>
              <% end %>
            <% end %>

            <% if item_type == 'TrainTheTrainer' %>
              <% if current_company.present? || (current_user.present? && current_user.admin?) %>
                <% @company = (current_company.present? ? current_company : current_user.companies.last ) %>
                <% @credits = ( cad_is_set? ? @company.cad_credits : @company.credits ) %>
                <% if ( (@credits > 0) || CompanyCourse.where(train_the_trainer_id: item.id).where('quantity > 0').any? ) %>
                  <%= button_to "Assign This Course", assign_course_path(course_id: item.id, lookup_class: "TrainTheTrainer"), method: :post, class: "btn btn-link" %>
                <% end %>
              <% end %>
            <% end %>

          <% else %>
            <p class="logged-out-purchase-btn">
              <%= link_to "Create an Account", new_user_registration_path %> or <%= link_to "Log In", new_user_session_path %> to purchase.
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
