<div class="btn button-pulse">
  <div class="btn button__wrapper">
    <div class="btn pulsing">
      <%= link_to "Get This Course!", '#', class: "btn btn-success product-group-btn", 'data-toggle': "modal", 'data-target': "#productGroupModal" %>
    </div>
  </div>
</div>

<div class="modal fade" id="productGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose Your Training:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= render 'shared/purchase_button', items: @online_courses, item_type: 'OnlineCourse', item_header: 'Online Courses', icon_name: 'desktop' %>

        <%= render 'shared/purchase_button', items: @kits, item_type: 'Kit', item_header: 'DIY Kits', icon_name: 'briefcase' %>

        <%= render 'shared/purchase_button', items: @train_the_trainers, item_type: 'TrainTheTrainer', item_header: 'Train the Trainer', icon_name: 'chalkboard-teacher' %>

        <%= render 'shared/purchase_button', items: @products, item_type: 'Product', item_header: 'Physical Products', icon_name: 'tshirt' %>

        <%= render 'shared/purchase_button', items: @group_trainings, item_type: 'GroupTraining', item_header: 'Group Training', icon_name: 'users' %>

        <div class="modal-section modal-section-onsite">

          <h5><%= icon("fas", "angle-double-left") %> <%= @product_group.name %> <%= icon("fas", "angle-double-right") %></h5>
          <h2><%= icon("fas", 'map-marker-alt' ) %> Onsite Training</h2>

          <p class="modal-note">
            Want an expert to bring the training to you? Operator Training, Train the Trainer, or both, we've got you covered! Give us a few details and we'll get back to you with a quote.
          </p>

          <%= button_to "Request Quote", onsite_request_path(pg_name: @product_group.name), method: :post, class: "btn btn-primary" %>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
