<div id="reports-page">
  <h1>Reports</h1>

  <p><small>Reports may take some time to generate. Please be patient.</small></p>

  <p>
    <%= link_to employee_list_path, method: :get, class: "nav-link" do %>
      <%= icon("fas", "clipboard-list") %> Employee Name and Email
    <% end %>
  </p>
</div>