<!-- <div class="container-tri">
  <section class="section-blue tri-above white-tri-above">
    <h2>Let's Connect</h2> -->

<div id="social-media-container">
  <div id="social-media-section">
    <!-- Also "https://www.youtube.com/hardhattraining" -->
    <%= link_to "https://www.youtube.com/channel/UCvC2PPW2ePts077UDQlhcGQ/videos" do %>
      <%= icon("fab", "youtube-square", class: "icon-social", id: "youtube-logo") %>
    <% end %>

    <%= link_to "https://www.facebook.com/hardhattraining" do %>
      <%= icon("fab", "facebook-square", class: "icon-social", id: "facebook-logo") %>
    <% end %>

    <%= link_to "https://twitter.com/hardhattraining" do %>
      <%= icon("fab", "twitter-square", class: "icon-social", id: "twitter-logo") %>
    <% end %>

    <%= link_to "https://www.instagram.com/hardhattraining/" do %>
      <%= icon("fab", "instagram", class: "icon-social", id: "instagram-logo") %>
    <% end %>

    <%= link_to "https://www.pinterest.com/hardhattraining/" do %>
      <%= icon("fab", "pinterest-square", class: "icon-social", id: "pinterest-logo") %>
    <% end %>
  </div>
<!--     </div>
  </section>
</div> -->
