<div class="solo-training-type-header-section" >
  <%= image_tag "instructor-with-screen.jpg", alt: "Instructor Training Employees" %>

  <div id="solo-training-type-right">
    <p id="solo-training-type-text">
      <strong>Trainer Certification includes:</strong> <br/>A trainer-specific <%= link_to "online training module", all_online_courses_path %>, documentation, certificate, and wallet card, PLUS everything in our standard <%= link_to "DIY Kits", diy_training_kits_path %>, which can then be used by the trainer to train others.<br/><br/>As an added bonus, our Trainer Certification never expires!
    </p>

    <div id="solo-training-type-list" class="train-the-trainer-header">
      <p><strong>Trainer Certification includes:</strong></p>
      <ul>
        <li>Trainer-specific <%= link_to "online training module", all_online_courses_path %></li>
        <li>Trainer-specific documentation</li>
        <li>Printable trainer certificate and wallet card</li>
        <li>PLUS everything in our standard <%= link_to "DIY Kits", diy_training_kits_path %></li>
        <li>Lifetime Certification!</li>
      </ul>
    </div>
  </div>
</div>
