<section class="section-white no-section-padding training-types-section">

  <h2 id="training-delivery-methods">Training Delivery Methods</h2>

  <div class="training-type">
    <%= image_tag "training-type-icons/online-icon-t-265x200.png", alt: "Online Training Icon", class: "training-type-icon" %>
    <h3>Online</h3>
    <p>
      Our <em>most popular</em> training option. Purchase training for yourself or create a branch to assign employees courses, view their progress and get test score emails. Print wallet cards and certificates upon completion with passing grade.
    </p>

      <%= link_to 'More Info', training_types_path(anchor: 'online'), class: 'btn btn-secondary btn-more-info' %>
  </div>

  <%#= render 'shared/divider_guy' %>

  <div class="training-type">
    <%= image_tag "training-type-icons/group-icon-t-265x200.png", alt: "Group Training Icon", class: "training-type-icon" %>
    <h3>Group</h3>
    <p>
      Want to host our Online training for your group, all at once, on one screen? This is the option for you. Special rates apply for medium-to-large groups.
    </p>

      <%= link_to 'More Info', training_types_path(anchor: 'group'), class: 'btn btn-secondary btn-more-info' %>
  </div>

  <div class="training-type">
    <%= image_tag "training-type-icons/diy-icon-t-265x200.png", alt: "D-I-Y Training Kit Icon", class: "training-type-icon" %>
    <h3>DIY Kit</h3>
    <p>
      Train your operators <em>yourself</em>. Includes everything you need to complete the training then administer and score the exam. *Customizeable and reusable.
    </p>

      <%= link_to 'More Info', training_types_path(anchor: 'kits'), class: 'btn btn-secondary btn-more-info' %>
  </div>

  <div class="training-type">
    <%= image_tag "training-type-icons/train-the-trainer-icon-t-265x200.png", alt: "Train the Trainer Icon", class: "training-type-icon" %>
    <h3>Train the Trainer</h3>
    <p>
      Don't have a certified trainer? This option is for you. Instant access to the online Train the Trainer course with <em>lifetime certification</em>. *DIY Kit included for free.
    </p>

      <%= link_to 'More Info', training_types_path(anchor: 'ttt'), class: 'btn btn-secondary btn-more-info' %>
  </div>

  <div class="training-type">
    <%= image_tag "training-type-icons/onsite-icon-t-265x200.png", alt: "Onsite Training Icon", class: "training-type-icon" %>
    <h3>On-site</h3>
    <p>
      Let us come to you and take care of the training. We offer Train the Trainer and Train the Operator training onsite. With <em>over fifteen years of experience</em> we'll make your onsite training hassle free. *Best for large groups.
    </p>

      <%= link_to 'More Info', training_types_path(anchor: 'onsite'), class: 'btn btn-secondary btn-more-info' %>
  </div>
</section>
