<div class="solo-training-type-header-section" >
  <%= image_tag "training-kit.jpg", alt: "Contents of DIY Training Kits" %>

  <div id="solo-training-type-right">
    <p id="solo-training-type-text">
      <strong>Download includes:</strong> <br/>PowerPoint Presentations, instructor talking points, student manuals, tests with answer keys, practical evaluations, a certificate of completion template, a wallet card template, refresher training forms, standards and regulations, video clips, real world examples of accidents related to your topic, and much more! Add a CD or USB backup copy at checkout!
    </p>

    <div id="solo-training-type-list">
      <p><strong>Download includes:</strong></p>
      <ul>
        <li>PowerPoint Presentations</li>
        <li>Instructor talking points</li>
        <li>Student manuals</li>
        <li>Tests with answer keys</li>
        <li>Practical evaluations</li>
        <li>Certificate of completion template</li>
        <li>Wallet card template</li>
        <li>Refresher training forms</li>
        <li>Standards and regulations</li>
        <li>Video clips</li>
        <li>Real world examples of accidents related to your topic</li>
        <li>…and much more!</li>
        <li>Add a CD or USB backup copy at checkout!</li>
      </ul>
    </div>
  </div>
</div>
