<%= content_tag :tr, id: dom_id(credit_pack), class: dom_class(credit_pack) do %>
  <div class="card">
    <% if current_user.present? && current_user.superadmin? %>
      <div class="edit-link">
        <%= link_to icon("fas", "pencil-alt"), edit_credit_pack_path(credit_pack) %>
      </div>
    <% end %>
    <div class="card-body coin-and-price">
      <div class="card-left">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x stack-middle"></i>
          <i class="fas fa-circle fa-stack-3x coin-shadow stack-bottom"></i>
          <i class="fas fa-dollar-sign fa-stack-1x fa-inverse stack-top"></i>
        </span>
      </div>
      <div class="card-right">
        <h3 class="card-name">
          <%= credit_pack.name %>
        </h3>
      </div>
    </div>

    <div class="progress-container">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= ((credit_pack.savings.to_f / credit_pack.credits.to_f) * 100).round %>%" aria-valuenow="<%= ((credit_pack.savings.to_f / credit_pack.credits.to_f) * 100).round %>" aria-valuemin="0" aria-valuemax="100">
        </div>
        <span>Save $<%= credit_pack.savings / 100 %>!</span>
      </div>
    </div>

    <div class="card-body credit-pack-info">
      <div class="card-left">
        <h4>$<%=credit_pack.credits / 100 %> in credits</h4>
        <p>for only</p>
        <h2>$<%=credit_pack.price / 100 %>!</h2>
      </div>

      <div class="card-right">
        <p>
          <span>$<% if tier == 'one' %>
              <%= credit_pack.price / (credit_pack.credits / 7900) / 100 %>
            <% else %>
              <%= credit_pack.price / (credit_pack.credits / 2900) / 100 %>
            <% end %> / Course</span>
        </p>

        <hr>

        <% if user_signed_in? %>
          <%= button_to "Add to Cart", order_items_path(orderable_id: credit_pack.id, orderable_type: 'CreditPack'), method: :post, class: "btn" %>
        <% else %>
          <p class="company-login-required">
            <%= link_to "Create a Company account", new_company_registration_path %> or <%= link_to "Log in", new_company_session_path %> to purchase.
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
