<!-- ONLINE COURSES -->
<div class="modal fade" id="online-courses" tabindex="-1" role="dialog" aria-labelledby="onlineCourses" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="onlineCourses">What's This?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          <strong>Our most popular training option!</strong>
        </p>

        <p>
          Our Online Training Courses give you access to a special website, where our instructors will walk you and/or your employees step-by-step through your topic of choice utilizing the most current safety standards available.
        </p>
        <p>
          Intermittent quizzes reinforce the information presented, progress is tracked, and a digital certificate and wallet card are available upon successful course completion! Hard copies are also available for purchase.
        </p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- DIY KITS -->
<div class="modal fade" id="diy-kits" tabindex="-1" role="dialog" aria-labelledby="diyKits" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diyKits">What's This?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          <strong>Train Your Employees Yourself!</strong>
        </p>

        <p>
          <strong>Download includes:</strong><br/>
          PowerPoint Presentations, instructor talking points, student manuals, tests with answer keys, practical evaluations, a certificate of completion template, a wallet card template, refresher training forms, standards and regulations, video clips, real world examples of accidents related to your topic, and much more! Add a CD or USB backup copy at checkout!
        </p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- GROUP TRAINING -->
<div class="modal fade" id="group-training" tabindex="-1" role="dialog" aria-labelledby="groupTraining" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupTraining">What's This?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          <strong>One Screen. Many Eyes.</strong>
        </p>

        <p>
          Want to take an Online Course as a group, using one screen (monitor/projector/etc)? Our Group Training is the most affordable option for groups of 25 or more. Simply select this option, and specify the number of attendees at checkout. Bulk discounts are applied automatically. Features detailed discussion of safety standards, intermittent quizzes, and progress tracking. Certificates and wallet cards available upon completion.
        </p>

        <p>
          Discounts based on regular Online Course price:
        </p>
        <div id="modal-note-list">
          <%= render 'shared/bulk_pricing' %>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ONSITE TRAINING -->
<div class="modal fade" id="onsite-training" tabindex="-1" role="dialog" aria-labelledby="onsiteTraining" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="onsiteTraining">What's This?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          Want an expert to bring the training to you? Operator Training, Train the Trainer, or both, we've got you covered! Give us a few details and we'll get back to you with a quote.
        </p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- TRAIN THE TRAINER -->
<div class="modal fade" id="train-the-trainer" tabindex="-1" role="dialog" aria-labelledby="trainTheTrainer" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trainTheTrainer">What's This?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          <strong>Get Lifetime Certification And Train Your Own Employes!</strong>
        </p>

        <p>
          <strong>Trainer Certification includes:</strong><br/>
          Trainer-specific online training module, documentation, certificate, and wallet card, PLUS one of our DIY Kits included FREE ($400 value!), which can be used to train others.
        </p>

        <p>
          <strong>Our DIY Kits include:</strong><br/>
          PowerPoint Presentations, instructor talking points, student manuals, tests with answer keys, practical evaluations, a certificate of completion template, a wallet card template, refresher training forms, standards and regulations, video clips, real world examples of accidents related to your topic, and much more!
        </p>

        <p>
          <em>Trainer Certification never expires!</em>
        </p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
