<div id="about-page" class="content-container">
  <div>
    <h1>About Us</h1>

    <h3 class="text-left">History:</h3>
    <p>
      Hard Hat Training has been providing heavy equipment operator training services across the U.S. and Canada for nearly two decades. Our story started over 15 years ago in the Seattle area where we specialized in the inspection, testing, and certification of cranes. To this day, those same inspectors travel all over the country and even outside the country inspecting cranes and training heavy equipment operators. Our Hard Hat Training Series training tools have also become commonplace across the globe. Most recently, Africa, Abu Dhabi, and the United Arab Emirates have become markets filled with companies using our online training classes and customizable training kits to train their heavy equipment operators.
    </p>
  </div>

  <div>
    <h3 class="text-left">Mission Statement:</h3>
    <p>
      Bottom line, our goal is to make safety training easy and affordable, and to invite companies everywhere to stop doing things the hard way and, instead, start doing them the Hard Hat Training way!
    </p>
  </div>

  <div>
    <h3 class="text-left">Purpose:</h3>
    <p>
      Our products are designed to help you save money while professionally training your own employees and customers. We help you stay compliant by doing the research and design work so you don’t have to.
    </p>

    <p>
      The days of 15-minute operator certification via video or online course are over. It is simply not sufficient, and if there is ever an accident, you will need to be able to prove comprehensive training. So in a day and age when safety training is getting shorter, we keep adding to ours, making it more comprehensive in order to protect your company and your employees.
    </p>

    <p>
      Since those early days inspecting cranes and offering on-site crane training classes, we’ve become a hub for low cost, high quality OSHA-compliant training tools for all types of heavy equipment operations including but not limited to: aerial boom lifts, scissor lifts, bucket trucks, forklifts, telescopic handlers (zoom booms), skid steers, front-end loaders, excavators, mobile cranes, overhead cranes, rigger signalman, trench safety, scaffolding and more. We are also constantly updating, translating and adding to our catalog. Coming Soon: Fall Protection, Confined Space, Lockout Tagout, Hazard Communications, and more.
    </p>

    <p>
      Our OSHA compliant training kits and OSHA online training courses are trusted by companies around the world in virtually every industry.
    </p>

    <p>
      And for our customers in Canada, we’ve worked non-stop with leading safety companies across your country in order to release Canada-compliant versions of these same training kits (each training kit comes with additional federal and provincial training and safety helps) and online training courses for Canadian operators.  In fact, our online classes are our biggest sellers in Canada–used in virtually every province by companies such as Leavitt Machinery, SafeTech Training, City of Toronto, and others.
    </p>
  </div>

  <%= render 'shared/meet_our_team' %>

  <div>
    <h3 class="text-left">Contact Us:</h3>
    <p>
      If you are interested in more information or wish to express interest in our services, products, or distribution opportunities please <%= link_to 'contact us', contact_us_path  %> today.
    </p>
  </div>

  <div>
    <h3 class="text-left">Acknowledgments</h3>

    <p>
      We would like to thank the following for the use of their photos in our products:
    </p>

    <ul>
      <li><%= link_to 'AAAnimal Control', "http://www.aaanimalcontrol.com/", target: "_blank" %> <%= icon("fas", "external-link-alt") %></li>
      <li><%= link_to 'Grizzly & Wolf Discovery Center', "https://www.grizzlydiscoveryctr.org/", target: "_blank" %> <%= icon("fas", "external-link-alt") %></li>
      <li><%= link_to 'Cap Vectors by Vecteezy', "https://www.vecteezy.com/free-vector/cap/", target: "_blank" %> <%= icon("fas", "external-link-alt") %></li>
    </ul>

    <p>
      Some Font Awesome icons used, without modification, under the <a href="https://fontawesome.com"> Creative Commons Attribution 4.0 International license</a>.
    </p>
  </div>
</div>
