<div id="all-online-courses-page">
  <h1>Canadian Standards<br/>Online Courses</h1>

  <h3 class="h3-margins">
    Our Most Popular Training Option!
  </h3>

  <h5>English Language<br/>
  Meets CSA/ANSI & Provincial Safety Standards</h5>

  <%= render 'shared/online_course_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
