<div id="diy-kits-page">
  <h1>DIY Kits<br/>Canadian Standards</h1>

  <h5>English Language<br/>
  Meets CSA/ANSI & Provincial Safety Standards</h5>

  <%= render 'shared/training_kit_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
