<div id="all-online-courses-page">
  <h1>Canadian Standards<br/>Group Trainings</h1>

  <h3 class="h3-margins">
    One Screen. Many Eyes.
  </h3>

  <h5>English Language<br/>
  Meets CSA/ANSI & Provincial Safety Standards</h5>

  <%= render 'shared/group_training_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
