<div id="all-online-courses-page">
  <h1>Canadian Standards<br/>Train The Trainer Courses</h1>

  <h3 class="h3-margins">
    Get Certified and Train Your Own Employees
  </h3>

  <h5>Lifetime Certification<br/>
  DIY Kit Included FREE ($400 value!)</h5>

  <h5>English Language<br/>
  Meets CSA/ANSI & Provincial Safety Standards</h5>

  <%= render 'shared/train_the_trainer_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
