<div id="contact-page">
  <h1>Contact Us</h1>

  <div id="contact-cards-container">
    <div class="card" style="width: 18rem;">
      <%= image_tag 'contact/laptop.jpg', class: "card-img-top", alt: "A Mailbox" %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= mail_to "office@hardhattraining.com" %></li>
      </ul>
    </div>

    <div class="card" style="width: 18rem;">
      <%= image_tag 'contact/rotary-phone.jpg', class: "card-img-top", alt: "A Mailbox" %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to '1-360-930-9247', "tel:13609309247" %></li>
        <li class="list-group-item"><%= link_to '1-208-252-5331', "tel:12082525331" %></li>
      </ul>
    </div>

    <div class="card">
      <%= image_tag 'contact/mailbox.jpg', class: "card-img-top", alt: "A Mailbox" %>
      <div class="card-body">
        <p class="card-text">
          Safety Provisions, Inc.<br/>
          218 Dividend Dr., Suite 4<br/>
          Rexburg, ID 83440
        </p>
      </div>
    </div>
  </div>
</div>
