<div id="diy-kits-page">
  <h1>All DIY Kits</h1>

  <h3 class="h3-margins">
    Train your employees yourself!
  </h3>

  <%= render 'shared/training_kit_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
