<div id="faq" class="text-left">
  <h1>Frequently Asked Questions</h1>

    <p><strong>Getting Started</strong></p>
      <ul>
        <li>
          <%= link_to "What kinds of accounts are there, and who are they for?", documentation_path(anchor: "what-kinds-of-accounts") %>
        </li>
        <li>
          <%= link_to "Who are User Accounts for?", documentation_path(anchor: "who-are-user-accounts-for") %>
        </li>
        <li>
          <%= link_to "Who are Company Accounts for?", documentation_path(anchor: "who-are-company-accounts-for") %>
        </li>
        <li>
          <%= link_to "What are the benefits of a Company Account?", documentation_path(anchor: "what-are-the-benefits-of-a-company-accounts") %>
        </li>
        <li>
          <%= link_to "How do I get started with a Company Account?", documentation_path(anchor: "how-do-i-get-started-with-a-company-accounts") %>
        </li>
        <li>
          <%= link_to "What are Branches?", documentation_path(anchor: "what-are-branches") %>
        </li>
        <li>
          <%= link_to "What are credits, and how do they work?", documentation_path(anchor: "what-are-credits") %>
        </li>
        <li>
          <%= link_to "Do students get a certificate or wallet card upon completion?", documentation_path(anchor: "do-students-get-a-certificate") %>
        </li>
        <li>
          <%= link_to "How long is your certification good for?", documentation_path(anchor: "how-long-is-your-certification-good-for") %>
        </li>
        <li>
          <%= link_to "What is included with each DIY Kit?", documentation_path(anchor: "what-is-included-with-each-diy-kit") %>
        </li>
        <li>
          <%= link_to "How do I access an Online Course?", documentation_path(anchor: "how-do-i-access-an-online-course") %>
        </li>
        <li>
          <%= link_to "How long are your Online Courses?", documentation_path(anchor: "how-long-are-your-courses") %>
        </li>
      </ul>

    <p><strong>Common Questions</strong></p>
      <ul>
        <li>
          <%= link_to "What types of Onsite Training do you provide?", documentation_path(anchor: "what-types-of-onsite-training-do-you-offer") %>
        </li>
        <li>
          <%= link_to "Who is eligible for payment terms?", documentation_path(anchor: "who-is-eligible-for-payment-terms") %>
        </li>
        <li>
          <%= link_to "What are your policies on refunds and returns?", documentation_path(anchor: "refunds-and-returns") %>

        </li>
        <li><%= link_to "What currencies can I make purchases in?", documentation_path(anchor: "what-currencies-can-i-make-purchases-in") %>
        </li>
        <li>
          <%= link_to "What options are available for Train The Trainer training?", documentation_path(anchor: "what-options-are-available-for-ttt") %>
        </li>
        <li>
          <%= link_to "What languages are your courses offered in?", documentation_path(anchor: "what-languages-are-your-courses-offered-in") %>
        </li>
        <li>
          <%= link_to "What are my options when purchasing a training course?", documentation_path(anchor: "what-are-my-options-when-purchasing-a-training-course") %>
        </li>
        <li>
          <%= link_to "What safety standards are your courses based on?", documentation_path(anchor: "what-standards-are-your-training-courses-based-on") %>
        </li>
        <li>
          <%= link_to "What are the different ways I can take one of your courses?", documentation_path(anchor: "what-are-the-different-ways-i-can-take-your-courses") %>
        </li>
    </ul>
</div>
