<div id="pendant">
  <hr id="blue-header-hr">
  <div class="pendant-image">
    <div class="pendant-text text-center">
      <span class="safety-training">Safety Training</span><br/>
      <span class="solutions">Solutions</span>
      <p class="tagline">
        Stop training the hard way.
        Try the Hard Hat Training way instead!
      </p>
    </div>
  </div>
  <div class="container-tri">
    <hr id="orange-header-hr" class="">
  </div>
</div>

<div class="container-tri">
<section class="section-white tri-above orange-tri-above">
  <h1>Who are we?</h1>
  <p class="h1-p">Your hub for OSHA-compliant, cost-effective safety training and certifications.</p>
  <%= link_to "More About Us", about_path, class: "orange-button" %>
</section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above white-tri-above">
    <h2>Choose the way you train</h2>
    <h2>
      <span class="fa-stack">
        <i class="far fa-square fa-stack-2x"></i>
        <i class="fas fa-times fa-stack-1x"></i>
      </span>
      <span class="fa-stack">
        <i class="far fa-square fa-stack-2x"></i>
        <i class="fas fa-times fa-stack-1x"></i>
      </span>
      <span class="fa-stack">
        <i class="far fa-square fa-stack-2x"></i>
        <i class="fas fa-check fa-stack-1x"></i>
      </span>
    </h2>
    <div>
      <p class="text-justify hero-text">
        Want to train online? Check. Need to train a group? Would you prefer Onsite or Online? We've got both. Want to take a course in Spanish? You can do that. We even have a few in Tagalog! To top it off, all of our General Industry courses are OSHA-compliant, and our Canadian friends can get CSA/ANSI standards, too. With nearly two decades in the industry, it's almost like we know what we're doing.
      </p>
    </div>
  </section>
</div>

<div class="container-tri">
  <%= render 'shared/training_types' %>
</div>

<div class="container-tri">
  <section class="section-blue tri-above white-tri-above" id="how-training-works">
    <h2>How does our training work?</h2>
    <p>Watch this two minute video to find out</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-yh8itnB41k?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above no-section-padding" id="why-train">
    <div class="two-col-left tri-above blue-tri-above">
      <%= image_tag "homepage-images/why-train-t-615x463.jpg", alt: "Why Train Image", id: "blog-img", class: "img-left-col" %>
    </div>
    <div class="two-col-right">
      <div class="two-col-right-text">
        <h2>Why Train?</h2>
        <p class="text-justify hero-text">
          The days of 15-minute operator certification via video or online course are over. It is simply not sufficient. If there is ever an accident, you will need to be able to prove comprehensive training. <em>Protect your company and your employees!</em>
        </p>
      </div>
    </div>
  </section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above half-tri-above white-tri-above">
    <h2>Trusted by companies <br/>around the world</h2>
    <p class="hero-text">In virtually every industry</p>
  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above" id="customer-logos-container">
    <%= image_tag "customers/nasa.png", alt: "nasa-logo", class: "customer-logo" %>
    <%= image_tag "customers/crane-institute-of-america.png", alt: "Crane Institute of America Logo", class: "customer-logo" %>
    <%= image_tag "customers/us-army-corps-of-engineers.png", alt: "US Army Corps of Engineers Logo", class: "customer-logo" %>
    <%= image_tag "customers/cat.png", alt: "CAT Logo", class: "customer-logo" %>
    <%= image_tag "customers/ge.png", alt: "GE Logo", class: "customer-logo" %>
  </section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above white-tri-above" id="jump-to-courses">

    <h2>All The Training Topics You Need</h2>
    <p class="text-justify hero-text">
      With hundreds of courses, covering a multitude of topics, in multiple languages, compliant with OSHA and Canadian standards where relevant, you are sure to find the one you need!
    </p>
  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above">
    <h2>Company Accounts Available!</h2>
    <%= image_tag "training-topic-icons/credits.png", alt: "Bulk Credits Icon", class: "topic-icon" %>

    <p class="text-justify hero-text">
      Save <em>time</em> and <em>money</em> on our Online Courses! Easily manage your employees' training, purchase discounted credits in bulk, assign courses <em>en masse</em>, download certificates, and more!
    </p>

    <p>
      <%= link_to 'Learn More', documentation_path(anchor: 'company-accounts'), class: 'btn btn-outline-primary' %>
    </p>

  </section>
</div>

<%# TODO THIS WILL BE FOR BLOG POSTS
<div class="container-tri">
  <section class="section-blue tri-above white-tri-above" id="blog-post-section">
    <h2>Most Recent Blog Post</h2>
  </section>
</div>

<div class="container-tri">
<section class="section-white tri-above blue-tri-above no-section-padding one-to-two-col">
  <div class="two-col-left">
%>
    <%#= image_tag "homepage-images/why-train-t-615x463.jpg", alt: "Why Train Image", id: "blog-img", class: "img-left-col" %>
<%# TODO THIS WILL BE FOR BLOG POSTS (Continued…)
  </div>
  <div class="two-col-right">
    <div class="two-col-right-text">
      <p class="text-justify">
        <span id="recent-blog-post-title" class="text-center">Trench Safety: 5 Common Hazards</span><br/>
        <span id="recent-blog-post-text">
          According to OSHA, trenching is a top job site hazard, which causes an average of 54 fatalities each year. One such fatality… <span> [ %><%#= link_to 'more', '#' %> <%#]</span>
        </span>
      </p>
    </div>
  </div>
</section>
</div>
%>
<%#= render 'shared/social_media_links' %>
