<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Down for Maintenance</title>

    <style type="text/css">

      *{
        font-family: Arial, Helvetica, sans-serif;
      }

      body{
        margin: 0;
        background-color: #eaeaea;
      }

      #page{
        position: relative;
        max-width: 550px;
        margin: 50px auto;
        padding: 75px 0;
        text-align: center;
        border: solid 3px #FD8B04;
        background-color: #fff;
      }

      header, #body{
        width: 400px;
        margin: 0 auto;
      }

      h1{
        margin: 40px 0;
        color: #CC3601;
        font-size: 26pt;
        border-bottom: solid 4px #666;
      }

      p {
        margin: 10px 0;
        text-align: left;
      }

    </style>

  </head>
  <body>

    <section id="page">

      <header>
        <img src="https://cdn1.hardhattraining.com/wp-content/uploads/2019-10-04-tinified.png" alt="Hard Hat Training Series Logo">
      </header>

      <section id="body">
        <div>
          <h1>Our apologies…</h1>
          <p>Hardhattrainingseries.com will be down until further notice.<p>

          <p>We experimented with some things that didn't work out as well as we'd hoped, and we need to go back to the drawing board.</p>

            <p>But the good news is…</p>

            <p><strong>The Hard Hat Training Series</strong> is still available via our original website, <strong><a href="https://hardhattraining.com">hardhattraining.com</a></strong>!</p>

            <p>If you have already purchased content through this site, our <a href="https://www.hardhattraining.com/about-us/contact-us/">awesome support staff</a> will be happy to provide you with your login information for our Learning Management System, and anything else you need.</p>

            <p>We'll get this site back up when we've ironed out the kinks.</p>

            <p>Thanks for your support, and remember:</p>

            <p><em>Don't do things the hard way, do it the Hard Hat Training way, instead!</em></p>
        </div>
      </section>

    </section>

  </body>
</html>
