<div class="row" id="onsite-requests">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Onsite Training Request</h1>

    <%= form_with(model: @contact, url: send_contact_email_path, local: true) do |f| %>
      <div class="form-group">
        <%= f.text_field  :name, autofocus: true, required: true, class: "form-control", placeholder: "Name" %>
      </div>

      <div class="form-group">
        <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.text_field :phone, required: true, class: "form-control", placeholder: "Phone Number (10 digits)" %>
      </div>

      <div class="form-group">
        <%= f.text_field :company, required: true, class: "form-control", placeholder: "Company Name" %>
      </div>

      <div class="form-group">
        <%= f.text_area :equipment_type, rows: 2, cols: 40, required: true, class: "form-control", placeholder: "What type of equipment do you need training on?", value: @interest %>
      </div>

      <div class="form-group", id='onsite-training-type'>
        <%#= f.label "What type of training do you need?" %>
        <%= f.select(:training_type, options_for_select([["Who will we be training?", ''], ["Operators", "operator"], ["Trainers", "trainer"], ["Both", "both"]])) %>
      </div>

      <div class="form-group">
        <%= f.number_field :number_of_operators, required: true, class: "form-control", placeholder: "Number of Operator trainees" %>
      </div>

      <div class="form-group">
        <%= f.number_field :number_of_trainers, required: true, class: "form-control", placeholder: "Number of Trainer trainees" %>
      </div>

      <div class="form-group">
        <%= f.text_field :location, required: true, class: "form-control", placeholder: "Location (City/State)" %>
      </div>

      <div class="form-group">
        <%= f.text_area :note, rows: 8, cols: 40, class: "form-control", placeholder: "Anything else we need to know? Desired dates? (optional)" %>
      </div>

      <div class= "hidden">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Submit Request', class: 'btn btn-primary btn-block btn-lg' %>
      </div>

    <% end %>

  </div>
</div>
