<div id="all-online-courses-page">
  <h1>OSHA-Compliant<br/>Online Courses</h1>

  <h3 class="h3-margins">
    Our Most Popular Training Option!
  </h3>

  <%= render 'shared/online_course_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
