<div id="privacy-page">
  <h1>Privacy & Security Policy</h1>
  <p class="lead">Revised 10/08/2019</p>

  <p>
    Protecting your privacy is important to us. This Privacy Policy explains how this Web Site collects, uses, and discloses the personal information you may provide while using the Web Site and the content, information and services provided through the Web Site (collectively the “Web Site”).
  </p>

  <h3>Your Consent</h3>
  <p>
    By using the Web Site, you signify your consent to the collection, use, and disclosure of your personal information in accordance with this Policy.
  </p>

  <h3>Information Automatically Collected</h3>

  <p>
    <span>Non-Identifiable Information</span> – For security and analytical purposes, the Web Site automatically collects certain non-identifiable information regarding Web Site users, such as the Internet Protocol (IP) address of your computer, the IP address of your Internet Service Provider, the date and time you access the Web Site, the Internet address of the Web site from which you linked directly to the Web Site, the operating system you are using, the sections of the Web Site you visit, the Web Site pages accessed and information viewed, and the materials you post to or download from the Web Site. Your non-identifiable information may be disclosed to others and permanently archived for future use.
  </p>

  <p>
    <span>Cookies</span> – The Web Site uses "cookies" to enhance the convenience and use of the Web Site. For example, the information provided through cookies is used to recognize you as a previous user of the Web Site, to track your activity at the Web Site in order to respond to your needs, to offer personalized Web page content and information for your use, to automatically populate online forms with your personal information for your convenience, and to otherwise facilitate your Web Site experience.
  </p>

  <p>
    You may choose to decline cookies if your browser permits, but doing so may affect your use of the Web Site and your ability to access or use certain Web Site features.
  </p>

  <h3>Personal Information You Specifically Provide</h3>

  <p>
    <span>Your Personal Information</span> – During your use of the Web Site, you may be asked to voluntarily provide personal information (such as your name, email address, postal address, telephone number) and information regarding any customer or other person you represent, for purposes such as facilitating communications with you, applying for access to certain special features or areas of the Web Site, carrying out transactions, or facilitating your use of the Web Site. If you choose not to provide certain requested personal information, you will not be able to use the Web Site.
  </p>

  <p>
    <span>Use of Your Personal Information</span> – This Web Site may use your personal information to contact and correspond with you, to respond to your communications, to process transactions and charge for services, to facilitate and enhance your use of the Web Site, to provide you with information and services requested through the Web Site, and as otherwise permitted by law. This Web Site will develop a confidential user profile for you, which will be used to facilitate your use of the Web Site. Additionally, this Web Site may keep a record of communications with you.
  </p>

  <p>
    <span>Emails from this Web Site</span> – If you contact this Web Site or otherwise indicate that you would like to receive email from this Web Site, then this Web Site may send to you, from time to time, email or other communications containing information about this Web Site and other matters (including third party products or services) it believes will interest you. At any time you may ask this Web Site to stop sending you email and other information.
  </p>

  <p>
    <span>Tracking Information</span> – this Web Site may use non-personal information to create aggregate tracking information reports regarding Web Site user demographics and the use of the Web Site, and then provide those reports to others. None of the tracking information in the reports can be connected to the identities or other personal information of individual users. This Web Site also may link tracking information with Web Site users' personal information. Once such a link is made, all of the linked information is treated as personal information and will be used and disclosed only in accordance with this Policy.
  </p>

  <p>
    <span>Disclosure of Your Personal Information</span> – this Web Site may disclose your personal information in the following circumstances:
  </p>

  <p>
    <em>(i) Disclosure to Authorizing Persons</em> – If your access to certain areas of the Web Site has been authorized by a customer or other person, this Web Site may provide your personal information to that authorizing person. This Web Site has no control over authorizing persons' use of your personal information, and that use is not necessarily subject to this Policy. If you do not wish your personal information to be disclosed to the person who has authorized your use of the Web Site, you may not use the Web Site.
  </p>

  <p>
    <em>(ii) Disclosure to Affiliates</em> – this Web Site may provide your personal information to its affiliated businesses for use in connection with matters relating to your use of the Web Site. This Web Site has no control over its affiliated businesses' use of your personal information, and that use is not necessarily subject to this Policy. If you do not wish your personal information to be disclosed to certain or any affiliated businesses, you may not use the Web Site.
  </p>

  <p>
    <em>(iii) Disclosure in Business Transfers</em> – This Web Site may, in the future, be involved in the sale or transfer of some or all of its business. As part of that sale or transfer, this Web Site may disclose your personal information to the acquiring organization, but will require the acquiring organization to agree to protect the privacy of your personal information in a manner that is consistent with this Policy. If you do not wish for this Web Site to disclose your personal information as part of the sale or transfer of some or all of its business, you may not use the Web Site.
  </p>

  <p>
    <em>(v) Law Enforcement and Legal Disclosure</em> – this Web Site may disclose your personal information to a government institution that has asserted its lawful authority to obtain the information or where this Web Site has reasonable grounds to believe the information could be useful in the investigation of unlawful activity, or to comply with a subpoena or warrant or an order made by a court, person or body with jurisdiction to compel the production of information, or to comply with court rules regarding the production of records and information, or to their legal counsel.
  </p>

  <p>
    <span>Securing Your Information</span> – To help protect the confidentiality of your personal information, this Web Site employs security safeguards appropriate to the sensitivity of the information. Nevertheless, due to the nature of Internet technologies, security and privacy risks cannot be eliminated and this Web Site cannot guarantee that your personal information will not be disclosed in ways not otherwise described in this Policy.
  </p>

  <p>
    <span>Accessing Your Personal Information</span> – You may request access to your personal information and information about this Web Site's collection, use and disclosure of that information by contacting this Web Site. Subject to certain exceptions prescribed by law, you will be given reasonable access to your personal information, and will be entitled to challenge the accuracy and completeness of the information and to have it amended as appropriate. You can help this Web Site maintain the accuracy of your information by notifying this Web Site of any changes to your personal information, or by updating it yourself via the web interface provided in your account.
  </p>

  <h3>Other Matters</h3>

  <p>
    <span>Former Users</span> – If you stop using the Web Site or your permission to use the Web Site is terminated, this Web Site may continue to use and disclose your personal information in accordance with this Policy as amended from time to time.
  </p>

  <p>
    <span>Other Web Sites</span> – The Web Site may contain links to other Web sites or Internet resources. When you click on one of those links you are contacting another Web site or Internet resource that may collect information about you voluntarily or through cookies or other technologies. This Web Site has no responsibility, liability for, or control over those other Web sites or Internet resources or their collection, use and disclosure of your personal information. You should review the privacy policies of those other Web sites and Internet resources to understand how they collect and use information.
  </p>

  <p>
    <span>Privacy Policy Changes</span> – This Policy may be changed from time to time in this Web Site's sole discretion and without any prior notice or liability to you or any other person. The collection, use and disclosure of your personal information by this Web Site will be governed by the version of this Policy in effect at that time. New versions of this Policy will be posted here. Your continued use of the Web Site subsequent to any changes to this Policy will signify that you consent to the collection, use and disclosure of your personal information in accordance with the changed Policy. Accordingly, when you use the Web Site you should check the date of this Policy and review any changes since the last version. You should also bookmark this page and periodically review this Policy to ensure that you are familiar with the most current version.
  </p>

  <p>
    <span>Contests and Promotions</span> – If contests or promotions are made available through the Web Site, the applicable contest or promotion rules may include rules regarding the collection, use and disclosure of personal information. To the extent that those specific rules conflict with this Policy, the contest or promotion rules will govern regarding personal information collected regarding the particular contest or promotion.
  </p>

  <p>
    <span>Your Comments</span> – If you have any comments or questions about this Policy or your personal information, please <%= link_to "contact us", contact_us_path %>.
  </p>
</div>
