<h1 class="h1-margins">Search Results</h1>

<% if @exact_match.blank? %>
  <p>No exact matches.</p>
<% else %>

  <h3>Exact Match</h3>
  <div class="search-product-groups">
    <% @exact_match.each do |p| %>
      <%= link_to p do %>
        <div class="card" style="width: 18rem;">
          <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
          <%= image_tag p.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title"><%= p.name %></h3>
            <% if p.alt_names.any? %>
              <p><em>
                a.k.a. <%= p.alt_names.pluck(:name).sort.join(', ') %>
              </em></p>
            <% end %>
            <p class="text-center"><small>Available in:</small></p>
            <ul>
              <li><%= flag_helper('usa', p) %></li>
              <li><%= flag_helper('canada', p) %></li>
              <li><%= flag_helper('spanish', p) %></li>
              <li><%= flag_helper('tagalog', p) %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @results.blank? %>
  <h3>Here are some other things you might like:</h3>
  <div class="search-product-groups">

    <% unless @button_group.nil? %>
      <%= link_to button_groups_path do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @button_group.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Buttons</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @card_groups.nil? %>
      <% @card_groups.each do |card_group| %>
        <%= link_to card_group do %>
          <div class="card" style="width: 18rem;">
            <%= image_tag card_group.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
            <div class="card-body">
              <h3 class="card-title search-card-title"><%= card_group.name %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% unless @certificate.nil? %>
      <%= link_to @certificate do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @certificate.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Certificate of Completion</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @hat.nil? %>
      <%= link_to hats_path do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @hat.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Hats</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @keychain_group.nil? %>
      <%= link_to @keychain_group do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @keychain_group.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">CPR Keychains</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @lanyard_group.nil? %>
      <%= link_to @lanyard_group do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @lanyard_group.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Lanyards</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @machine_tag_group.nil? %>
      <%= link_to @machine_tag_group do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @machine_tag_group.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Pendant Warning Tags</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @poster_group.nil? %>
      <%= link_to poster_groups_path do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @poster_group.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Posters</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @shirt.nil? %>
      <%= link_to shirts_path do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @shirt.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Shirts</h3>
          </div>
        </div>
      <% end %>
    <% end %>

    <% unless @sticker.nil? %>
      <%= link_to stickers_path do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag @sticker.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title">Stickers</h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<% else %>

  <h3>Other Results</h3>
  <div class="search-product-groups">
    <% @results.each do |p| %>
      <%= link_to p do %>
        <div class="card" style="width: 18rem;">
          <%= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title"><%= p.name %></h3>
            <% if p.alt_names.any? %>
              <p><em>
                a.k.a. <%= p.alt_names.pluck(:name).join(', ') %>
              </em></p>
            <% end %>
            <p class="text-center"><small>Available in:</small></p>
            <ul>
              <li><%= flag_helper('usa', p) %></li>
              <li><%= flag_helper('canada', p) %></li>
              <li><%= flag_helper('spanish', p) %></li>
              <li><%= flag_helper('tagalog', p) %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
