<div id="diy-kits-page">
  <h1>DIY Kits<br/>Spanish Language</h1>

  <h5>OSHA-Compliant<br/>
  English Version Included</h5>

  <%= render 'shared/training_kit_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
