<div id="all-online-courses-page">
  <h1>Spanish Language<br/>Train The Trainer Courses</h1>

  <h3 class="h3-margins">
    Get Certified and Train Your Own Employees
  </h3>

  <h5>Lifetime Certification<br/>
  DIY Kit Included FREE ($400 value!)</h5>

  <h5>OSHA-Compliant<br/>
  English Version Included</h5>

  <%= render 'shared/train_the_trainer_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
