<div id="all-online-courses-page">
  <h1>Tagalog Language<br/>Group Trainings</h1>

  <h3 class="h3-margins">
    One Screen. Many Eyes.
  </h3>

  <h5>OSHA-Compliant</h5>

  <%= render 'shared/group_training_header' %>

  <%= render 'shared/diy_kits_page' %>
</div>
