<div id="terms-page">
  <h1>Terms of Use</h1>
  <p class="lead">Revised 10/08/2019</p>

  <p>
    The following terms of use apply to the use of this web site ("Web Site"), including without limitation all site-related services. By using this Web Site, you agree to be bound by these terms of use.
  </p>

  <h3>Trademarks</h3>

  <p>
    The trademarks, logos, and service marks displayed on this Web Site (collectively the "Trademarks") are the registered and unregistered trademarks of us, our licensors and suppliers, and others. You may not use the Trademarks, including without limitation in connection with any product or service, in any manner without our express written permission. Nothing contained on this Web Site should be construed as granting, by implication, or otherwise, any license or right to use any Trademark.
  </p>

  <h3>Returns, Sales</h3>

  <p>
    Due to the digital nature of our training kits and online courses, we cannot unfortunately accept returns. All sales are final upon fulfillment.
  </p>

  <h3>Training Kit License Agreement</h3>

  <p>
    Safety Provisions, Inc, home of the Hard Hat Training Series®, requires 1 Kit per training location or "traveling trainer".
  </p>

  <p>
    For example, if you or multiple trainers train all of your crew in one office you only need one kit. Or if one trainer travels to multiple locations, you only need one kit. But if you have multiple branches with their own trainers or if you have multiple trainers that you send out to other branches, additional kits would be required. If additional kits are needed for other branches or trainers, discounts are available, depending on the number of copies needed. The same goes for companies that want to buy one kit and post it online to be broadcast or made available to other branches; additional copies or licenses are required.
  </p>

  <p>
    Kits cannot be passed along from trainer to trainer, site to site, etc.
  </p>

  <p>
    No parts of this Kit may be reproduced or re-purposed in any form, electronically or mechanically.
  </p>

  <p>
    No part of this Kit or the content therein may be posted online or in a network folder for other branches to use unless permission has been granted by Safety Provisions, Inc. If you are interested in customizing a kit to broadcast to multiple locations, a broadcast license is needed.
  </p>

  <p>
    You are allowed to print out the materials for use within the classroom, (i.e. training manual, student workbook, exams, answer keys, etc). At no time, however, are you allowed to print the materials for resale.
  </p>

  <p>
    You do have permission to modify the training program for your specific needs, however the Kit may not be resold or re-purposed under the name of Safety Provisions or any other company name unless permission and licenses are granted by Safety Provisions, Inc. If you wish to resell, a distributor agreement must be entered into by both parties.
  </p>

  <p>
    Your purchase and use of this product signifies your willingness to comply with this agreement in all its facets.
  </p>

  <p>
    As a small business, we truly appreciate your support and honesty in this matter. Contact Safety Provisions, Inc. with questions or for permissions.
  </p>

  <h3>Content</h3>

  <p>
    Despite our best efforts to ensure that the content on this Web Site is secure, accurate, complete and current, there may be instances when content is inaccurate or incomplete. We make no warranty or guarantee that the content on this Web Site is error-free, complete, or current, or that your use of this Web Site will be uninterrupted, error-free or secure, or that this Web Site is free of viruses or other harmful components. Your use of this Web Site and any materials provided through this Web Site are entirely at your own risk. We reserve the right, but shall not be obligated, to correct errors, update, add and/or remove content on this Web Site at any time without notice. You acknowledge and agree that we have no obligation to maintain or provide any updates, upgrades, enhancements, or other modifications to this Web Site.
  </p>

  <h3>Changes</h3>

  <p>
    We reserve the right to change this Web Site notice. In addition, we may revise these terms of use at any time effective immediately upon updating this Web Site. Your continued use of this Web Site following such changes will be deemed acceptance of such changes. Be sure to return to this page periodically to ensure familiarity with the current version of these terms of use.
  </p>

  <h3>Limitation of Liability</h3>

  <p>
    We, the creators and providers of these materials have, to the best of our ability, created training tools in compliance with federal regulations specific to the U.S. and Canada. However, with your purchase you understand that it is your responsibility to know, be familiar with, and heed any and all regulations (federal, state, provincial or otherwise) specific to your workplace, working conditions and/or the equipment on which and around which you work. Your further understand that it is your responsibility to use these tools in accordance with said regulations. Regarding online training courses, you understand that these courses satisfy the classroom requirements for training, and any an all operators should also be observed on the equipment and have their skills and understanding of safety principles tested practically. Safety Provisions, Inc will not held harmless for an misunderstandings or misuse of these tool. Additionally, IN NO EVENT SHALL WE, OUR SUBSIDIARIES OR AFFILIATES, OR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES OR AGENTS BE LIABLE FOR SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, INDIRECT, OR OTHER INDIRECT DAMAGES.
  </p>

  <h3>Code of Conduct</h3>

  <p>
    While using this Web Site, you agree not to:
  </p>

  <ul>
    <li>
      Restrict or inhibit any other visitor or member from using this Web Site, including, without limitation, by means of "hacking" or defacing any portion of this Web Site;
    </li>
    <li>
      Use this Web Site for any unlawful purpose
    </li>
    <li>
      Express or imply that any statements you make are endorsed by us, without our prior written consent;
    </li>
    <li>
      Modify, adapt, translate, reverse engineer, decompile or disassemble any portion of this Web Site, except for the Public Domain Material as defined below;
    </li>
    <li>
      Remove any copyright, trademark or other proprietary rights notices contained in this Web Site;
    </li>
    <li>
      "Frame" or "mirror" any part of this Web Site without our prior written authorization;
    </li>
    <li>
      Link to any page of or content on this Web Site other than the URL located at the above domain; or
    </li>
    <li>
      Use any robot, spider, site search/retrieval application or other manual or automatic device or process to retrieve, index, "data mine" or in any way reproduce or circumvent the navigational structure or presentation of this Web Site or its contents.
    </li>
    <li>
      While using this Web Site, you agree to comply with all applicable laws, rules and regulations.
    </li>
  </ul>

  <h3>Jurisdiction Governing Law Venue</h3>

  <p>
    These terms are governed and construed by the laws of Idaho without regard to its conflict of law rules. You agree that if any part of these terms is found to be unenforceable, the remainder of these terms will remain in full force and effect. You agree to submit to the exclusive jurisdiction of any state or federal court and waive any jurisdictional, venue or inconvenient forum objections to such courts.
  </p>

  <h3>Announcements</h3>

  <p>
    Our press releases, announcements, and postings to this may site contain forward-looking statements that involve risk and uncertainties. They do not constitute an offer to sell or an obligation to buy any security.
  </p>

  <h3>Ownership Copyright</h3>

  <p>
    The selection, compilation, collection, arrangement and assembly thereof are protected by U.S. and international copyright, trademark and other laws, and you acknowledge that these rights are valid and enforceable. We retain and shall own all right, title and interest in and to this Web Site and any content contained therein (except for any Public Domain Material) and any derivative works or other modifications thereof, including, without limitation, all copyright, trademark, trade secret and other intellectual rights, subject only to the limited license set forth herein. You hereby assign, and agree to assign, to us all right, title and interest (including all intellectual property rights) throughout the world that you have or may have in this Web Site or any content contained therein (including with respect to any modifications suggested by, or other contributions made by, you), which assignment shall be deemed effective as to any future modifications or contributions immediately upon the creation thereof. You further irrevocably waive any "moral rights" or other rights with respect to attribution of authorship or integrity of any modifications suggested by, or other contributions made by, you under any applicable law under any legal theory.
  </p>

  <h3>External Links</h3>

  <p>
    This Web Site may provide links to third party web sites and that we have no control over such sites or the content provided through such sites. Your use of linked web sites is subject to the privacy practices and terms of use established by the specific linked site, and we disclaim all liability associated therewith. The fact that such links are offered does not indicate any approval or endorsement by us of any linked web site or any material contained on any linked web site. We strongly recommend that you review the privacy policies and terms of use of such web sites.
  </p>

  <h3>Termination</h3>

  <p>
    These terms and conditions shall remain effective until terminated in accordance with their terms. We reserve the right to immediately terminate these terms and conditions, the license granted herein and/or your access to and use of this Web Site or any portion thereof, at any time in the event of your breach or violation of these terms and conditions. Upon such termination for breach, your right to use this Web Site shall immediately cease, and you shall destroy all information or materials obtained from this Web Site and all copies thereof, whether made under these terms and conditions or otherwise.
  </p>

  <h3>Access & Security</h3>

  <p>
    You are solely responsible for providing, installing and maintaining at your own expense all equipment, facilities and services necessary to access and use this Web Site, including, without limitation, all computer hardware and software, modems, telephone service and Internet access.
  </p>

  <p>
    If you are an employer, you shall ensure that each of your employees, contractors and agents complies with these terms and conditions, including, without limitation, the license restrictions above. You shall promptly notify us of any unauthorized copying, display, modification, transmission, distribution, or use of this Web Site or any content contained therein of which you become aware.
  </p>

  <p>
    We reserve the right at any time and without prior notice to change the hours of operation of this Web Site or to limit your access to this Web Site for any reason, including without limitation, (1) in order to perform repairs or to make updates, upgrades, enhancements or other modifications or (2) in response to unforeseen circumstances or circumstances beyond our reasonable control.
  </p>

  <h3>Miscellaneous</h3>

  <p>
    If any of these terms and conditions are found to be unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from the other terms and conditions and shall not affect the validity and enforceability of any remaining provisions. This is the entire agreement between us relating to the subject matter herein and supersedes any and all prior or contemporaneous written or oral agreements between us with respect to such subject matter. These terms and conditions may not be modified or amended except by an instrument in writing signed by both you and us. These terms and conditions are not assignable, transferable or sub-licensable by you except with our prior written consent. No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default. Any heading, caption or section title contained in these terms and conditions is inserted only as a matter of convenience and in no way defines or explains any section or provision hereof.
  </p>
</div>
