<div id="training-topics-page">
  <h1>All Training Topics</h1>

  <p>All of our training courses are available as <%= link_to "DIY Kits", diy_training_kits_path %>, <%= link_to "Online Courses", all_online_courses_path %>, <%= link_to "Train The Trainers", all_train_the_trainer_courses_path %>, <%= link_to "Group Trainings", all_group_trainings_path %>, or <%= link_to "Onsite", onsite_request_path %>!</p>

  <div id="topics-list">
    <p>Jump to a section:</p>
    <% @title.each do |t| %>
      <%= link_to t, "##{ kebabify(t) }" %>
    <% end %>
  </div>

  <div id="topics-container">
    <% @categories.each do |category| %>

      <section id="<%= kebabify(category.name) %>">
        <% logical_file_path = "training-topic-icons/#{ kebabify(category.name) }.png" %>

        <% topic_image = (::Sprockets::Railtie.build_environment(Rails.application).find_asset(logical_file_path)).present? ?
            logical_file_path :
            "training-topic-icons/hard-hat.png" %>

        <%= image_tag topic_image, alt: "fall-protection-icon", class: "topic-icon" %>
        <h4><%= category %></h4>

        <ul>
          <% @courses.tagged_with(category).each do |course| %>
            <%= link_to course, class: "topic-entry", "data-turbolinks": false, target: "_self" do %>
               <li><%= course.name %></li>
            <% end %>
          <% end %>
        </ul>
      </section>
    <% end %>
  </div>
</div>
