<div id="training-types-body">
  <h1>Training Types</h1>

  <div id="kits">
    <h3>DIY Kits</h3>
    <p>
      Our Training Kits provide all of the documents you need to train your employees yourself!
    </p>

    <p>
      <em>What's included?</em> PowerPoint Presentations, instructor talking points, student manuals, tests (with answer keys), practical evaluations, a certificate of completion template, a wallet card template, refresher training forms, standards and regulations, video clips, real world examples of accidents related to your topic, and much more!
    </p>

    <p>
      Want a DIY Kit? <%= link_to 'Pick your training topic', training_topics_path %>, and add one to your Cart!
    </p>
  </div>

  <div id="online">
    <h3>Online Courses</h3>
    <p>
      Our Online Training gives you access to a special website, where our instructors will walk you and/or your employees step-by-step through your topic of choice utilizing the most current safety standards available. Intermittent quizzes reinforce the information presented, progress is tracked, and a certificate is available upon successful course completion!
    </p>

    <p>
      Digital versions of the wallet cards and certificates will be immediately available, and hard copies are available for purchase!
    </p>

    <p>
      Want an Online Course? <%= link_to 'Pick your training topic', training_topics_path %>, and add one to your Cart!
    </p>
  </div>

  <div id="group">
    <h3>Group Training</h3>
    <p>
      If you want to take our Online Courses as a group, using one screen (computer monitor/projection screen/etc), our Group Training is the most affordable option for groups of 25 or more. Simply select this option, and specify the number of attendees at checkout. Bulk discounts will automatically be applied!
    </p>

    <p>
      Our current bulk pricing is as follows:
    </p>

    <%= render 'shared/bulk_pricing' %>

    <p>
      Want a Group Training? <%= link_to 'Pick your training topic', training_topics_path %>, and add one to your Cart!
    </p>
  </div>

  <div id="ttt">
    <h3>Train the Trainer</h3>
    <p>
      Our Trainer Certification Kits enable you to certify one of your employees to administer training on a specific topic. Trainer Certification Kits include an online training module for the prospective trainer, trainer-specific documentation, certificate, and wallet card, PLUS everything in our standard Training Kits, which can then be used by the trainer to train others. As an added bonus, our Trainer Certification never expires!
    </p>

    <p>
      Want a Train the Trainer Course? <%= link_to 'Pick your training topic', training_topics_path %>, and add one to your Cart!
    </p>
  </div>

  <div id="onsite">
    <h3>Onsite Training</h3>
    <p>
      Our Onsite Training brings our trainers straight to your location where they provide the same top-quality signature training available from our Online Training, however our in-person training allows our trainers to answer questions and tailor the curriculum to the specific needs of your organization!
    </p>

    <p>
      Want Onsite Training? <%= link_to 'Let us know!', onsite_request_path %>
    </p>
  </div>
</div>
