<h1 class="h1-margins text-center">Lanyards</h1>

<%= link_to new_lanyard_path, class: 'btn btn-primary h3-margins' do %>
  Add New Lanyard
<% end %>

<% @lanyard_groups.each do |lanyard_group| %>
  <h3 class="h3-margins"><%= lanyard_group[1] %></h3>
  <% lanyards = Lanyard.where(lanyard_group: lanyard_group[0]) %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Price</th>
          <th>Shipping (Domestic/Priority/International)</th>
          <th>Weight (oz)</th>
          <th>Active?</th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% lanyards.each do |lanyard| %>
          <%= content_tag :tr, id: dom_id(lanyard), class: dom_class(lanyard) do %>

            <td><%= lanyard.name %></td>
            <td><%= number_to_currency(lanyard.price.to_f / 100) %> (USD) / <%= number_to_currency(lanyard.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(lanyard.shipping_price.to_f / 100) %> /
              <%= number_to_currency(lanyard.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(lanyard.intl_shipping.to_f / 100) %>
            </td>
            <td><%= lanyard.weight / 10 %></td>
            <td>
              <% if lanyard.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', lanyard, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_lanyard_path(lanyard), class: 'btn btn-primary' %>
            </td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
