<div class="page-header h1-margins">
  <%= link_to lanyards_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Lanyards
  <% end %>
  <%= link_to edit_lanyard_path(@lanyard), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @lanyard.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Pack Qty:</dt>
  <dd><%= @lanyard.pack_qty %></dd>

  <dt>Price:</dt>
  <dd>
    <%= number_to_currency(@lanyard.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@lanyard.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Shipping price:</dt>
  <dd><%= number_to_currency(@lanyard.shipping_price.to_f / 100) %></dd>

  <dt>Priority shipping:</dt>
  <dd><%= number_to_currency(@lanyard.priority_shipping.to_f / 100) %></dd>

  <dt>Intl shipping:</dt>
  <dd><%= number_to_currency(@lanyard.intl_shipping.to_f / 100) %></dd>

  <dt>Lanyard group:</dt>
  <dd><%= @lanyard.lanyard_group.name %></dd>

  <dt>Weight:</dt>
  <dd><%= @lanyard.weight %></dd>

  <dt>Active?</dt>
  <dd>
    <% if @lanyard.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
