<%
  meta_title "Safety Traiing Posters | Hard Hat Training"
  meta_keywords "Safety Traiing Posters, Construction Safety, Hard Hat Training"
  meta_description "Professionally designed safety training posters, designed to catch the eye, increase retention and improve safety."
%>

<div class="page-header">
  <% if user_signed_in? && current_user.superadmin? %>
    <%= link_to new_poster_group_path, class: 'btn btn-primary' do %>
      Add New Poster
    <% end %>
  <% end %>
  <h1 class="h1-margins">All Safety Poster Groups</h1>
</div>

<h5>Click on an image to see all of the posters we have available for a given training topic.</h5>

<div id="poster-group-index">
  <% if @poster_groups.present? %>
    <% @poster_groups.each do |poster_group| %>
      <div class="poster-card">
        <h5><%= poster_group.name %></h5>
        <%= link_to poster_group do %>
          <%= image_tag poster_group.image_url %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
