<%
  meta_title "#{ @poster_group.name } | Hard Hat Training"
  meta_keywords "#{ @poster_group.keywords }"
  meta_description "#{ @poster_group.meta_description }"
%>

<div class="page-header h1-margins">
  <% if user_signed_in? && current_user.superadmin? %>
    <%= link_to edit_poster_group_path(@poster_group), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <%= link_to "Relate to a Product Group", new_related_item_path(relatable_id: @poster_group.id, relatable_type: "PosterGroup"), method: :post, class: "btn btn-primary", "data-turbolinks": false %>
  <% end %>
  <h5 class="h1-margins"><%= link_to "See all Poster Groups", poster_groups_path %></h5>

  <h1 class="h1-margins"><%= @poster_group.name %> Safety Posters</h1>
</div>

<h5><%= sanitize @poster_group.description %></h5>

<p><%= icon("fas", "arrow-right") %> <%= link_to "Need #{ @poster_group.name } Safety Training?", @training %> <%= icon("fas", "arrow-left") %></p>

<% if @poster_group.active == true %>
  <div id="poster-group-show">
    <% if @posters.present? %>
      <% @posters.each do |poster| %>
        <div class="poster-card">
          <h5><%= poster.name %></h5>
          <%= link_to poster do %>
            <span>
              Click for more info…
            </span>
            <%= image_tag poster.image_url %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h5 class="h1-margins">This training is currently unavailable.</h5>
<% end %>
