<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price (USD)</th>
      <th>Sale price (USD)</th>
      <th>Price (CAD)</th>
      <th>Sale price (CAD)</th>
      <th>Sale start</th>
      <th>Sale expiry</th>
      <th>Language</th>
      <th>Standards</th>
      <th>Product group</th>
      <th>Talent course</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% online_courses.each do |online_course| %>
      <%= content_tag :tr, id: dom_id(online_course), class: dom_class(online_course) do %>

        <td><%= online_course.title %></td>
        <td><%= online_course.price %></td>
        <td><%= online_course.sale_price %></td>
        <td><%= online_course.cad_price %></td>
        <td><%= online_course.cad_sale_price %></td>
        <td><%= online_course.sale_start %></td>
        <td><%= online_course.sale_expiry %></td>
        <td><%= online_course.language %></td>
        <td><%= online_course.standards %></td>
        <td><%= online_course.product_group_id %></td>
        <td><%= online_course.talent_course_id %></td>
        <td><%= online_course.active %></td>

        <td><%= link_to 'Show', online_course %><br/>
        <%= link_to 'Edit', edit_online_course_path(online_course), class: 'btn btn-primary' %>
        </td>

      <% end %>
    <% end %>
  </tbody>
</table>
