<div id="form-container">
  <%= form_with(model: online_course, local: true) do |form| %>
    <% if online_course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(online_course.errors.count, "error") %> prohibited this online_course from being saved:</h2>

        <ul>
        <% online_course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Title</h3>
      <div class="form-group">
        <%#= form.label :title %>
        <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Visibility</h3>
      <p>
        <small>Online Courses are public, by default. Uncheck this box if this is a non-catalog course (ie, if this is a video version of an existing course). These are only visible to certain customers.</small>
      </p>
      <div class="form-group col-md-6 offset-md-3">
        <%= form.check_box :public %>
        <%#= form.label "Public (Uncheck for non-catalog courses)" %>
      </div>
    </div>

    <div class="form-section">
      <h3>Talent Course ID</h3>
      <p class="h3-margins">
        <small>
          <%= link_to "Find it in the Talent Catalog", "https://safetyclasses.talentlms.com/catalog/index", target: "_blank" %> <%= icon("fas", "external-link-alt") %>
        </small>
      </p>
      <div class="form-group col-sm-4 offset-sm-4">
        <%= form.number_field :talent_course_id, class: 'form-control', placeholder: "Talent Course ID" %>
      </div>
    </div>

    <div class="form-section">
      <h3>Product Group</h3>
      <p class="h3-margins">
        <small>
          What Product Group does this Online Course belong to?
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
        <%#= form.label :product_group_id %>
        <%= select("online_course", "product_group_id", ProductGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: online_course.product_group_id }, class: "form-control") %>
      </div>
    </div>

    <div class="form-section">
      <h3>Who Is This For?</h3>
      <p class="h3-margins">
        <small>
          These settings help us know who the course is marketed towards, but they also determine how and where the course shows up on the site.
        </small>
      </p>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= form.label :market_type, "Market Type" %>
          <%= form.select(:market_type, options_for_select(market_options, online_course.market_type), { }, class: "form-control") %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :language %>
          <%= form.select :language, Kit.languages.keys, {}, class: "form-control" %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :standards %>
          <%= form.select :standards, Kit.standards.keys, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Downloads</h3>
      <p class="h3-margins">
        <small>
          Must be pdf, doc, or docx.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label "Practical Evaluation" %>

          <% if online_course && online_course.practical_evaluation.present? %>
            <%= content_tag :p, online_course.practical_evaluation.original_filename, class: 'uploaded-file' %>
          <% end %>

          <%= form.hidden_field :practical_evaluation, value: form.object.cached_practical_evaluation_data %>
          <%= form.file_field :practical_evaluation, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label "Exam" %>

          <% if online_course && online_course.exam.present? %>
            <%= content_tag :p, online_course.exam.original_filename, class: 'uploaded-file' %>
          <% end %>

          <%= form.hidden_field :exam, value: form.object.cached_exam_data %>
          <%= form.file_field :exam, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label "Answer Key" %>

          <% if online_course && online_course.answer_key.present? %>
            <%= content_tag :p, online_course.answer_key.original_filename, class: 'uploaded-file' %>
          <% end %>

          <%= form.hidden_field :answer_key, value: form.object.cached_answer_key_data %>
          <%= form.file_field :answer_key, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Regular Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, 'USD' %>
          <%= form.number_field :price, class: 'form-control', placeholder: 'USD Regular Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_price, 'CAD' %>
          <%= form.number_field :cad_price, class: 'form-control', placeholder: 'CAD Regular Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Sale Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :sale_price, 'USD' %>
          <%= form.number_field :sale_price, class: 'form-control', placeholder: 'USD Sale Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_sale_price, 'CAD' %>
          <%= form.number_field :cad_sale_price, class: 'form-control', placeholder: 'CAD Sale Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Sale Validity Dates</h3>
      <p class="h3-margins">
        <small>
          To end a sale, simply set the end date to last year.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :sale_start, 'Sale Start Date', class: "text-center" %>
          <%= form.date_select :sale_start, start_year: 2019, order: [:month, :day, :year] %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :sale_expiry, 'Sale End Date', class: "text-center" %>
          <%= form.date_select :sale_expiry, start_year: 2019, order: [:month, :day, :year] %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if online_course.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', online_course, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if online_course.persisted? %>
        <%= link_to "Cancel", online_course, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", online_courses_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
