<% @product_groups.each do |product_group| %>
  <h2 class="h1-margins"><%= product_group.name %></h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Market Type</th>
        <th>Language / Standards</th>
        <th>Public?</th>
        <th>Active?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% product_group.online_courses.sort.each do |online_course| %>
        <%= content_tag :tr, id: dom_id(online_course), class: dom_class(online_course) do %>

          <td><%= online_course.title %></td>
          <td><%= online_course.market_type %></td>
          <td><%= online_course.language.capitalize %> / <%= standards_styling(online_course.standards) %></td>
          <td>
            <% if online_course.public == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "play", class: "red") %>
            <% end %>
          </td>
          <td>
            <% if online_course.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>

          <td>
            <%= link_to 'View', online_course, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_online_course_path(online_course), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
