<h1 class="h1-margins text-center">Online Courses</h1>

<%= link_to new_online_course_path, class: 'btn btn-primary' do %>
  Add New Online course
<% end %>

<div class="table-responsive h3-margins">
  <%= render "public_courses" %>
</div>
