<div class="h1-margins page-header">
  <%= link_to online_courses_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Online_courses
  <% end %>
  <%= link_to edit_online_course_path(@online_course), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @online_course.title %></h1>
</div>

<dl class="dl-horizontal">
  <p class="h3-margins">This course is currently
    <% if @online_course.active == true %>
      <span class="green">Active</span>
    <% else %>
      <span class="red">Inactive</span>
    <% end %>.
  </p>

  <dt>Price:</dt>
  <dd class="h3-margins"><%= number_to_currency(@online_course.price.to_f / 100) %> (USD) / <%= number_to_currency(@online_course.cad_price.to_f / 100) %> (CAD)</dd>

  <dt>Sale Price:</dt>
  <dd class="h3-margins"><%= number_to_currency(@online_course.sale_price.to_f / 100) %> (USD) / <%= number_to_currency(@online_course.cad_sale_price.to_f / 100) %> (CAD)</dd>

  <dt>Sale Validity Dates:</dt>
  <dd class="h3-margins">From: <%= @online_course.sale_start %><br/>
      To: <%= @online_course.sale_expiry %></dd>

  <dt>Market Type:</dt>
  <dd class="h3-margins"><%= @online_course.market_type %></dd>

  <dt>Language:</dt>
  <dd class="h3-margins"><%= @online_course.language.capitalize %></dd>

  <dt>Standards:</dt>
  <dd class="h3-margins"><%= standards_styling(@online_course.standards) %></dd>

  <dt>Product group:</dt>
  <dd class="h3-margins"><%= @online_course.product_group.name %></dd>

  <dt>Talent Course ID:</dt>
  <dd class="h3-margins"><%= @online_course.talent_course_id %></dd>

  <dt>Practical evaluation data:</dt>
  <dd class="h3-margins">
    <% unless Rails.env.test? %>
      <%= @online_course.filename(@online_course.practical_evaluation_data) %>
    <% end %>
  </dd>

  <dt>Exam data:</dt>
  <dd class="h3-margins">
    <% unless Rails.env.test? %>
      <%= @online_course.filename(@online_course.exam_data) %>
    <% end %>
  </dd>

  <dt>Answer Key data:</dt>
  <dd class="h3-margins">
    <% unless Rails.env.test? %>
      <%= @online_course.filename(@online_course.answer_key_data) %>
    <% end %>
  </dd>

  <%= button_to "Add to Cart", order_items_path(orderable_id: @online_course.id, orderable_type: 'OnlineCourse'), method: :post, class: "btn btn-primary" %>

</dl>
