<% if @orders.any? %>
  <div class="card col-md-6 offset-md-3" id="orders-block">
    <h1>Your Orders</h1>
    <%== pagy_nav(@pagy) %>
    <ul class="list-group list-group-flush">
      <% @orders.each do |order| %>
        <li class="list-group-item">
          <h3><%= link_to "Order ##{ order.id }", order %></h3>
          <p>
            <%= order.user.name.full %>, <%= order.order_placed_at.strftime("%Y-%m-%d") %>
          </p>
        </li>
      <% end %>
    </ul>
    <%== pagy_nav(@pagy) %>
  <% else %>
    <p id="no-orders-index">
      No orders, yet. <%= link_to "Find a course", training_topics_path %> and get started!
    </p>
  </div>
<% end %>
