<div id="orders-show-page" class="col-md-6 offset-md-3">
  <h1>Order #<%= @order.id %></h1>

  <p>
    <small><%= readable_time(@order.order_placed_at) %></small>

  <% if @order.paid_at == nil %>
    <br/>
    <small>Status: <%= @order.status.upcase %>.</small>
  <% else %>
    <br/>
    <small>Paid: <%= @order.paid_at.strftime("%Y-%m-%d") %></small>
  <% end %>
  </p>

  <p>
    <small>
      Total:
      <%# if @order.currency == 'usd' %>
        <%= number_to_currency @order.final_total / 100.0 %> <%= @order.currency.upcase %>
      <%# else %>
        <%#= number_to_currency @order.cad_total / 100.0 %> <%#= @order.currency.upcase %>
      <%# end %>

      <% if @order.idaho_resident == true %>
        <br/>
        <span class="order-tax-note">Idaho taxes included, when applicable.</span>
      <% end %>
    </small>
  </p>

  <p id="order-receipt-block">
    <%#= link_to "View Receipt", order_path(@order, format: :pdf), class: "btn btn-link" %>
    <%= link_to order_path(@order, format: :pdf), class: "btn btn-outline-danger btn-spinner" do %>
      <%= icon("far", "file-pdf") %> Receipt
    <% end %>
  </p>

  <% unless current_user.superadmin? %>
    <p class="h3-margins">
      <small>
        NOTE: Once activated, online courses can be accessed from the <%= link_to 'dashboard', current_user %>.
      </small>
    </p>
  <% end %>

  <% if current_user.superadmin? && @order.label_url.present? %>
    <p id="label-btn-block">
      <%= link_to "Print This Label", @order.label_url, class: "btn btn-outline-info", target: "_blank" %>
    </p>
  <% end %>

  <% if @company.present? && @company.payment_term.present? %>
    <h3><%= @company.name %></h3>
    <p>Your terms: Net <%= @company.payment_term.term %></p>
  <% end %>

  <% @order.order_items.includes([:orderable]).each do |item| %>
    <% if (item.orderable_type == 'Kit') %>
      <div class="card">
        <h4>DIY Kit</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %><br/>
          [<%= item.orderable.language.capitalize %>, <%= item.orderable.standards.upcase %>]
        </div>
        <div class="card-body">
          <% if Time.now.between?(@order.download_start_time, (@order.download_start_time + 72.hours)) %>
            <%= button_to "Download", download_validator_path(order: @order, item: item.orderable, download_type: 'kit_primary'), method: :post, class: 'btn btn-primary' %>
              <br>
              <span class="kit-download-link-note"><%= icon("fas", "arrow-right") %> Link valid for 72 hours.</span>

            <% if item.orderable.additional_download.present? %>
              <p>
                <%= button_to 'Additional Content', download_validator_path(order: @order, item: item.orderable, download_type: 'kit_additional'), method: :post, class: 'btn btn-primary' %>
                <br>
                <span class="kit-download-link-note"><%= icon("fas", "arrow-right") %> Link valid for 72 hours.</span>
              </p>
            <% end %>

          <% else %>

            Download window has expired.

          <% end %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Backup' %>
      <div class="card">
        <h4>Backup</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %> Backup for <%= OrderItem.find(item.backup_for).oi_name %> DIY Kit, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'OnlineCourse' %>
      <div class="card">
        <h4>Online Course</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %><br/>
          [<%= item.orderable.language.capitalize %>, <%= item.orderable.standards.upcase %>]
        </div>

        <% if @company_order_exists == true %>
          <% this_company_course = CompanyCourse.find_by(order: @order, online_course: item.orderable) %>
        <% else %>
          <% if current_user.present? && current_user.admin? && this_company_course.present? %>
            <div class="card-body">
              <%= link_to "Make This Course Assignable", make_assignable_path(order: @order), local: false, method: :post %>
            </div>
          <% end %>
        <% end %>

        <div class="card-body">
          <% if current_user.admin? && this_company_course.present? %>
            <% if (this_company_course.quantity > 0) %>
              <% this_course_exists = true %>
              <span>Activation Required!</span><br/>
              Assign this course:<br/>
            <% else %>
              This course has been assigned.<br/>
            <% end %>

            <% @disabled = (this_course_exists == true ? false : true) %>

            <%= button_to "To Myself", add_to_course_path(order: @order, user_id: current_user, course_id: item.orderable.talent_course_id, course_type: item.orderable_type, admin: true), method: :post, class: 'btn btn-sm btn-primary', disabled: ((@online_course_activations.any? && @online_course_activations.where(online_course_id: item.orderable_id)) ? true : @disabled) %>
            <%= button_to "To My Employee(s)", assign_course_path(course_id: item.orderable_id, lookup_class: item.orderable_type), method: :post, class: 'btn btn-sm btn-info', disabled: @disabled %>

          <% else %>
            <% if @company_order_exists == true %>
              <% @disabled = true %>
            <% else %>
              <span>Activation Required!</span><br/>
              <% activation = OnlineCourseActivation.find_by(user: current_user, order: @order, online_course: item.orderable) %>
              <% @disabled = (activation.nil? ? false : true) %>
            <% end %>

            <%= button_to "Activate", add_to_course_path(user_id: current_user, course_id: item.orderable.talent_course_id, order: @order.id, course_type: item.orderable_type), method: :post, class: 'btn btn-sm btn-primary', disabled: @disabled %>
          <% end %>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item text-left">
            <%= icon("fas", "file-download") %> <%= link_to 'Practical Evaluation', item.orderable.practical_evaluation.url %>, <%= link_to 'Exam', item.orderable.exam.url %>, <%= link_to 'Answer Key', item.orderable.answer_key.url %>
          </li>
        </ul>
      </div>
    <% end %>

    <% if item.orderable_type == 'GroupTraining' %>
      <div class="card">
        <h4>Group Training</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Group Training, Qty: <%= item.quantity %><br/>
          [<%= item.orderable.language.capitalize %>, <%= item.orderable.standards.upcase %>]
        </div>
        <div class="card-body">
          <p>
            Group Training Date: <%= @order.group_training_date %>
          </p>
          <%= button_to "Go To Course", add_to_course_path(user_id: current_user.id, course_id: item.orderable.online_course.talent_course_id), method: :post, class: 'btn btn-sm btn-primary' %>
        </div>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item">
            <%= icon("fas", "file-download") %> <%= link_to 'Practical Evaluation', item.orderable.online_course.practical_evaluation.url %>
          </li>
          <li class="list-group-item">
            <%= icon("fas", "file-download") %> <%= link_to 'Exam', item.orderable.online_course.exam.url %>
          </li>
          <li class="list-group-item">
            <%= icon("fas", "file-download") %> <%= link_to 'Answer Key', item.orderable.online_course.answer_key.url %>
          </li>
          <% if @order.additional_info.present? %>
            <li class="list-group-item text-left">
              <%= @order.additional_info %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if item.orderable_type == 'TrainTheTrainer' %>
      <div class="card">
        <h4>Train The Trainer</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %><br/>
          [<%= item.orderable.language.capitalize %>, <%= item.orderable.standards.upcase %>]
        </div>

        <% if @company_order_exists == true %>
          <% this_company_course = CompanyCourse.find_by(order: @order, train_the_trainer: item.orderable) %>
        <% else %>
          <% if current_user.present? && current_user.admin? && this_company_course.present? %>
            <div class="card-body">
              <%= link_to "Make This Course Assignable", make_assignable_path(order: @order), local: false, method: :post %>
            </div>
          <% end %>
        <% end %>

        <div class="card-body">
          <% if current_user.admin? && !this_company_course.nil? %>
            Assign this course:<br/>


            <% if (this_company_course.quantity > 0) %>
              <% this_course_exists = true %>
              <span>Activation Required!</span><br/>
              Assign this course:<br/>
            <% else %>
              This course has been assigned.<br/>
            <% end %>

            <% @disabled = (this_company_course.quantity > 0 ? false : true) %>

            <%= button_to "To Myself", add_to_course_path(order: @order, user_id: current_user, course_id: item.orderable.talent_course_id, course_type: item.orderable_type, admin: true), method: :post, class: 'btn btn-sm btn-primary', disabled: ((@online_course_activations.any? && @online_course_activations.where(online_course_id: item.orderable_id)) ? true : @disabled) %>
            <%= button_to "To My Employee(s)", assign_course_path(course_id: item.orderable_id, lookup_class: item.orderable_type), method: :post, class: 'btn btn-sm btn-info', disabled: @disabled %>
          <% else %>
            <% if @company_order_exists == true %>
              <% @disabled = true %>
            <% else %>
              <span>Activation Required!</span><br/>
              <% activation = OnlineCourseActivation.find_by(user: current_user, order: @order, online_course: item.orderable) %>
              <% @disabled = (activation.nil? ? false : true) %>
            <% end %>

            <%= button_to "Activate", add_to_course_path(user_id: current_user, course_id: item.orderable.talent_course_id, order: @order.id, course_type: item.orderable_type), method: :post, class: 'btn btn-sm btn-primary', disabled: @disabled %>
          <% end %>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item text-left">
            <%= icon("fas", "file-download") %> <%= link_to 'Practical Evaluation', item.orderable.practical_evaluation.url %>, <%= link_to 'Exam', item.orderable.exam.url %>, <%= link_to 'Answer Key', item.orderable.answer_key.url %>
          </li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p><strong>DIY Kit Downloads</strong></p>
            <% if Time.now.between?(@order.download_start_time, (@order.download_start_time + 72.hours)) %>
              <%= button_to "Download", download_validator_path(order: @order, item: item.orderable.kit, download_type: 'kit_primary'), method: :post, class: 'btn btn-primary' %>
                <span class="kit-download-link-note"><%= icon("fas", "arrow-right") %> Link valid for 72 hours.</span>

              <% if item.orderable.kit.additional_download.present? %>
                <p>
                  <%= button_to 'Additional Content', download_validator_path(order: @order, item: item.orderable.kit, download_type: 'kit_additional'), method: :post, class: 'btn btn-primary' %>
                  <span class="kit-download-link-note"><%= icon("fas", "arrow-right") %> Link valid for 72 hours.</span>
                </p>
              <% end %>

            <% else %>

              Download window has expired.

            <% end %>

          </li>
        </ul>
      </div>
    <% end %>

    <% if item.orderable_type == 'Product' %>
      <div class="card">
        <h4>Product</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'CreditPack' %>
      <div class="card">
        <h4>Bulk Credits</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %>
        </div>
        <div class="card-body">
          <%= number_to_currency (item.orderable.credits * item.quantity) / 100 %> in credits were added to your account.
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Keychain' %>
      <div class="card">
        <h4>Keychain</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %> <%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Lanyard' %>
      <div class="card">
        <h4>Lanyard</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %> <%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Button' %>
      <div class="card">
        <h4>Button</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %> <%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Sticker' %>
      <div class="card">
        <h4>Sticker</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'MachineTag' %>
      <div class="card">
        <h4>Machine Tag</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %> <%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Certificate' %>
      <div class="card">
        <h4>Certificate of Completion</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %><br/><%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Card' %>
      <div class="card">
        <h4>Card</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %><br/><%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Shirt' %>
      <div class="card">
        <h4>Shirt</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %><br/><%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Hat' %>
      <div class="card">
        <h4>Hat</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %><br/><%= item.specifics %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'Poster' %>
      <div class="card">
        <h4>Poster</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %>
        </div>
      </div>
    <% end %>

    <% if item.orderable_type == 'DigitalPoster' %>
      <div class="card">
        <h4>Digital Poster</h4>
        <div class="card-header">
          <%= item.orderable.oi_name %>, Qty: <%= item.quantity %>

          <% if Time.now.between?(@order.download_start_time, (@order.download_start_time + 72.hours)) %>
            <%= button_to "Download", download_validator_path(order: @order, item: item.orderable.poster.id, download_type: 'digital_poster'), method: :post, class: 'btn btn-primary' %>
            <span class="kit-download-link-note"><%= icon("fas", "arrow-right") %> Link valid for 72 hours.</span>
          <% else %>

            Download window has expired.

          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>

  <% if @order.to_name.present? %>
    <div class="card">
      <h4>Shipping Information</h4>
      <div class="card-header">
        This order was shipped to:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-left" id="div_1">
          <%= @order.to_name %><br>
          <%= @order.to_street1 %><br>
          <% if @order.to_street2.present? %>
            <%= @order.to_street2 %><br>
          <% end %>
          <%= @order.to_city %>, <%= @order.to_state %> <%= @order.to_zip %> <%= @order.to_country %><br>
          <%= @order.to_email %>
        </li>
        <% if current_user.superadmin? %>
          <li class="list-group-item">
            <%= link_to "Copy Address", '#', name: "copy_pre", id: "div_1", class: "btn btn-outline-info" %><br/>
            <small>Jumps to PirateShip <%= icon("fas", "external-link-alt") %></small>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @order.tracking_code.present? %>
    <div class="card">
      <h4>Tracking Code</h4>
      <div class="card-body">
        <%= link_to @order.tracking_code, "https://tools.usps.com/go/TrackConfirmAction?tRef=fullpage&tLc=2&text28777=&tLabels=#{ @order.tracking_code }", class: "btn btn-primary", target: "_blank" %>
      </div>
    </div>
  <% end %>
</div>
