<h1>Unpaid Orders</h1>

<% if @unpaid_orders.present? %>
  <% @unpaid_orders.each do |order| %>
    <h3><%= link_to "Order ##{ order.id }", order %></h3>
    <p>Status: <%= order.status.upcase %></p>
    <% if order.status == "to_be_invoiced" %>
      <%= button_to "Invoice Sent", invoiced_path(invoiced_order: order), method: :post, class: "btn btn-primary", remote: true %>
    <% else %>
      <%= button_to "Payment Received", order_paid_path(paid_order: order), method: :post, class: "btn btn-primary", remote: true %>
    <% end %>
  <% end %>
<% else %>
  <p>There are no unpaid orders at this time.</p>
<% end %>