<div id="coupon-code-container">
  <%= form_with(model: coupon_code, local: true) do |form| %>
    <% if coupon_code.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(coupon_code.errors.count, "error") %> prohibited this coupon_code from being saved:</h2>

        <ul>
        <% coupon_code.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group col-md-6 offset-md-3">
      <h3 class="h3-margins">Code</h3>
      <%#= form.label :code %>
      <p><small>Will be saved in UPPERCASE.</small></p>
      <%= form.text_field :code, class: 'form-control' %>
    </div>

    <div class="form-row thin-rounded-border">
      <div class="form-group col-md-6 offset-md-3">
        <h3 class="h3-margins">Scope</h3>
        <p><small>What will this coupon apply to?</small></p>
        <%#= form.label :scope %>
        <%= form.select :scope, CouponCode.applications.keys, include_blank: true %>
      </div>
    </div>

    <div class="form-row thin-rounded-border">
      <div class="form-group col-md-6 offset-md-3">
        <h3 class="h3-margins">Minimum Purchase Amount</h3>
        <p><small><strong>Required</strong> if coupon code applies to <strong>order total</strong>.<br/>
        Must be in cents.</small></p>
        <%= form.text_field :min_purchase_amt, class: 'form-control' %>
      </div>
    </div>

    <div class="thin-rounded-border">
      <p class="text-center h3-margins"><em>Set ONE of the following:</em></p>
      <h3 class="h3-margins">Flat Rate</h3>
      <p><small>Will be applied in USD or CAD at the same rate.<br/>
      Must be in cents (ie, $25 => 2500)</small></p>
      <div class="form-group col-md-6 offset-md-3">
        <%#= form.label :flat_rate, 'USD' %>
        <%= form.number_field :flat_rate, class: 'form-control' %>
      </div>
      <p class="text-center h3-margins"><em>– OR –</em></p>
      <h3 class="h3-margins">Percentage</h3>
      <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
          <%#= form.label :percentage %>
          <%= form.number_field :percentage, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="thin-rounded-border">
      <h3 class="h3-margins">Validity Start/End</h3>
      <p class="h3-margins"><em><small>
        To deactivate a code, simply set the End Date to a past date.
      </small></em></p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%#= form.label :valid_from %>
          <%= form.date_select :valid_from, class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%#= form.label :valid_to %>
          <%= form.date_select :valid_to, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <% if coupon_code.persisted? %>
        <div class="float-right">
          <%= link_to 'Destroy', coupon_code, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if coupon_code.persisted? %>
        <%= link_to "Cancel", coupon_code, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", coupon_codes_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
