<div class="row">
  <div class="col-sm-6">
    <h1>Coupon_codes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_coupon_code_path, class: 'btn btn-primary' do %>
    Add New Coupon code
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Scope</th>
        <th>Minimum</th>
        <th>Valid from</th>
        <th>Valid to</th>
        <th>Flat rate</th>
        <th>% Off</th>
        <th>Times Used</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @coupon_codes.each do |coupon_code| %>
        <%= content_tag :tr, id: dom_id(coupon_code), class: dom_class(coupon_code) do %>

          <td><%= coupon_code.code %></td>
          <td><%= coupon_code.scope %></td>
          <td>
            <% if coupon_code.min_purchase_amt.present? %>
              <%= number_to_currency coupon_code.min_purchase_amt / 100 %>
            <% else %>
              -
            <% end %>
          </td>
          <td><%= coupon_code.valid_from %></td>
          <td><%= coupon_code.valid_to %></td>
          <td>
            <% if coupon_code.flat_rate.present? %>
              <%= number_to_currency coupon_code.flat_rate / 100 %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if coupon_code.percentage.present? %>
              <%= coupon_code.percentage %>
            <% else %>
              -
            <% end %>
          </td>

          <td><%= coupon_code.times_used %></td>

          <td><%= link_to 'Show', coupon_code %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
