<div class="page-header">
  <%= link_to coupon_codes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Coupon_codes
  <% end %>
  <%= link_to edit_coupon_code_path(@coupon_code), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show coupon_code</h1>
</div>

<dl class="dl-horizontal">
  <dt>Code:</dt>
  <dd><%= @coupon_code.code %></dd>

  <dt>Scope:</dt>
  <dd><%= @coupon_code.scope %></dd>

  <dt>Min Purchase Amt:</dt>
  <dd><%= @coupon_code.min_purchase_amt %></dd>

  <dt>Valid from:</dt>
  <dd><%= @coupon_code.valid_from %></dd>

  <dt>Valid to:</dt>
  <dd><%= @coupon_code.valid_to %></dd>

  <dt>Flat rate:</dt>
  <dd><%= @coupon_code.flat_rate %></dd>

  <dt>Percentage:</dt>
  <dd><%= @coupon_code.percentage %></dd>

</dl>
