<div class="card text-center" id="add-or-remove-admin-abilities">
  <div class="card-header">
    Add Or Remove Admin Abilities
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-abilities-does-an-admin-have">What abilities does an admin have that a regular employee doesn't?</h5>
    <p class="card-text">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          View and change the records of other employees' in their company
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Log into other employees' accounts in our learning management system and <a href="#view-employee-progress-and-certificates">view or download their certificates</a>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#marking-an-employee-active-inactive">Mark other employees active/inactive</a>, or <a href="#remove-an-employee-from-a-company">remove them from the company altogether</a>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#adding-employees">Add new employees to the company they belong to</a>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#assigning-courses">Assign courses to employees</a>
        </li>
      </ul>
    </p>

    <p>
      These added abilities will appear when they log into their account.
    </p>
  </div>

  <div class="card-body">
    <h5 id="how-can-i-make-an-employee-an-admin">How can I make an employee an admin, or remove this designation?</h5>

    <p class="card-text">
      Company menu > Employees > Manage Employees. In the buttons provided for each user, you will see one that says, "Admin: No". Pressing this will change it to "Admin: Yes", and vice versa.
    </p>
  </div>

  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
