<div class="card text-center" id="adding-employees">
  <div class="card-header">
    Adding Employees
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-add-an-individual-employee">
      How do I add an individual employee?
    </h5>
    <p class="card-text">
      Company menu > Employees > Add Employee. Click this and you will be directed to a small form.
    </p>

    <p class="card-text">
      If you are adding an employee you know is already in our system, you may leave the name fields blank and submit an email only. Be sure they use the same email as before.
    </p>

    <p class="card-text">
      If you are adding a new employee who does not have an email, you MUST fill in the name fields, but you may leave the email field blank. A fake email will be generated for tracking purposes.
    </p>

    <p class="card-text">
      You might also consider having them set up a free email account with a service like <%= link_to "Gmail", "https://accounts.google.com/signup/v2/webcreateaccount?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ltmpl=default&dsh=S990408573%3A1570049566715680&gmb=exp&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp" %> or <%= link_to "ProtonMail", "https://protonmail.com/signup" %>.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-add-multiple-employees">How do I add multiple employees?</h5>

    <p class="card-text">
      You must upload a CSV file. It is very easy to export a file as CSV from <%= link_to "Excel (Windows)", 'https://support.office.com/en-us/article/import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba', target: '_blank' %> or <%= link_to "Numbers (Mac)", 'https://support.apple.com/kb/ph26057?locale=en_US', target: '_blank' %>. Other programs have a similar function.
    </p>

    <p class="card-text">
      This CSV must have the following headers: Email, First Name, and Last Name. All fields are required.
    </p>

    <p>
      Once you upload this file, the employees will be added to our system and to your company.
    </p>

    <p class="card-text">
      If you have an employee without an email address, please use the form to <%= link_to 'Add Individual Employees', documentation_path(anchor: 'how-do-i-add-an-individual-employee') %>, which is above the CSV file uploader, so that a fake email can be generated for them.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
