<div class="card text-center" id="alerts">
  <div class="card-header">
    Alerts
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-are-alerts">
      What are Alerts?
    </h5>
    <p class="card-text">
      If you purchase an Online Course from us, we will send you an email alert a short time before the recommended renewal date. If you upload a certificate that you have earned elsewhere, we will send you an alert based on the date it was issued, or its designated expiration date.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
