<div class="card text-center" id="assigning-courses">
  <div class="card-header">
    Assigning Courses
  </div>
  <div class="card-body">
    <p>
      See also: <a href="#training-course-options">Training Course Options</a>.
    </p>
  </div>
  <div class="card-body">
    <h5 class="card-title" id="which-courses-can-be-assigned">
      Which courses can be assigned to employees?
    </h5>
    <p class="card-text">
      All of our Online Courses and Train The Trainer courses.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-assign-courses">
      How do I assign courses to my employees?
    </h5>
    <p class="card-text">
      <strong>1. Direct Purchase</strong>
    </p>

    <p class="card-text">
      If you have <a href="#direct-purchases">directly purchased a course</a>, you can view your Direct Purchases on your Company dashboard, and click on the one you want to assign which will take you to the Course Assignment page, ready to assign this course. The link you clicked had a number next to it; that tells you how many seats you have already purchased for that course.
    </p>

    <p class="card-text">
      You can also click the "Assign to Employees" link in your order, or visit the training course page the same way you did when you made the purchase and, since you already purchased the course, you will now see a button labeled "Assign This Course" by the "Add to Cart" button. This will take you to the Course Assignment page, ready to assign this course.
    </p>

    <p class="card-text">
      You will see a list of employee names. Above this list is a reminder of how many direct purchases you have to assign. If you see a green checkmark next to a name on the list, that employee is already enrolled in this course.
    </p>

    <p class="card-text">
      If you want to assign the course to everyone in your list who is not already assigned, scroll to the bottom of the screen and press the button that says, "Assign to All Unenrolled".
    </p>

    <p class="card-text">
      If you just want to assign certain employees, check the box next to the names of the employees you want to assign this course to, and then scroll to the bottom of the screen. Press the button that says, "Assign to Selected".
    </p>

    <p class="card-text">
      Either way, the system will first use your direct purchases and then, if there are not enough direct purchases, proceed to use any credits you might have. If you have no credits, the direct purchases will be used for the first employees listed until they run out, and the remaining employees will be left unassigned. You will need to directly purchase more seats for that course, or purchase credits, before returning to assign the remaining employees.
    </p>

    <p class="card-text">
      <strong>2. Credits</strong>
    </p>

    <p class="card-text">
      If you have <a href="#credits">purchased bulk credits</a>, you will need to visit the training course page the same way you would if you were going to make a purchase and, since you have credits, you will now see a button labeled "Assign This Course" by the "Add to Cart" button. This will take you to the Course Assignment page, ready to assign this course.
    </p>

    <p class="card-text">
      You will see a list of employee names. Above this list is a reminder of how many credits you have to use. If you see a green checkmark next to a name on the list, that employee is already enrolled in this course.
    </p>

    <p class="card-text">
      If you want to assign the course to everyone in your list who is not already assigned, scroll to the bottom of the screen and press the button that says, "Assign to All Unenrolled".
    </p>

    <p class="card-text">
      If you just want to assign certain employees, check the box next to the names of the employees you want to assign this course to, and then scroll to the bottom of the screen. Press the button that says, "Assign to Selected".
    </p>

    <p class="card-text">
      Either way, the system will first verify that you have enough credits for the number of employees selected. If you don't have enough, you will be notified and will have to either assign fewer employees, or purchase more credits.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-happens-after-i-assign-courses">
      What happens after I assign courses to employees?
    </h5>
    <p class="card-text">
      Assigned employees will now see the course listed on their Dashboard. They can simply click the course name and they will be immediately logged into their account on our learning management system and taken to where they can begin the course. That's it!
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-switch-the-course-being-assigned">
      How do I switch the course being assigned?
    </h5>
    <p class="card-text">
      Once you are on the Course Assignment page, verify that the correct course is listed at the top of the page. If you want to assign a different course than the one listed, simply press the "Choose a different course?" link.
    </p>
  </div>

  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
