<div class="card text-center" id="branches">
  <div class="card-header">
    Branches
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-are-branches">
      What are Branches?
    </h5>
    <p class="card-text">
      Branches are companies that report to, or belong to, another company.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-set-up-a-branch">
      How do I set up a Branch?
    </h5>
    <p class="card-text">
      After logging into your company account, go to Company menu > Branches > Manage Company Hierarchy. This is where you establish relationships between companies. Under the "Downline" heading, you can create a "Parent Company Identifier" so that other companies can report to yours. You must give this identifier to the other companies so that they can put it into the field above, in the "Upline" section.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-can-i-view-branches">
      How can I view companies that report to mine (aka branches)?
    </h5>
    <p class="card-text">
      If any other Companies/Branches report to yours, you can view their Company info by logging into your company account and clicking on the "Branch View" link. You will see a list of all Companies that report to yours.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
