<div class="card text-center" id="certificates-and-certification">
  <div class="card-header">
    Certificates And Certification
  </div>
  <div class="card-body">
    <h5 class="card-title" id="certified-qualified-competent">
      Do your training courses make me “certified,” “qualified,” or “competent”?
    </h5>
    <p class="card-text">
      There is a lot of confusion among operators and even companies about what it means to be certified or qualified. Simply put, no, a course does not certify anyone, only an employer does. Or, in other words, because it is the employer’s responsibility to make sure an employee is properly trained, it is also his or her responsibility to say when the employee is “certified,” “qualified,” or “competent.” Our training courses are just a tool to help them do that.
    </p>

    <p class="card-text">
      According to OSHA, all operators of heavy equipment must receive operator training. Proper training must include a classroom portion including a written exam, as well as a practical hands-on portion/exam where the operator is observed operating the machine. Our Online Courses satisfy the required classroom portion of the training. Upon completion of the course and written exam, the safety administrator of the company will receive a checklist which can be used to observe the trainee on the machine. When done successfully, the administrator signs the bottom of the form. At this point, unless further training is required by your employer, you have done everything required by OSHA to be considered by your employer as “certified,” “qualified,” or “competent.”
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="do-students-get-a-certificate">
      Do students get a certificate or wallet card upon completion?
    </h5>
    <p class="card-text">
      Yes, you will have immediate access to download your test, a certificate and wallet card, and a checklist you can use for the practical hands-on portion of the training. Simply print them off. Contrary to popular belief, wallet cards are not required by OSHA, but we provide them anyway. Cool, huh?
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-long-is-your-certification-good-for">
      How long is your certification good for?
    </h5>
    <p class="card-text">
      OSHA standards dictate that safety certification needs to be completed at least once every three years. Since no Online Course can provide “certification,” these courses will combine with your onsite practical training to fulfill OSHA’s requirements for up to three years. Having said that, refresher training is required sooner if an employee changes sites or jobs, is asked to operate a different type of the equipment, is involved in a near-miss or accident, or is observed operating the machine in a dangerous manner.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-i-take-my-certification-elsewhere">
      Can I take my certification and get a job anywhere?
    </h5>
    <p class="card-text">
      See the above question, entitled “Do your training courses make me “certified,” “qualified,” or “competent”?” In short, this will depend on your employer. We have fielded many calls from potential employers who wanted to learn more about the classroom portion of the training we offered. After hearing our explanation, they accepted the online class as satisfying the classroom portion of the required training and proceeded to do their own practical exam.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
