<div class="card text-center" id="company-accounts">
  <div class="card-header">
    Company Accounts
  </div>
  <div class="card-body">
    <h5 class="card-title" id="who-are-company-accounts-for">
      Who are Company Accounts for?
    </h5>
    <p class="card-text">
      Company Accounts are for those who need to administer the training of employees, such as managers, business owners, or supervisors.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-benefits-of-a-company-accounts">
      What are the benefits of a Company Account?
    </h5>
    <p class="card-text">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#adding-employees">Add Employees</a>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Manage Employees:
          <ul class="fa-ul">
            <li>
              <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
              <a href="#view-employee-progress-and-certificates">View Employee Progress and Certificates</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
              <a href="#remove-an-employee-from-a-company">Remove An Employee From A Company</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
              <a href="#add-or-remove-admin-abilities">Add Or Remove Admin Abilities</a>
            </li>
            <li>
              <span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>
              <a href="#marking-an-employee-active-inactive">Mark An Employee Active/Inactive</a>
            </li>
          </ul>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#view-branch-info">View Branch Info</a>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#assign-courses-to-one-or-more-employees">Assign Courses to One or More Employees</a> with just one click!
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#payment-terms">Purchase Via Net 30/45/60</a>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#credits">Purchase Credits</a> in bulk at discounted prices
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#company-reports">View Company Reports</a>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#view-print-or-download-employee-certificates">View, Print, Or Download Employee Certificates</a>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#company-admins">Assign Admin Users</a>
        </li>

        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#company-orders">View Order History</a>
        </li>
      </ul>
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-get-started-with-a-company-accounts">How do I get started with a Company Account?
    </h5>
    <p class="card-text">
      After you sign up for a User account, simply click the link that says, "Create a Company". Submit your company's details and <em>wham!</em> you've got your own company. <a href="#adding-employees">Add some employees</a> and you're off!
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
