<div class="card text-center" id="company-admins">
  <div class="card-header">
    Company Admins
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-become-a-company-admin">
      How do I become a Company Admin?
    </h5>
    <p class="card-text">
      When you create a Company, you are automatically made an Admin. Otherwise, an existing Company Admin must set this up for you.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-make-someone-a-company-admin">
      How do I make someone a Company Admin?
    </h5>
    <p class="card-text">
      Company menu > Employees > Manage Employees. Find the desired employee and press the button that says "Admin: No". It will change to "Admin: Yes". You are done! The affected employee will instantly see admin functions become available to them.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-abilities-does-a-company-admin-have">
      What abilities does a Company Admin have?
    </h5>
    <p class="card-text">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#view-employee-progress-and-certificates">View Employee Progress and Certificates</a>.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#marking-an-employee-active-inactive">Mark Employees As "Inactive" or "Active"</a>.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#remove-an-employee-from-a-company">"Remove" Employees From The Company</a>.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#credits">Purchase Credits</a> in bulk at discounted prices, and have them instantly available.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#assigning-courses">Assign Courses to One or More Employees</a> with just one click!
        </li>
      </ul>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
