<div class="card text-center" id="company-reports">
  <div class="card-header">
    Company Reports
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-generate-reports">
      How do I generate reports?
    </h5>
    <p class="card-text">
      Go to My Account > Company > Reports. You must have at least one employee <em>or the whole internet will break!</em> Just kidding. We'll just redirect you to add some employees first.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-reports-are-available">
      What reports are available?
    </h5>
    <p class="card-text">
      <small>This section will be updated as more reports become available.</small>
    </p>

    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        <strong>Employee Name And Email:</strong> Lists all employees - <em>last name, first name, and email</em>. Especially handy if fake emails are generated for your employees for login/tracking purposes.
      </li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
