<div class="card text-center" id="company-menu">
  <div class="card-header">
    Company Menu
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-is-the-company-menu">
      What is the Company Menu?
    </h5>
    <p class="card-text">
      The Company Menu is a second menu bar that is only visible to Users who are Company Admins. It is distinguished by its lighter blue background color.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-options-are-in-the-company-menu">
      What Options Are In The Company Menu?
    </h5>
    <p class="card-text">
      There are five Menu options available in the Company Menu: Settings, Employees, Courses, Branches, and Credits.
    </p>

    <ul class="fa-ul">
      <li><strong>Settings:</strong></li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Preferred Currency: See <a href="#switching-currencies">Switching Currencies</a>.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        My Profile: Edit name, email, or password, for User.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Company Profile: Edit name, email, or password, for Company.
      </li>
    </ul>

    <ul class="fa-ul">
      <li><strong>Employees:</strong></li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Add Employee(s): See <a href="#adding-employees">Adding Employees</a>.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Manage Employees: <a href="#view-employee-progress-and-certificates">View Employee Progress and Certificates</a>, <a href="#company-admins">Toggle Admin Status</a>, <a href="#remove-an-employee-from-a-company">Remove An Employee From The Company</a>, and <a href="#marking-an-employee-active-inactive">Mark An Employee Active/Inactive</a>.
      </li>
    </ul>

    <ul class="fa-ul">
      <li><strong>Courses:</strong></li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        View All: See a list of all Courses currently available.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Course Assignment: Takes the user to the <a href="#assigning-courses">Course Assignment</a> page.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Direct Purchases: Opens a modal with a list of your <a href="#direct-purchases">Direct Purchases</a>.
      </li>
    </ul>

    <ul class="fa-ul">
      <li><strong>Branches:</strong></li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        View any <a href="#branches">Branches</a> your Company has.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Manage Company Hierarchy: Has two sections: Upline and Downline. See <a href="#how-do-i-set-up-a-branch">How do I set up a Branch?</a> for instructions.
      </li>
    </ul>

    <ul class="fa-ul">
      <li><strong>Credits:</strong></li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Current Balance: View the current balance of credits in your currently selected currency. <a href="#switching-currencies">Switch Currencies</a> to see credits you have in another currency. This view displays the number of Tier 1 ($79) and Tier 2 ($29) courses you can purchase with your credits.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Purchase Credits: See our <a href="#credits">Credits</a> section for instructions.
      </li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
