<div class="card text-center" id="company-orders">
  <div class="card-header">
    Company Orders
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-place-an-order-for-my-company">
      How do I place an order for my Company?
    </h5>
    <p class="card-text">
      To place an order, a Company Admin must be logged in, select a course, add it to the cart, and check out. All purchases placed by Company Admins will be recorded and made visible on your Company dashboard.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="where-can-i-find-a-list-of-company-orders">
      Where can I find a list of orders that have been placed for my company?
    </h5>
    <p class="card-text">
      When you are logged in, click on the "My Account" dropdown. There is a link for "Orders" under both User and Company. The link under Company will display a list of all orders that have been placed by Admins in your Company, including who placed it, and the date it was placed.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
