<div class="card text-center" id="credits">
  <div class="card-header">
    Credits
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-are-credits">
      What are credits, and how do they work?
    </h5>
    <p class="card-text">
      Credits work just like money, but you purchase them in bulk at a discounted rate, so you get more bang for your buck! It's basically free money. Don't tell my boss I said that.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-purchase-credits">
      How do I purchase credits?
    </h5>
    <p class="card-text">
      Go to Company menu > Credits > Purchase Credits and add them to your cart like you would any other item. Once purchased they can be used to <a href="#assigning-courses">Assign Courses</a>.
    </p>

    <p class="card-text">
      Credits can be purchased in  U.S. dollars (USD) or Canadian dollars (CAD). They are tracked separately, so it is possible to have both, for instance if you have employees both in Canada and the United States. Using one will not affect the other. You must, however, purchase them in their corresponding currencies, i.e., US credits must be purchased in US dollars and Canadian credits must be purchased with Canadian dollars.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="who-are-credits-for">
      Who are credits for?
    </h5>
    <p class="card-text">
      While anyone can use credits, they are primarily designed for those who assign a lot of courses, whether that be lots of training courses for a few employees, or a few courses for lots of employees. We know that it can be expensive to keep everyone safe, so credits are like an extra-special safety discount, on us! You're welcome.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-current-rates-for-credits">
      What are the current discounted rates for credits?
    </h5>
    <p class="card-text">
      <%= render 'shared/bulk_pricing' %>
    </p>
    <p class="card-text">
      Use the currency switcher at the top of the page to view these rates in another currency.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
