<div class="card text-center" id="customized-courses">
  <div class="card-header">
    Customized Courses
  </div>
  <div class="card-body">
    <h5 class="card-title" id="can-you-customize-a-course-for-us">
      Can you customize a course for us?
    </h5>
    <p class="card-text">
      Yes, if you <a href="#licensing-and-outright-purchase">buy or license the eLearning courses</a> for use on your own learning management system. Pricing depends on the extent of customization requested. Please <%= link_to "Contact Us", contact_us_path %> for a quote.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-we-customize-the-courses-ourselves">
      Can we customize the courses ourselves?
    </h5>
    <p class="card-text">
      If you <a href="#licensing-and-outright-purchase">purchase our courses outright</a> to be used on your own company LMS (learning management system), you also get the right to rebuild them and customize them to meet your own needs. If you have Adobe Captivate, which we use to build our courses, customization is even easier.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
