<div class="card text-center" id="direct-purchases">
  <div class="card-header">
    Direct Purchases
  </div>
  <div class="card-body">
    <p class="card-text">
      See also: <a href="#training-course-options">Training Course Options</a>.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-is-a-direct-purchase">
      What is a direct purchase?
    </h5>
    <p class="card-text">
      A direct purchase is when you purchase access to an online course directly, instead of buying credits. Credits can be used to assign <em>any</em> online course, while direct purchases lock in access to a <em>specific</em> online course.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-make-a-direct-purchase">
      How do I make a direct purchase?
    </h5>
    <p class="card-text">
      Simply navigate to the desired course and add the online course option to your cart. On the cart page, select the desired quantity. For instance, if you have 5 employees, change the quantity to 5. The total will change accordingly.
    </p>

    <p class="card-text">
      After you check out and pay, you can <a href="#assigning-courses">assign the course to your employees</a>.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
