<div class="card text-center" id="diy-kits">
  <div class="card-header">
    DIY Kits
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-is-included-with-each-diy-kit">
      What is included with each DIY Kit?
    </h5>
    <p class="card-text">
      Because each Kit covers a unique subject, each is a little different. Here are just some of the things that are included:
    </p>

    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        A PowerPoint presentation with instructor notes
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Student manual files
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Regulations
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Written and practical exams and answer keys
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Pre-shift inspection booklets
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Classroom forms for proper recording
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Safety posters
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Certificate and wallet card templates
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="are-your-diy-kits-osha-compliant">
      Are your DIY Kits OSHA-compliant?
    </h5>
    <p class="card-text">
      All of our DIY Kits are <a href="#training-course-standards">compliant with either OSHA or Canadian standards</a>, so be sure to select the appropriate standards for your area.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="are-they-up-to-date">
      Are they up-to-date?
    </h5>
    <p class="card-text">
      Yes, all of our Hard Hat Training Kits are up-to-date with the latest standards. If future changes are substantial, we offer a discount for previous customers who want to re-purchase the kit.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="in-which-countries-can-your-diy-kits-be-used">
      In which countries can your DIY Kits be used?
    </h5>
    <p class="card-text">
      Our OSHA training kits and materials are used by hundreds of companies around the world in Canada, South America, Europe, Africa, and more…
    </p>

    <p class="card-text">
      They are completely customizable; you can add, edit or remove anything in the training program to make it fit any safety standards in your country, region or company. It only takes minutes to get the training materials ready to use. If you have questions about meeting a specific country’s regulations with our training kits, <%= link_to "Contact Us", contact_us_path %>. We’re happy to help.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-computer-requirements">
      What are the computer requirements to use your DIY Kits?
    </h5>
    <p class="card-text">
      In order to be accessible for as many people as possible, we have tried to create these materials using the most common practices. The materials consist of PowerPoint files, Word documents, Excel files, and PDF files. On some kits, there are video clips as well. So, to use the kits, you will simply need software that can display or play these files. If you do not have the ability to read PDF files, each kit includes the .exe file through which you can install Adobe Acrobat Reader—or simply search for it on the internet and download free of charge. If you do not have Microsoft Office, you can go to openoffice.org and download their free productivity suite; this suite will allow you to open, edit and save Office documents. Mobile users can likewise find free or inexpensive software that will allow them to access these files on their devices.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-i-customize-your-diy-kits">
      Can I customize the safety training materials in your DIY Kits?
    </h5>
    <p class="card-text">
      Yes, these training kits are completely customizable. Once purchased, they are yours to use as needed. Add or remove slides or test questions. Change the colors and layout. You can even swap out our logo for yours. Because the training materials are created in editable documents (Word, Excel, PowerPoint), customization is as easy as highlighting the area of desired change and deleting, re-wording, or adding content. In terms of the main presentation and any other files using PowerPoint, in some instances, we have employed the use of Master Slides. This makes making changes to the presentation—like swapping out your logo for ours—easy. Just go to the master slide for the project, make the change there, and then exit the master slide. Your changes will instantly take effect on the designated slides.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="are-your-diy-kits-reusable">
      Are your DIY Kits reusable?
    </h5>
    <p class="card-text">
      Absolutely! Once you purchase the kit, the files are yours to use for as long as you have the kit. Use the training presentation and print out the student manuals, exams, and other files as often as needed.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-i-post-your-materials-online">
      Can I post the materials from your DIY Kits online?
    </h5>
    <p class="card-text">
      Yes, but only with <a href="#licensing-and-outright-purchase">a special broadcast license</a> and for the purpose of training employees scattered across various locations. Without this additional license, though, purchased kits are only to be used in-house in a physical classroom setting. If you need to train multiple employees located in various branches, you might consider using our online training classes as an easy and cost-effective option. Or if you are still interested in licensing the course for broadcast use, <%= link_to "Contact Us", contact_us_path %>.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-i-make-a-backup-copy">
      If I download a DIY Kit, can I make a backup copy?
    </h5>
    <p class="card-text">
      Absolutely. In fact, we encourage you to keep a copy on the computer you will use for training and have a copy for backup purposes. Remember, though, that per the end user license agreement, these files cannot be shared or reproduced in any form without express written consent from Safety Provisions, Inc. We also provide CD and USB backups at checkout!
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-i-share-my-diy-kit">
      Can I share my DIY Kit with or make copies for another branch or trainer?
    </h5>
    <p class="card-text">
      No, our end user license agreement, which automatically goes into effect upon the purchase of any kit, prohibits in any form the sharing or reproduction of the kit or any of its components. Per this same agreement, we require one kit per trainer or training location. For example, if you are a trainer employed to travel from location to location, there is no need to purchase additional kits for those locations at which you will train. Likewise, if your company buys the kit to be used exclusively at a certain training location (let’s say your home office or on a specific vessel), then, as long as the kit stays there for training purposes, multiple in-house trainers can use it.
    </p>

    <p class="card-text">
      If, however, you buy it to train at your home office and then want to make a copy or send the files or any parts of them to a trainer at a different location, this would be in breach of the agreement and additional kits would need to be purchased. We realize, however, that every situation varies slightly. If you have any questions, don’t hesitate to <%= link_to "Contact Us", contact_us_path %>. In the event you do need to purchase additional kits, we would be happy to offer tiered pricing to make it more cost-effective.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-i-print-diy-kit-materials">
      Can I print DIY Kit materials?
    </h5>
    <p class="card-text">
      You may print out the included materials for use within the classroom, such as the training manual, student workbook, exams, answer keys, etc. At no time, however, are you allowed to print the materials for resale.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="are-you-looking-for-resellers">
      Are you looking for resellers? And will you drop-ship?
    </h5>
    <p class="card-text">
      We are always looking for competent resellers and, yes, there is a drop-shipping option. <%= link_to "Contact Us", contact_us_path %> regarding these opportunities.
    </p>
  </div>

  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
