<div class="card text-center" id="group-training">
  <div class="card-header">
    Group Training
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-can-i-train-a-group">
      How can I train a group of employees with just one online training?
    </h5>
    <p class="card-text">
      Every Online Course we offer can be used for a Group Training. Just find the training course you need and select Group Training from the purchase options! In the cart, change the quantity to reflect the number of employees who will train together. Tiered discounts are automatically applied for groups of 25 or more (see below)! Before checking out, you will be prompted to provide the names of all attendees so that we can provide you with downloadable certificates and wallet cards. After checkout, you will have access to the exam, answer key and a practical exam guide.
    </p>

    <p class="card-text">
      Pricing for Group Training is identical to our <a href="#credits">Bulk Credit</a> pricing, so if your employees already have an account with us, it is faster and easier to simply buy credits and assign the course like normal. Then, you can all watch it together and everyone will automatically get their certificates, and so forth.
    </p>

    <p class="card-text">
      Our current discounted pricing for bulk purchases:
    </p>

    <p class="card-text">
      <%= render 'shared/bulk_pricing' %>
    </p>

    <p class="card-text">
      <% @this_currency = (session[:preferred_currency].present? ? session[:preferred_currency].upcase : 'USD') %>
      The rates you see here are in <%= @this_currency %>. Use the currency switcher at the top of the page to view them in another currency.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
