<div class="card text-center" id="licensing-and-outright-purchase">
  <div class="card-header">
    Licensing And Outright Purchase
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-license-or-purchase-a-course">
      How do I license or purchase a course?
    </h5>
    <p class="card-text">
      <%= link_to "Contact Us", contact_us_path %> directly to make the arrangements. We are happy to answer any questions you may have.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-licensing-terms">
      What are the licensing terms?
    </h5>
    <p class="card-text">
      You can license the use of a course annually, or purchase it outright. Neither of these options, however, give you the right to resell or distribute our courses to parties other than those to whom you are providing training, in your own organization.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-terms-of-an-outright-purchase">
      What are the terms of an Outright Purchase?
    </h5>
    <p class="card-text">
      <em>Coming.</em>
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-an-online-course-be-customized-after-purchase-or-licensing">
      Can an Online Course be customized after purchase or licensing?
    </h5>
    <p class="card-text">
      Yes. Please see our section entitled <a href="#customized-courses">Customized Courses</a> for more information.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
