<div class="card text-center" id="learning-management-system">
  <div class="card-header">
    Learning Management System
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-is-an-lms">
      What is an LMS (Learning Management System) and which one do you use?
    </h5>
    <p class="card-text">
      An LMS is a way to manage the process of learning, such as making courses available, providing access, accessing certificates, tracking progress, and so forth. We use TalentLMS, a third-party company that specializes in hosting courses and managing learning experiences, for all of our Online Courses.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-does-it-work">
      How does it work?
    </h5>
    <p class="card-text">
      After you purchase a course, you will be redirected to your order where you will see a button to Activate your course. Press it and you will be logged into the LMS and sent to the course. In the future, simply log into your account and, on your account dashboard, you will see a list of courses to which you have been assigned. Press one and <em>Bam!</em> You're in. No need to remember a separate password and login, or even a URL. Just remember to log out of the LMS when you're done, especially if you're on a shared computer!
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
