<div class="card text-center" id="marking-an-employee-active-inactive">
  <div class="card-header">
    Marking An Employee Active/Inactive
  </div>
  <div class="card-body">
    <h5 class="card-title" id="why-would-i-mark-an-employee-as-inactive">
      Why would I mark an employee as inactive?
    </h5>
    <p class="card-text">
      If an employee will be gone temporarily, such as if they go on vacation or take a leave of absence, you can mark them as inactive. Inactive employees are excluded from course assignment and reports.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-mark-an-employee-as-inactive">
      How do I mark an employee as inactive?
    </h5>
    <p class="card-text">
      Log into a Company account, and go to Company menu > Employees > Manage Employees. Among the buttons available for each User, you will see a green one labeled "Active". Pressing this will mark the employee as inactive, the button color will change to light gray, and the text will change to "Inactive".
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-mark-an-employee-as-active">
      How do I mark an inactive employee as active?
    </h5>
    <p class="card-text">
      Pressing the same button again will do the opposite, ie, mark the employee as active, change the button color to green, and the text will now say, "Active". Active employees are included in all reports, and are listed as available options during course assignment.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
