<div class="card text-center" id="online-courses">
  <div class="card-header">
    Online Courses
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-access-an-online-course">
      How do I access an Online Course?
    </h5>
    <p class="card-text">
      Although our Online Courses are hosted on the website of our <a href="#lms">Learning Management System</a> (LMS), you do not need to remember another username/password combination. Simply log into your <a href="#user-accounts">User account</a> and click a link for instant access!
    </p>

    <p class="card-text">
      If you have been assigned a course by your employer, you will see links to your courses on your dashboard when you first log in.
    </p>

    <p class="card-text">
      If you purchase an Online Course for yourself, you will be redirected to the order immediately afterwards. Click the "Activate" button to activate your seat in that course in the LMS. You can start the course now, if you'd like. Otherwise, you will see links to your activated courses on your dashboard when you first log in. If you don't see a course that you've purchased listed here, return to your order and press the "Activate" button.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-does-each-online-course-cover">
      What does each Online Course cover?
    </h5>
    <p class="card-text">
      In general, each course provides:
    </p>

    <ol>
      <li>An overview of the course and introduction to the equipment.</li>
      <li>Anatomy of the equipment, and pre-shift inspections</li>
      <li>Stability principles</li>
      <li>Common hazards/accident profiles</li>
      <li>Safe operation of the equipment</li>
      <li>Crane courses also include: Rigging and Hand Signals</li>
    </ol>

    <p>
      The product pages on our website for each training course will provide you with more specific information.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-long-are-your-online-courses">
      How long are your Online Courses?
    </h5>
    <p class="card-text">
      Please see our section called <a href="#time-to-complete-training">Time To Complete Training</a>.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="are-your-online-courses-osha-compliant">
      Are these courses OSHA compliant? Are they up-to-date?
    </h5>
    <p class="card-text">
      Yes and yes. Please see our section on <a href="#training-course-standards">Training Course Standards</a>.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-many-people-can-use-an-online-course">
      How many people can use this course? Can I play it for several employees at the same time?
    </h5>
    <p class="card-text">
      When a course is assigned to an employee, only that employee can take it. For one thing, there is a final written exam at the end that will be linked to the trainee assigned. OSHA requires proof of training and if multiple people were to sit in on that one course, they would not get credit for taking it. For this reason, we offer <a href="#group-training">Group Training</a> which allows multiple employees to take an Online Course at once and, most importantly, get credit for it! See that link for more information.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="are-scorm-options-available">
      Are SCORM/Tin Can options available for use on our own company learning management system (LMS)?
    </h5>
    <p class="card-text">
      All of our Online Courses are designed to be SCORM-compatible and can be easily uploaded to your company’s current SCORM-friendly LMS. You can <a href="#licensing-and-outright-purchase">license their use annually or purchase them outright</a>. Licensing or purchasing them outright does not, however, give you the right to resell or distribute our courses to parties other than those to whom you are providing training.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-you-customize-an-online-course-for-us">
      Can you customize an Online Course for us?
    </h5>
    <p class="card-text">
      Yes, if you <a href="#licensing-and-outright-purchase">buy or license</a> the eLearning courses for use on our own LMS. Please see our section on <a href="#customized-courses">Customized Courses</a>.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="can-we-license-or-purchase-for-internal-use">
      Can my company license or purchase an Online Course for internal use?
    </h5>
    <p class="card-text">
      Sure! All of our Online Courses are designed to be SCORM-compatible and can be easily uploaded to your company’s current SCORM-friendly LMS. Please see our section on <a href="#licensing-and-outright-purchase">Licensing And Outright Purchase</a> for more information.
    </p>
  </div>

  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
