<div class="card text-center" id="onsite-training">
  <div class="card-header">
    Onsite Training
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-types-of-onsite-training-do-you-offer">
      What types of Onsite Training do you provide?
    </h5>
    <p class="card-text">
      We offer Onsite Training for Operators and Trainers (ie, Train The Trainer).
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-many-students-can-take-onsite-training">
      How many students can we have in an Onsite Training class?
    </h5>
    <p class="card-text">
      Typically, we prefer to stay around 12-15 individuals. This allows us the time we need to focus on them individually. It will also give them sufficient time on and around the machine during the hands-on portion of the class. There are always situations that call for exceptions though. <%= link_to "Contact Us", contact_us_path %> if we need to structure a class differently, based on your situation.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-much-does-onsite-training-cost">
      How much do your Onsite Training classes cost?
    </h5>
    <p class="card-text">
      We craft each quote according to several variables, including the type of training required, location, travel costs, any specific requirements you have, and so forth. <%= link_to "Contact Us", contact_us_path %> and we'll find a price that makes us both happy.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-you-structure-onsite-training">
      How do you structure your Onsite Training classes?
    </h5>
    <p class="card-text">
      It depends on a number of variables, but typically we start with a classroom portion, followed by the written exam, and we then spend the rest of the time on and around the machine (which includes the required observation portion, also called the practical exam).
    </p>

    <p class="card-text">
      The ultimate responsibility to approve training falls on you, the employer, however. So, we value your input when finalizing our schedule. If you want us to spend more time outside on the machine, we can do that. If you want us to go into more detail on theory, we can do that, too. It's your company, your employees, and we're just here to help you get them trained in the most effective way possible.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="do-we-get-certificates-with-onsite-training">
      Do we get certificates with Onsite Training classes?
    </h5>
    <p class="card-text">
      Yes. Please see our section called <a href="#certificates-and-certification">Certificates and Certification</a> for more information.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-materials-do-you-provide-for-onsite-trainees">
      What materials do you provide for Onsite Train the Trainer trainees?
    </h5>
    <p class="card-text">
      Onsite Train the Trainer trainees receive certificates just like Operator trainees, but we throw in an additional safety training kit which contains all of the materials they need to put on their own safety training. Don't worry, we've got your back!
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="is-an-onsite-train-the-trainer-required-by-osha">
      Is an Onsite Train the Trainer class required by OSHA?
    </h5>
    <p class="card-text">
      No. Some companies may require their trainers to receive trainer certification, but that is up to them. In the end, as is the case with operator safety training, the responsibility to designate a trainer falls on the shoulders of the company itself. If OSHA were to come in, the employer would simply need to prove why they chose the trainer they did (because of years of experience training, operating, etc.). Trainer training certification by a recognized third party, such as Hard Hat Training, also comes with prestige.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-request-an-onsite-quote">
      How do I request an Onsite Training quote?
    </h5>
    <p class="card-text">
      You can do that several different ways!
    </p>

    <ol>
      <li>Use our <%= link_to "Onsite Request form", onsite_request_path %>.</li>
      <li><%= link_to "Find the course you want", root_path(anchor: "jump-to-courses") %> and select Onsite Training from the purchase options. This takes you to the Onsite Request form and prefills the Training Type field.</li>
      <li><%= link_to "Call us", contact_us_path %>!</li>
      <li>Use the chat box at the bottom of the screen.</li>
      <li><a href="mailto:office@hardhattraining.com?Subject=Onsite Request">Send us an email</a>.</li>
    </ol>

    <p class="card-text">
      We prefer you call or use the <%= link_to "Onsite Request form", onsite_request_path %>, so that we can ask questions to make sure we understand your needs, but any of the above methods will get the ball rolling.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
