<div class="card text-center" id="paying-for-courses">
  <div class="card-header">
    Paying For Courses
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-can-i-pay-for-courses">
      How can I pay for courses?
    </h5>
    <p class="card-text">
      There are multiple ways to pay for courses:
    </p>

    <ul>
      <li>All users can pay with a credit card (see below).</li>
      <li>Company Admins can pay using <a href="#credits">Bulk Credits</a> that have been pre-purchased, or <a href="#payment-terms">Term Payments</a> (ie, Net 30/45/60), if your company has been approved.</li>
    </ul>

    <p>
      Our credit card payments are securely processed by <%= link_to "Stripe", "https://stripe.com/" %>, which accepts "all major debit and credit cards." Your credit card information is sent directly to Stripe and is not recorded by us or stored on our server.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
