<div class="card text-center" id="payment-terms">
  <div class="card-header">
    Payment Terms
  </div>
  <div class="card-body">
    <h5 class="card-title" id="who-is-eligible-for-payment-terms">
      Who is eligible for payment terms?
    </h5>
    <p class="card-text">
      We prefer to extend this privilege to trusted companies we are familiar with. Please <%= link_to 'call us', contact_us_path %> if you wish to have payment terms enabled for your account, and we will make a determination on a case-by-case basis.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-benefits-of-payment-terms">
      What are the benefits of payment terms?
    </h5>
    <p class="card-text">
      Payment terms allow a company to make purchases and pay later, via invoice, while enjoying instant access to our training courses and other materials.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-payment-terms-work">
      How do payment terms work?
    </h5>
    <p class="card-text">
      Once we have enabled payment terms for your account, simply add courses, credits, or other products to your cart, and check out like you normally would, but without entering any payment information. Instead, your order is processed and you are redirected to a page where you can access any links or downloads associated with your order. A short while later, you receive an invoice from us by email. You then have a rolling 30, 45, or 60-day window to make your payment, based on the date of your purchase.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-about-po-numbers">
      What about purchase order (PO) numbers?
    </h5>
    <p class="card-text">
      Once payment terms are enabled for your company, you will see an optional field at the bottom of the Cart page where you can enter a PO number to be associated with your Order.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
