<div class="card text-center" id="refunds-and-returns">
  <div class="card-header">
    Refunds and Returns
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-is-your-policy-for-digital-products">
      What is your policy for digital/electronic products?
    </h5>
    <p class="card-text">
      Due to the nature of digital/electronic products, and the high level of fraud in the past, all sales of these items are final, non-refundable, non-returnable and non-exchangeable.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-is-your-policy-for-nondigital-products">
      What is your policy for non-digital items?
    </h5>
    <p class="card-text">
      Non-digital (ie, physical) items, such as hats and t-shirts, may be returned within xxx days for a refund of the purchase price, minus a $xxx restocking fee. We do not pay for return shipping.
    </p>

    <p>
      <em>To be addressed: Exchanges and refunds for non-digital items.</em>
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
