<div class="card text-center" id="remove-an-employee-from-a-company">
  <div class="card-header">
    Remove An Employee From A Company
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-remove-an-employee-from-my-company">
      How do I remove an employee from my company?
    </h5>
    <p class="card-text">
      If an employee will no longer be a part of your company, for instance if they quit, moved away, or were terminated, a Company Admin can navigate to the Company menu > Employees > Manage Employees, find the employee and press the "Remove" button. An alert will verify that this is what you really want to do.
    </p>

    <p>
      If they will only be gone temporarily, such as for a Leave of Absence, you can <a href="#marking-an-employee-active-inactive">mark the employee as inactive</a>.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
