<div class="card text-center" id="resellers-and-affiliates">
  <div class="card-header">
    Resellers And Affiliates
  </div>
  <div class="card-body">
    <p class="card-text">
      <em>Coming!</em> In the meantime, check out the information on our <a href="https://hardhattraining.com/resell-safety-training/">legacy site</a>.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
