<div class="card text-center" id="switching-currencies">
  <div class="card-header">
    Switching Currencies
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-currencies-can-i-make-purchases-in">
      What currencies can I make purchases in?
    </h5>
    <p class="card-text">
      Our website is currently designed to accept payments in US dollars (USD) or Canadian dollars (CAD). You must bear in mind the following, from <a href="https://stripe.com/docs/currencies">Stripe's documentation</a>:
    </p>

    <blockquote>
      "If the charge currency differs from the customer’s credit card currency, the customer may be charged a foreign exchange fee by their credit card company. The customer may also be charged a fee by their credit card company if the credit card and your business are in different countries, regardless of the currency used."
    </blockquote>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-is-the-default-currency">
      What is the default currency?
    </h5>
    <p class="card-text">
      US dollars (USD), as we are located on the United States.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="why-would-i-switch-currencies">
      Why would I switch currencies?
    </h5>
    <p class="card-text">
      This feature is available because the majority of our customers come from either the United States or Canada. There are also companies with branches in both locations.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-switch-currency">
      How do I switch currency?
    </h5>
    <p class="card-text">
      At any time you can use the quick switcher located in the top right corner of every page to temporarily view pricing in another currency or simply use another currency during that visit.
    </p>

    <p class="card-text">
      If you would like to set a permanent currency other than USD, go to your Company menu > Settings > Preferred Currency. What you set here is automatically saved, and will be the default currency each time you log in.
    </p>
  </div>

  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
