<div class="card text-center" id="time-to-complete-training">
  <div class="card-header">
    Time To Complete Training
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-long-are-your-courses">
      How long are your Online Courses?
    </h5>
    <p class="card-text">
      Trainees go at their own pace, but in general each course (including the exam) takes anywhere from 1 to 3 hours, depending on the topic. We recommend planning enough time so the student doesn't end up rushing through the exam.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
