<div class="card text-center" id="training-course-languages">
  <div class="card-header">
    Training Course Languages
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-languages-are-your-courses-offered-in">
      What languages are your courses offered in?
    </h5>
    <p class="card-text">
      We currently offer courses in English, Spanish, and Tagalog. Please <%= link_to 'let us know', contact_us_path %> if you would benefit from courses in another language, and we will take it into consideration if there is enough interest.
    </p>

    <p class="card-text">
      Each of our Online Courses comes in only one language, so please choose the one you need.
    </p>

    <p class="card-text">
      Our non-English DIY Kits come with additional English materials.
    </p>

    <p class="card-text">
      Our Onsite instructors are English-speaking, but will be happy to work with any interpreter you provide.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
