<div class="card text-center" id="training-delivery-methods-docs">
  <div class="card-header">
    Training Delivery Methods
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-are-the-different-ways-i-can-take-your-courses">
      What are the different ways I can take one of your courses?
    </h5>
    <p class="card-text">
      We currently offer the following:
    </p>

    <ul>
      <li><a href="#diy-kits">DIY Kits</a></li>

      <li><a href="#online-courses">Online Courses</a></li>

      <li><a href="#group-training">Group Training</a></li>

      <li><a href="#onsite-training">Onsite Training</a></li>

      <li><a href="#train-the-trainer">Train The Trainer</a></li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
