<div class="card text-center" id="train-the-trainer">
  <div class="card-header">
    Train The Trainer
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-options-are-available-for-ttt">
      What options are available for Train The Trainer training?
    </h5>
    <p class="card-text">
      Training is available for Trainers <a href="#online-courses">online</a> or <a href="#onsite-training">onsite</a>. The main difference is that online training is more affordable, but it does not allow for any actual time around the equipment. It is important to note that there is no hands-on requirement for trainer certification.
    </p>

    <p>
      No matter which option you choose, we provide your trainer with a free <a href="#diy-kits">DIY Kit</a> that contains everything they need to begin offering training to your employees. See the link for more info on DIY Kit contents and benefits.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
