<div class="card text-center" id="training-course-options">
  <div class="card-header">
    Training Course Options
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-are-my-options-when-purchasing-a-training-course">
      What are my options when purchasing a training course?
    </h5>
    <p class="card-text">
      After selecting the Type of training, you also have the following options:
    </p>

    <ol>
      <li><a href="#training-delivery-methods">Method of Delivery</a></li>
      <li><a href="#training-course-languages">Language</a></li>
      <li><a href="#training-course-stabdards">Standards</a></li>
    </ol>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
