<div class="card text-center" id="training-course-standards">
  <div class="card-header">
    Training Course Standards
  </div>
  <div class="card-body">
    <h5 class="card-title" id="what-standards-are-your-training-courses-based-on">
      What safety standards are your courses based on?
    </h5>
    <p class="card-text">
      All of our courses are based on the latest safety standards from the foremost safety organizations, such as OSHA (Occupational Safety and Health Administration), ANSI (American National Standards Institute), and The CSA Group (formerly the Canadian Standards Association; CSA).
    </p>

    <p>
      As standards can vary somewhat, please be sure to select a training course with the appropriate safety standards for your area.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
