<div class="card text-center" id="user-accounts">
  <div class="card-header">
    User Accounts
  </div>
  <div class="card-body">
    <h5 class="card-title" id="who-are-user-accounts-for">
      Who are User Accounts for?
    </h5>
    <p class="card-text">
      Everyone!
    </p>

    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        If you want to purchase courses, you need a User Account.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        If you want to take courses, you need a User Account.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        If your company is going to pay for courses and assign them to you, you need a User Account.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        If you are going to oversee the training of others, you need a User Account, and a <a href="#company-accounts">Company Account</a>.
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-times"></i></span>
        If you want to stare into the vast reaches of space and become "trained" via cosmic osmosis, you DON'T need a User Account. But we won't send you a certificate, either. So there's that.
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-are-the-benefits-of-a-user-account">
      What are the benefits of a User Account?
    </h5>
    <p class="card-text">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#paying-for-courses">Make Purchases</a>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#online-courses">Take Online Courses</a>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Access our <a href="#learning-management-system">Learning Management System</a>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          View, print, or download <a href="#view-print-or-download-certificates">Certificates</a> earned
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Store certificates earned elsewhere
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Maintain access to all courses and certificates, even if you leave your company
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Take all courses and certificates with you to a new company in our system
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          View order history
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          <a href="#alerts">Receive Alerts About Expiring Certificates</a>
        </li>
      </ul>
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="what-is-required-for-a-user-account">
      What is required for a User Account?
    </h5>
    <p class="card-text">
      You must provide your First and Last Name, and an Email address. If you do not have an Email address, our system will create a fake one for you. Make sure you store this email address, along with your password, so you can access your account later.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
