<div class="card text-center" id="view-employee-progress-and-certificates">
  <div class="card-header">
    View Employee Progress and Certificates
  </div>
  <div class="card-body">
    <h5 class="card-title" id="how-do-i-view-my-employees-progress">
      How do I view my employee's progress?
    </h5>
    <p class="card-text">
      When logged into your Admin account, go to Company menu > Employees > Manage Employees. This page displays a list of employees, and each one has several buttons. Click the button labeled "View".
    </p>

    <p class="card-text">
      You will be taken to the employee's dashboard where you will see a list of all courses they have been assigned to. Next to each course name, their progress is listed in parentheses. "0% completed" means they have made little or no progress.
    </p>
  </div>

  <div class="card-body">
    <h5 class="card-title" id="how-do-i-view-any-certificates-they-have-earned">
      How do I view any certificates they have earned?
    </h5>
    <p class="card-text">
      Beneath the employee's list of assigned courses you will find a section called, "Certificates & Wallet Cards". This section will not be displayed if there are no earned certificates.
    </p>

    <p class="card-text">
      You must first click the provided link that says "log in to the LMS first." This will open a new browser tab and log into the user's account. If you know your way around TalentLMS, you can find and download the certificates this way.
    </p>

    <p class="card-text">
      However, if you return to the browser tab with our website, you can click on the provided download links and they will work. Each one will open a PDF file with both a certificate and wallet card on it.
    </p>

    <p class="card-text">
      When you are finished, return to the browser tab with TalentLMS and log out of the employee's account using the logout button (<%= icon("fas", "sign-out-alt") %>) in the top right corner.
    </p>
  </div>
  <div class="card-footer text-muted">
    <%= render 'back_to_top_button' %>
  </div>
</div>
