<div id="documentation-page">

  <h1>Documentation</h1>

    <div class="card">
      <div class="card-header">
        Add Or Remove Admin Abilities
        <a href="#add-or-remove-admin-abilities"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-abilities-does-an-admin-have">What abilities does an admin have that a regular employee doesn't?</a></li>
        <li class="list-group-item"><a href="#how-can-i-make-an-employee-an-admin">How can I make an employee an admin, or remove this designation?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Adding Employees
        <a href="#adding-employees"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-add-an-individual-employee">How do I add an individual employee?</a></li>
        <li class="list-group-item"><a href="#how-do-i-add-multiple-employees">How do I add multiple employees?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Alerts
        <a href="#alerts"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-are-alerts">What are Alerts?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Assigning Courses
        <a href="#assigning-courses"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#which-courses-can-be-assigned">Which courses can be assigned to employees?</a></li>
        <li class="list-group-item"><a href="#how-do-i-assign-courses">How do I assign courses to my employees?</a></li>
        <li class="list-group-item"><a href="#what-happens-after-i-assign-courses">What happens after I assign courses to employees?</a></li>
        <li class="list-group-item"><a href="#how-do-i-switch-the-course-being-assigned">How do I switch the course being assigned?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Branches
        <a href="#branches"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-are-branches">What are Branches?</a></li>
        <li class="list-group-item"><a href="#how-do-i-set-up-a-branch">How do I set up a Branch?</a></li>
        <li class="list-group-item"><a href="#how-can-i-view-branches">How can I view companies that report to mine (aka branches)?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Certificates And Certification
        <a href="#certificates-and-certification"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#certified-qualified-competent">Do your training courses make me “certified,” “qualified,” or “competent”?</a></li>
        <li class="list-group-item"><a href="#do-students-get-a-certificate">Do students get a certificate or wallet card upon completion?</a></li>
        <li class="list-group-item"><a href="#how-long-is-your-certification-good-for">How long is your certification good for?</a></li>
        <li class="list-group-item"><a href="#can-i-take-my-certification-elsewhere">Can I take my certification and get a job anywhere?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Company Accounts
        <a href="#company-accounts"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#who-are-company-accounts-for">Who are Company Accounts for?</a></li>
        <li class="list-group-item"><a href="#what-are-the-benefits-of-a-company-accounts">What are the benefits of a Company Account?</a></li>
        <li class="list-group-item"><a href="#how-do-i-get-started-with-a-company-accounts">How do I get started with a Company Account?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Company Admins
        <a href="#company-admins"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-become-a-company-admin">How do I become a Company Admin?</a></li>
        <li class="list-group-item"><a href="#how-do-i-make-someone-a-company-admin">How do I make someone a Company Admin?</a></li>
        <li class="list-group-item"><a href="#what-abilities-does-a-company-admin-have">What abilities does a Company Admin have?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Company Menu
        <a href="#company-menu"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-is-the-company-menu">What is the Company Menu?</a></li>
        <li class="list-group-item"><a href="#what-options-are-in-the-company-menu">What Options Are In The Company Menu?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Company Orders
        <a href="#company-orders"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-place-an-order-for-my-company">How do I place an order for my Company?</a></li>
        <li class="list-group-item"><a href="#where-can-i-find-a-list-of-company-orders">Where can I find a list of orders that have been placed for my company?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Company Reports
        <a href="#company-reports"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-generate-reports">How do I generate reports?</a></li>
        <li class="list-group-item"><a href="#what-reports-are-available">What reports are available?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Credits
        <a href="#credits"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-are-credits">What are credits, and how do they work?</a></li>
        <li class="list-group-item"><a href="#how-do-i-purchase-credits">How do I purchase credits?</a></li>
        <li class="list-group-item"><a href="#who-are-credits-for">Who are credits for?</a></li>
        <li class="list-group-item"><a href="#what-are-the-current-rates-for-credits">What are the current discounted rates for credits?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Customized Courses
        <a href="#customized-courses"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#can-you-customize-a-course-for-us">Can you customize a course for us?</a></li>
        <li class="list-group-item"><a href="#can-we-customize-the-courses-ourselves">Can we customize the courses ourselves?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Direct Purchases
        <a href="#direct-purchases"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-is-a-direct-purchase">What is a direct purchase?</a></li>
        <li class="list-group-item"><a href="#how-do-i-make-a-direct-purchase">How do I make a direct purchase?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        DIY Kits
        <a href="#diy-kits"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-is-included-with-each-diy-kit">What is included with each DIY Kit?</a></li>
        <li class="list-group-item"><a href="#are-your-diy-kits-osha-compliant">Are your DIY Kits OSHA-compliant?</a></li>
        <li class="list-group-item"><a href="#are-they-up-to-date">Are they up-to-date?</a></li>
        <li class="list-group-item"><a href="#in-which-countries-can-your-diy-kits-be-used">In which countries can your DIY Kits be used?</a></li>
        <li class="list-group-item"><a href="#what-are-the-computer-requirements">What are the computer requirements to use your DIY Kits?</a></li>
        <li class="list-group-item"><a href="#can-i-customize-your-diy-kits">Can I customize the safety training materials in your DIY Kits?</a></li>
        <li class="list-group-item"><a href="#are-your-diy-kits-reusable">Are your DIY Kits reusable?</a></li>
        <li class="list-group-item"><a href="#can-i-post-your-materials-online">Can I post the materials from your DIY Kits online?</a></li>
        <li class="list-group-item"><a href="#can-i-make-a-backup-copy">If I download a DIY Kit, can I make a backup copy?</a></li>
        <li class="list-group-item"><a href="#can-i-share-my-diy-kit">Can I share my DIY Kit with or make copies for another branch or trainer?</a></li>
        <li class="list-group-item"><a href="#can-i-print-diy-kit-materials">Can I print DIY Kit materials?</a></li>
        <li class="list-group-item"><a href="#are-you-looking-for-resellers">Are you looking for resellers? And will you drop-ship?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Group Training
        <a href="#group-training"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-can-i-train-a-group">How can I train a group of employees with just one online training?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Learning Management System
        <a href="#learning-management-system"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-is-an-lms">What is an LMS (Learning Management System) and which one do you use?</a></li>
        <li class="list-group-item"><a href="#how-does-it-work">How does it work??</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Licensing And Outright Purchase
        <a href="#licensing-and-outright-purchase"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-license-or-purchase-a-course">How do I license or purchase a course?</a></li>
        <li class="list-group-item"><a href="#what-are-the-licensing-terms">What are the licensing terms?</a></li>
        <li class="list-group-item"><a href="#what-are-the-terms-of-an-outright-purchase">What are the terms of an Outright Purchase?</a></li>
        <li class="list-group-item"><a href="#can-an-online-course-be-customized-after-purchase-or-licensing">Can an Online Course be customized after purchase or licensing?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Marking An Employee Active/Inactive
        <a href="#marking-an-employee-active-inactive"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#why-would-i-mark-an-employee-as-inactive">Why would I mark an employee as inactive?</a></li>
        <li class="list-group-item"><a href="#how-do-i-mark-an-employee-as-inactive">How do I mark an employee as inactive?</a></li>
        <li class="list-group-item"><a href="#how-do-i-mark-an-employee-as-active">How do I mark an inactive employee as active?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Online Courses
        <a href="#online-courses"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-access-an-online-course">How do I access an Online Course?</a></li>
        <li class="list-group-item"><a href="#what-does-each-online-course-cover">What does each Online Course cover?</a></li>
        <li class="list-group-item"><a href="#how-long-are-your-online-courses">How long are your Online Courses?</a></li>
        <li class="list-group-item"><a href="#are-your-online-courses-osha-compliant">Are these courses OSHA compliant? Are they up-to-date?</a></li>
        <li class="list-group-item"><a href="#how-many-people-can-use-an-online-course">How many people can use this course? Can I play it for several employees at the same time?</a></li>
        <li class="list-group-item"><a href="#are-scorm-options-available">Are SCORM/Tin Can options available for use on our own company learning management system (LMS)?</a></li>
        <li class="list-group-item"><a href="#can-you-customize-an-online-course-for-us">Can you customize an Online Course for us?</a></li>
        <li class="list-group-item"><a href="#can-we-license-or-purchase-for-internal-use">Can my company license or purchase an Online Course for internal use?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Onsite Training
        <a href="#onsite-training"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-types-of-onsite-training-do-you-offer">What types of Onsite Training do you provide?</a></li>
        <li class="list-group-item"><a href="#how-many-students-can-take-onsite-training">How many students can we have in an Onsite Training class?</a></li>
        <li class="list-group-item"><a href="#how-much-does-onsite-training-cost">How much do your Onsite Training classes cost?</a></li>
        <li class="list-group-item"><a href="#how-do-you-structure-onsite-training">How do you structure your Onsite Training classes?</a></li>
        <li class="list-group-item"><a href="#do-we-get-certificates-with-onsite-training">Do we get certificates with Onsite Training classes?</a></li>
        <li class="list-group-item"><a href="#what-materials-do-you-provide-for-onsite-trainees">What materials do you provide for Onsite Train the Trainer trainees?</a></li>
        <li class="list-group-item"><a href="#is-an-onsite-train-the-trainer-required-by-osha">Is an Onsite Train the Trainer class required by OSHA?</a></li>
        <li class="list-group-item"><a href="#how-do-i-request-an-onsite-quote">How do I request an Onsite Training quote?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Paying For Courses
        <a href="#paying-for-courses"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-can-i-pay-for-courses">How can I pay for courses?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Payment Terms
        <a href="#payment-terms"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#who-is-eligible-for-payment-terms">Who is eligible for payment terms?</a></li>
        <li class="list-group-item"><a href="#what-are-the-benefits-of-payment-terms">What are the benefits of payment terms?</a></li>
        <li class="list-group-item"><a href="#how-do-payment-terms-work">How do payment terms work?</a></li>
        <li class="list-group-item"><a href="#what-about-po-numbers">What about purchase order (PO) numbers?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Refunds and Returns
        <a href="#refunds-and-returns"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-is-your-policy-for-digital-products">What is your policy for digital/electronic products?</a></li>
        <li class="list-group-item"><a href="#what-is-your-policy-for-nondigital-products">What is your policy for non-digital items?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Remove An Employee From A Company
        <a href="#remove-an-employee-from-a-company"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-do-i-remove-an-employee-from-my-company">How do I remove an employee from my company?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Resellers And Affiliates
        <a href="#resellers-and-affiliates"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">

      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Switching Currencies
        <a href="#switching-currencies"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-currencies-can-i-make-purchases-in">What currencies can I make purchases in?</a></li>
        <li class="list-group-item"><a href="#what-is-the-default-currency">What is the default currency?</a></li>
        <li class="list-group-item"><a href="#why-would-i-switch-currencies">Why would I switch currencies?</a></li>
        <li class="list-group-item"><a href="#how-do-i-switch-currency">How do I switch currency?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Time To Complete Training
        <a href="#time-to-complete-training"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#how-long-are-your-courses">How long are your Online Courses?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Train The Trainer
        <a href="#train-the-trainer"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-options-are-available-for-ttt">What options are available for Train The Trainer training?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Training Course Languages
        <a href="#training-course-languages"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-languages-are-your-courses-offered-in">What languages are your courses offered in?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Training Course Options
        <a href="#training-course-options"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-are-my-options-when-purchasing-a-training-course">What are my options when purchasing a training course?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Training Course Standards
        <a href="#training-course-standards"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-standards-are-your-training-courses-based-on">What safety standards are your courses based on?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Training Delivery Methods
        <a href="#training-delivery-methods-docs"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#what-are-the-different-ways-i-can-take-your-courses">What are the different ways I can take one of your courses?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        User Accounts
        <a href="#user-accounts"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#who-are-user-accounts-for">Who are User Accounts for?</a></li>
        <li class="list-group-item"><a href="#what-are-the-benefits-of-a-user-account">What are the benefits of a User Account?</a></li>
        <li class="list-group-item"><a href="#what-is-required-for-a-user-account">What is required for a User Account?</a></li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        View Employee Progress and Certificates
        <a href="#view-employee-progress-and-certificates"><%= icon("fas", "level-down-alt") %></a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#who-are-user-accounts-for">Who are User Accounts for?</a></li>

        <li class="list-group-item"><a href="#how-do-i-view-my-employees-progress">How do I view my employee's progress?</a></li>
        <li class="list-group-item"><a href="#how-do-i-view-any-certificates-they-have-earned">How do I view any certificates they have earned?</a></li>
      </ul>
    </div>

  </ul>

  <div id="answers">
    <%#= render 'account_types' %>

    <%= render 'add_or_remove_admin_abilities' %>

    <%= render 'adding_employees' %>

    <%= render 'alerts' %>

    <%= render 'assigning_courses' %>

    <%= render 'branches' %>

    <%= render 'certificates_and_certification' %>

    <%= render 'company_accounts' %>

    <%= render 'company_admins' %>

    <%= render 'company_menu' %>

    <%= render 'company_orders' %>

    <%= render 'company_reports' %>

    <%= render 'credits' %>

    <%= render 'customized_courses' %>

    <%= render 'direct_purchases' %>

    <%= render 'diy_kits' %>

    <%= render 'group_training' %>

    <%= render 'lms' %>

    <%= render 'licensing_and_outright_purchase' %>

    <%= render 'marking_an_employee_active_inactive' %>

    <%= render 'online_courses' %>

    <%= render 'onsite_training' %>

    <%= render 'paying_for_courses' %>

    <%= render 'payment_terms' %>

    <%= render 'refunds_and_returns' %>

    <%= render 'remove_an_employee_from_a_company' %>

    <%= render 'resellers_and_affiliates' %>

    <%= render 'switching_currencies' %>

    <%= render 'time_to_complete_training' %>

    <%= render 'train_the_trainer' %>

    <%= render 'training_course_languages' %>

    <%= render 'training_course_options' %>

    <%= render 'training_course_standards' %>

    <%= render 'training_delivery_methods' %>

    <%= render 'user_accounts' %>

    <%= render 'view_employee_progress_and_certificates' %>

  </div>
</div>