<p class="note">
  <strong>NOTE:</strong> If you use multiple currencies, use the currency switcher in the top right to toggle between views.
</p>

<% if usd_is_set? %>
  <% if current_company.has_credits? %>
    <p>
      You have USD Credits. You may <%= link_to "pick a course to assign", training_topics_path %>.
    </p>
  <% else %>
    <p>
      You have no USD Credits. Please <%= link_to "go here to buy some", credit_packs_path %>.
    </p>
  <% end %>
<% else # if cad_is_set? %>
  <% if current_company.has_cad_credits? %>
    <p>
      You have CAD Credits. You may <%= link_to "pick a course to assign", training_topics_path %>.
    </p>
  <% else %>
    <p>
      You have no CAD Credits. Please <%= link_to "go here to buy some", credit_packs_path %>.
    </p>
  <% end %>
<% end %>

<% if current_company.has_direct_purchases? %>
  <p>
    You have Direct Purchases. Please navigate to <em>Courses > Direct Purchases</em> using the menu above, and select a course to assign.
  </p>
<% else %>
  <p>
    You have no Direct Purchases.
  </p>
<% end %>
