<div id="company-form" class="content-container">
  <%= form_with(model: company, local: true) do |form| %>
    <% if company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group col-md-6">
        <%#= form.label :name %>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>

      <div class="form-group col-md-6">
        <%#= form.label :email %>
        <%= form.text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>

    <div class="form-group form-field-padding">
      <%#= form.label :address %>
      <%= form.text_field :address, class: 'form-control', placeholder: 'Address' %>
    </div>

    <div class="form-group form-field-padding">
      <%#= form.label :city %>
      <%= form.text_field :city, class: 'form-control', placeholder: 'City' %>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%#= form.label :state %>
        <%#= form.text_field :state, class: 'form-control' %>
        <%= form.select(:state, options_for_select(select_states_and_provinces, company.state), {}, { required: true, class: 'form-control' }) %>
      </div>

      <div class="form-group col-md-6">
        <%#= form.label :zip %>
        <%= form.text_field :zip, class: 'form-control', placeholder: 'Zip' %>
      </div>
    </div>

    <div class="form-group">
      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if company.persisted? %>
        <%= link_to "Cancel", company, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", companies_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
