<% if current_company.present? %>
  <%= render 'shared/company_header' %>
<% end %>

<div id="course-assignment-page">
  <h2>Course Assignment</h2>

  <% if session[:course_to_assign].present? %>

    <h3><%= @course.title %></h3>
    <p>( <%= link_to "Choose a different course?", training_topics_path %> )</p>

    <p>
      Select the Employees you would like to assign this course to.
    </p>
    <p>
      <span class="green"><%= icon("fas", "check") %></span> = already enrolled
    </p>

    <% if @company_courses.present? %>
      <p>
        You have <%= @company_courses.map(&:quantity).sum %> direct purchase(s) of this course, which will be used first.
      </p>
    <% end %>
<%# xyz %>
    <%= form_with url: companies_assign_multiple_courses_path, method: 'post', local: true do |form| %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col" class="text-left">Employee</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td scope="row" class="green">
                <% if @current_student_ids.include?(employee.talent_user_id) %>
                  <%= icon("fas", "check") %>
                <% else %>
                  <%= check_box_tag "users[]", employee.talent_user_id, false, class: 'selectable' %>
                  <% @non_students << employee.talent_user_id %>
                <% end %>
              </td>
              <td class="text-left"><%= employee.last_name %>, <%= employee.first_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= hidden_field_tag(:course_id, @course_id) %>
      <%= hidden_field_tag(:talent_course_id, @this_talent_course) %>
      <%= hidden_field_tag(:lookup_class, @lookup_class) %>
      <%= form.submit 'Assign to Selected', class: 'btn btn-primary btn-spinner' %>

    <% end %>

    <p>
      <%= form_with url: companies_assign_multiple_courses_path, method: 'post', local: true do |form| %>
        <%= hidden_field_tag(:all_users, @non_students, html: { multiple: true }) %>
        <%= hidden_field_tag(:course_id, @course_id) %>
        <%= hidden_field_tag(:talent_course_id, @this_talent_course) %>
        <%= hidden_field_tag(:lookup_class, @lookup_class) %>
        <% @length_of_time = @non_students.count > 10 ? "minute or so" : "few seconds" %>
        <%= form.submit 'Assign to All Unenrolled', class: 'btn btn-primary btn-spinner', data: { confirm: "Please be patient.", title: "This might take a #{ @length_of_time }…", commit: 'Okay. Let\'s do it!' } %>
      <% end %>
    </p>

    <% @cost = (@non_students.count * @the_price) %>

    <p>
      <%= @company.name %> has <%= number_to_currency @credits / 100 %> in <%= session[:preferred_currency].upcase %> credits.
    </p>

    <% if @non_students.count > 0 %>
      <p>
        For all <%= @non_students.count %> employee(s), this will cost <%= number_to_currency @cost / 100 %>.
      </p>
    <% end %>

    <% if @cost > @credits %>
      <p>
        You need <%= number_to_currency (@cost - @credits) / 100 %> more credits.
      </p>
      <%# Button trigger modal %>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#creditPackModal">
        Buy More Credits
      </button>

      <%# Modal %>
      <div class="modal fade" id="creditPackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'shared/credit_packs' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <% else %>
    <% if current_company.present? %>
      <%= render 'assign_course_company' %>
    <% else # if current_user.present? %>
      <%= render 'assign_course_user' %>
    <% end %>
  <% end %>
</div>
