<%= render 'shared/company_header' %>

<% if !@branches.empty? %>

  <h1 class="text-center">Branch View</h1>

  <% @branches.each do |branch| %>
    <h3><%= branch.name %></h3>
    <p><%= branch.full_address %></p>

    <h5>Admins</h5>
    <% branch.admins.each do |employee| %>
      <p><%= employee.user.name.full %> [<%= mail_to(employee.user.email, employee.user.email) %>]</p>
    <% end %>
  <% end %>

<% else %>
  <p class="text-center">Your company does not have any branches set up at this time, or is the branch of another company.</p>
<% end %>
