<h1>Orders for <%= current_company.name %></h1>

<% if @company_orders.any? %>
  <% @company_orders.each do |o| %>
    <p>
      <%= link_to "Order #{ o.order.id }", order_path(o.order.id), id: o.user.id %><br/>
      placed by <%= o.user.name.full %><br/>
      <%= readable_time(o.created_at) %>
      <% if o.po_number.present? %>
        <br/>
        PO# <%= o.po_number %>
      <% end %>
  <% end %>
<% end %>