<h1>Edit Company</h1>

<p>
  On our website, your company has ID# <strong><%= @company.id %></strong>.
</p>

<% if session[:current_company]["talent_name"].present? %>
  <p>
    In our LMS, your company is known as <strong><%= session[:current_company]["talent_name"] %></strong>, and has ID# <strong><%= session[:current_company]["talent_branch_id"] %></strong>.
  </p>
<% else %>
  <p>
    This Company is not registered with our Learning Management System.
  </p>
<% end %>

<%= render 'form', company: @company %>
