<h1 class="h1-margins text-center">Companies</h1>

<%= link_to new_company_path, class: 'btn btn-primary h3-margins' do %>
  Add New Company
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Address</th>
        <th>Parent</th>
        <th>Currency</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @companies.includes([:parent]).each do |company| %>
        <%= content_tag :tr, id: dom_id(company), class: dom_class(company) do %>

          <td><%= company.name %></td>
          <td><%= company.address %>, <%= company.city %>, <%= company.state %> <%= company.zip %></td>
          <td>
            <% if company.parent.present? %>
              <%= link_to company.parent.name, company.parent %>
            <% else %>
              None
            <% end %>
          </td>
          <td><%= company.preferred_currency.upcase %></td>
          <td>
            <%= link_to 'View', company, class: 'btn btn-success' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
