<div id="company-dashboard">
  <%= render 'shared/company_header', current_company: current_company %>

  <%= button_to "Find A Course To Purchase", training_topics_path, class: 'btn btn-primary', method: :get %>

  <%= render 'shared/announcements' %>
</div>
