<div class="page-header h1-margins">
  <%= link_to companies_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Companies
  <% end %>
  <%= link_to edit_company_path(@company), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @company.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Address:</dt>
  <dd>
    <%= @company.address %><br/>
    <%= @company.city %>, <%= @company.state %> <%= @company.zip %>
  </dd>

  <dt>Parent:</dt>
  <dd>
    <% if @company.parent.present? %>
      <%= link_to @ompany.parent.name, @company.parent %>
    <% else %>
      None
    <% end %>
  </dd>
</dl>
