<div id="page-container" class="shopping-cart-page">
  <h1>Shopping Cart</h1>

  <% if @order_items.present? %>
    <h5 class="h5-margins"><%= link_to 'Continue Shopping', training_topics_path %></h5>
  <% end %>

  <% @order_items.each do |order_item| %>

    <div class="my-4 py-4 border-bottom col-lg-10 offset-lg-1  col-xl-8 offset-xl-2">
      <div class="row">
        <div class="col-sm-5 col-md-6 cart-link">
          <% oi_identification(order_item) %>
          <% oi_link_location(order_item) %>

          <%= link_to order_item.oi_name, @link_location %><br/>
          <span>
            [
              <%= order_item.orderable_type %>
              <% if @this_oi.language.present? %>
                / <%= @this_oi.language.capitalize %>
              <% end %>
              <% if @this_oi.standards.present? %>
                / <%= @this_oi.standards.upcase %>
              <% end %>
              <% if order_item.specifics.present? %>
                / <%= order_item.specifics %>
              <% end %>
            ]
          </span>
        </div>

        <div class="col-sm-4 col-md-3 cart-qty-selector">
          <%= form_with model: order_item, local: true, class: "form-inline" do |form| %>
            <%= form.number_field :quantity, class: "form-control" %>
            <%= form.button "Update", class: "btn btn-secondary btn-spinner" %>
          <% end %>
        </div>

        <div class="col-sm-3 text-right">
          <%= number_to_currency order_item.total(session[:preferred_currency]) / 100.0 %><br>
          <% if @shippable.include?(order_item.orderable_type) %>
            <span id="cart-oi-shipping">
              S+H <%= number_to_currency order_item.send(current_cart.shipping_method) / 100.0 %>
            </span>
          <% end %>

          <%= form_with model: order_item, local: true, class: "remove-order-item" do |form| %>
            <%= form.hidden_field :quantity, value: 0, class: "form-control" %>
            <%= form.button "Remove", class: "btn-spinner" %>
          <% end %>
        </div>
      </div>

      <% if (order_item.orderable_type == 'Kit') %>
        <% if order_item.existing_backup.nil? %>
          <h5><small>Protect your investment!</small></h5>
        <% end %>
        <div class="row backup-btn-form">
          <% if order_item.existing_backup.nil? %>
            <%# if @backup_formats.present? %>
              <% @backup_formats.each do |bf| %>
                <%= button_to "Add #{ bf.format.upcase } Backup ($#{ (session[:preferred_currency] == "usd" ? bf.price : bf.cad_price) / 100 })", order_items_path(orderable_id: bf.id, orderable_type: 'Backup', backup_for: order_item.id), method: :post, class: "btn btn-primary btn-spinner" %>
              <% end %>
            <%# else %>
<!--               <div class="col-sm-6">
                <%# if !@usb_backup.nil? %>
                  <%#= button_to "Add USB Backup ($#{ (session[:preferred_currency] == "usd" ? @usb_backup.price : @usb_backup.cad_price) / 100 })", order_items_path(orderable_id: @usb_backup.id, orderable_type: 'Backup', backup_for: order_item.id), method: :post, class: "btn btn-primary oi-btn btn-spinner" %>
                <%# end %>
              </div>

              <div class="col-sm-6">
                <%# if !@cd_backup.nil? %>
                  <%#= button_to "Add CD Backup ($#{ (session[:preferred_currency] == "usd" ? @cd_backup.price : @usb_backup.cad_price) / 100 })", order_items_path(orderable_id: @cd_backup.id, orderable_type: 'Backup', backup_for: order_item.id), method: :post, class: "btn btn-primary oi-btn btn-spinner" %>
                <%# end %>
              </div> -->
            <%# end %>

          <% else %>

            <% backup_item = @backup_items.find_by(backup_for: order_item.id) %>

              <div class="col-sm-5 col-md-6 cart-link">
                w/ <%= backup_item.oi_name.upcase %> Backup
              </div>

              <div class="col-sm-4 col-md-3 cart-qty-selector">
                <%= form_with model: backup_item, local: true, class: "form-inline" do |form| %>
                  <%= form.number_field :quantity, class: "form-control" %>
                  <%= form.button "Update", class: "btn btn-secondary btn-spinner" %>
                <% end %>
              </div>

              <div class="col-sm-3 text-right">
                <%# if @currency == 'usd' %>
                  <%= number_to_currency backup_item.total(@currency) / 100.0 %><br>
                  <span id="cart-oi-shipping">
                    S+H <%= number_to_currency backup_item.send(current_cart.shipping_method) / 100.0 %>
                  </span>

                  <%= form_with model: backup_item, local: true, class: "remove-order-item" do |form| %>
                    <%= form.hidden_field :quantity, value: 0, class: "form-control" %>
                    <%= form.button "Remove", class: "btn-spinner" %>
                  <% end %>
              </div>

          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if current_cart.order_items.none? %>

    <p>
      You need to <%= link_to "add an item to your cart", training_topics_path %> before you can checkout.
    </p>

  <% else %>

    <% if (@related_items.present? || @courses_added == true) && !Rails.env.test? %>
      <div id="related-items" class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2" >
        <h5>
          Related Items:
        </h5>

        <% if @related_items.present? %>
          <% @related_items.each do |related_item| %>
            <% if related_item.relatable.active == true %>
              <%= link_to related_item.relatable do %>
                <div class="card" style="width: 200px;">
                  <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
                  <% this_image = related_item.relatable.image_url(:small) %>
                  <%= image_tag (this_image ||= related_item.relatable.image_url), class: "card-img-top", alt: "Card image cap" %>
                  <div class="card-body">
                    <h3 class="card-title search-card-title"><%= related_item.relatable.name %></h3>
                  </div>
                </div>
              <% end %>

            <% end %>
          <% end %>
        <% end %>

        <% if @courses_added == true %>
          <% @certificates.each do |certificate| %>
            <%= link_to certificate do %>
              <div class="card" style="width: 200px;">
                <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
                <%= image_tag certificate.image_url, class: "card-img-top", alt: "Card image cap" %>
                <div class="card-body">
                  <h3 class="card-title search-card-title"><%= certificate.name %></h3>
                </div>
              </div>
            <% end %>
          <% end %>

          <% @card_groups.each do |card_group| %>
            <%= link_to card_group do %>
              <div class="card" style="width: 200px;">
                <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
                <%= image_tag card_group.image_url, class: "card-img-top", alt: "Card image cap" %>
                <div class="card-body">
                  <h3 class="card-title search-card-title"><%= card_group.name %></h3>
                </div>
              </div>
            <% end %>
          <% end %>

          <% @lanyard_groups.each do |lanyard_group| %>
            <%= link_to lanyard_group do %>
              <div class="card" style="width: 200px;">
                <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
                <%= image_tag lanyard_group.image_url, class: "card-img-top", alt: "Card image cap" %>
                <div class="card-body">
                  <h3 class="card-title search-card-title"><%= lanyard_group.name %></h3>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

      </div>
    <% end %>

    <div id="cart-total" class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2" >
      <table>
        <% if @shippable.present? %>
          <tr>
            <td class="left">Shipping Type:</td>
            <td class="right">
              <%#= form_with model: current_cart do |form| %>
              <%= form_with url: change_shipping_path, local: true, method: :get do |form| %>
                <%= form.select(:shipping_method, options_for_select([["Basic", "shipping_price"], ["US Priority", "priority_shipping"], ["International", "intl_shipping"]], current_cart.shipping_method), {}, { class: "form-control shipping-select", onchange: "this.form.submit();" }) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="left">Subtotal:</td>
          <td class="right"><%= number_to_currency current_cart.subtotal(session[:preferred_currency]) / 100.0 %></td>
        </tr>
        <tr>
          <% if @coupon_code.blank? %>
            <td colspan="2" id="coupon-code-form">
              <%= form_with url: verify_code_path, method: :get, local: true, class: "form-inline" do |form| %>
                <%= form.text_field :coupon_code, class: "form-control", placeholder: "Coupon Code" %>
                <%= form.button "Add", class: "btn btn-secondary btn-spinner" %>
              <% end %>
            </td>
          </tr>
          <% else %>
            <td class="left">
              Coupon Code:
            </td>
            <td class="right">
              <%= @coupon_code.code %> <span class="remove-coupon">
              <%= link_to remove_coupon_code_path, class: 'btn-spinner' do %>
                <%= icon("fas", "times-circle") %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="left">
              Savings:
            </td>
            <td class="right">
              <% if @coupon_code.flat_rate.present? %>
                <em>- <%= number_to_currency @coupon_code.flat_rate / 100 %></em>
              <% else %>
                <% if @coupon_code.scope == "order_total" %>
                  <em>- <%= number_to_currency current_cart.percentage_off_total(@coupon_code.percentage, session[:preferred_currency]) / 100 %></em>
                <% else %>
                  <em>- <%= number_to_currency current_cart.amt_from_percentage(@coupon_code.scope, @coupon_code.percentage, session[:preferred_currency]) / 100 %></em>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <tr>
          <td class="left">Total:</td>
          <td class="right"><%= session[:preferred_currency].upcase %> <%= number_to_currency current_cart.total(session[:preferred_currency]) / 100.0 %></td>
        </tr>
      </table>
    </div>

    <% if !@shippable.blank? %>
      <h2>Shipping Address</h2>

      <p class="note">
        <small><strong>Foreign Orders:</strong> If your order has shippable/physical items, and you are located outside the USA/Canada, please <%= link_to 'contact us', contact_us_path %> to place an order directly.</small>
      </p>

      <p class="note">
        <small><strong>Idaho Orders:</strong> Shipping to Idaho? Taxes will be applied on the next page.</small>
      </p>

      <p class="mb-3">
        <span class="required-fields">*</span> <strong>Required Fields</strong>
      </p>
    <% end %>


    <%= form_with url: add_shipping_address_path, method: 'post', local: true, class: 'text-left col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2' do |form| %>
      <% if !@shippable.blank? %>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%#= form.label 'Recipient' %>
            <label for=""><span class="required-fields">*</span> Recipient</label>
            <%= form.text_field :to_name, class: 'form-control', value: current_user.name, id: "inputName", placeholder: "Bob Ross" %>
          </div>
          <div class="form-group col-md-6">
            <%#= form.label "Recipient's Email" %>
            <label for=""><span class="required-fields">*</span> Contact Email</label>
            <%= form.text_field :to_email, class: 'form-control', value: current_user.email, id: "inputEmail4", placeholder: 'something@something.com' %>
          </div>
        </div>

        <div class="form-group">
          <%#= form.label 'Street Address 1' %>
            <label for=""><span class="required-fields">*</span> Street Address 1</label>
          <%= form.text_field :to_street1, class: 'form-control', value: current_cart.to_street1 %>
        </div>

        <div class="form-group">
          <%= form.label 'Street Address 2' %>
          <%= form.text_field :to_street2, class: 'form-control', value: current_cart.to_street2 %>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%#= form.label 'City' %>
            <label for=""><span class="required-fields">*</span> City</label>
            <%= form.text_field :to_city, class: 'form-control', value: current_cart.to_city %>
          </div>

          <div class="form-group col-md-3">
            <%#= form.label 'State / Province' %>
            <label for=""><span class="required-fields">*</span> State / Province</label>
            <%= form.select(:to_state, options_for_select(select_states_and_provinces, current_cart.to_state), {}, { include_blank: true, class: 'form-control' }) %>
          </div>

          <div class="form-group col-md-3">
            <%#= form.label 'ZIP/Postal Code' %>
            <label for=""><span class="required-fields">*</span> ZIP/Postal Code</label>
            <%= form.text_field :to_zip, class: 'form-control', value: current_cart.to_zip %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <%#= form.label 'Country' %>
              <label for=""><span class="required-fields">*</span> Country</label>
            <%= form.select(:to_country, options_for_select([ "USA", "CANADA" ], current_cart.to_country), {}, { include_blank: true, class: 'form-control' }) %>
          </div>
        </div>

        <%= form.hidden_field :address_provided, value: true %>

      <% else %>

        <%= form.hidden_field :to_name, value: '' %>
        <%= form.hidden_field :to_street1, value: '' %>
        <%= form.hidden_field :to_street2, value: '' %>
        <%= form.hidden_field :to_city, value: '' %>
        <%= form.hidden_field :to_state, value: '' %>
        <%= form.hidden_field :to_zip, value: '' %>
        <%= form.hidden_field :to_country, value: '' %>
        <%= form.hidden_field :to_email, value: '' %>

        <%= form.hidden_field :address_provided, value: false %>

      <% end %>

      <% if !@commentable.blank? %>
        <div class="form-group">
          <%#= form.label "Additional Information" %>
            <label for=""><span class="required-fields">*</span> Additional Information</label>
          <%= form.text_area :additional_info, class: 'form-control', value: current_cart.additional_info, placeholder: @comments %>
        </div>

        <div class="form-group grp-trn-dt">
          <%#= form.label "Group Training Date" %>
          <label for=""><span class="required-fields">*</span> Group Training Date</label>
          <div class="selectors">
            <%= form.date_select :group_training_date, options: { prompt: true, start_year: Date.today.year } %>
          </div>
        </div>
      <% else %>
        <%= form.hidden_field :additional_info, value: '' %>
        <%= form.hidden_field :group_training_date, value: '' %>
      <% end %>

      <% if current_company.present?  && (@invoicable == true) %>
        <div class="form-group">
          <%= form.label "PO Number" %>
          <%= form.text_field :po_number, class: 'form-control', placeholder: '(optional)' %>
        </div>
      <% end %>

      <div class="text-right" id="checkout-btn-block">
        <% if ( @shippable.blank? ) && ( @currency == 'usd' ) %>
          <div>
            Idaho Resident?
          </div>

          <%= form.label "No" %>
          <%= radio_button_tag 'idaho_resident', 'false', true %>

          <%= form.label "Yes" %>
          <%= radio_button_tag 'idaho_resident', 'true', false %>
        <% end %>

        <div class="mb-4 text-right">
          <button class="btn btn-primary btn-spinner">Checkout</button>
        </div>
      </div>

    <% end %>
  <% end %>
</div>