<div id="edit-tag-container">
  <div class="form-section">
    <h1 class="h1-margins">Edit Tag</h1>
    <div class="form-row">
      <div class="form-group col-md-6 offset-md-3">
        <p>
          Currently Showing:<br/><%= @tag.name %>
        </p>
        <%= form_with(url: update_tag_path, method: :post) do |f| %>
          <% if @tag.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this @tag from being saved:</h2>

                <ul>
                <% @tag.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

          <div class="field">
            <%#= f.label :name, "New:" %>
            <%= f.text_field :name, class: 'form-control', placeholder: "What should it be changed to?" %>
            <%= f.hidden_field :id, value: @tag.id %>
          </div>

          <div class="actions">
            <%= f.submit class: 'btn btn-primary' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
