<div id="product-group-form" class="content-container">
  <%= form_with(model: product_group, local: true) do |form| %>
    <% if product_group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product_group.errors.count, "error") %> prohibited this product_group from being saved:</h2>

        <ul>
        <% product_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Header Image</h3>
      <p>
        <small>Must be 1198 x 530, < 75 KB.</small><br/>
        <small>Please verify that the dimensions are correct!</small><br/>
        <%= link_to "Compress Or Die", "https://compress-or-die.com", target: :_blank %> | <%= link_to "Unsplash", "https://unsplash.com", target: :_blank %>
      </p>
      <div class="form-group product-group-image-container">
        <% if product_group.image.present? %>
          <%= image_tag product_group.image_url, class: "product-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: product_group.cached_image_data %>

        <%#= form.label "Header Image (must be 1198 x 530, < 75 KB)" %>
        <%# if product_group.persisted? %>
        <%= form.file_field :image, class: 'form-control-file', id: "image-file-upload", required: (product_group.persisted? ? false : true) %>
      </div>
      <div class="form-group">
        <%= form.label :alt_text, "Alt Text" %>
        <%= form.text_field :alt_text, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Name / Video</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%= form.label :video, "Video (vooPlayer code, ie, MjA0NjIw)" %>
          <%= form.text_field :video, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Overview</h3>
      <div class="form-group">
        <%#= form.label :overview %>
        <%= form.hidden_field :overview, id: 'product_group_overview' %>
        <trix-editor input="product_group_overview"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>Training Standards</h3>
      <div class="form-group">
        <%#= form.label :training_standards %>
        <%= form.hidden_field :training_standards %>
        <trix-editor input="product_group_training_standards"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>Facts</h3>
      <div class="form-group">
        <%#= form.label :facts %>
        <%= form.hidden_field :facts %>
        <trix-editor input="product_group_facts"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>Fails / In The News</h3>
      <div class="form-group">
        <%#= form.label :fails %>
        <%= form.hidden_field :fails %>
        <trix-editor input="product_group_fails"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3>SEO</h3>
      <div class="form-group">
        <%= form.label :keywords %>
        <%= form.text_area :keywords, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= javascript_include_tag "char_counter" %>
        <%#= form.label :meta_description, "Meta Description" %>
        <label for="meta_description">Meta Description (<span id="metaDescription">0</span> / 160)</label>
        <%= form.text_area :meta_description, class: 'form-control', onkeyup: "countChars(this);" %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if product_group.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', product_group, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if product_group.persisted? %>
        <%= link_to "Cancel", product_group, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", product_groups_path, class: "btn btn-link" %>
      <% end %>
    </div>

    <% if !product_group.new_record? %>
      <hr>

      <div class="container">
        <div class="row" id="product-group-categories">
          <h2>Categories</h2>
          <h5>Which Categories Does This Product Group Belong To?</h5>
          <div class="col-6-md offset-md-3 align-self-center product-group-categories">
            <% @categories.each do |category| %>

              <% if product_group.tag_list.include?(category.name) %>
                <%= link_to category, remove_tag_path(tag: category.name, id: product_group.id), class: 'btn btn-success btn-product-group btn-sm' %>
              <% else %>
                <%= link_to category, add_tag_path(tag: category.name, id: product_group.id), class: 'btn btn-light btn-product-group btn-sm' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
