<%# NOT SURE IF THIS PAGE IS USED… DOESN'T APPEAR TO BE CALLED ANYWHERE! %>

<section id="pendant">
  <hr id="blue-header-hr">
  <section class="pendant-image">
    <section class="pendant-text">
    <span class="safety-training">Safety Training</span><br/>
    <span class="solutions">Solutions</span>
    <p class="tagline">
      Stop training the hard way.
      Try the Hard Hat Training way instead.
    </p>
    <p>
      <span class="product-title-container">
        <span id="product-title" class="product-title">
          <%= @kit.title %>
        </span>
      </span>
    </p>

<%# Button trigger modal %>
<button type="button" class="btn btn-primary green-button" data-toggle="modal" data-target="#exampleModal">
  Purchase
</button>

<%# Modal %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= button_to "Add to Cart", order_items_path(orderable_id: @kit.id, orderable_type: 'Kit'), method: :post, class: "btn btn-primary" %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<%# End Modal %>

  </section>
  </section>
  <div class="container-tri">
    <hr id="orange-header-hr">
  </div>
</section>

<div class="container-tri">
  <div class="tri-above orange-tri-above"></div>
  <p class="click-an-icon">
    Click an icon below to learn more about our training options.
  </p>
  <section class="section-white no-section-padding training-types-section">
    <div id="diy-kits-training-type">
      <%= link_to "#" do %>
        <%= image_tag "training-type-icons/diy-icon-t-265x200.png", alt: "DIY Training Kit Icon", class: "training-type-icon" %>
      <% end %>

      <h3>DIY Kit</h3>
      <p class="info-text">
        Train your operators <em>yourself</em>. Includes everything you need to complete the training then administer and score the exam. *Customizeable and reusable.
      </p>
    </div>

    <div id="online-training-type">
      <%= link_to "#" do %>
        <%= image_tag "training-type-icons/online-icon-t-265x200.png", alt: "Online Training Icon", class: "training-type-icon" %>
      <% end %>

      <h3>Online</h3>
      <p class="info-text">
        Our <em>most popular</em> training option. Purchase training for yourself or create a branch to assign employees courses, view their progress and gettest score emails. *Print wallet card(s) and certificate(s) upon completion with passing grade.
      </p>
    </div>

    <div id="train-the-trainer-training-type">
      <%= link_to "#" do %>
        <%= image_tag "training-type-icons/train-the-trainer-icon-t-265x200.png", alt: "Train the Trainer Icon", class: "training-type-icon" %>
      <% end %>

      <h3>Train the Trainer</h3>
      <p class="info-text">
        Don't have a certified trainer? This option is for you. Instant access to the online Train the Trainer course with <em>lifetime certification</em>. *Kit included for free.
      </p>
    </div>

    <div id="onsite-training-type">
      <%= link_to "#" do %>
        <%= image_tag "training-type-icons/onsite-icon-t-265x200.png", alt: "Onsite Training Icon", class: "training-type-icon" %>
      <% end %>

      <h3>On-site</h3>
      <p class="info-text">
        Let us come to you and take care of the training. We offer Train the Trainer and Train the Operator training onsite. With <em>over fifteen years of experience</em> we'll make your onsite training hassle free. *Best for large groups.
      </p>
    </div>
  </section>
</div>

<section class="section-white">
  <h1 class="product-title">360 EXCAVATOR TRAINING OVERVIEW</h1>
  <p id="product-desc" class="product-desc">
    <span id="product-details">
      <p>A complete safety training course for operators of excavators. Our courses are OSHA compliant. Quiz questions throughout the training prepare the trainee for the final written examination. Our online versions fulfill OSHA’s classroom training requirement.</p>

      <p>These are some of the main OSHA and ANSI standards for excavators. States, provinces, and cities may have additional standards, as do some industries. It is your responsibility to know all federal, state, local and company rules that apply to your machine and job site.</p>

      <p>Each class covers an introduction to the equipment, a section on anatomy, maintenance and inspections, hazards, safe operation, stability, and more. Quiz questions along the way prepare the trainee for the final written examination. This course also includes a written exam and a checklist to be used by your employer after the exam for the purpose of administering the required practical examination.</p>
    </span>
  </p>
</section>

<div class="container-tri">
  <section class="section-blue tri-above white-tri-above">
    <div id="triangle" class="white-triangle"></div>
    <h2>Why you need training</h2>
    <p>
      <span id="why-you-need-training-text">
        <p>In line with OSHA requirements, anyone who operates heavy equipment must receive training prior to operating the machine on their own. OSHA requirements for refresher training related to forklifts or other processes are very specific. Most other equipment doesn’t have such specific requirements, but it’s wise to follow the same guidelines.</p>
        <p>When it comes to refresher training, OSHA’s standard in some instances (like forklifts) are very specific: operators must be re-evaluated every three years to see if they are still competent to operate the equipment. Best practices say to apply this same rule to all types of equipment. A so-called “free-pass” cannot be awarded based on experience, age, or time on the job. The extent of the evaluation is to be determined by the employer, but should include a written and practical examination that prove continued competency.</p>
      </span>
    </p>
  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above">
    <h2>This Training Encompasses</h2>
    <div id="encompasses-ul-container">
      <ul class="link-list left-border">
        <li><a href="#">29 CFR 1926.600 – Equipment</a></li>
        <li><a href="#">29 CFR 1926.602 – Material Handling Equipment</a></li>
        <li><a href="#">29 CFR 1926.604 – Site Clearing</a></li>
        <li><a href="#">29 CFR 1926.650-652 – Excavations</a></li>
        <li><a href="#">29 CFR 1926, Subpart P, App A – Soil Classification</a></li>
        <li><a href="#">29 CFR 1926, Subpart P, App F – Protective Systems</a></li>
      </ul>
    </div>
  </section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above tri-below white-tri-above blue-tri-below">
    <h2>The Cold Hard Facts</h2>
    <p>
      <span id="facts">
        <span class="fact fact1">
          Almost 60 workers die each year in excavation accidents. (Source: cdc.gov)
        </span>
        <span class="fact fact2">
        68% of those fatalities occur in companies with fewer than 50 workers.(Source)
        </span>
        <span class="fact fact3">
        48% occur in companies with 10 or fewer workers. (Source)
        </span>
      </span>
    </p>
  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above">
    <div class="container-fails">
      <div>
        <h2><span class="product-title">360 Excavator</span> Safety Fails</h2>
        <ul class="link-list safety-fails">
          <li><a href="#" id="fail-1">Mechanic Killed by Excavator Bucket</a></li>
          <li><a href="#" id="fail-2">Excavator Operator Prosecuted</a></li>
          <li><a href="#" id="fail-3">Video Evidence Convicts Excavator Driver</a></li>
          <li><a href="#" id="fail-4">Three Biggest Excavator Mistakes to Avoid</a></li>
        </ul>
      </div>

      <div>
        <h2>More on this Topic</h2>
        <ul class="link-list">
          <li><a href="#" id="more-on-this-1">6 Ways to Avoid a Bucket Truck Tip Over</a></li>
          <li><a href="#" id="more-on-this-2">5 Balancing Front Loaders Tips</a></li>
        </ul>
      </div>

      <a href="#" class="green-button-outside-pendant">Purchase</a>
    </div>
  </section>
</div>

<%= render 'shared/social_media_links' %>
