<div class="row">
  <div class="col-sm-6">
    <h1 class="h1-margins">Product Groups</h1>
  </div>

  <div class="col-sm-6 text-right h1-margins">
  <%= link_to new_product_group_path, class: 'btn btn-primary' do %>
    Add New Product group
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Active?</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @product_groups.each do |product_group| %>
        <%= content_tag :tr, id: dom_id(product_group), class: dom_class(product_group) do %>

          <td>
            <%= product_group.name %>
            <%#= link_to 'Destroy', product_group, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
          </td>
          <td>
            <% if product_group.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <span style="font-weight: bold; color: red;">X</span>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_product_group_path(product_group), class: 'btn btn-primary' %> <%= link_to "View", product_group, class: 'btn btn-success' %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
