<%
  meta_title "#{ @product_group.name } | Hard Hat Training"
  meta_keywords "#{ @product_group.keywords }"
  meta_description "#{ @product_group.meta_description }"
%>

<% content_for :page_scripts do %>
  <script>
      var anchors = document.getElementById('fails').getElementsByTagName('a');
      for (var i=0; i<anchors.length; i++){
        anchors[i].setAttribute('target', '_blank');
        anchors[i].setAttribute('rel', 'noopener');
      }
  </script>
<% end %>

<section id="pendant">
  <hr id="blue-header-hr">
  <% @image = (@product_group.image_url(:large) || image_path('development/no-product-group-image.jpg')) %>
  <section style="background: url(<%= @image %>); display: grid; background-size: cover; background-position: center center; width: 100%; height: 100%;" title="<%= @alt_text %>">
    <section class="pendant-text">
        <span class="product-title-container">
          <p id="product-title" class="product-title">
              <%= @product_group.name %>
          </p>
          <p class="safety-training">
            Safety Training
          </p>
        </span>

      <%#= render 'shared/purchase' %>

    </section>
  </section>
  <div class="container-tri">
    <hr id="orange-header-hr">
  </div>
</section>

<div class="container-tri">
  <section class="section-white tri-above orange-tri-above">

    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to "All Product Groups", product_groups_path, class: "h1-margins btn btn-primary" %>
    <% end %>

    <% if @product_group.alt_names.any? %>
      <h3 class="h3-margins">
        <%= @product_group.name %> is also known as:<br/>
        <%= @product_group.alt_names.pluck(:name).sort.join(", ") %>
      </h3>
    <% end %>

    <% if @product_group.active == true %>
      <p class="text-center"><small>JUMP TO:</small></p>
      <div id="product-group-onpage-menu">
        <%= link_to "DIY Kits", "##{ kebabify(@product_group.name) }-kit-all", class: "btn btn-link #{ @kits.any? ? '' : 'disabled' }" %>
        <%= link_to "Group Training", "##{ kebabify(@product_group.name) }-grouptraining-all", class: "btn btn-link #{ @group_trainings.any? ? '' : 'disabled' }" %>
        <%= link_to "Online Courses", "##{ kebabify(@product_group.name) }-onlinecourse-all", class: "btn btn-link #{ @online_courses.any? ? '' : 'disabled' }" %>
        <%= link_to "Onsite Training", "##{ kebabify(@product_group.name) }-onsite", class: "btn btn-link" %>
        <%= link_to "Train the Trainer", "##{ kebabify(@product_group.name) }-trainthetrainer-all", class: "btn btn-link #{ @train_the_trainers.any? ? '' : 'disabled' }" %>
        <%= link_to "Overview", "#overview", class: "btn btn-link" %>
        <%= link_to "Requirements", "#requirements", class: "btn btn-link" %>
        <%= link_to "Standards", "#standards", class: "btn btn-link" %>
        <%= link_to "Facts", "#facts", class: "btn btn-link" %>
        <%= link_to "Fails", "#fails", class: "btn btn-link" %>
      </div>

      <%= render 'shared/black_purchase_button', items: @online_courses, item_type: 'OnlineCourse', item_header: 'Online Courses', icon_name: 'desktop' %>

      <%= render 'shared/black_purchase_button', items: @kits, item_type: 'Kit', item_header: 'DIY Kits', icon_name: 'briefcase' %>

      <%= render 'shared/black_purchase_button', items: @train_the_trainers, item_type: 'TrainTheTrainer', item_header: 'Train the Trainer', icon_name: 'chalkboard-teacher' %>

      <%= render 'shared/black_purchase_button', items: @products, item_type: 'Product', item_header: 'Physical Products', icon_name: 'tshirt' %>

      <%= render 'shared/black_purchase_button', items: @group_trainings, item_type: 'GroupTraining', item_header: 'Group Training', icon_name: 'users' %>

      <div class="modal-section">
        <h5 id="<%= kebabify(@product_group.name) %>-onsite">
          <span>
            <%= icon("fas", "angle-double-left") %>
          </span>
          <%= @product_group.name %>
          <span>
            <%= icon("fas", "angle-double-right") %>
          </span>
        </h5>
        <h2>
          <%= icon("fas", 'map-marker-alt' ) %> Onsite Training
        </h2>

        <div class="whats-this">
          <%= link_to '#', 'data-toggle': "modal", 'data-target': "#onsite-training" do %>
            <%= icon("fas", "info-circle") %> What's this?
          <% end %>
        </div>

        <p class="modal-note">
          Want an expert to bring the training to you? Operator Training, Train the Trainer, or both, we've got you covered! Give us a few details and we'll get back to you with a quote.
        </p>

        <%= button_to "Request Quote", onsite_request_path(pg_name: @product_group.name), method: :post, class: "btn btn-primary" %>
      </div>
    <% else %>
      <h5>This training is currently unavailable.</h5>
    <% end %>
  </section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above white-tri-above">
    <div id="triangle" class="white-triangle"></div>

    <% if !@product_group.video.blank? %>
      <iframe class="vooplayer" allowtransparency="true" allowfullscreen="true" src="https://safetyprovisions.cdn.vooplayer.com/publish/<%= @product_group.video %>?fallback=true" frameborder="0" scrolling="no"></iframe>
    <% end %>

  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above product-group-text" id="overview">
    <h1 class="product-title"><%= @product_group.name.upcase %> OVERVIEW</h1>
    <% if @alt_names.any? %>
      <h5>Also Known As:</h5>
      <div id="alt-names">
        <% @alt_names.pluck(:name).each do |name| %>
          <span><%= name %></span>
        <% end %>
      </div>
    <% end %>
    <%= sanitize @product_group.overview %>
  </section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above white-tri-above product-group-text" id="requirements">
    <div id="triangle" class="white-triangle"></div>
    <h2 id="why-you-need-training-header">Why you need training</h2>
    <div>
      In line with OSHA requirements, anyone who operates heavy equipment must receive training prior to operating the machine on their own. OSHA requirements for refresher training related to forklifts or other processes are very specific. Most other equipment doesn’t have such specific requirements, but it’s wise to follow the same guidelines.
    <br/><br/>
      When it comes to refresher training, OSHA’s standard in some instances (like forklifts) are very specific: operators must be re-evaluated every three years to see if they are still competent to operate the equipment. Best practices say to apply this same rule to all types of equipment. A so-called “free pass” cannot be awarded based on experience, age, or time on the job. The extent of the evaluation is to be determined by the employer, but should include a written and practical examination that prove continued competency.
    </div>
  </section>
</div>

<div class="container-tri">
  <section class="section-white tri-above blue-tri-above product-group-text standards-section" id="standards">
    <h2>This Training Encompasses</h2>
    <%= sanitize @product_group.training_standards %>
  </section>
</div>

<div class="container-tri">
  <section class="section-blue tri-above tri-below white-tri-above blue-tri-below product-group-section-list product-group-text" id="facts">
    <h2>The Cold Hard Facts</h2>
    <span>
      <%= sanitize @product_group.facts %>
    </span>
  </section>
</div>

<div class="container-tri" id="fails">
  <section class="section-white tri-above blue-tri-above product-group-section-list product-group-text">
    <h2><span class="product-title"><%= @product_group.name.upcase %></span> Safety Fails</h2>
    <%= sanitize @product_group.fails %>
  </section>
</div>

<%= render 'shared/whats_this' %>
