<div id="page-500" class="error-page">
  <h1>Error 500</h1>

  <h3>Apparently, something is broken. We've been notified, and we'll have it fixed in a jiffy. Thanks for your patience.</h3>

  <h3>Please <%= link_to "contact us", contact_us_path %> if the error persists for more than 24 hours.</h3>
</div>
