<div id="page-404" class="error-page">
  <h1>Error 404</h1>

  <h3>That page seems to be missing.<br/>Try using the searchbar, or <%= link_to "go here", root_path(anchor: "jump-to-courses") %> to find it yourself.</h3>
</div>
