<div id="page-404" class="error-page">
  <h1>Error 422</h1>

  <h3>We noticed that you couldn't find what you're looking for.<br/>Try using the searchbar, or <%= link_to "go here", root_path(anchor: "jump-to-courses") %> to find it yourself.</h3>
</div>
