<%# NOTE This IS the active Company Signup page %>

<div id="company-signup" class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <h1 class="h1-margins">New Company Account</h1>

    <h5 class="text-left">
      A Company account makes it dead-simple to add employees, assign courses to them, and track their progress.
    </h5>

    <p class="text-left">
      <em>How does it work?</em> I'm glad you asked! Once you sign up, a Company is created and you are made an admin. Company features and abilities are added to your User account. These features and abilities become available to anyone else you set up as an admin. That's it! No extra login required!
    </p>

    <h3 class="h3-margins">Sign Up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, autocomplete: 'off', class: 'form-control', placeholder: "Company/Branch Name" %>
      </div>

      <div class="form-group">
        <%= f.text_field :address, autocomplete: "off", class: 'form-control', placeholder: "Address" %>
      </div>

      <div class="form-group">
        <%= f.text_field :city, autocomplete: "off", class: 'form-control', placeholder: "City" %>
      </div>

      <div class="form-group row">
        <div class="col-md-6 no-left-padding">
          <%= f.select(:state, options_for_select(select_states_and_provinces, ''), {include_blank: true}, { required: true, class: 'form-control' }) %>
        </div>

        <div class="col-md-6 no-right-padding">
          <%= f.number_field :zip, autocomplete: "off", class: 'form-control', placeholder: "Zip" %>
        </div>
      </div>

      <%#= form.hidden_field :email, value: current_user.email %>
      <%#= form.hidden_field :password, value: current_user.password %>
      <%#= form.hidden_field :password_confirmation, value: current_user.password %>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

  </div>
</div>
