<h1 class="h1-margins text-center">Lanyard Groups</h1>

<%= link_to new_lanyard_group_path, class: 'btn btn-primary h3-margins' do %>
  Add New Lanyard group
<% end %>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Active</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @lanyard_groups.each do |lanyard_group| %>
        <%= content_tag :tr, id: dom_id(lanyard_group), class: dom_class(lanyard_group) do %>

          <td><%= lanyard_group.name %></td>
          <td>
            <% if lanyard_group.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>

          <td>
            <%= link_to 'View', lanyard_group, class: 'btn btn-success' %>
            <%= link_to 'Edit', edit_lanyard_group_path(lanyard_group), class: 'btn btn-primary' %>
          </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
