<%
  meta_title "#{ @lanyard_group.name } | Hard Hat Training"
  meta_keywords "#{ @lanyard_group.keywords }"
  meta_description "#{ @lanyard_group.meta_description }"
%>

<div id="lanyard-group-show">
  <div class="page-header h1-margins">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to lanyard_groups_path, class: 'btn btn-link' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Lanyard Groups
      <% end %>
      <%= link_to edit_lanyard_group_path(@lanyard_group), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>

    <h1><%= @lanyard_group.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="lanyard-group-image-container">
        <%= image_tag @lanyard_group.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-sm text-left" id="lanyard-group-text-container">
        <p><%= sanitize @lanyard_group.description %></p>

        <%= render 'shared/group_dropdown', group: @lanyard_group, items: @lanyards, type: "Lanyard" %>
      </div>
    </div>
<!--
    <%# if @lanyard_group.active == true %>
      <div class="row" id="lanyard-group-card-container">
        <%# if @lanyards.present? %>
          <%# @lanyards.each do |lanyard| %>
            <div class="card lanyard-group-card">

              <div class="card-header">
                <h5 class="card-title"><%#= lanyard.name %></h5>
              </div>
              <div class="card-body">
                <p class="card-text"><%#= number_to_currency((session[:preferred_currency] == 'usd' ? lanyard.price : lanyard.cad_price).to_f / 100) %> <%#= session[:preferred_currency].upcase %></p>

                <%# if user_signed_in? %>
                  <div class="form-group">
                    <%#= form_with(url: order_items_path, local: true) do |form| %>
                      <%#= form.hidden_field :orderable_id, value: lanyard.id %>
                      <%#= form.hidden_field :orderable_type, value: "Lanyard" %>

                      <%#= form.submit "Add to Cart", class: 'btn btn-primary' %>
                    <%# end %>
                  </div>
                <%# else %>
                  <div class="logged-out">
                    <%#= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%#= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
                  </div>
                <%# end %>
              </div>
            </div>
          <%# end %>
        <%# end %>
      </div>
    <%# else %>
      <h5 class="h1-margins">This item is currently unavailable.</h5>
    <%# end %>
 -->
  </div>
</div>
