<div id="shirt-index">

  <h1 class="h1-margins text-center">All Shirts</h1>

  <% if user_signed_in? && current_user.superadmin? %>
    <div class="text-center">
      <%= link_to new_shirt_path, class: 'btn btn-primary' do %>
        Add New Shirt
      <% end %>
    </div>
  <% end %>

  <div class="search-product-groups">
    <% @shirts.each do |p| %>
      <%= link_to p do %>
        <div class="card" style="width: 18rem;">
          <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
          <%= image_tag p.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title"><%= p.name %></h3>
            <% if user_signed_in? && current_user.superadmin? && p.active == false %>
              <h6 class="red">Inactive</h6>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
