<%
  meta_title "#{ @shirt.name } | Hard Hat Training"
  meta_keywords "#{ @shirt.keywords }"
  meta_description "#{ @shirt.meta_description }"
%>

<div id="shirt-group-show">
  <div class="page-header h1-margins">
    <%= link_to shirts_path, class: 'btn btn-link' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      View All Shirts
    <% end %>
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to edit_shirt_path(@shirt), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>
    <h1><%= @shirt.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="card-group-image-container">
        <%= image_tag @shirt.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-sm text-left" id="card-group-text-container">
        <p><%= sanitize @shirt.description %></p>
        <p>
          <%= content_tag :p, "#{ number_to_currency((session[:preferred_currency] == 'usd' ? @shirt.price : @shirt.cad_price).to_f / 100) } #{ session[:preferred_currency].upcase }", class: "price-lg-gray" %>
        </p>

        <% if @shirt.active == true %>
          <div class="row" id="shirt-container">
            <% if user_signed_in? %>
              <div class="form-group" id="certificate-verification-form">
                <%= form_with(url: order_items_path, local: true) do |form| %>
                  <%= form.hidden_field :orderable_id, value: @shirt.id %>
                  <%= form.hidden_field :orderable_type, value: "Shirt" %>

                  <%= form.label :size, "Size", class: "text-left", style: "margin-top: 0px;" %>
                  <%= form.select(:size, options_for_select(@sizes), { include_blank: true }, { class: "form-control" }) %>

                  <%= form.label :color, "Color", class: "text-left", style: "margin-top: 0px;" %>
                  <%= form.select(:color, options_for_select(@colors), { include_blank: true }, { class: "form-control" }) %>

                  <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
                <% end %>
              </div>
            <% else %>
              <div class="logged-out">
                <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
              </div>
            <% end %>
          </div>
        <% else %>
          <h5 class="h1-margins">This item is currently unavailable.</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
