<div id="machine-tag-form" class="content-container">
  <%= form_with(model: machine_tag, local: true) do |form| %>
    <% if machine_tag.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(machine_tag.errors.count, "error") %> prohibited this machine_tag from being saved:</h3>

        <ul>
        <% machine_tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3 class="h3-margins">Identity</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%= form.label :machine_tag_group_id, "Machine Tag Group" %>
          <%= select("machine_tag", "machine_tag_group_id", MachineTagGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: machine_tag.machine_tag_group_id }, class: 'form-control') %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Pack Qty</h3>
      <p class="h3-margins">
        <small>
          If this is a pack with more than one item, give the number here. For example, if this is "Black Lanyard x10", you would put a 10 here.
        </small>
      </p>
      <div class="form-group">
        <%= form.text_field :pack_qty, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Price</h3>
      <p class="h3-margins"><em><small>In cents (ie, $5.00 = 500)</small></em></p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-md-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Shipping</h3>
      <p class="h3-margins"><em><small>In cents (ie, $5.00 = 500)</small></em></p>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label :shipping_price %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label :priority_shipping %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-md-4">
          <%= form.label :intl_shipping %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Weight</h3>
      <p class="h3-margins"><em><small>In ounces x 10 (ie, 3oz => 30)</small></em></p>
      <div class="form-row">
        <div class="form-group col-md-4 offset-md-4">
          <%#= form.label :weight %>
          <%= form.number_field :weight, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if machine_tag.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', machine_tag, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if machine_tag.persisted? %>
        <%= link_to "Cancel", machine_tag, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", machine_tags_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
