<h1 class="h1-margins text-center">MachineTags</h1>

<%= link_to new_machine_tag_path, class: 'btn btn-primary h3-margins' do %>
  Add New Machine Tag
<% end %>

<% @machine_tag_groups.each do |machine_tag_group| %>
  <h3 class="h3-margins"><%= machine_tag_group[1] %></h3>
  <% machine_tags = MachineTag.where(machine_tag_group: machine_tag_group[0]).order(weight: :asc) %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Price</th>
          <th>Pack Qty</th>
          <th>Shipping (Domestic/Priority/International)</th>
          <th>Weight (oz)</th>
          <th>Active?</th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% machine_tags.each do |machine_tag| %>
          <%= content_tag :tr, id: dom_id(machine_tag), class: dom_class(machine_tag) do %>

            <td><%= machine_tag.name %></td>
            <td><%= number_to_currency(machine_tag.price.to_f / 100) %> (USD) / <%= number_to_currency(machine_tag.cad_price.to_f / 100) %> (CAD)</td>
            <td><%= machine_tag.pack_qty %></td>
            <td>
              <%= number_to_currency(machine_tag.shipping_price.to_f / 100) %> /
              <%= number_to_currency(machine_tag.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(machine_tag.intl_shipping.to_f / 100) %>
            </td>
            <td><%= machine_tag.weight / 10 %></td>
            <td>
              <% if machine_tag.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', machine_tag, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_machine_tag_path(machine_tag), class: 'btn btn-primary' %>
            </td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
