<div class="page-header h1-margins">
  <%= link_to machine_tags_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Machine_tags
  <% end %>
  <%= link_to edit_machine_tag_path(@machine_tag), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @machine_tag.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Price:</dt>
  <dd class="h3-margins">
    <%= number_to_currency(@machine_tag.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@machine_tag.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Shipping price:</dt>
  <dd class="h3-margins"><%= number_to_currency(@machine_tag.shipping_price.to_f / 100) %></dd>

  <dt>Priority shipping:</dt>
  <dd class="h3-margins"><%= number_to_currency(@machine_tag.priority_shipping.to_f / 100) %></dd>

  <dt>Intl shipping:</dt>
  <dd class="h3-margins"><%= number_to_currency(@machine_tag.intl_shipping.to_f / 100) %></dd>

  <dt>Machine Tag Group:</dt>
  <dd class="h3-margins"><%= @machine_tag.machine_tag_group.name %></dd>

  <dt>Weight:</dt>
  <dd class="h3-margins"><%= @machine_tag.weight / 10 %> oz.</dd>

  <dt>Active?</dt>
  <dd class="h3-margins">
    <% if @machine_tag.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
