<div id="credit-packs-form" class="content-container">
  <%= form_with(model: credit_pack, local: true) do |form| %>
    <% if credit_pack.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(credit_pack.errors.count, "error") %> prohibited this credit_pack from being saved:</h2>

        <ul>
        <% credit_pack.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Name</h3>
      <p class="h3-margins">
        <small>
          Must be in this format: "$79x25" or "$39x50" and contain either 99, 79, 39, or 29.
        </small>
      </p>
      <div class="form-group">
        <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Price</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000).<br/>
          This is the bulk price (ie, $75) x the quantity in the pack (ie, 25).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, 'USD' %>
          <%= form.number_field :price, class: 'form-control', placeholder: 'USD Regular Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_price, 'CAD' %>
          <%= form.number_field :cad_price, class: 'form-control', placeholder: 'CAD Regular Price' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Credits</h3>
      <p class="h3-margins">
        <small>
          How many credits does this purchase?<br/>
          This is the full price (ie, $79) x the quantity in the pack (ie, 25).
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :credits, 'USD' %>
          <%= form.number_field :credits, class: 'form-control', placeholder: 'USD Regular Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_credits, 'CAD' %>
          <%= form.number_field :cad_credits, class: 'form-control', placeholder: 'CAD Regular Price' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <% if credit_pack.persisted? && current_user.superadmin? %>
        <div class="float-right">
          <%= link_to 'Destroy', credit_pack, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if credit_pack.persisted? %>
        <%= link_to "Cancel", credit_pack, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", credit_packs_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
