<div id="credit-packs-page">
  <div id="credit-packs-page">
    <% if current_user && current_user.superadmin? %>
      <div class="col-sm-6 offset-sm-3" id="new-thing-btn">
      <%= link_to new_credit_pack_path, class: 'btn btn-primary' do %>
        Add New Credit pack
      <% end %>
      </div>
    <% end %>
  </div>

  <div class="row" id="intro">
    <div class="col-sm-12">
      <p>Have employees?<br/> Purchase credits in bulk and save!</p>
    </div>
  </div>

  <%= render 'shared/credit_packs' %>
</div>
