<div class="page-header">
  <%= link_to credit_packs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Credit_packs
  <% end %>
  <%= link_to edit_credit_pack_path(@credit_pack), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show credit_pack</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @credit_pack.name %></dd>

  <dt>Price (USD):</dt>
  <dd><%= number_to_currency (@credit_pack.price / 100 ) %></dd>

  <dt>Price (CAD):</dt>
  <dd><%= number_to_currency (@credit_pack.cad_price / 100 ) %></dd>

  <dt>Credits (USD):</dt>
  <dd><%= @credit_pack.credits %></dd>

  <dt>Credits (CAD):</dt>
  <dd><%= @credit_pack.cad_credits %></dd>

</dl>
