<div id="checkout-page">
  <h1>Checkout</h1>

  <%= form_with url: cart_checkout_path, local: true, id: "payment-form" do |form| %>

  <% if (current_company.present? && current_company.invoicable?) || (current_user.admin? && current_user.companies.last.invoicable?) %>
    <p>
      Click the button below to submit this order and get instant access to your purchases. You will receive an invoice shortly.
    </p>
  <% else %>
    <div class="form-group">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element" class="form-control">
        <%# A Stripe Element will be inserted here. %>
      </div>
      <p><small> Payments processed by <%= link_to "Stripe", "https://stripe.com/" %>.</small></p>
      <%# Used to display Element errors. %>
      <div id="card-errors" role="alert"></div>
    </div>
  <% end %>

    <div class="text-right">
      <div class="mb-4 text-right">
        <% if current_cart.idaho_resident == true %>
          <p>
            Total with taxes:
          </p>
        <% end %>
        <button class="btn btn-primary btn-spinner">Pay
            <%= number_to_currency current_cart.total_with_taxes(@pref_curr) / 100.0 %>
        </button>
      </div>
    </div>
  <% end %>
</div>
