<div id="backup-form" class="content-container">
  <%= form_with(model: backup, local: true) do |form| %>
    <% if backup.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(backup.errors.count, "error") %> prohibited this backup from being saved:</h2>

        <ul>
        <% backup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Backup Format</h3>
      <p class="h3-margins"><em><span>NOTE: Will be saved in lowercase, but users will see uppercase.</span></em></p>
      <div class="form-group">
        <%#= form.label "Format (in lowercase)" %>
        <%= form.text_field :format, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Pricing</h3>
      <p class="h3-margins"><em><span>NOTE: All prices must be in cents, ie. $10.00 => 1000</span></em></p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Shipping</h3>
      <p class="h3-margins"><em><span>NOTE: All prices must be in cents, ie. $10.00 => 1000</span></em></p>
      <div class="form-row">
        <div class="form-group col-sm-4">
          <%= form.label :shipping_price, "US Domestic" %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :priority_shipping, "US Priority" %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :intl_shipping, "International" %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if backup.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', backup, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if backup.persisted? %>
        <%= link_to "Cancel", backup, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", backups_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
