<h1 class="h1-margins text-center">Backups</h1>

<%= link_to new_backup_path, class: 'btn btn-primary h3-margins' do %>
  Add New Backup
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Format</th>
        <th>Price</th>
        <th>Shipping (Domestic/Priority/International)</th>
        <th>Active?</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @backups.each do |backup| %>
        <%= content_tag :tr, id: dom_id(backup), class: dom_class(backup) do %>


            <td><%= backup.format.upcase %></td>
            <td><%= number_to_currency(backup.price.to_f / 100) %>  (USD) / <%= number_to_currency(backup.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(backup.shipping_price.to_f / 100) %> /
              <%= number_to_currency(backup.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(backup.intl_shipping.to_f / 100) %>
            </td>
            <td>
              <% if backup.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>

            <td>
              <%= link_to 'View', backup, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_backup_path(backup), class: 'btn btn-primary' %>
            </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
