<div class="page-header h1-margins">
  <%= link_to backups_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Backups
  <% end %>
  <%= link_to edit_backup_path(@backup), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Backup</h1>
</div>

<dl class="dl-horizontal">
  <dt>Format:</dt>
  <dd><%= @backup.format.upcase %></dd>

  <dt>Price:</dt>
  <dd class="h3-margins">
    <%= number_to_currency(@backup.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@backup.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Shipping price:</dt>
  <dd class="h3-margins"><%= number_to_currency(@backup.shipping_price.to_f / 100) %></dd>

  <dt>Priority shipping:</dt>
  <dd class="h3-margins"><%= number_to_currency(@backup.priority_shipping.to_f / 100) %></dd>

  <dt>Intl shipping:</dt>
  <dd class="h3-margins"><%= number_to_currency(@backup.intl_shipping.to_f / 100) %></dd>

  <dt>Active?</dt>
  <dd class="h3-margins">
    <% if @backup.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
