<div id="card-form" class="content-container">
  <%= form_with(model: card, local: true) do |form| %>
    <% if card.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h3>

        <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Name</h3>
      <div class="form-group">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Card Group</h3>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= select("card", "card_group_id", CardGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: card.card_group_id }, class: 'form-control') %>
      </div>
    </div>

    <div class="form-section">
      <h3>Material</h3>
      <p class="h3-margins">
        <small>
          What are these cards made of?
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
        <%#= form.text_field :material, class: 'form-control' %>
        <%= form.select(:material, options_for_select([["", nil], ["Paper", "paper"], ["Plastic", "plastic"]], card.material), {}, class: 'form-control') %>
      </div>
    </div>

    <div class="form-section">
      <h3>Pack Qty</h3>
      <p class="h3-margins">
        <small>
          If this is a pack with more than one item, give the number here. For example, if this is "Black Lanyard x10", you would put a 10 here.
        </small>
      </p>
      <div class="form-group">
        <%= form.text_field :pack_qty, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Standards Required?</h3>
      <p class="h3-margins">
        <small>
          Does this card require that the user specify the Standards (ie, OSHA, CSA/ANSI)?
        </small>
      </p>
      <div class="form-group">
        <%= form.check_box :standards_required %>
        <%= form.label "Yes, standards are required.", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Details Required?</h3>
      <p class="h3-margins">
        <small>
          Does this card require that the user submit the Trainee Name, Training Date, and Course type?
        </small>
      </p>
      <div class="form-group">
        <%= form.check_box :details_required %>
        <%= form.label "Yes, details are required.", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Pricing</h3>
      <p class="h3-margins"><small>In cents (ie, $35 => 3500)</small></p>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Shipping</h3>
      <p class="h3-margins"><small>In cents (ie, $10 => 1000)</small></p>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= form.label :shipping_price, "Basic" %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :priority_shipping, "Priority" %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :intl_shipping, "International" %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Weight</h3>
      <p>
        <small>
          Weight x 10 (ie, 3oz => 30)
        </small>
      </p>
      <div class="form-group col-sm-6 offset-sm-3">
        <%= form.number_field :weight, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if card.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', card, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if card.persisted? %>
        <%= link_to "Cancel", card, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", cards_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
