<h1 class="h1-margins text-center">Cards</h1>

<%= link_to new_card_path, class: 'btn btn-primary h3-margins' do %>
  Add New Card
<% end %>

<p>Jump to a Card Group:</p>
<ul style="list-style: none; padding-left: 0;">
  <% @card_groups.each do |card_group| %>
    <li>
      <%= link_to card_group[1], "##{ card_group[1].parameterize }" %>
    </li>
  <% end %>
</ul>

<% @card_groups.sort.each do |card_group| %>
  <h3 class="h3-margins" id="<%= card_group[1].parameterize %>"><%= card_group[1] %></h3>
  <% cards = Card.where(card_group: card_group[0]) %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>

          <th>Name</th>
          <th>Material</th>
          <th>Pack Qty</th>
          <th>Price</th>
          <th>Shipping (Domestic/Priority/International)</th>
          <th>Active</th>
          <th></th>

        </tr>
      </thead>

      <tbody>
        <% cards.each do |card| %>
          <%= content_tag :tr, id: dom_id(card) do %>

            <td><%= card.name %></td>
            <td><%= card.material.capitalize %></td>
            <td><%= card.pack_qty %></td>
            <td><%= number_to_currency(card.price.to_f / 100) %> (USD) / <%= number_to_currency(card.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(card.shipping_price.to_f / 100) %> /
              <%= number_to_currency(card.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(card.intl_shipping.to_f / 100) %>
            </td>
            <td>
            <% if card.active == true %>
              <%= icon("fas", "check", class: "green") %>
            <% else %>
              <%= icon("fas", "times", class: "red") %>
            <% end %>
          </td>
            <td>
              <%= link_to 'View', card, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_card_path(card), class: 'btn btn-primary' %>
            </td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
