<div class="page-header">
  <%= link_to cards_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Cards
  <% end %>
  <%= link_to edit_card_path(@card), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @card.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Material:</dt>
  <dd><%= @card.material %></dd>

  <dt>Pack Qty:</dt>
  <dd><%= @card.pack_qty %></dd>

  <dt>Price:</dt>
  <dd>
    <%= number_to_currency(@card.price.to_f / 100) %>  (USD) /
    <%= number_to_currency(@card.cad_price.to_f / 100) %> (CAD)
  </dd>

  <dt>Shipping price:</dt>
  <dd><%= number_to_currency(@card.shipping_price.to_f / 100) %></dd>

  <dt>Priority shipping:</dt>
  <dd><%= number_to_currency(@card.priority_shipping.to_f / 100) %></dd>

  <dt>Intl shipping:</dt>
  <dd><%= number_to_currency(@card.intl_shipping.to_f / 100) %></dd>

  <dt>Card group:</dt>
  <dd><%= @card.card_group.name %></dd>

  <dt>Weight (oz):</dt>
  <dd><%= @card.weight / 10 %></dd>

  <dt>Active?</dt>
  <dd>
    <% if @card.active == true %>
      Yes
    <% else %>
      No
    <% end %>
  </dd>

</dl>
