<div id="certificate-form" class="content-container">
  <%= form_with(model: certificate, local: true) do |form| %>
    <% if certificate.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h3>

        <ul>
        <% certificate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Name</h3>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :title, class: 'form-control', placeholder: 'Name' %>
      </div>
    </div>

    <div class="form-section">
      <h3>Description</h3>
      <div class="form-group">
        <%= form.hidden_field :description, id: 'certificate_description' %>
        <trix-editor input="certificate_description", class="text-left"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Image</h3>
      <p>
        <small>
          Must be 400 x 400, < 75 KB
        </small>
      </p>
      <div class="form-group product-group-image-container">
        <% if certificate.image.present? %>
          <%= image_tag certificate.image_url, class: "product-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: certificate.cached_image_data %>

        <%= form.file_field :image, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Metatags</h3>
      <div class="form-group">
        <%= form.label :keywords %>
        <%= form.text_area :keywords, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :meta_description %>
        <%= form.text_area :meta_description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Pricing</h3>
      <p class="h3-margins"><small>In cents (ie, $35 => 3500)</small></p>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Shipping</h3>
      <p class="h3-margins"><small>In cents (ie, $10 => 1000)</small></p>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= form.label :shipping_price, "Basic" %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :priority_shipping, "Priority" %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :intl_shipping, "International" %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if certificate.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', certificate, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if certificate.persisted? %>
        <%= link_to "Cancel", certificate, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", certificates_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
