<h1 class="h1-margins text-center">Certificates</h1>

<%= link_to new_certificate_path, class: 'btn btn-primary h3-margins' do %>
  Add New Certificate
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Price</th>
        <th>Shipping (Domestic/Priority/International)</th>
        <th>Active?</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @certificates.each do |certificate| %>
        <%= content_tag :tr, id: dom_id(certificate), class: dom_class(certificate) do %>

          <td><%= certificate.name %></td>
            <td><%= number_to_currency(certificate.price.to_f / 100) %> (USD) / <%= number_to_currency(certificate.cad_price.to_f / 100) %> (CAD)</td>
            <td>
              <%= number_to_currency(certificate.shipping_price.to_f / 100) %> /
              <%= number_to_currency(certificate.priority_shipping.to_f / 100) %> /
              <%= number_to_currency(certificate.intl_shipping.to_f / 100) %>
            </td>
            <td>
              <% if certificate.active == true %>
                <%= icon("fas", "check", class: "green") %>
              <% else %>
                <%= icon("fas", "times", class: "red") %>
              <% end %>
            </td>
            <td>
              <%= link_to 'View', certificate, class: 'btn btn-success' %>
              <%= link_to 'Edit', edit_certificate_path(certificate), class: 'btn btn-primary' %>
            </td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
