<%
  meta_title "#{ @certificate.name } | Hard Hat Training"
  meta_keywords "#{ @certificate.keywords }"
  meta_description "#{ @certificate.meta_description }"
%>
<div id="certificates-show">
  <div class="page-header">
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to certificates_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        All Certificates
      <% end %>
      <%= link_to edit_certificate_path(@certificate), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>
    <h1 class="h1-margins"><%= @certificate.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="certificate-image-container">
        <%= image_tag @certificate.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-sm text-left" id="certificate-text-container">
        <p><%= sanitize @certificate.description %></p>
        <%= content_tag :p, "#{ number_to_currency((session[:preferred_currency] == 'usd' ? @certificate.price : @certificate.cad_price).to_f / 100) } #{ session[:preferred_currency].upcase }", class: "price-lg-gray" %>
      </div>
    </div>

    <% if @certificate.active == true %>
      <div class="row" id="certificate-verification-form">
        <% if user_signed_in? %>
          <div class="form-group col-md-4 offset-md-4">
            <%= form_with(url: order_items_path, local: true) do |form| %>
              <%= form.hidden_field :orderable_id, value: @certificate.id %>
              <%= form.hidden_field :orderable_type, value: "Certificate" %>

              <%= form.label :trainee, "Trainee Name", class: "text-left" %>
              <%= form.text_field :trainee, placeholder: "Trainee Name", class: "form-control" %>

              <%= form.label :course_name, "Course Taken", class: "text-left" %>
              <%= form.select(:course_name, options_for_select(ProductGroup.all.order(name: :asc).pluck(:name)), { include_blank: true }, { class: "form-control" }) %>

              <%= form.label :training_date, "Training Date", class: "text-left" %>
              <%= date_field("certificate", "training_date", value: Date.today, class: "form-control") %>

              <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% else %>
          <div class="logged-out" style="display: block; margin: 0 auto;">
            <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
          </div>
        <% end %>
      </div>
    <% else %>
      <h5 class="text-center h1-margins">This item is currently unavailable.</h5>
    <% end %>
  </div>
</div>

