@include mq-l  {

    .tri-above::before {
    border-left: $tri-w-l solid transparent !important;
    border-right: $tri-w-l solid transparent !important;
  }

  .white-tri-above::before {
    border-top: $tri-h-l solid $white !important;
  }

  .blue-tri-above::before {
    border-top: $tri-h-l solid $blue !important;
  }

  .orange-tri-above::before {
    border-top: $tri-h-l solid $orange !important;
  }

/*   body {
    border: 2px solid green;
  } */

  h2 {
    font-size: 180%;
  }

  h4 {
    font-size: 100%;
  }

  .h1-p {
    /* padding: 0 15%; */
    padding: 0;
  }

  .safety-training {
    font-size: 1.7em;
  }

  .solutions {
    font-size: 3em;
    line-height: 75px;
  }

  .tagline {
    padding: 0 16%;
    padding-bottom: 5%;
  }

  .compliance-flags-container {
    grid: 1fr / 170px 170px 170px 170px;
    justify-content: space-around;
    gap: 0 0;
  }

  .red-maple-leaf {
    margin: 0 0 1% 0;
  }

  iframe {
    width: 64vw;
    height: 35vw;
    margin: 2% 0 5% 0;
    }

  #footer-top-row a {
    font-weight: 800;
    letter-spacing: 2px;
    }

  #footer-btm-row a {
    font-size: 130%;
  }

  /* END HOME PAGE | START PRODUCT PAGE */
/*   #product-page .green-button {
    margin-top: -9.5%;
  } */
}