@include mq-m  {
  .tri-above::before {
    border-left: $tri-w-m solid transparent !important;
    border-right: $tri-w-m solid transparent !important;
  }

  .white-tri-above::before {
    border-top: $tri-h-m solid $white !important;
  }

  .blue-tri-above::before {
    border-top: $tri-h-m solid $blue !important;
  }

  .orange-tri-above::before {
    border-top: $tri-h-m solid $orange !important;
  }

/*   body {
    border: 2px solid red;
  } */

  .show-on-mobile {
    display: none;
  }

  .hide-on-mobile {
    display: grid !important;
    position: static;
  }

  #blue-header-hr {
    display: none;
  }

  .one-to-two-col {
    display: grid;
    grid: 1fr / 1fr 1fr;
    margin-bottom: -10px;
  }

  h1 {
      font-size: 3em;
  }

  h4 {
    font-size: 90%;
    height: 60px;
  }

  header {
    display: grid !important;
    grid: 1fr / 1fr 1fr;
  }

  .search-bar-container {
    justify-self: end;
  }

  input#search-bar {
    width: auto;
    margin: 2% 0;
    font-size: 1em;
    padding: 10px 6px;
  }

/*   nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    position: relative;
    padding: .5% 2%;
  }

  nav ul li:nth-of-type(1) {
    display: none;
  }

  nav a {
    border-bottom: none;
    position: relative;  }

   nav a:hover::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.7vw solid transparent;
    border-right: 1.7vw solid transparent;
    position: absolute;
    left: calc(100% - 50% - 1.7vw);
    top: -.8vw;
    z-index: 10;
    border-top: .8vw solid white;
  } */

/*   .pendant-text {
    padding: 3% 4%;
    padding-top: 5%;
  } */

/*   .safety-training {
    font-size: 1.37em;
  }

  .solutions {
    font-size: 2.4em;
    line-height: 55px;
  }

  .tagline {
    background: none;
    padding: 0 6% 36px 6%;
  } */

  .training-types-section {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    column-gap: 1%;
  }

  .info-text {
    text-align: left;
  }

  .fyi-text {
    margin: 2% 3% 5% 3% !important;
  }

  .fyi-text {
    font-size: 80%;
    line-height: 110%;
    text-align: left;
  }

  iframe {
    width: 80vw;
    height: 44vw;
    }

  .img-left-col {
    object-fit: cover;
    height: 100%;
    }

  ul.text-two-columns {
    display: grid;
    /* grid: 1fr 1fr/ minmax(100px, auto) minmax(100px, auto); */
    width: 100%;
    justify-content: center;
    column-gap: 20px;
    }

  #customer-logos-container {
    grid: 1fr / 1fr 1fr 1fr 1fr 1fr;
    padding: 4% 0 6% 0;
  }

  .customer-logo:nth-of-type(4),.customer-logo:nth-of-type(5) {
    display: grid;
  }

  /* .compliance-flags-container {
      grid: 1fr 1fr / 170px 170px;
    justify-content: center;
    gap: 0 20px;
  } */

/*   .courses-section {
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding-top: 3%;
    } */

  .topic-section {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent 0%, transparent 10%, #fd8b04 100%);
    border-image-slice: 1;
    margin: 0 .5% 10% .5%;
  }

  .coming-soon-section {
    grid-column: span 3;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    border: none;
  }

  .coming-soon-ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    column-gap: 1.3%;
  }

  .coming-soon-ul li {
    padding-bottom: 12% !important;
  }

  .coming-soon-section input {
    color: $gray;
    padding: 1% 3%;
  }

  .topic-icon {
    height: 8vh;
    width: auto;
  }

  ul.topic li {
    font-size: 90%;
    padding: 1% 0;
  }

  #social-media-section ul {
    font-size: 3em;
  }

/*   .social-media-icons {
  max-width: 600px;
  justify-items: center;
  margin: 0 auto;
  margin-top: 3%;
  }
   */
  /* START PRODUCT PAGE */
  #product-page .training-types-section {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    margin: 0 0 3% 0;
  }

  #product-page h3 {
    padding: 0 9%
  }

  /* END PRODUCT PAGE */
/*   #product-page .green-button {
    margin-top: -11%;
  } */

}

/*************************
        CART
*************************/

/* .cart-offer {

  img {
    float: left;
  }
} */
