@mixin ctr-pseudo($content: '', $pos: absolute, $top: 0, $right: 50%) {
    content: $content;
    position: $pos;
    top: $top;
    right: $right;
    transform: translateX(50%);
}
@mixin mq-m() {
    @media screen and (min-width: $sm) { 
        @content;
    }
}
@mixin mq-l() {
    @media screen and (min-width: $md) { 
        @content;
    }
}
@mixin mq-xl() {
    @media screen and (min-width: $lg) {  
        @content;
    }
}