/* Color Palette */
$orange: #FD8B04;
$darkorange: #df7a02;
$blue: #00627B;
$green: #01872A;
$gray: #2c2c2c;
$white: #ffffff;

/* BREAKPOINTS */
/* main style 0 - 576px */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* TRIANGLE VARIABLES */
$tri-w-s: 15px;
$tri-w-mult: .7;
$tri-h-s: $tri-w-s * $tri-w-mult;
$tri-w-m: $tri-w-s * 2;
$tri-h-m: $tri-w-m * $tri-w-mult;
$tri-w-l: $tri-w-s * 2.5;
$tri-h-l: $tri-w-l * $tri-w-mult;
$tri-w-xl: $tri-w-s * 3;
$tri-h-xl: $tri-w-xl * $tri-w-mult;