@include mq-xl  {
    .tri-above::before {
    border-left: $tri-w-xl solid transparent !important;
    border-right: $tri-w-xl solid transparent !important;
    left: auto !important;
  }

  .white-tri-above::before {
    border-top: $tri-h-xl solid $white !important;
  }

  .blue-tri-above::before {
    border-top: $tri-h-xl solid $blue !important;
  }

  .orange-tri-above::before {
    border-top: $tri-h-xl solid $orange !important;
  }

/*   body {
    border: 2px solid orange;
  } */

  .safety-training {
    font-size: 1.98em;
  }

  .solutions {
    font-size: 3.5em;
    line-height: 85px;
  }

  .tagline {
    /* width: 200px; */
    margin: 0 auto 30px auto;
  }

  .two-col-right-text {
    max-width: 510px;
    margin: 0 auto;
  }

/*   #training-types-images {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;

  } */

  .training-types-section {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    margin: 0 0 8% 0;
  }

/*   .training-type-img {
    width: 100%;
    }

  .training-type-icon {
    width: 55%;
    min-width: 50px;
    max-width: 200px;
  } */

  .show-on-desktop {
    display: grid !important;
  }

  /*END HOME PAGE|START PRODUCT PAGE*/
/*   #product-page .green-button {
    margin-top: -28px;
    max-width: 100px;
    } */

    #product-page .green-button-outside-pendant {
    padding: 20px 40px;
  }

}
