.announcement {
  strong {
    color: gray; /* $gray-700; */
    font-weight: 900;
  }

  p {
    margin-bottom: 15px;

    &:last-of-type {
      border-bottom: 2px solid #eee;
    }
  }
}

.unread-announcements:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: red; /* $red; */
  /* background: red; */ /* $red; */
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 6px;
}
