// *= require trix

// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;
// $orange: #FD8B04;
// $darkorange: #df7a02;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "variables";

/* FONTS */
@font-face {
  font-family: AlegreyaSansSC;
  src:font-url("Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf");
}

@font-face {
  font-family: AlegreyaSC;
  src:font-url("Alegreya_SC/AlegreyaSC-Regular.ttf");
}

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  form {
    display: inline-block;
  }
}

.company-menu,
.admin-menu {
  text-align: center;
  form {
    display: inline-block;
  }
}

.hidden {
  display: none;
}

blockquote {
  margin-left: 25px;
  border-left: 2px solid blue;
  padding-left: 10px;
}

.width-100 {
  max-width: 100%;
}

.mb-20 {
  margin-bottom: 20px;
}


/*************************
      RELATED ITEMS
*************************/

/* .keychain-group-cards, */
.related-item-card,
.machine-tag-group-cards {
  float: left;
  margin-right: 20px;
}


/*************************
      LOGIN/SIGNUP
*************************/

#login-links {
  margin-bottom: 25px;

  h5:not(:first-of-type) {
    margin-top: 25px;
  }
}


/*************************
         TAGS
*************************/

#edit-tag-container {
  max-width: 800px;
  display: block;
  margin: 30px auto 0;
}


/*************************
        GLOBAL
*************************/

.error-page { /* #page-404, #page-422, #page-500 */
  margin-bottom: 30px;

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* .heavy {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
} */

.h1-margins {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  padding: 0 3%;
  letter-spacing: .5px;
  line-height: 160%;
  max-width: 650px;
  margin: 0 auto;
}

h5 {
  span {
    font-size: 0.75em;
    font-style: italic;
  }
}

.text-red {
  color: red;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.div-center {
  display: block;
  margin: 0 auto;
}

.gold {
  color: #cab74d;
}

hr {
  margin: 0 auto;
  border: none;
}

/* hr.login-links-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
} */

.required-fields {
  color: red;
}

#page-container {
  max-width: 100vw;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#new-thing-btn {
  margin-top: 25px;
}

.thin-rounded-border {
  margin-top: 30px;
  border: 1px solid #333;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.h3-margins {
  margin-bottom: 20px;
}

.h5-margins {
  margin-top: 20px;
}

.divider-guy {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 30px;
  display: block;
  display: grid;
  margin: 30px auto;
  place-items: center center;
  /* border: 2px solid #ccc; */

  img {
    opacity: 0.5;
  }
}

#no-content {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2em;
  color: #333;
  font-weight: bold;
}

.show-sm { /* Hide unless SM+ */
  display: none;
}

.show-md { /* Hide unless MD+ */
  display: none;
}

.gray {
  color: #e1dfe0;

  &:hover {
    cursor:default;
    color: #e1dfe0;
  }
}

.darkgray {
  color: #777;
}

.orange {
  color: $orange;

  &:hover {
    color: $darkorange;
  }
}

.green {
  color: green;

  i {
    color: green;
  }
}

.red {
  color: red;

  i {
    color: red;
  }
}

.price-lg-gray {
  font-size: 1.5em;
  color: #aaa;
  margin-top: 10px;
  padding-left: 0px;
}

.image-400x400 {
  border-radius: 10px;
}

.dropdown-container {
  margin-left: 15px;
  margin-top: 20px;
}


/*************************
         FORMS
*************************/

.form-section {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;

  h3 {
    margin-bottom: 20px;
  }
}

.form-field-padding {
  padding-left: 15px;
  padding-right: 15px;
}

/*************************
        FOOTER
*************************/

#footer-top-row {
  display: grid;
  grid: 1fr / 1fr;

/*   a:nth-of-type(2)  {
    order: -1;
  } */

  a {
    color: $orange;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 1.3px;
    padding: 1% 0;
  }
}

#logo-circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 35px;
  border: 5px solid $orange;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: relative;

  img {
    width: 43px;
    height: 50px;
    /* padding: 20px; */

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -25px 0 0 -22px;
  }
}

.spinner {
  display: none;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;

  div {
    color: white;
    font-size: 5rem;
    display: block;
    margin: 0 auto;
    line-height: 100vh;
    top: 250px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}


/*************************
        SEARCHBAR
*************************/

form#search-bar,
form#search-bar-1,
form#search-bar-2 {
  /* box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1); */
  width: 100%;
  margin: 2% 0;
  font-size: 1em;
  padding: 10px 6px;

  .card-body {
    width: 100%;
  }
}

/* form#search-bar:active, form#search-bar:focus {
  border: 1px solid #FD8B04; */
  /* box-shadow: 2px 2px 5px 2px black; */
/* } */

.search-icon {
  position: relative;
  float: right;
  top: 25px;
  right: 14px;
  color: #ccc;
  cursor: pointer;
}

.search-field {
  width: 100%;
}

#search-bar-container-1 {
  display: none;
}

#search-bar-container-2 {
  margin-top: 50px;
}

/*************************
        REPORTS
*************************/

#reports-page {

}


/*************************
    SEARCH RESULTS
*************************/
#hat-index,
#shirt-index,
#related-items,
.search-product-groups,
.product-groups-index {
  /* display: inline-grid; */
  /* grid-template-columns: 1fr; */
  /* justify-content: center; */

  a {
    /* width: 320px; */
    /* height: 420px; */
    /* border: 1px solid black; */
    display: inline-block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }

  a:hover {
    text-decoration: none;
    z-index: 10;
    transform: scale(1.05);
    /* -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75); */
  }

  .card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    /* float: left; */

    &:hover {
      -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    }

    .search-card-title {
      color: grey;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
  }

  ul {
    padding-left: 0;

    .topic-entry {
      color: #333;
      text-decoration: none;
      font-size: 1.2em;

      &:hover {
        color: white;
      }
    }

/*       li {
        padding-left: 10px;
      } */

    li {
      /* padding: 2.5vw 0 2.5vw 2vw; */
      text-align: left;

      img {
        width: 25px;
        padding-right: 5px;
      }
    }
  }
}


/*************************
        HEADER
*************************/

.header-top-row {
  display: grid;
  grid: 1fr / 1fr 1fr;

/*   .logo {
    width: 250px;
  } */
}

.header-top-row-rt {
  position: relative;
}


/*************************
        NAVBAR
*************************/

nav {
  background-color: #00627b;
  a {
    color: white;
    /* min-width: 20vw; */

    &:hover {
      background-color: #12566e;
      color: white;
    }
  }
}

.navbar-toggler-icon {
  color: white;
  font-size: 115%;
  border: 1px solid white;
  border-radius: 3px;
  padding: 4px;
}

#course-purchase-qty-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;

  .course-purchase-qty {
    .card-header, .card-footer {
      background-color: #333;
      color: white;
    }

    .card-header {
      padding: 0;
    }

    .card-body {
      font-size: 3em;
      padding: 0;
    }

    .card-footer {

      span {
        font-size: 2em;
      }
    }
  }
}


/*************************
      TOPICS PAGE
*************************/

#all-online-courses-page,
#diy-kits-page,
#training-topics-page {
  /* background-color: #f8f8ff; */

  h1 {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  h5 {
    color: #999;
    font-weight: bold;
    margin-bottom: 30px;
  }

  #topics-list {
    border:  1px solid #888;
    border-radius: 8px;
    width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    padding: 10px;

    a {
      line-height: 30px;
    }
  }

  #topics-container {
    display: grid;
    grid-template-columns: 1fr;

    section {
      border: 2px solid $orange;
      border-radius: 10px;
      margin: 20px;
      background-color: white;

      ul {
        padding-left: 0;

        .topic-entry {
          color: #333;
          text-decoration: none;
          font-size: 1.2em;
        }

        li {
          padding: 10px 0 10px 10px;
          text-align: left;

          &:hover {
            background-color: #ffc58d;
          }
        }
      }
    }
  }
}


/*************************
        HOMEPAGE
*************************/

.training-type-icon {
  width: 30%;
  min-width: 50px;
  max-width: 200px;
  /* margin: 3% 0; */
}

#how-training-works {
  iframe {
    max-width: 800px;
    max-height: 600px;
  }
}

.training-type {
  margin-top: 40px;

  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

/* #training-delivery-methods {
  padding-top: 75px;
} */

.pendant-image {
  background: url(asset_path("homepage-images/hard-hat-background.jpg"));
  display: grid;
  background-size: cover;
  background-position: center center;
}

.pendant-text {
  color: white;
  /* display: grid; */
  /* margin: 0 60% 0 0%; */
  padding: 5% 0;
  background: rgba(0,0,0,.7);
  /* min-width: 200px; */
  box-sizing: content-box;

  a {
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: $green;
    border: 2px solid white;
    border-radius: 10px;
  }
}

.product-group-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  background-color: $green;
  border: 2px solid white;
  border-radius: 10px;
}

.secondary-purchase-btn {

  a {
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: $green;
    border: 2px solid white;
    border-radius: 10px;
  }
}

.button__wrapper,
.pulsing,
.button-pulse a {
  box-sizing: border-box;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
}

.button__wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pulse {
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pulsing {
  width: 99%;
  height: 99%;
  border-radius: 10px;
  z-index: 1;
  position: relative;

  &:before,
  &:after {
    width: 100%;
    height: 100%;
    border: inherit;
    top: 0;
    left: 0;
    z-index: 0;
    background: #fff;
    border-radius: inherit;
    animation: pulsing 2.5s linear infinite;
  }
  &:after {
    animation: pulsing1 2.5s linear infinite;
  }
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.4) scaleX(1.2);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.4) scaleX(1.2);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes pulsing1 {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.15) scaleX(1.1);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.15) scaleX(1.1);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}

/* .green-button {
  background-color: $green;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid white;
  padding: 3% 5%;
  width: 75%;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;

  &:hover {
    background-color: #18520f;
    color: white;
    text-decoration: none;
  }
} */

/* .browse-btn { */
/*   width: 90%;
  display: block;
  margin: 0 auto; */
  /* background-color: $green; */
/* } */

.orange-button {
  display: inline-block;
  background: $orange;
  padding: 10px 0;
  width: 60%;
  font-size: 120%;
  margin: 3%;
  max-width: 300px;
  border-radius: 10px;
  color: white;

  &:hover {
    background-color: #d87109;
    color: white;
    text-decoration: none;
  }
}

#why-train {
  display: flex;
  flex-direction: column;

  .two-col-right {
    align-self: center;
  }

  .img-left-col {
    width: 100%;
    height: auto;
  }
}

.section-white, .section-blue, .two-col-right {
  padding: 10% 0;
}

.section-white {

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.section-blue {
  color: white;
  background-color: $blue;
  /* text-transform: uppercase; */
  letter-spacing: .1vw;
  background-attachment: fixed;

  h2 {
    margin-bottom: 20px;
  }
}

#customer-logos-container {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  /* padding-top: 40px; */
}

.customer-logo {
  width: 50%;
  max-width: 150px;
  justify-self: center;
  align-self: center;
  min-width: 50px;
}

.customer-logo:nth-of-type(4),.customer-logo:nth-of-type(5) {
  display: none;
}

.flag-single {
  display: flex;
  text-align: left;
  padding: 10px 0;
  align-items: flex-end;
  justify-items: center;

  img {
    border: 2px solid white;
    border-radius: 10px;
  }
}

.compliance-flags-container {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}

.flag-single span {
  margin-left: 10px;
}

.compliance-flags {
  height: 40px;
}

ul.topic {
  padding-left: 0;

  .topic-entry {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;

    &:hover {
      color: white;
    }

    li {
      padding-left: 10px;
    }
  }

  li {
    padding: 2.5vw 0 2.5vw 2vw;
    text-align: left;
    border-bottom: .5px solid transparent;
    box-shadow: 0 8px 6px -6px transparent;
      -moz-box-shadow: 0 8px 6px -6px transparent;
      -webkit-box-shadow: 0 8px 6px -6px transparent;
    transition: box-shadow .5s ease;
      -moz-transition: box-shadow .5s ease;
      -webkit-transition: box-shadow .5s ease;

    &:hover {
      background-color: $orange;
    }

    img {
      width: 25px;
      padding-right: 5px;
    }

    a {
      padding: 3%;
      font-size: 1.2em;
      margin: 0;
      color: #333;

      &:hover {
        color: white;
        text-decoration: none;
      }

      img {
        width: 25px;
        padding-right: 5px;
      }
    }
  }
}

#social-media-container {
  width: 75%;
  display: block;
  margin: 0 auto;
}

#social-media-section {
  display: flex;
  justify-content: space-evenly;
  /* background-color: white; */
  /* border-radius: 10px; */
}

.icon-social {
  font-size: 5vh;

  &:hover {
    color: #ccc;
  }
}

#facebook-logo {
  color: #3b5998;
}

#youtube-logo {
  color: #c4302b;
}

#pinterest-logo {
  color: #c8232c;
}

#twitter-logo {
  color: #00acee;
}

#instagram-logo {
  color: #3f729b;
}

.tagline {
  letter-spacing: .7px;
  background: rgba(0,0,0,.8);
  padding: 10% 3% 10% 3%;
  max-width: 300px;
}

.safety-training {
  margin-top: 50px;
  /* margin-bottom: 25px; */
  font-size: 1.8em;
  font-weight: 900;
  /* letter-spacing: -1px; */
  text-transform: uppercase;
  /* line-height: 2px; */
  /* overflow-wrap: break-word; */
}

.solutions {
  font-size: 1.83em;
  letter-spacing:-1.1px;
  text-transform: uppercase;
  line-height: 45px;
}

.courses-section {
  grid: 1fr / 1fr;
}

.no-section-padding {
  padding: 0;
}

.choose-the-way {
  display: grid;
  justify-content: center;
  margin-top: 15px;

  div {
    width: 205px;
    margin: 0 auto;
    text-align: left;
    /* line-height: 20px !important; */
    /* padding: 0 !important; */
    /* font-size: 90%; */

    &:first-of-type {
      margin-top: 20px;
    }
  }
}

.product-group-text {
  div {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    max-width: 800px;
    display: block;
    margin: 0 auto;

/*     &:first-of-type {
      padding-top: 20px;
    } */
  }
}

.training-types-section {
  margin-bottom: 40px;
}

#homepageSampleMenuButton {
  margin-top: 15px;
}

.standards-section {

  div, ul {
    text-align: left;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }

  ul {
    margin-bottom: 30px;
    padding-right: 15px;
  }
}


/*************************
      COUPON CODES
*************************/

#coupon-code-container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}


/*************************
        KITS
*************************/

#diy-kits-page {

  h5 {
    color: #999;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.uploaded-file {
  color: green;
  font-weight: bold;
}

.kit-download-link-note {
  font-size: 0.8em;
  font-style: italic;
}

#form-container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}


/*************************
    SOLO TRAINING TYPES
*************************/

.solo-training-type-header-section {

  img {
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
  }

  p {
    padding: 0px 10px;
    text-align: left;
  }

  #solo-training-type-text {
    padding-top: 20px;
  }

  #solo-training-type-list {
    display: none;
    /* margin: 0 auto; */
  }
}

#solo-training-type-bulk-pricing {
  max-width: 800px;
  display: block;
  margin: 30px auto 0;

  p {
    text-align: center;
  }
}

.group-training-header {
  font-size: 1.5em;
}


/*************************
        CART
*************************/

span#cart-oi-shipping {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
}

.remove-order-item {
  /* background-color: red; */
  text-align: right;
  /* padding-left: 0px; */
  /* padding-right: 0px; */

  button {
    color: red;
    padding-right: 0px;
    background: none;
    border: none;
  }
}

.cart-link {
  a {
    color: blue;
  }
  span {
    color: #777;
    font-size: 0.8em;
  }
}

.cart-qty-selector {
  width: 180px;
  display: block;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  .form-control {
    width: 80px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-inline {
    justify-content: center;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#coupon-code-form {
  /* width: 180px; */
  /* display: block; */
  /* margin: 0 auto; */
  padding-left: 0;
  padding-right: 0;

  .form-control {
    width: 165px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-inline {
    justify-content: center;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.shopping-cart-page {
  h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .backup-btn-form {

    form {
      display: inline-block;
      /* width: 150px; */
      margin: 5px auto;
    }
  }

  .oi-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  #checkout-btn-block {
    margin-top: 30px;
  }

  .btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
}

#cart-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .left {
    text-align: left;
    font-weight: bold;
  }

  .right {
    text-align: right;
  }
}

.grp-trn-dt {

  .selectors {
    width: 100%;

    select {
      border: 1px solid #ddd;
      background-color: white;

      &#_group_training_date_1i,
      &#_group_training_date_2i,
      &#_group_training_date_3i {
        padding: 7.5px;
      }
    }
  }
}

.cart-offer {
  background-color: lightyellow;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  border: 5px dashed gray;

  h4 {
    transform: translateY(-100%);
  }

  img {
    width: 100px;
    margin: 0 auto;
  }

  p {
    /* width: 400px; */
    /* float: left; */
    text-align: center;
    /* padding: 25px; */
    margin-top: 25px;
  }

  input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.shipping-select {
  max-width: 250px;
  display: inline-block;
}

.hidden-button {
  display: none;
}

.remove-coupon {
  a {
    color: red;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}


/*************************
      CERTIFICATES
*************************/

#certificates-show {
  margin-bottom: 50px;

  #certificate-image-container {
    img {
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  #certificate-text-container {
    /* margin-top: 30px; */
    padding: 0px 10px 10px 10px;
    text-align: justify;

/*     #certificate-price {
      font-size: 1.5em;
      color: #aaa;
      padding: 0px;
      margin-top: 10px;
    } */
  }
}

#certificate-verification-form {
  padding-top: 20px;

  input, select {
    margin-bottom: 20px;
  }
}


/*************************
         POSTERS
*************************/

#poster-show {
  margin-bottom: 50px;

  ul {
    text-align: left;
    li {
      list-style: circle;
      /* display: inline-block; */
      /* padding-left: 5px; */
    }
  }

  #landscape-poster-container {

    .landscape-poster {
      transform: rotate(90deg);
    }
  }

  #poster-image-container {
    img {
      border-radius: 10px;
    }
  }

  #poster-text-container {
    /* margin-top: 30px; */
    padding: 0px 10px 10px 10px;
    text-align: justify;
  }

  #poster-shared-description {
    margin-top: 20px;

    p {
      padding: 10px 0px;
    }
  }

/*   #poster-card-container {
    margin-top: 25px;

    select {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    input[type=submit] {
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  } */
}

.poster-card {
  width: 320px;
  height: 420px;
  /* border: 1px solid black; */
  display: inline-block;
  margin: 10px auto;
  position: relative;
  text-align: center;

  h5 {
    background-color: black;
    color: white;
  }

  span {
    display: none;
  }


  &:hover {

    img {
      opacity: 0.25;
    }

    span {
      position: absolute;
      top: 50%;
      left: 25%;
      display: block;
    }
  }
}

.poster-buttons {
  margin-top: 30px;
}

/*************************
        KEYCHAINS
*************************/

#keychain-group-show {
  margin-bottom: 50px;

  #keychain-group-image-container {
    img {
      border-radius: 10px;
    }
  }

  #keychain-group-text-container {
    padding: 0px 10px 10px 10px;
    text-align: justify;
  }

  #keychain-group-card-container {
    margin-top: 25px;

    select {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    input[type=submit] {
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  }

  .keychain-group-card {
    width: 300px;
    /* width: 16rem; */
    /* height: 420px; */
    /* border: 1px solid black; */
    display: inline-block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
}

/*************************
        BUTTONS
*************************/

#button-group-show {
  margin-bottom: 50px;

  #button-group-image-container {
    img {
      border-radius: 10px;
    }
  }

  #button-group-text-container {
    padding: 0px 10px 10px 10px;
    text-align: justify;
  }

  #button-group-card-container {
    margin-top: 25px;

    select {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    input[type=submit] {
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  }

  .button-group-card {
    width: 300px;
    /* width: 16rem; */
    /* height: 420px; */
    /* border: 1px solid black; */
    display: inline-block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
}

/*************************
        LANYARDS
*************************/

#lanyard-group-show {
  margin-bottom: 50px;

  #lanyard-group-image-container {
    img {
      border-radius: 10px;
    }
  }

  #lanyard-group-text-container {
    padding: 0px 10px 10px 10px;
    text-align: justify;
  }

  #lanyard-group-card-container {
    margin-top: 25px;

    select {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    input[type=submit] {
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  }

  .lanyard-group-card {
    width: 300px;
    /* width: 16rem; */
    /* height: 420px; */
    /* border: 1px solid black; */
    display: inline-block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
}

/*************************
        CARDS
*************************/

#card-group-show {
  margin-bottom: 50px;

  #card-group-image-container {
    img {
      border-radius: 10px;
    }
  }

  #card-group-text-container {
    padding: 0px 10px 10px 10px;
    text-align: justify;
  }

  #card-group-card-container {
    margin-top: 25px;

    select {
      /* margin-top: 20px; */
      margin-bottom: 20px;
    }

    input[type=submit] {
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  }

  .card-group-card {
    width: 300px;
    /* width: 16rem; */
    /* height: 420px; */
    /* border: 1px solid black; */
    display: inline-block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
}

.selecter-container {
  margin: 15px;
}

/*************************
      MACHINE TAGS
*************************/

#machine-tag-group-show {
  margin-bottom: 50px;

  #machine-tag-group-image-container {
    img {
      border-radius: 10px;
    }
  }

  #machine-tag-group-text-container {
    padding: 0px 10px 10px 10px;
    text-align: justify;
  }

  #machine-tag-group-card-container {
    margin-top: 25px;

    select {
      margin-top: 20px;
      margin-bottom: 20px;
      /* width: 100%; */
    }

    input[type=submit] {
      /* float: right; */
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  }
}

/*************************
        CHECKOUT
*************************/

#checkout-page {

  p {
    padding: 0px;
    max-width: none;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #payment-form {
    width: 95vw;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
}

/*************************
        DROPDOWN
*************************/

.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;

  span {
    display: block;
    padding: 5px 0px 5px 10px;
    background-color: #444; /* #fb9600; */
    color: white;
  }

  a {
    &:hover {
      background-color: #eee;
    }
  }
}


/*************************
        DASHBOARD
*************************/

.superadmin-desc {
  font-size: 0.8em;
  background-color: #E8F1F3;
}

#user-dashboard-page {

  h1 {
    margin-top: 40px;
  }
}

.dashboard-block {
  margin-top: 40px;
  margin-bottom: 50px;

  .card {
    .card-header {
      background-color: #00627B;
      font-size: 2em;
      opacity: 0.75;
      color: white;

      span {
        font-size: 1.5em;
      }
    }
  }

  .announcement {
    color: #333;

    p {
      padding-bottom: 20px;
    }

    strong {
      color: #00627B;
      opacity: 0.75;
    }
  }

  .section-icon {
    i {
      font-size: 3em;
      color: #00627B;
      opacity: 0.75;
      margin-bottom: 10px;
    }
  }
}

#dashboard-courses-block {

  .card-body {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    p {
      margin-bottom: 20px;
    }
  }

  table {
    margin-bottom: 0;
  }

  input {
    width: 150px;
    display: inline-block;
  }

  .green {

    i {
      color: green;
      font-size: 1.5em;
    }
  }

  .red {

    i {
      color: red;
      font-size: 1.5em;
    }
  }
}

#download-reset,
#dashboard-categories {

  .btn-group {

    button {
      display: inline-block;
    }
  }
}

#download-reset {
  #order {
    width: 150px;
    display: inline-block;
  }
}

#dashboard-categories {
  #tag_to_add {
    width: 150px;
    display: inline-block;
  }
}

.dp-info {
  color: #333;
  font-size: 0.8em;
  margin-bottom: 7px;
}

#company-dashboard {

  #progress-container {
    width: 90vw;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
 }


/*************************
        MODALS
*************************/

.modal {
  color: black;
}

.modal-body {
  text-align: left;

  p {
    margin-top: 10px;
  }
}

.modal-note {
  text-align: left;
}

#modal-note-list { /* UL */
  text-align: center;

  ul {
    width: 150px;
    margin: 0 auto;

    li {
      text-align: left;
    }
  }
}

.modal-section {
  margin-top: 30px;
  padding-bottom: 30px;

  h5 {
    font-weight: bold;
    color: #bbb;

    &:target {
      background-color: yellow;
      border: 2px solid yellow;
    }
  }

  h2 {
    margin-bottom: 0px;
  }
}

.modal-section-onsite {
  padding-top: 30px;
}

.modal-btn {
  display: block;
  margin: 0 auto 20px;
}

.bulk-pricing-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  div {
    width: 50%;
  }
  div:first-of-type {
    border-right: 2px solid black;
  }
}


/*************************
        PRIVACY
*************************/

#privacy-page, #terms-page {

  h1 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
    margin-bottom: 20px;

    &.lead {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  span {
    font-weight: bold;
  }

  ul {
    max-width: 650px;
    text-align: left;
    display: block;
    margin: 0 auto;

    li {
      margin-bottom: 10px;
      list-style-type: circle;
    }
  }
}


/*************************
    PRODUCT_GROUPS
*************************/

#product-group-onpage-menu {
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  max-width: 600px;
  display: block;
  margin: 0 auto 50px;

  a {
    font-size: 0.875rem;
  }
}

.divider {
  height: 5px;
  background-color: #555;
  width: 90%;
  margin: 25px auto;
}

.black-purchase-container {
  width: 90%;
  margin: 0 auto 10px;
  align-items: center;
  position: relative;

  &:target {
    background-color: yellow;
    border: 2px solid yellow;
  }
}

.black-purchase-button {
  display: flex;
  flex-direction: row;
  min-height: 75px;
  border: 1px solid #999;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  flex-basis: 75%;

  .market-type {
    flex-basis: 16%;

    img {
      border: 1px solid #636363;
      border-radius: 13px;
    }
  }

  .language {
    text-align: center;
    flex-basis: 20%;
    font-size: 0.8rem;
  }

  .price {
    font-size: 36px;
    position: relative;
    flex-basis: 33%;

    span {
      font-size: 18px;
    }

    small {
      font-size: 1rem;
    }
  }

  .add-to-cart {
    flex-basis: 31%;

    .assign-btn {
      color: $orange;
      font-size: 0.8rem;
      padding-bottom: 0;

      &:hover {
        color: $darkorange;
      }
    }
  }

  .logged-out {
    height: 100%;
    width: 100%;
    padding-right: 5px;

    a {
      color: $orange;

      &:hover {
        color: $darkorange;
      }
    }
  }
}

.compliance {
  flex-basis: 25%;
}

.compliance-2 {
  top: 12px;
}

.outer-oval {
  color: #888;
  font-size: 12px;
  background-color: white;
  border: 2px solid #555;
  border-radius: 12px;
  margin: 0 auto;
  position: relative;
  width: max-content;
  padding: 0 5px;
}

.video-version {
  position: absolute;
  top: -20px;
}

.outer-language {
  top: -12px;
}

.on-sale,
.original-price {
  font-size: 12px;
  color: #555;
  position: absolute;
  width: max-content;
  padding: 0 5px;
  top: 4px;
  font-style: italic;
  background-color: yellow;
}

.on-sale {
  left: 0;
}

.original-price {
  right: 0;
}

.osha,
.csa-ansi,
.no-standards {
  padding: 9px 7px;
  height: 73px;
  width: 125px;
  display: block;
  margin: 0 auto;
  background-color: white;

  .top {
    font-family: AlegreyaSC, serif;
    font-size: 1.5em;
    text-shadow: 1px 0px #6b6c6e;
    line-height: 1em;
    font-weight: 400;
    font-style: normal;
  }

  .bottom {
    font-family: AlegreyaSansSC, sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;
    font-style: normal;
  }
}

.osha {
  border: 3px solid #0272b1;

  .top {
    border-bottom: 3px solid #0272b1;
    position: relative;
  }
}

.no-standards {
  border: 3px solid $orange;

  .top {
    border-bottom: 3px solid $orange;
    position: relative;
  }
}

.csa-ansi {
  border: 3px solid #555;

  .top {
    border-bottom: 3px solid #555;
  }

  .leaf {
    color: #de2a2a;
    font-size: 0.9em;
  }

  .bottom {
    font-size: 0.9em;
  }
}

.form-section {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;

  label {
    display: block;
    text-align: left;
  }
}

.logged-out-purchase-btn {

  a {
    color: white;

    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: $green;
    border: 2px solid white;
    border-radius: 10px;
  }
}

.product-group-categories {
  text-align: left;

  a {
    margin-bottom: 25px;
  }
}

.flag-inactive {
  opacity: 0.5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.product-group-section-list {

  div {
    a {
      color: $orange;
      margin: 0 0 10px 0;

      &::before {
        display: inline-block;
        font-size: 0.75em;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f35d\ ";
        padding-right: 5px;
      }
    }
  }

  ul {
    text-align: left;
    display: grid;
    padding: 2% 8%;
    margin: 0;
    justify-content: center;
    line-height: 4vh;

    li {
      margin: 0 0 10px 0;
      &::before {
        display: inline-block;
        font-size: 0.75em;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f807\ "; /* f06a */
        padding-right: 7px;
      }

      a {
        color: $orange;
      }
    }
  }
}

#product-title {
  font-size: 2.4em;
  line-height: 45px;
}

span.product-title-container {
  background-color: rgba(0,0,0,.9);
  text-transform: uppercase;
  color: $white;
  text-align: center;
  padding: 5% 30px 30px 30px;
  line-height: 100%;
  display: block;
}

.product-group-image-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-group-image {
  max-width: 100%;
}

.form-control-file {
  width: 225px;
  margin: 0 auto;
}

.why-you-need-training-text,
#why-you-need-training-header {
  color: white;
}

#why-you-need-training-header {
  margin-bottom: 25px;
}

.why-you-need-training {
  p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;

    &:nth-of-type(2) {
      padding-top: 20px;
    }
  }
}

.btn-more-info {
  margin-top: 10px;
}

/* PRODUCT GROUP CARDS */
.course-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  max-width: 535px;
  margin: 0 auto 15px;
}

.course-price {
  background-color: #333;
  width: 30%;
  color: white;

  h4 {
    background-color: #333;
    font-size: 2.5em;
  }
}

.course-info {
  width: 70%;
  background-color: #e2f5ff;
  padding-bottom: 10px;

  h4 {
    background-color: #00627b;
    margin-bottom: 10px;

    span::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f04b";
    }
  }

  p {
    padding-bottom: 10px;
  }
}

.content-container {
  max-width: 650px;
  display: block;
  margin:  0 auto;
}

#about-page {
  padding-left: 10px;
  padding-right: 10px;

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  div {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 20px;
    }

    ul {
      text-align: left;
    }
  }

  p {
    text-align: left;
    margin-bottom: 10px;
  }
}


/*************************
         HATS
*************************/

#hat-show-page {
  margin-bottom: 50px;

  #card-group-image-container {
    img {
      border-radius: 10px;
    }
  }

  #card-group-text-container {
    padding: 0px 10px 10px 10px;
    text-align: justify;

    p {
      padding-left: 0;
    }

    #hat-stats {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  #card-group-card-container {
    margin-top: 25px;

    select {
      /* margin-top: 20px; */
      margin-bottom: 20px;
    }

    input[type=submit] {
      width: 100%;
    }

    .card-body {
      form {
        display: block;
      }
    }

    .card-title {
      margin-bottom: 0px;
    }

    .card-text {
      font-size: 1.5em;
      color: #aaa;
      padding-left: 0px;
    }
  }

  .card-group-card {
    width: 300px;
    /* width: 16rem; */
    /* height: 420px; */
    /* border: 1px solid black; */
    display: inline-block;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }
}


/*************************
        STICKERS
*************************/


/*************************
         SHIRTS
*************************/

/* #shirt-group-show {

  #card-group-text-container {
    .shirt-price {
      font-size: 1.5em;
      color: #aaa;
      margin-top: 10px;
      padding-left: 0px;
    }
  }
} */

#shirt-container {
  display: inline-block;
}


/*************************
        ALT NAMES
*************************/

.alt-names-list {
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 20px;
  color: #777;
}

#alt-names {
  text-align: center;
  margin-bottom: 20px;

  span {
    color: #00627b;
    background-color: #E7F3F3; /* #D3E8ED; */
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 0.8em;
  }
}


/*************************
        COMPANY
*************************/

#company-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

#company-signup {
  h3, h5 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}


/*************************
        ANALYTICS
*************************/

#analytics-page {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


/*************************
        CONTACT
*************************/

#contact-page {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#contact-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {
    width: 18rem;
    margin: 20px auto;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(133,133,133,1);
    -moz-box-shadow: 0px 5px 8px 0px rgba(133,133,133,1);
    box-shadow: 0px 5px 8px 0px rgba(133,133,133,1);

    &:hover {
      -webkit-box-shadow: 0px 13px 20px 0px rgba(133,133,133,1);
      -moz-box-shadow: 0px 13px 20px 0px rgba(133,133,133,1);
      box-shadow: 0px 13px 20px 0px rgba(133,133,133,1);
    }
  }
}


/*************************
        ABOUT
*************************/

.team-container {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: center;
  border-bottom: 2px solid #eee;
}

.team-headshot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* width: 150px; */

  img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
  }
}

.team-bio {
  padding: 20px;
}


/*************************
        USERS
*************************/

.btn-delete-tag {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/*************************
    SIGN UP FORMS
*************************/

form.new_company {
  text-align: left;

  span {
    font-style: italic;
    font-size: 0.8em;
  }

  .actions {
    text-align: center;
  }
}


/*************************
    ONSITE TRAINING
*************************/

#onsite-requests {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#onsite-training-type {
  select {
    width: 100%;
    height: 2.5em;

    option {
      width: 100%;
      height: 2.5em;
    }
  }
}


/*************************
        ORDERS
*************************/

#no-orders-index{
  padding-top: 30px;
  padding-bottom: 30px;
}

.order-tax-note {
  font-size: 0.75em;
  font-style: italic;
}

#orders-block {

  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  nav {
    background-color: #333;
    color: white;
    font-size: 1.5em;

    &:not(:first-of-type) {
      margin-bottom: 40px;
    }
  }

  .pagy-nav {
    /* text-align: center; */
  }

  .pagination {
    display: block;

    .active {
      background-color: white;
      color: #333;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
    }
  }
}

#orders-show-page {

  #label-btn-block {
    margin-bottom: 20px;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 0;
  }

  #order-receipt-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card {

    h4 {
      background-color: #333;
      color: #fff;
    }

    .card-body {

      span {
        font-style: italic;
        background-color: lightyellow;
        padding: 4px;
      }
    }
  }
}


/*************************
    TRAINING TYPES
*************************/

#training-types-body {
  display: block;
  max-width: 800px;
  margin: 0 auto;

  div {
    margin-bottom: 30px;

    div {
      margin-bottom: 0px;
    }
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 20px;
  }

  p {
    text-align: left;
    margin-bottom: 5px;
    padding: 10px;
  }
}


/*************************
    CURRENCY SWITCHERS
*************************/

#temp-currency-switcher {
  position: absolute;
  top: 6px;
  right: 26px;
  z-index: 100;
  width: 100px;
}

#cart-btn {
  position: absolute;
  top: 10px;
  right: 140px;
  z-index: 100;
  width: 40px;
  font-size: 30px;
  line-height: 30px;
  /* color: $orange; */

/*   &:hover {
    color: $darkorange;
  } */
}


/*************************
    ASSIGN COURSES
*************************/

#course-assignment-page {
  /* margin-top: 30px; */
  margin-bottom: 30px;
}


/*************************
          FAQ
*************************/

#faq {
  max-width: 600px;
  display: block;
  margin: 0 auto;

  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 10px;
  }
}


/*************************
    DOCUMENTATION
*************************/

#documentation-page { /* Encapsulates all documentation */
  max-width: 700px;
  display: block;
  margin: 0 auto;

  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  #answers {
    .card {

      .card-body {
        border-bottom: 1px solid #ddd;
      }

      .card-footer, .card-header {
        background-color: #353839;
        color: white;
      }

      .card-footer {
        a {
          color: white;
          &:hover {
            color: $orange;
          }
        }
        a::before, a::after {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f30c";
        }
      }

      h5 {
        color: #555;
        font-size: 1.5em;
        text-align: left;
        font-style: italic;
      }
      p {
        margin-bottom: 10px;
        text-align: left;
      }
    }
  }

  .card-header {
    /* background-color: #555; */
    /* color: white;  */
    font-size: 1.5em;

  }

  ul {
    /* text-align: left; */

/*     ul {
      margin-bottom: 10px;
    } */
  }

  li {
    text-align: left;
    /* list-style-position: inside; */
  }

  section {
    text-align: left;

    h5 {
      margin-top: 25px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}


/*************************
    MANAGE EMPLOYEES
*************************/

#manage-employees {
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pagy-nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;

    .active {
      padding-left: 5px;
      padding-right: 5px;
      color: black;
      background-color: white;
      border-radius: 5px;
    }
  }
}


/*************************
     ADD EMPLOYEES
*************************/

#add-employees {
  .add-employees-section {
    margin-top: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;

    h2 {
      margin-bottom: 20px;
    }

    &:nth-of-type(2) {
      margin-bottom: 30px;
    }
  }
}

#special-word {
  background-color: #fb9600;
  color: white;
  padding: 3px 7px;
  border: 1px solid black;
  border-radius: 3px;
}

.note {
  background-color: #fff4ea;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}


/*************************
      CREDIT PACKS
*************************/

#credit-packs-page {
  /* max-width: 500px; */

  h1 {
    margin-top: 25px;
    /* margin-bottom: 25px; */
  }

  #intro {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.5em;
  }
}

#credit-packs-block {
  max-width: 500px;
  display: block;
  margin: 0 auto;

  .tier-header {
    background-color: #333;
    color: white;
  }

  .card {
    position: relative;
    border-color: #888;
    margin-bottom: 40px;

    .edit-link {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.5em;
    }
  }

  .card-body.coin-and-price {
    /* padding-bottom: 0; */

    .card-name {
      font-size: 3em;
    }

    .card-left {
      width: 20%;
    }

    .card-right {
      width: 80%;
    }
  }

  .credit-pack-info {
    background-color: #888;

    .button_to {
      background-color: green;
      border-radius: 5px;

      &:hover {
        background-color: #005c00;
      }

      input {
        color: white;
        border: 2px solid white;
      }
    }

    .company-login-required {
      background-color: white;
      border-radius: 5px;
    }

    .card-left {
      color: white;

      h2 {
        background-color: #444;
        -ms-transform: rotate(-5deg); /* IE 9 */
        -webkit-transform: rotate(-5deg); /* Safari 3-8 */
        transform: rotate(-5deg);
      }
    }

    .card-right {
      span {
        color: white;
        font-size: small;
      }
    }
  }

  .credit-pack-info, .coin-and-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    div {
      width: 50%;
    }
  }

  h4 {
    background-color: transparent;
    /* color: #333; */
  }

  .progress-container {
    width: 100%;
    display: block;
    /* margin: 0 5%; */
    padding: 0 5% 10px 5%;
    /* background-color: #888; */
  }

  .progress-bar {
    background-color: green;
    color: red;
  }

  .progress {
    font-style: italic;
    margin-top: 10px;
    /* margin-bottom: 25px; */

    span {
      margin-left: 5px;
    }
  }

  .fa-stack {
    display: block;
    margin: 10px auto 0;
    color: gold;
    opacity: 0.8;

    .coin-shadow {
      color: rgba(199,144,0,1);
    }
  }

  .stack-top {
    z-index: 5;
  }

  .stack-middle {
    z-index: 4;
  }

  .stack-bottom {
    z-index: 3;
  }

  .fa-stack-3x {
    font-size: 2em;
    top: -2px;
    left: 5px;
    position: absolute;
    text-align: center;
    width: 100%
  }
}


/*************************
     MEDIA QUERIES
*************************/

@media screen and (max-width: 400px)  { /* XS */
/*   input#search-bar {
    width: 83vw;
  } */

  .dropdown-item {
    line-height: 50px;
    height: 50px;
  }

  .course-price {

    h4 {
      font-size: 2em;
    }
  }

  #product-page .training-types-section {
    grid: 1fr 1fr / 1fr 1fr;
  }

  .header-top-row {
    .logo {
      width: 200px;
    }
  }

/*   #certificates-show {

    #certificate-image-container {
      max-width: 100vw;
      img {
        max-width: 100%;
      }
    }
  } */

/*   #product-page .pendant-text {
    width: 105%;
    background-color: rgba(0,0,0,.5);
  } */

/*   #product-page .green-button {
    margin-top: -25px;
  }

  #product-page .green-button-outside-pendant {
    margin-bottom: 100px !important;
  } */
}

@include media-breakpoint-between(xs,sm) {
  .btn {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}

@media screen and (min-width: $sm) {

  .show-sm {
    display: block;
  }

  .hide-sm {
    display: none;
  }

  nav {
    a {
      min-width: 20vw;
    }
  }

  .dropdown-item {
    line-height: 50px;
    height: 50px;
  }

  .product-group-text, .why-you-need-training {
    font-size: 1.4em;
  }

  .training-type {

    p {
      font-size: 1.4em;
    }
  }

  .hero-text {
    font-size: 1.4em;
  }

  #customer-logos-container {
    /* padding-top: 7%; */
  }

/*   nav.company-nav {
    a {
      min-width: 16.5vw;
    }
  } */

/*   #search-bar-container {
    margin-top: 10px;
  } */

  .pendant-text {
    margin: 0 50% 0 0%;
  }

  .safety-training {
    font-size: 1.37em;
  }

  .solutions {
    font-size: 2.4em;
    line-height: 55px;
  }

  .tagline {
    background: none;
    padding: 0 6% 36px 6%;
  }

  .courses-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr; */
    /* justify-content: center; */
    /* align-content: center; */
    padding-top: 5%;

      .topic-section {
        /* border-left: 1px solid #fb9600; */
        /* border-right: 1px solid #fb9600; */
        border-width: 1px;
        border-style: solid;
        border-top: none;
        border-image:
          linear-gradient(white, #fb9600, white) 30;
          /* linear-gradient(
            to bottom,
            #fb9600,
            rgba(0, 0, 0, 0)
          ) 1 100%; */
      }
  }

}

@media screen and (min-width: $md) {

  .on-sale-md {
    /* max-width: 450px; */
    /* display: block; */
    /* margin: 0 auto; */
    font-size: 12px;
    color: #555;
    position: absolute;
    width: max-content;
    padding: 0 5px;
    top: 0;
    right: 0;
    font-style: italic;

    span {
      background-color: yellow;
    }
  }

  .show-mobile {
    display: none;
  }

  .show-md {
    display: block;
  }

  .hide-md {
    display: none;
  }

  .section-white, .section-blue, .two-col-right {
    padding: 7% 0;
  }

  .black-purchase-wrapper {
    position: relative;
    padding-top: 20px;
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

  .black-purchase-container {
    display: flex;
    flex-direction: row;
    width: 600px;
  }

  .divider {
    width: 600px;
  }

  .black-purchase-button {
    max-width: 450px;

    .market-type {

      img {

      }
    }

    .language {
      font-size: 1rem;
    }
  }

  #all-online-courses-page,
  #diy-kits-page,
  #training-topics-page {
    #topics-list {
      display: none;
    }

    #topics-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  #search-product-groups {
    /* grid-template-columns: 1fr 1fr; */
  }

  #customer-logos-container {
    grid: 1fr / 1fr 1fr 1fr 1fr 1fr;
  }

  .customer-logo:nth-of-type(4),.customer-logo:nth-of-type(5) {
    display: block;
  }

  .dropdown-item {
    line-height: 32px;
    height: 32px;
  }

  #why-train {
    flex-direction: row;

    .two-col-left, .two-col-right {
      width: 50%;
    }

    #blog-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #search-bar-container-1 {
    /* width: 50%; */
    display: block;
  }

  #search-bar-container-2 {
    display: none;
  }

  .search-field {
    margin-top: 30px;
  }

  .search-icon {
    top: 40px;
  }

  .compliance-flags-container {
    grid: 1fr 1fr / 170px 170px;
    gap: 0 20px;
  }

  .choose-the-way {
    grid: 1fr / 1fr 1fr;

    div {
      width: 280px;
      margin-top: 20px;
      /* text-align: left; */
      /* line-height: 20px !important; */
      /* padding: 0 !important; */
      font-size: 1.4em;

/*       &:first-of-type {
        margin-top: 20px;
      } */
    }
  }
}

@media screen and (min-width: $lg) {

  .vooplayer {
    max-width: 853px;
    max-height: 453px;
    display: block;
    margin: 0 auto;
  }

  .solo-training-type-header-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      width: 400px;
      /* height: 334px; */
      display: block;
      margin:  0 auto;
    }

    #solo-training-type-right {
      display: block;
      margin: 0 auto;
      border: 2px solid black;
      border-radius: 10px;
      max-width: 400px;
    }

    #solo-training-type-text {
      padding: 10px;
    }
  }

  #all-online-courses-page,
  #diy-kits-page,
  #training-topics-page {

    #topics-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  #search-product-groups {
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .courses-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pendant-text {
    margin: 0 60% 0 0%;
  }
}

@media screen and (min-width: $xl) {

  .section-white, .section-blue, .two-col-right {
    padding: 5% 0;
  }

  .solo-training-type-header-section {

    img {
      width: 575px;
    }

    #solo-training-type-right {
      width: 600px;
      max-width: 600px;
    }

    #solo-training-type-text {
      display: none;
    }

    #solo-training-type-list {
      display: block;
      margin: 0 auto;
      text-align: left;

      li {
        list-style-type: circle;
        font-style: italic;

        &.add-li {
          list-style: none;
        }
      }
    }

    .online-course-header,
    .train-the-trainer-header {
      font-size: 1.5em;
    }
  }

  #all-online-courses-page,
  #diy-kits-page,
  #training-topics-page {

    #topics-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  #search-product-groups {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  }

  .courses-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

