/*sass --watch main.scss:main.css*/
@import "variables";

/* START TRIANGLES */
@import "mixins";
.container-tri {
  position: relative;
}

.tri-above::before {
  @include ctr-pseudo;
  border-left: $tri-w-s solid transparent;
  border-right: $tri-w-s solid transparent;
}

.white-tri-above::before {
  border-top: $tri-h-s solid $white;
}

.blue-tri-above::before {
  border-top: $tri-h-s solid $blue;
}

.orange-tri-above::before {
  border-top: $tri-h-s solid $orange;
}
/* END TRIANGLES */
body {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
  /* color: $white; */
}

/* .hide-on-mobile, .show-on-desktop {
  display: none !important;
} */

/* .section-white, .section-blue, .two-col-right {
  padding: 10% 0;
}

.section-blue {
  background-color: $blue;
  text-transform: uppercase;
  letter-spacing: .1vw;
  background-attachment: fixed;
} */

.section-white {
  color: $gray;
}

/* .no-section-padding {
  padding: 0;
} */

.h1-p {
  font-size: 1.4em;
  letter-spacing: 1px;
}

/* header {
  margin: .5% 2% 30px 2%;
} */

/* .header-top-row {
  display: grid;
  grid: 1fr / 1fr 1fr;
} */

.logo {
  min-width: 100px;
  max-width: 250px;
  padding-top: 8px;
  position: absolute;
  left: 2%;
}

/* .fa-bars {
  color: $blue;
  font-size: 115%;
  text-align: right;
  margin-top: -15px;
} */

/* .fa-bars, */
/* .logo {
  width: 45vw;
} */
/*
input#search-bar {
  width: 97%;
  margin: 2% 0;
  font-size: 1em;
  padding: 10px 6px;
}

input#search-bar:active, input#search-bar:focus {
  border: 1px solid $orange;
  box-shadow: 2px 2px 5px 2px black;
} */

/* hr {
  margin: 0 auto;
  border: none;
} */

/* #blue-header-hr {
  height: 2.6vh;
  background-color: $blue;
} */

/* .pendant-image {
  background: url(asset_path("homepage-images/hard-hat-background.jpg"));
  display: grid;
  background-size: cover;
  background-position: center center;
}

.pendant-text {
  display: grid;
  margin: 0 60% 0 0%;
  padding: 5% 0;
  background: rgba(0,0,0,.7);
  min-width: 200px;
} */

/* .safety-training {
  font-size: 1.05em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 2px;
}

.solutions {
  font-size: 1.83em;
  letter-spacing:-1.1px;
  text-transform: uppercase;
  line-height: 45px;
} */

/* .tagline {
  letter-spacing: .7px;
  background: rgba(0,0,0,.8);
  padding: 10% 3% 10% 3%;
} */

#orange-header-hr {
  height: 3vh;
  background-color: $orange;
}

/* nav {
  ul {
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    padding: 0 8%;
  }

  ul li {
    height: 5%;
    text-align: left;
  }

  ul li:nth-of-type(1) { */ /* X - close mobile menu */
    /* font-size: 300%;
    align-self: flex-end;
    padding: 27px 0 35px 0;
  }

  a {
    letter-spacing: 1px;
    border-bottom: 1px solid $orange;
    width: 100%;
  }
} */

#hamburger {
  padding-top: 3%;
  font-size: 300% !important;
}

/* .training-type-icon {
  width: 30%;
  min-width: 50px;
  max-width: 200px;
}

.training-type-icon, .red-maple-leaf {
  margin: 12% 0 3% 0;
} */

.info-text {
  line-height: 150%;
  margin: 2% 3% 5% 3%;
}

#canada-compliance-container {
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  padding-bottom: 4%;
  width: 100%;
}

.ca-compliance-text {
  font-size: 80%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

h1 {
  text-transform: none;
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-weight: 800;
  padding: 0 4%;
}

h3 {
  font-weight: 700;
  font-size: 130%;
}

h4 {
  background-color: $orange;
  padding: 1vw;
  color: $white;
  font-weight: 600;
  letter-spacing: .2vw;
  font-size: 100%;
  display: grid;
  align-items: center;
}

/* p {
  font-size: 1em;
  padding: 0 3%;
  letter-spacing: .5px;
  line-height: 160%;
  max-width: 650px;
  margin: 0 auto;
} */

ul li,  {
  list-style-type: none;
  padding-left: 0;
}

/* #training-types-images {
    display: none;
  } */

.coming-soon-specs {
  color: gray;
  font-size: 75%;
}

span.coming-soon-specs::before {
  content: "\003e"" ";
  color: $orange;
}
/*Center left aligned bullet list*/
/* .text-two-columns {
  text-align: left;
  line-height: 20px !important;
  padding: 0 !important;
  font-size: 80%;
  margin-top: 8%;
}

ul.text-two-columns {
  width: 177px;
  margin: 0 auto;
} */

iframe { /* 90% of screen while keeping the suggested ratio of 16:9 */
  width: 90vw;
  height: 50.625vw;
}

/* .compliance-flags-container {
  display: grid;
  justify-content: center;
  margin-top: 15px;
}

.compliance-flags {
  height: 40px;
} */

/* .flag-single {
  display: flex;
  text-align: left;
  padding: 10px 0;
  align-items: flex-end;
  justify-items: center;
}

.flag-single span {
  margin-left: 10px;
} */

/* .courses-section {
  grid: 1fr / 1fr;
} */

#recent-blog-post-title {
  display: block;
  font-weight: bold;
}

/* #customer-logos-container {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  padding-top: 10px;
} */

/* .customer-logo {
  width: 50%;
  max-width: 150px;
  justify-self: center;
  align-self: center;
  min-width: 50px;
}

.customer-logo:nth-of-type(4),.customer-logo:nth-of-type(5) {
  display: none;
} */

.topic-icon {
  margin: 10px 0 10px 0;
  height: 8vh;
  width: auto;
  min-width: 30px;
}

/* ul.topic {
  padding-left: 0;

  .topic-entry {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;

    &:hover {
      color: white;
    }

    li {
      padding-left: 10px;
    }
  }

  li {
    padding: 2.5vw 0 2.5vw 2vw;
    text-align: left;
    border-bottom: .5px solid transparent;
    box-shadow: 0 8px 6px -6px transparent;
      -moz-box-shadow: 0 8px 6px -6px transparent;
      -webkit-box-shadow: 0 8px 6px -6px transparent;
    transition: box-shadow .5s ease;
      -moz-transition: box-shadow .5s ease;
      -webkit-transition: box-shadow .5s ease;

    &:hover {
      background-color: $orange;
    }

    img {
      width: 25px;
      padding-right: 5px;
    }

    a {
      padding: 3%;
      font-size: 1.2em;
      margin: 0;
      color: #333;

      &:hover {
        color: white;
        text-decoration: none;
      }

      img {
        width: 25px;
        padding-right: 5px;
      }
    }
  }
} */

.coming-soon-ul.topic li:hover {
  font-weight: normal;
  box-shadow: none;
  border-bottom: none;
}

.topic li img:first-of-type {
  margin-left: 20px;
}

.topic {
  a {
    color: $gray;
    margin: 0 auto;
  }
}

.suggest-a-course-container {
  grid-column: span 3;
  padding: 5% 0;
}

input.suggest-course-input, #submitButton {
  padding: .5% 3%;
  font-size: 110%;
  border-radius: 2px;
}

/* #social-media-section {
  ul {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr 1fr;
    padding: 0 1% 0 1%;
    font-size: 2.3em;
    margin-bottom: 2%;
  }
} */

/* .icon-social {
  font-size: 5vh;
}

.icon-social:hover {
  color: #ccc;
  background-color: $orange;
} */

/* #footer-top-row {
  display: grid;
  grid: 1fr / 1fr;

  a:nth-of-type(2)  {
    order: -1;
  }

  a {
    color: $orange;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 1.3px;
    padding: 1% 0;
  }
} */

#footer-btm-row {
  font-size: 75%;
  display: grid;
  /* grid: 1fr / minmax(50px,auto) minmax(50px,auto) minmax(50px,auto); */
  padding: 3% 0;
  justify-content: center;
  grid-gap: 0 10%;
}

#footer-btm-row {
  a {
    color: $gray;
    padding: 1% 0;
    text-transform: uppercase;
  }
}

/*END HOME PAGE*/
/*MAIN*/
/*START PRODUCT PAGE*/

/* #product-page .pendant-text {
  margin-left: -2.2%;
} */

#product-page .link-list {
  text-align: left;
  display: grid;
  padding: 2% 8%;
  margin: 0;
  justify-content: center;
  line-height: 4vh;
  text-decoration: underline;
  color: $orange;
}

.link-list a {
  color: $orange;
}

/* #product-page .green-button {
  margin-top: -13%;
} */

#product-page .green-button-outside-pendant {
  background-color: $green;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 3px solid white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25% !important;
  padding: 2% 4%;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 3px black;
}

/* span.product-title-container {
  background-color: rgba(0,0,0,.9);
  text-transform: uppercase;
  color: $white;
  text-align: center;
  padding: 5% 30px 30px 30px;
  line-height: 100%;
} */

/* span#product-title {
  font-size: 100%;
  font-weight: 800;
} */

#product-page .tagline {
  color: $white;
  background-color: transparent;
  text-align: center;
  font-size: 85%;
  max-width: 170px;
  letter-spacing: 0;
}

/* #product-page .pendant-image {
  background-image: url(".././images/product-images/excavator.png");
} */

#product-page .training-types-section {
  display: grid;
  grid: 1fr / 1fr 1fr 1fr 1fr;
  margin: 0 !important;
}

#product-page h3, #product-page .info-text {
  display: none;
}

/* #product-page .training-type-icon {
  width: 80%;
  margin: 0 0 10% 0;
} */

#product-page h1 {
  font-size: 1.5em;
}

#product-page #facts {
  display: grid;
  row-gap: 1.5vh;
}

.container-fails {
  display: flex;
  flex-direction: column;
  row-gap: 5%;
}

#product-page .section-blue p {
  color: $white;
}

#product-page .click-an-icon {
  text-align: center;
  padding-top: 5%;
}

#product-page p {
  display: grid;
  text-align: left;
  text-transform: none;
  padding: 2% 8%;
  color: $gray;
}

/* @media screen and (max-width: 300px)  {
  input#search-bar {
    width: 83vw;
  }

  #product-page .training-types-section {
    grid: 1fr 1fr / 1fr 1fr;
  }

  #product-page .pendant-text {
    width: 105%;
    background-color: rgba(0,0,0,.5);
  }

  #product-page .green-button {
    margin-top: -25px;
  }

  #product-page .green-button-outside-pendant {
    margin-bottom: 100px !important;
  }
} */

/* @import "md";

@import "lg";

@import "xl"; */