<div id="bulk-price-level-form" class="content-container">
  <%= form_with(model: bulk_price_level, local: true) do |form| %>
    <% if bulk_price_level.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bulk_price_level.errors.count, "error") %> prohibited this bulk_price_level from being saved:</h2>

        <ul>
        <% bulk_price_level.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3>Identity</h3>
      <p class="h3-margins">
        <small>
          There can only be four price levels (qty) for each Tier.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :qty %>
          <%= form.number_field :qty, class: 'form-control' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :tier %>
          <%= form.select(:tier, options_for_select([["", nil], ["One (1)", "1"], ["Two (2)", "2"]], bulk_price_level.tier), {}, class: 'form-control') %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>Prices</h3>
      <p class="h3-margins">
        <small>
          Must be in cents (ie, $10 = 1000). This sets the price per course from this quantity up to the next level.
        </small>
      </p>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= form.label :price, 'USD' %>
          <%= form.number_field :price, class: 'form-control', placeholder: 'USD Regular Price' %>
        </div>
        <div class="form-group col-sm-6">
          <%= form.label :cad_price, 'CAD' %>
          <%= form.number_field :cad_price, class: 'form-control', placeholder: 'CAD Regular Price' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <% if bulk_price_level.persisted? %>
        <div class="float-right">
          <%= link_to 'Destroy', bulk_price_level, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary btn-spinner' %>

      <% if bulk_price_level.persisted? %>
        <%= link_to "Cancel", bulk_price_level, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", bulk_price_levels_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
