<h1 class="h1-margins text-center">Bulk Price Levels</h1>

<%= link_to new_bulk_price_level_path, class: 'btn btn-primary h3-margins' do %>
  Add New Bulk Price Level
<% end %>


<% @tiers.each do |tier| %>
  <h3>Tier <%= tier %></h3>
  <% this_tier = @bulk_price_levels.where(tier: tier).order(qty: :asc) %>

  <div class="table">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
            <th>Qty</th>
            <th>Price</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <% this_tier.each do |bulk_price_level| %>
          <%= content_tag :tr, id: dom_id(bulk_price_level), class: dom_class(bulk_price_level) do %>

            <td><%= bulk_price_level.qty %></td>
            <td>
              <%= number_to_currency(bulk_price_level.price.to_f / 100) %> (USD) /
              <%= number_to_currency(bulk_price_level.cad_price.to_f / 100) %> (CAD)
            </td>

            <td><%= link_to 'Edit', edit_bulk_price_level_path(bulk_price_level), class: "btn btn-primary" %></td>

          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
