<div class="page-header">
  <%= link_to bulk_price_levels_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Bulk_price_levels
  <% end %>
  <%= link_to edit_bulk_price_level_path(@bulk_price_level), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show bulk_price_level</h1>
</div>

<dl class="dl-horizontal">
  <dt>Qty:</dt>
  <dd><%= @bulk_price_level.qty %></dd>

  <dt>Price:</dt>
  <dd><%= @bulk_price_level.price %></dd>

  <dt>Cad price:</dt>
  <dd><%= @bulk_price_level.cad_price %></dd>

  <dt>Tier:</dt>
  <dd><%= @bulk_price_level.tier %></dd>

</dl>
