<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password on hardhattrainingseries.com. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<hr>

<p><em>Hardhattrainingseries.com is a sister site to hardhattraining.com that allows our customers to purchase any of our courses in US or Canadian currencies.</em></p>
