<div id="hat-form" class="content-container">
  <%= form_with(model: hat, local: true) do |form| %>
    <% if hat.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(hat.errors.count, "error") %> prohibited this hat from being saved:</h3>

        <ul>
        <% hat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <h3 class="h3-margins">Name</h3>
      <div class="form-group">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Description</h3>
      <div class="form-group text-left">
        <%= form.hidden_field :description, id: 'hat_description' %>
        <trix-editor input="hat_description"></trix-editor>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Image</h3>
      <p class="h3-margins"><small>Must be 400 x 400, < 75 KB</small></p>
      <div class="form-group machine-tag-group-image-container">
        <% if hat.image.present? %>
          <%= image_tag hat.image_url, class: "machine-tag-group-image" %>
        <% end %>

        <%= form.hidden_field :image, value: hat.cached_image_data %>

        <%= form.file_field :image, class: 'form-control-file' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Metatags</h3>
      <div class="form-group">
        <%= form.label :keywords %>
        <%= form.text_field :keywords, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :meta_description %>
        <%= form.text_area :meta_description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Pricing</h3>
      <p class="h3-margins"><small>In cents (ie, $35 => 3500)</small></p>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :price, "USD" %>
          <%= form.number_field :price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :cad_price, "CAD" %>
          <%= form.number_field :cad_price, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Shipping</h3>
      <p class="h3-margins"><small>In cents (ie, $10 => 1000)</small></p>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= form.label :shipping_price, "Basic" %>
          <%= form.number_field :shipping_price, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :priority_shipping, "Priority" %>
          <%= form.number_field :priority_shipping, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-4">
          <%= form.label :intl_shipping, "International" %>
          <%= form.number_field :intl_shipping, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Weight</h3>
      <p class="h3-margins"><small>x 10 (ie, 3 oz. => 30)</small></p>
      <div class="row form-group">
        <div class="col-sm-4 offset-sm-4">
          <%= form.number_field :weight, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Specifications</h3>
      <p class="h3-margins"><small>
        Add or remove these size options, as available for this hat:<br/>
        S/M, M/L, L/XL, One-size-fits-all
      </small></p>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :size %>
          <%= form.text_field :size, class: 'form-control' %>
          <%#= form.select(:size, options_for_select([["S/M, M/L, L/XL", "S/M, M/L, L/XL"], ["One-Size-Fits-All", "One-Size-Fits-All"]], hat.size), {}, { class: "form-control", include_blank: true }) %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :style %>
          <%#= form.text_area :style, class: 'form-control' %>
          <%= form.select(:style, options_for_select([["Baseball Cap", "Baseball Cap"], ["Beanie", "Beanie"]], hat.style), {}, { class: "form-control", include_blank: true }) %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <%= form.label :structure %>
          <%#= form.text_area :structure, class: 'form-control' %>
          <%= form.select(:structure, options_for_select([["Structured", "Structured"], ["Unstructured", "Unstructured"]], hat.structure), {}, { class: "form-control", include_blank: true }) %>
        </div>

        <div class="form-group col-sm-6">
          <%= form.label :fastener %>
          <%#= form.text_area :fastener, class: 'form-control' %>
          <%= form.select(:fastener, options_for_select([["Velcro", "Velcro"], ["Snap", "Snap"], ["Buckle", "Buckle"], ["Fitted", "Fitted"]], hat.fastener), {}, { class: "form-control", include_blank: true }) %>
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3 class="h3-margins">Availability</h3>
      <p class="h3-margins"><em><span>
        Check the box to make this item active/available.
      </span></em></p>
      <div class="form-group">
        <%= form.check_box :active %>
        <%= form.label "Active?", style: "display: inline;" %>
      </div>
    </div>

    <div class="form-group">
      <% if hat.persisted? && Rails.env.development? %>
        <div class="float-right">
          <%= link_to 'Destroy', hat, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if hat.persisted? %>
        <%= link_to "Cancel", hat, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", hats_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
