<div id="hat-index">

  <h1 class="h1-margins text-center">All Hats</h1>

  <% if user_signed_in? && current_user.superadmin? %>
    <div class="text-center">
      <%= link_to new_hat_path, class: 'btn btn-primary' do %>
        Add New Hat
      <% end %>
    </div>
  <% end %>

  <div class="search-product-groups">
    <% @hats.each do |p| %>
      <%= link_to p do %>
        <div class="card" style="width: 18rem;">
          <%#= image_tag p.image.url, class: "card-img-top", alt: "Card image cap" %>
          <%= image_tag p.image_url(:small), class: "card-img-top", alt: "Card image cap" %>
          <div class="card-body">
            <h3 class="card-title search-card-title"><%= p.name %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!--
              <td><%#= hat.description %></td>
              <td><%#= hat.image_data %></td>
              <td><%#= hat.price %></td>
              <td><%#= hat.cad_price %></td>
              <td><%#= hat.size %></td>
              <td><%#= hat.style %></td>
              <td><%#= hat.structure %></td>
              <td><%#= hat.fastener %></td>
 -->