<%
  meta_title "#{ @hat.name } | Hard Hat Training"
  meta_keywords "#{ @hat.keywords }"
  meta_description "#{ @hat.meta_description }"
%>

<div id="hat-show-page">
  <div class="page-header">
    <%= link_to hats_path, class: 'btn btn-link' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      View All Hats
    <% end %>
    <% if user_signed_in? && current_user.superadmin? %>
      <%= link_to edit_hat_path(@hat), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    <% end %>
    <h1 class="h1-margins"><%= @hat.name %></h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" id="card-group-image-container">
        <%= image_tag @hat.image_url, class: "width-100 mb-20" %>
      </div>
      <div class="col-sm text-left" id="card-group-text-container">
        <p>
          <%= sanitize @hat.description %>
        </p>

        <% unless @hat.style == "Beanie" %>
          <div id="hat-stats">
            <p>
              <strong>Note:</strong> This hat is <strong><%= @hat.structure %></strong>, and
              <% if @hat.fastener == "Fitted" %>
                is <strong>Fitted</strong>.
              <% else %>
                comes with a <strong><%= @hat.fastener %></strong> closure.
              <% end %>
            </p>
          </div>
        <% end %>

        <p>
          <%= content_tag :p, "#{ number_to_currency((session[:preferred_currency] == 'usd' ? @hat.price : @hat.cad_price).to_f / 100) } #{ session[:preferred_currency].upcase }", class: "price-lg-gray" %>
        </p>

        <div class="row" id="hat-container">
          <% if @hat.active == true %>
            <% if user_signed_in? %>
              <div class="form-group" id="certificate-verification-form">
                <%= form_with(url: order_items_path, local: true) do |form| %>
                  <%= form.hidden_field :orderable_id, value: @hat.id %>
                  <%= form.hidden_field :orderable_type, value: "Hat" %>

                  <%= form.label :size, "Size", class: "text-left", style: "margin-top: 0px;" %>
                  <%= form.select(:size, options_for_select(@sizes, @hat.size), { include_blank: true }, { class: "form-control" }) %>

                  <%= form.submit "Add to Cart", class: 'btn btn-primary' %>
                <% end %>
              </div>
            <% else %>
              <div class="logged-out">
                <%= link_to "Create An Account", new_user_registration_path(login_redirect: request.original_url) %> or <%= link_to "Log In", new_user_session_path(login_redirect: request.original_url) %> to purchase!
              </div>
            <% end %>
          <% else %>
            <h5 class="h1-margins text-center">This item is currently unavailable.</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
