<%= form_with(model: related_item, local: true) do |form| %>
  <% if related_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(related_item.errors.count, "error") %> prohibited this related_item from being saved:</h2>

      <ul>
      <% related_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @relatable.present? %>
    <h3><%= @relatable.name %></h3>

    <% if related_item.persisted? %>
      <p>
        …is a Related Item for:
      </p>
    <% else %>
      <% if @product_groups.present? %>
        <p class="h3-margins">
          …is already a Related Item for:<br/>
          <%= @product_groups %>
        </p>
      <% end %>

      <p>
        …will now be a Related Item for:
      </p>
    <% end %>

    <div class="form-group">
      <%= select("related_item", "product_group_id", ProductGroup.all.order(name: :asc).collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: related_item.product_group_id }) %>
    </div>

    <div class="form-group">
      <% if related_item.persisted? %>
        <div class="float-right">
          <%= link_to 'Destroy', related_item, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.hidden_field :relatable_type, value: @relatable.class %>
      <%= form.hidden_field :relatable_id, value: @relatable.id %>
      <%= form.submit class: 'btn btn-primary' %>

      <% if related_item.persisted? %>
        <%= link_to "Cancel", related_item, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", related_items_path, class: "btn btn-link" %>
      <% end %>
    </div>

  <% else %>
    <p>
      Please use the link found on the Show page for anything that can be related to a Product Group, for example a specific Keychain Group.
    </p>
  <% end %>
<% end %>
