<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h1 class="h1-margins text-center">Related Items</h1>
    <p>
      Add via any Model Group page (ie, a specific Keychain Group like "CPR Keychain"). Use the button that says "Relate to a Product Group".
    </p>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Product Group</th>
        <th>Related Items</th>
      </tr>
    </thead>

    <tbody>
      <% @product_groups.each do |product_group| %>
        <%= content_tag :tr, id: dom_id(product_group), class: dom_class(product_group) do %>
          <td><%= link_to product_group.name, product_group %></td>
          <td>
            <% product_group.related_items.sort.each do |related_item| %>
              <%= link_to related_item.relatable.name, related_item %> (<%= related_item.relatable_type %>)
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
