<div class="page-header">
  <%= link_to related_items_path, class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Related_items
  <% end %>
  <%= link_to edit_related_item_path(@related_item), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1 class="h1-margins">Show Related Item</h1>
</div>

<p>
  The <%= @related_item.relatable.class %> called "<%= @related_item.relatable.name %>" is a Related Item for the "<%= @related_item.product_group.name %>" Product Group.
</p>
