<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sale_price %>
    <%= form.number_field :sale_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cad_price %>
    <%= form.number_field :cad_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cad_sale_price %>
    <%= form.number_field :cad_sale_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Weight x 10 (ie, for 16 oz put 160)' %>
    <%= form.number_field :weight, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Domestic Shipping Price" %>
    <%= form.number_field :shipping_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Priority Domestic Shipping" %>
    <%= form.number_field :priority_shipping, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "International Shipping" %>
    <%= form.number_field :intl_shipping, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :product_group_id %>
    <%= select("product", "product_group_id", ProductGroup.all.collect {|p| [ p.name, p.id ] }, { include_blank: true, selected: product.product_group_id }) %>
  </div>

  <div class="form-section">
    <h3 class="h3-margins">Availability</h3>
    <p class="h3-margins"><em><span>
      Check the box to make this item active/available.
    </span></em></p>
    <div class="form-group">
      <%= form.check_box :active %>
      <%= form.label "Active?", style: "display: inline;" %>
    </div>
  </div>

  <div class="form-group">
    <% if product.persisted? && current_user.superadmin? %>
      <div class="float-right">
        <%= link_to 'Destroy', product, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary btn-spinner' %>

    <% if product.persisted? %>
      <%= link_to "Cancel", product, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", products_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
