<div class="row">
  <div class="col-sm-6">
    <h1>Products</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_product_path, class: 'btn btn-primary' do %>
    Add New Product
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>


            <th>Description</th>
            <th>Price (USD)</th>
            <th>Sale Price (USD)</th>
            <th>Price (CAD)</th>
            <th>Sale Price (CAD)</th>

      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <%= content_tag :tr, id: dom_id(product), class: dom_class(product) do %>

          <td><%= link_to product.name, product %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.sale_price %></td>
          <td><%= product.cad_price %></td>
          <td><%= product.cad_sale_price %></td>


        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
