<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Products
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show product</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Description:</dt>
  <dd><%= @product.description %></dd>

  <dt>Price (USD):</dt>
  <dd><%= number_to_currency(@product.price / 100.0) %></dd>

  <dt>Sale Price (USD):</dt>
  <% if @product.sale_price.present? %>
    <dd><%= number_to_currency(@product.sale_price / 100.0) %></dd>
  <% else %>
    <dd>0</dd>
  <% end %>

  <dt>Price (CAD):</dt>
  <dd><%= number_to_currency(@product.cad_price / 100.0) %></dd>

  <dt>Sale Price (CAD):</dt>
  <% if @product.cad_sale_price.present? %>
    <dd><%= number_to_currency(@product.cad_sale_price / 100.0) %></dd>
  <% else %>
    <dd>0</dd>
  <% end %>

  <dt>Weight (oz):</dt>
  <dd><%= @product.weight.to_f / 10 %></dd>

  <dt>Shipping Price:</dt>
  <dd><%= number_to_currency(@product.shipping_price / 100.0) %></dd>

</dl>

<%= button_to "Add to Cart", order_items_path(orderable_id: @product.id, orderable_type: 'Product'), method: :post, class: "btn btn-primary" %>
