<div id="analytics-page">
  <h1>Analytics</h1>
  <h3>Visits</h3>
  <%= line_chart Ahoy::Visit.group_by_day(:started_at).count %>

  <h5>Referring Domains:</h5>
  <%# @domains.each do |k, v| %>
    <%# k == nil ? (k = 'nil') : k %>
    <!-- <p><%#= "#{ k.capitalize }: #{ v }" %></p> -->
  <%# end %>

  <%= pie_chart @domains %>

  <h5>Countries:</h5>
  <%# @countries.each do |k, v| %>
    <%# k == nil ? (k = 'nil') : k %>
    <!-- <p><%#= "#{ k.capitalize }: #{ v }" %></p> -->
  <%# end %>

  <%= pie_chart @countries %>

  <h5>Devices:</h5>
  <%# @devices.each do |k, v| %>
    <%# k == nil ? (k = 'nil') : k %>
    <!-- <p><%#= "#{ k.capitalize }: #{ v }" %></p> -->
  <%# end %>

  <%= pie_chart @devices %>
</div>
