<%= form_with(model: digital_poster, local: true) do |form| %>
  <% if digital_poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(digital_poster.errors.count, "error") %> prohibited this digital_poster from being saved:</h2>

      <ul>
      <% digital_poster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cad_price %>
    <%= form.number_field :cad_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :poster_id %>
    <%= form.text_field :poster_id, class: 'form-control' %>
  </div>

  <div class="form-group">
      <% if digital_poster.persisted? && Rails.env.development? %>
      <div class="float-right">
        <%= link_to 'Destroy', digital_poster, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if digital_poster.persisted? %>
      <%= link_to "Cancel", digital_poster, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", digital_posters_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
