<div class="row">
  <div class="col-sm-6">
    <h1 class="h1-margins">Digital Posters</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_digital_poster_path, class: 'btn btn-primary' do %>
    Add New Digital poster
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Price</th>
        <th>Cad price</th>
        <th>Poster</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @digital_posters.each do |digital_poster| %>
        <%= content_tag :tr, id: dom_id(digital_poster), class: dom_class(digital_poster) do %>

          <td><%= digital_poster.price %></td>
          <td><%= digital_poster.cad_price %></td>
          <td><%= digital_poster.poster.name %></td>
          <td><%= link_to 'Show', digital_poster %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
