<div class="page-header">
  <%= link_to digital_posters_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Digital_posters
  <% end %>
  <%= link_to edit_digital_poster_path(@digital_poster), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show digital_poster</h1>
</div>

<dl class="dl-horizontal">
  <dt>Price:</dt>
  <dd><%= @digital_poster.price %></dd>

  <dt>Cad price:</dt>
  <dd><%= @digital_poster.cad_price %></dd>

  <dt>Poster:</dt>
  <dd><%= @digital_poster.poster %></dd>

</dl>
