<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>

    <style>
      .maintenance-links {
        color: white;
        border-bottom: 2px dotted white;
      }

      .maintenance-links:hover {
        color: white;
        border-bottom: none;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <%#= render 'shared/currency_switcher' %>
    <div style="width: 100vw; min-height: 50px; padding: 40px 0; background-color: #f2673a; margin-bottom: 40px; color: white;">
      <p><strong>Sorry for the inconvenience, but this site is down for maintenance.</strong></p>

      <p style="margin-top: 20px;">In the meantime, all links will redirect to our sister site, <strong><%= link_to "hardhattraining.com", "https://hardhattraining.com", class: "maintenance-links" %></strong></p>

      <p style="margin-top: 20px;">Give us a call at  <%= link_to "(208) 252-5331", "tel:2082525331", class: "maintenance-links" %> if you need assistance.</p>

      <p style="margin-top: 20px;"><em>Have a great day!</em></p>
    </div>
    <%= render 'shared/header' %>
    <%= render 'shared/navigation' %>
    <%= render 'shared/notices' %>

    <!-- <div class="container"> -->
      <%= yield %>
    <!-- </div> -->

    <%= render 'shared/footer' %>
    <%= yield :page_scripts %>
  </body>
</html>
