<%# NOTE This IS the active User Signup page %>

<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center h1-margins">Create An Account</h1>

    <h5 class="h3-margins">Fast checkout, instant access to online courses, order tracking, and more!</h5>

    <h5 class="h3-margins">Need a Company Account? Our one-click setup is available as soon as you sign up!</h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Full Name", required: true %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: "Email Address", required: true %>
      </div>

      <div class="form-group">
        <p class="text-left"><small>Password Requirements:<br/>At least 1 uppercase letter, 1 lowercase letter, and 1 digit.</small></p>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password', required: true %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password', required: true %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign Me Up!", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <%= link_to "Need to Log In, instead?", new_user_session_path, class: "btn btn-link" %>

    <!-- <div class="text-center"> -->
      <%#= render "devise/shared/links" %>
      <%#= render "shared/login_links" %>
    <!-- </div> -->
  </div>
</div>
